<!--顾问导航-->
{% macro adviser_nav(type,userinfo,helper) %}
{%
set adviserNav = [
{
"nav_name":"主页",
"nav_url_type": ""
},
{
"nav_name":"专栏",
"nav_url_type": "article"
},
{
"nav_name":"案例",
"nav_url_type": "case"
},
{
"nav_name":"相册",
"nav_url_type": "album"
},
{
"nav_name":"精华",
"nav_url_type": "hot"
}
]
%}
  <div class="community-nav-con">
    {% for item in adviserNav %}
      {% if type == item.nav_name %}
      <a href="{{helper.urlgen(userinfo.uid | string, item.nav_url_type)}}" class="community-nav-list nav-active">{{item.nav_name}}</a>
      {% else %}
      <a href="{{helper.urlgen(userinfo.uid | string, item.nav_url_type)}}" class="community-nav-list">{{item.nav_name}}</a>
      {% endif %}
    {% endfor %}
    <div class="connect-info">
      <img src="{{helper.cdnhost}}/assets/img/main_icon_phone.png" alt="">
      <span><i class="zixun-info">留学咨询热线：</i><i class="zixun-phone">{{userinfo.tel}}</i></span>
      <span class="zixun-btn" onclick="openchat_new('{{ userinfo.new_job_number}}')">立即咨询</span>
    </div>
  </div>
{% endmacro %}
<!--参赞导航-->
{% macro canzan_nav(type,id,helper) %}
{%
set adviserNav = [
{
"nav_name":"主页",
"nav_url_type": ""
}
]
%}
<div class="community-nav-con">
  {% for item in adviserNav %}
  {% if type == item.nav_name %}
  <a href="{{helper.urlgen(id | string, item.nav_url_type)}}" class="community-nav-list nav-active" style="float:left;">{{item.nav_name}}</a>
  {% else %}
  <a href="{{helper.urlgen( id | string, item.nav_url_type)}}" class="community-nav-list">{{item.nav_name}}</a>
  {% endif %}
  {% endfor %}
  <div class="connect-info">
    <img src="{{helper.cdnhost}}/assets/img/main_icon_phone.png" alt="">
    <span><i class="zixun-info">留学咨询热线</i><i class="zixun-phone">：400-010-8000</i></span>
  </div>
</div>
{% endmacro %}

<!--离职顾问导航-->
{% macro adviser_nav_leave(type,id,helper) %}
{%
set adviserNav = [
{
"nav_name":"主页",
"nav_url_type": " "
},
{
"nav_name":"专栏",
"nav_url_type": "article"
},
{
"nav_name":"案例",
"nav_url_type": "case"
}
]
%}
<div class="community-nav-con">
  {% for item in adviserNav %}
  {% if type == item.nav_name %}
  <a href="{{helper.urlgen( id | string, item.nav_url_type)}}" class="community-nav-list nav-active">{{item.nav_name}}</a>
  {% else %}
  <a href="{{helper.urlgen( id | string, item.nav_url_type)}}" class="community-nav-list">{{item.nav_name}}</a>
  {% endif %}
  {% endfor %}
  <div class="connect-info">
    <img src="{{helper.cdnhost}}/assets/img/main_icon_phone.png" alt="">
    <span><i class="zixun-info">留学咨询热线</i><i class="zixun-phone">：400-010-8000</i></span>
  </div>
</div>
{% endmacro %}

