
.community-nav-con{
  height: 40px;
  background: #f3f3f3;
  margin: 20px 20px 0;
  font-size: 0;
}
.community-nav-con .community-nav-list{
  display: inline-block;
  font-size: 16px;
  color:#666666;
  line-height: 40px;
  width:96px;
  height: 40px;
  text-align: center;
}
.community-nav-con .nav-active{
  background: #c13232;
  color:#ffffff;
}
.community-nav-con .connect-info {
  float: right;
  font-size: 0px;
  height: 24px;
  margin-top: 8px;
}
.connect-info img {
  vertical-align: super;
  margin-right: 10px;
  position: relative;
  top: 3px;
}
.connect-info .zixun-info {
  font-size: 12px;
  color: #666;
}
.connect-info .zixun-phone {
  font-size: 14px;
  color: #c13232;
  font-weight: bold;
}
.connect-info .zixun-btn {
  display: inline-block;
  width: 76px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background-color: #c13232;
  color: #fff;
  font-size: 14px;
  margin-left: 20px;
  cursor: pointer;
}


