<!--专家解读\猜你喜欢-->
    <div class="expert_unscramble clearfix">
    <div class="expert_unscramble_title">
      <i></i><h3>专家解读</h3><a target="_blank" rel="nofollow" href="{{helper.urlgen('interpret')}}"><em class="iconfont">&#xe602;</em></a>
    </div>
    <div class="expert_unscramble_content">
      {% for item in zhuanjiajiedu %}
      <div class="overseas_apply_item_r_c">
        <img class="dian" src="{{helper.cdnhost}}/assets/img/apply_item_r.png" alt="">
        <a target="_blank" href="{{ helper.urlgen('article', item.id | string ) }}">{{item.title}}</a>
      </div>

      {% endfor %}
    </div>
  </div>


