<!--最新资讯-国家频道页-->
{% macro zuixinzixun(zuixinzixun,country,helper) %}
<div class="expert_unscramble expert_unscramble_new clearfix">
  <div class="expert_unscramble_title expert_unscramble_title_new">
    <i></i><h3 style="font-size: 18px">最新资讯</h3> <a rel="nofollow" target="_blank" href="{{ helper.urlgen('news','n='+country) }}"><em class="iconfont new">&#xe602;</em></a>
  </div>
  <div class="expert_unscramble_content">
    {% for item in zuixinzixun %}
    <div class="overseas_apply_item_r_c">
      <i class="iconfont" style="color: #333333;">&#xe609;</i>
      <a target="_blank" href="{{ helper.urlgen('news',item.id | string,'n='+item.country) }}">{{item.title}}</a>
    </div>

    {% endfor %}
  </div>
</div>
{% endmacro %}