<!--媒体播报430px-->
<div class="expert_unscramble dui-box-shadow" style="width: 428px;margin:0 20px;">
  <div class="expert_unscramble_title" style="background: #ffffff;width: 428px">
    <i></i><h3 style="font-weight: normal;">媒体播报</h3> <a href="{{ helper.urlgen('media') }}" rel="nofollow"><em class="iconfont">&#xe602;</em></a>
  </div>
  <div class="expert_unscramble_content" style="width: 428px">
    {% for item in media_broadcast %}
    <div class="overseas_apply_item_r_c" style="width: 388px">
      <img class="dian" src="{{helper.cdnhost}}/assets/img/apply_item_r.png" alt="">
      <a href="{{helper.urlgen('media', item.id | string)}}">{{item.title}}</a>
    </div>

    {% endfor %}
  </div>
</div>
