<!--最新资讯 标题（白色）-->
<div class="expert_unscramble clearfix dui-box-shadow">
  <div class="expert_unscramble_title" style="background: #ffffff;">
    <i></i><h3>最新资讯</h3> <a rel="nofollow" href="{{ helper.urlgen('news') }}"><em class="iconfont">&#xe602;</em></a>
  </div>
  <div class="expert_unscramble_content">
    {% for item in zuixinzixun %}
    <div class="overseas_apply_item_r_c">
      <img class="dian" src="{{helper.cdnhost}}/assets/img/apply_item_r.png" alt="">
      <a href="{{helper.urlgen('news', item.id | string,'n='+item.country)}}">{{item.title}}</a>
    </div>

    {% endfor %}
  </div>
</div>
