
{% for item in activities %}
<div class="dui-layout-con booking-activities booking-activities2">
  <div class="booking-activities-title">
    <h6>{{ item.title }}</h6>
  </div>
  <div class="activities-content">
    <div class="book-activities-con">
      <p>{{ item.content }}</p><a href="#" target="_blank">【查看详情】</a>
    </div>
    <div class="book-activities-details">
      <p><span class="activities-time">活动时间：{{ item.time }}</span><span class="person-num">报名人数：{{ item.num }}</span></p>
      <p class="activities-address">活动地址：{{ item.address }}</p>
      <a href="javascript:void(0);" target="_blank" class="dui-btn btn-xlarge btn-appointment btn-detail">预约活动</a>
    </div>
    <div class="book-activities-city">
      <p><span>城市：{{ city }}</span><span class="destination">留学目的地：{{ item.destination }}</span></p>
    </div>
  </div>
</div>
{% endfor %}
