<style type="text/css">
#lxContaniner{margin-top:30px;width:1200px;overflow: hidden;}
.lx-head{margin-bottom:20px;padding-bottom:10px;height:27px;border-bottom:solid 1px #dcdcdc}
.lx-head h1{float:left;margin-right:70px;color:#333;font-size:22px}
.lx-tabitems{float:left;margin-top:5px}
.lx-tabitems li{position:relative;float:left;width:51px;color:#666;margin-right:10px;text-align:center;font-size:14px;cursor:pointer}
.lx-tabitems li.active{color:#c13232}
.lx-tabitems li.active em{position:absolute;bottom:-14px;left:0;display:block;width:51px;height:2px;background:#c13232}
.gw-items li{float:left;margin-right:20px;margin-bottom:10px;padding-bottom:14px;width:385px;*width:380px;width:380px\0;border-bottom:solid 1px #dcdcdc}
.gw-topitems{position:relative;overflow:hidden;margin-bottom:20px;box-shadow:0 3px 5px #e2e5e6}
.gw-topitems li{margin-right:0;margin-bottom:0;padding-top:10px;width:400px;border-bottom:none;background-color:#f1f4f6}
.Triangle{position:absolute;top:0;right:0;width:0;height:0;border-top:20px solid #c13232;border-left:20px solid transparent}
.gw-topitems .gw-people{margin-left:20px}
.gw-topitems .gw-news{ margin-right: 16px;}
.gw-items li:nth-child(3n){margin-right:0}
.gw-people{position:relative;float:left;margin-left:20px}
.gw-people img{width:51px;height:51px;-webkit-border-radius:50%;border-radius:50%}
.gw-people span{position:absolute;top:18px;left:66px;width:45px;color:#333;font-size:14px}
.gw-people .pepple-icon{background:url(../assets/img/1v.png) no-repeat;background-position:right center}
.gw-people p{color:#333;font-size:16px;margin-top: 10px;}
.gw-legend{float:right;margin-top:18px;background:#f9f6f1;color:#c13232;font-size:12px}
.gw-news{width:76px;height:20px;-webkit-border-radius:10px;border-radius:10px;background-color:#ff8547;color:#fff;text-align:center;line-height:20px}
</style>
<div id="lxContaniner" style="margin-left:0;overflow:hidden">
	<div class="lx-head">
		<h1>美国留学</h1>
		<ul class="lx-tabitems">
			<li class="active">推荐<em></em></li>
			<li>中学<em></em></li>
			<li>本科<em></em></li>
			<li>研究生<em></em></li>
			<li>博士<em></em></li>
		</ul>
	</div>
	<!--  -->
	<div class="lx-groupitems">
			<ul class="gw-items gw-topitems">
					<li>
						<a href="javascript:;">
							<div class="gw-people">
								<img src="../assets/img/profile4.jpg" alt="">
								<span class="pepple-icon">张山</span>
								<p>美国研究生双录取（法语授课）申请方案</p>
							</div>
							<div class="gw-legend gw-news">留学时讯</div>
						</a>
					</li>
					<li>
						<a href="javascript:;">
								<div class="gw-people">
									<img src="../assets/img/profile4.jpg" alt="">
									<span class="pepple-icon">张山</span>
									<p>美国研究生双录取（法语授课）申请方案</p>
								</div>
								<div class="gw-legend gw-news">留学时讯</div>
							</a>
					</li>
					<li>
							<a href="javascript:;">
								<div class="gw-people">
									<img src="../assets/img/profile4.jpg" alt="">
									<span class="pepple-icon">张山</span>
									<p>美国研究生双录取（法语授课）申请方案</p>
								</div>
								<div class="gw-legend gw-news">留学时讯</div>
							</a>
						</li>
						<em class="Triangle"></em>
					</ul>
				<!--  -->
			<ul class="gw-items">
					<li class="gw-newslist">
							<a href="javascript:;">
								<div class="gw-people">
									<img src="../assets/img/profile4.jpg" alt="">
									<span class="pepple-icon">张山</span>
									<p>美国本科新生双录取申请方案</p>
								</div>
								<div class="gw-legend">签证申请/奖学金/签证申请</div>
							</a>
					</li>
					<li class="gw-newslist">
							<a href="javascript:;">
								<div class="gw-people">
									<img src="../assets/img/profile4.jpg" alt="">
									<span class="pepple-icon">张山</span>
									<p>习近平引领中国迎春再出发</p>
								</div>
								<div class="gw-legend">奖学金/签证申请</div>
							</a>
					</li>
					<li class="gw-newslist">
							<a href="javascript:;">
								<div class="gw-people">
									<img src="../assets/img/profile4.jpg" alt="">
									<span class="pepple-icon">张山</span>
									<p>习近平引领中国迎春再出发</p>
								</div>
								<div class="gw-legend">奖学金/签证申请</div>
							</a>
						</li>
						<li class="gw-newslist">
								<a href="javascript:;">
									<div class="gw-people">
										<img src="../assets/img/profile4.jpg" alt="">
										<span class="pepple-icon">张山</span>
										<p>习近平引领中国迎春再出发</p>
									</div>
									<div class="gw-legend">奖学金/签证申请</div>
								</a>
							</li>
							<li class="gw-newslist">
									<a href="javascript:;">
										<div class="gw-people">
											<img src="../assets/img/profile4.jpg" alt="">
											<span class="pepple-icon">张山</span>
											<p>习近平引领中国迎春再出发</p>
										</div>
										<div class="gw-legend">奖学金/签证申请</div>
									</a>
								</li>
								<li class="gw-newslist">
									<a href="javascript:;">
										<div class="gw-people">
											<img src="../assets/img/profile4.jpg" alt="">
											<span class="pepple-icon">张山</span>
											<p>习近平引领中国迎春再出发</p>
										</div>
										<div class="gw-legend">奖学金/签证申请</div>
									</a>
								</li>
			</ul>
	</div>
</div>
