<style type="text/css">
.lxContaniner{margin-top:30px;width:1200px;overflow: hidden;margin-left: auto;margin-right: auto;}
.lx-head{margin-bottom:20px;padding-bottom:10px;height:27px;border-bottom:solid 1px #dcdcdc;overflow: hidden;}
.lx-head h1{float:left;margin-right:70px;color:#333;font-size:22px}
.lx-tabitems{float:left;margin-top:5px}
.lx-tabitems li{position:relative;float:left;width:51px;color:#666;margin-right:10px;text-align:center;font-size:14px;cursor:pointer}
.lx-tabitems li.active{color:#c13232}
.lx-tabitems li.active em{position:absolute;bottom:-14px;left:0;display:block;width:51px;height:2px;background:#c13232}
.gw-items li{float:left;margin-right:20px;margin-bottom:10px;padding-bottom:14px;width:385px;*width:380px;width:380px\0;border-bottom:solid 1px #dcdcdc}
.gw-topitems{position:relative;overflow:hidden;margin-bottom:20px;box-shadow:0 3px 5px #e2e5e6;background:#f1f4f6;}
.gw-topitems li{margin-right:0;margin-bottom:0;padding-top:10px;width:400px;border-bottom:none;background-color:#f1f4f6;}
.triangle{position:absolute;top:0;right:0;width:0;height:0;border-top:20px solid #c13232;border-left:20px solid transparent}
.gw-topitems .gw-people{margin-left:20px}
.gw-topitems .gw-news{ margin-right: 16px;}
.gw-items{ width: 1200px;display: inline-block;}
.gw-items li:nth-child(3n){margin-right:0}
.gw-people{position:relative;float:left;margin-left:20px}
.lx-groupitems .gw-people a{
	background-position:0 0;
	background-position:-18px -18px\0;
}
:root .lx-groupitems .gw-people a{background-position:0 0\0;}
.gw-people img{width:51px;height:51px;-webkit-border-radius:50%;border-radius:50%}
.gw-people span{color:#333;font-size:14px;margin-top: 15px;display: inline-block;margin-left: 10px;}
.gw-people .pepple-icon > i{ vertical-align:middle; display:inline-block;width: 20px;height: 20px; background:url(../assets/img/1v.png) no-repeat;background-position:right center}
.gw-items p{color:#333;font-size:16px;padding-top: 10px;text-indent: 20px;}
.gw-legend{float:right;margin-top:18px;padding:2px 8px;-webkit-border-radius:8px;border-radius:8px;background:#f9f6f1;color:#c13232;font-size:12px}
.gw-news{width:76px;height:20px;-webkit-border-radius:10px;border-radius:10px;background-color:#ff8547;color:#fff;text-align:center;line-height:20px}
.gw-people .bg-peopel,.gw-people a{float:left;height: 51px; width: 51px;border-radius: 50%;-webkit-border-radius:50%;}
#guItems li:nth-child(3) .gw-people{margin-left: 26px;}
.home-guanggao a{float: left;margin-right: 20px;background-color: #dcdcdc;}
/* .home-guanggao a:nth-of-type(3){ margin-right: 0;}
.home-guanggao a:last-child{ margin-right: 0;} */
.lx-head a{ font-size: 12px;color: #c13232;float: right;margin-top: 5px}
</style>
{% for floor in shouye %} {#国家#}
{% set ad_seat_index = loop.index + 10 %}
<div class="lxContaniner" style="overflow:hidden" id="country{{floor.country_id}}">
	<div class="lx-head">
		<h1>{{floor.country_name}}留学</h1>
		<ul class="lx-tabitems" data-country_id="{{floor.country_id}}">
			{% for tagitem in floor.list %}
				{% if loop.index == 1 %}
				<li class="active" data-edu_id="{{tagitem.edu_id}}">{{tagitem.edu_name}}<em></em></li>
				{% else %}
				<li data-edu_id="{{tagitem.edu_id}}">{{tagitem.edu_name}}<em></em></li>
				{% endif %}
			{% endfor %}
		</ul>
		<a href="{{helper.active_urlgen('articles', 'n=' + floor.country_id)}}" target="_blank" class="enter">进入专区&nbsp;&nbsp;></a>
	</div>
	{% for type in  floor.list %}{#类别#}
	{% if loop.index == 1 and type.edu_name == '推荐'%}
	<div class="lx-groupitems" {% if loop.index == 1 %} style="display:block;" {% else %} style="display:none;" {% endif %} data-id="{{type.edu_id}}"><!--推荐-->
		{% for line in type.list %} {#行数#}
			{% if loop.index == 1 %} {#第一行#}
				<ul class="gw-items gw-topitems" id="guItems">
					{% for item in line %}
					{% if item.uid != null %}
					<li>
						<div class="gw-people">
							<a target="_blank" href="{{helper.urlgen(item.uid | string)}}" style="background-image:url({{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}});background-size:cover"></a>
							<span class="pepple-icon">{{item.user_info.realname}}<i></i></span>
						</div>
						{#<p>{{item.type}}</p>#}
						<a target="_blank" href="{{helper.urlgen('case',item.id | string) if item.type == 1 else helper.urlgen('article',item.id | string)}}">
							<div class="gw-legend gw-news">留学时讯</div>
							<p style="clear:both">{{ item.title | ellipsis(21) }}</p>
						</a>
					</li>
					{% endif %}
					{% endfor %}
					<em class="triangle"></em>
				</ul>
			{% else %}
				<ul class="gw-items">
						{% for item in line %}
							{% if item.uid != null %}
							<li class="gw-newslist">
								<div class="gw-people">
									<a target="_blank" href="{{helper.urlgen(item.uid|string)}}" style="background-image:url({{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}});background-size:cover;"></a>
									<span class="pepple-icon"><em>{{item.user_info.realname}}</em><i></i></span>
								</div>
								{#<p>{{item.type}}</p>#}
								<a target="_blank" href="{{helper.urlgen('case',item.id | string) if item.type == 1 else helper.urlgen('article',item.id | string)}}">
									<div class="gw-legend">{{item.tag_list | ellipsis(14)}}</div>
									<p style="clear:both">{{item.title | ellipsis(21)}}</p>
								</a>
							</li>
							{% endif %}
						{% endfor %}
				</ul>
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}
	{% endfor %}{#类别end#}
</div>
	<div class="dui-layout-lg clearfix" style="margin-top:5px;width:1200px;">
		<div class="home-guanggao" style="float:left;overflow:hidden;margin-right:-20px">
			{% for picitem in guanggao %}
			{% if helper.adseatCompare(picitem.ad_seat,ad_seat_index) %}
					{% for ad_pic in picitem.setting %}
						{% if loop.index <= 3%}
						<a rel="nofollow" data-pid="{{ad_pic.pid}}" data-seat="{{ad_seat_index}}"  href="{{ad_pic.linkurl}}" target="_blank">
							<img src='{{ad_pic.imageurl}}' alt='{{picitem.alt}}' style="width:386px;height:120px"/>
						</a>
						{% endif %}
					{% endfor %}
			{% endif %}
			{% endfor %}
		</div>
	</div>
{% endfor %} {#国家end#}
<script>
	var cur_area;
	if ($.cookie('currentarea')) {
		cur_area = $.cookie('currentarea');
	}
	$(".lxContaniner").on('click', '.lx-tabitems li', function(){
		var obj = $(this);
		var cur_edu_id = $(this).attr('data-edu_id');
		var cur_country_id = $(this).parents('.lx-tabitems').attr('data-country_id');
		var cur_container = $(this).parents(".lxContaniner");
		var click_groupitems = cur_container.find(".lx-groupitems[data-id='"+cur_edu_id+"']").html();
		if (click_groupitems) { //如果已经渲染对应学历
			obj.parents(".lxContaniner").find('.lx-groupitems[data-id="'+ cur_edu_id +'"]').show().siblings('.lx-groupitems').hide();
		}
		else {
			$.ajax({
				url: '/liuxue_item_nunjucks',
				type:'get',
				data:{
					"city_id": cur_area,
					"country_id":cur_country_id,
					"edu_id":cur_edu_id
				},
				success:function(msg){
					cur_container.append($(msg));
					obj.parents(".lxContaniner").find('.lx-groupitems[data-id="'+ cur_edu_id +'"]').show().siblings('.lx-groupitems').hide();
				},
				error:function(XMLHttpRequest, textStatus, errorThrown){
					console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status)
				}
			})
		}
		$(this).addClass('active').siblings().removeClass('active');
	})
</script>


