{% macro common_nav(tdk,helper) %}
<div class="new_nav_first_red" style="min-width:1200px;">
    <div class="new_nav_first clearfix">
        <div class="new-logo-left">
            <a  target="_blank" href="{{ helper.urlgen('branch_home','c='+tdk.cityid) }}"><img src="{{helper.cdnhost}}/assets/img/logo_common.png" alt="金吉列留学官网"/></a>
        </div>
        <ul class="page-type">
            <li class="type-nav small-nav active"><a href="{{ helper.urlgen('branch_home','c='+tdk.cityid) }}">留学</a></li>
            <li class="type-nav middle-nav"><a href="">留学攻略</a></li>
            <!-- <li class="type-nav middle-nav"><a href="">首席顾问</a></li> -->
            <li class="type-nav middle-nav"><a href="">留学顾问</a></li>
            <li class="type-nav big-nav"><a href="{{ helper.urlgen('about') }}">关于金吉列</a></li>
        </ul>
        <div class="nav-right">
            <div class="new-searchs new-home-search">
                <div class="search-type-box">
                    <div class="search-type"><span class="search-type-text" id="searchType">留学</span>
                        <!--<i class="iconfont go-down" style="font-size: 12px;">&#xe8ca;</i>-->
                    </div>
<!--                    <ul class="search-type-ul">
                        <li>留学</li>
                        &lt;!&ndash;<li>移民</li>&ndash;&gt;
                    </ul>-->
                </div>
                <input type="text" id="search" placeholder="请输入搜索关键词" class="text text-nav"
                       onblur="if(this.value == ''){this.placeholder= '请输入搜索关键词';}">
                <div class="search-btn" id="searchBtn" style="cursor: pointer;"><i class="city-icon iconfont">&#xe60c;</i></div>
                <div class="hot-tags-box" id="hot-tags-box">
                    <div class="hot-tags-title">热门搜索</div>
                    <div class="hot-tags-cont">
                        <span>美国留学</span>
                        <span>英国留学</span>
                        <span>澳大利亚留学</span>
                        <span>留学案例</span>
                        <span>留学生活</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}