
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-lingdai"></i>
                    <div class="name">领带</div>
                    <div class="fontclass">.icon-lingdai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-help"></i>
                    <div class="name">帮助</div>
                    <div class="fontclass">.icon-help</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jinlingyingcaiwangtubiao67"></i>
                    <div class="name">项目</div>
                    <div class="fontclass">.icon-jinlingyingcaiwangtubiao67</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-guanzhu1"></i>
                    <div class="name">关注-</div>
                    <div class="fontclass">.icon-guanzhu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jia"></i>
                    <div class="name">加</div>
                    <div class="fontclass">.icon-jia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-iconfontsvg14"></i>
                    <div class="name">收藏</div>
                    <div class="fontclass">.icon-iconfontsvg14</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-mm"></i>
                    <div class="name">密码</div>
                    <div class="fontclass">.icon-mm</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wodeshoucang"></i>
                    <div class="name">我的收藏</div>
                    <div class="fontclass">.icon-wodeshoucang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wode"></i>
                    <div class="name">我的</div>
                    <div class="fontclass">.icon-wode</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouye"></i>
                    <div class="name">首页</div>
                    <div class="fontclass">.icon-shouye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-didian-copy"></i>
                    <div class="name">地点</div>
                    <div class="fontclass">.icon-didian-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yuan"></i>
                    <div class="name">圆</div>
                    <div class="fontclass">.icon-yuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qianbao"></i>
                    <div class="name">钱包</div>
                    <div class="fontclass">.icon-qianbao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shenfenzheng"></i>
                    <div class="name">身份证</div>
                    <div class="fontclass">.icon-shenfenzheng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gengduo"></i>
                    <div class="name">更多</div>
                    <div class="fontclass">.icon-gengduo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-guanbi-copy"></i>
                    <div class="name">关闭_</div>
                    <div class="fontclass">.icon-guanbi-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jubao1"></i>
                    <div class="name">举报</div>
                    <div class="fontclass">.icon-jubao1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua2"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shijian-copy"></i>
                    <div class="name">时间</div>
                    <div class="fontclass">.icon-shijian-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youxiang"></i>
                    <div class="name">邮箱</div>
                    <div class="fontclass">.icon-youxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-duigou"></i>
                    <div class="name">对勾</div>
                    <div class="fontclass">.icon-duigou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fangzi"></i>
                    <div class="name">房子</div>
                    <div class="fontclass">.icon-fangzi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weixuanze"></i>
                    <div class="name">未选择</div>
                    <div class="fontclass">.icon-weixuanze</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-buoumaotubiao30"></i>
                    <div class="name">编辑</div>
                    <div class="fontclass">.icon-buoumaotubiao30</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.icon-shezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-guanzhu"></i>
                    <div class="name">关注</div>
                    <div class="fontclass">.icon-guanzhu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xianzhixing"></i>
                    <div class="name">限制性</div>
                    <div class="fontclass">.icon-xianzhixing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangchuanzhaopian"></i>
                    <div class="name">上传照片</div>
                    <div class="fontclass">.icon-shangchuanzhaopian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua3"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua3</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiangji"></i>
                    <div class="name">相机</div>
                    <div class="fontclass">.icon-xiangji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huanyihuan"></i>
                    <div class="name">换一换</div>
                    <div class="fontclass">.icon-huanyihuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tupian"></i>
                    <div class="name">图片</div>
                    <div class="fontclass">.icon-tupian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jingshi"></i>
                    <div class="name">警示</div>
                    <div class="fontclass">.icon-jingshi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pinglun"></i>
                    <div class="name">评论</div>
                    <div class="fontclass">.icon-pinglun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-geren"></i>
                    <div class="name">个人</div>
                    <div class="fontclass">.icon-geren</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-haiwaidiqiu"></i>
                    <div class="name">海外、地球</div>
                    <div class="fontclass">.icon-haiwaidiqiu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhuancunzhuanzhang-"></i>
                    <div class="name">转存，转账</div>
                    <div class="fontclass">.icon-zhuancunzhuanzhang-</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jishimiaobiao"></i>
                    <div class="name">计时，秒表</div>
                    <div class="fontclass">.icon-jishimiaobiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xuanze"></i>
                    <div class="name">选择－</div>
                    <div class="fontclass">.icon-xuanze</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiangshang"></i>
                    <div class="name">向上</div>
                    <div class="fontclass">.icon-xiangshang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua1"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yueduliang"></i>
                    <div class="name">阅读量</div>
                    <div class="fontclass">.icon-yueduliang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-icon-kongxindianzan"></i>
                    <div class="name">icon - 空心点赞</div>
                    <div class="fontclass">.icon-icon-kongxindianzan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chenggong"></i>
                    <div class="name">成功</div>
                    <div class="fontclass">.icon-chenggong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhuanfa"></i>
                    <div class="name">转发</div>
                    <div class="fontclass">.icon-zhuanfa</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quanbu"></i>
                    <div class="name">全部</div>
                    <div class="fontclass">.icon-quanbu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaoxi"></i>
                    <div class="name">消息</div>
                    <div class="fontclass">.icon-xiaoxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pinglun1"></i>
                    <div class="name">评论</div>
                    <div class="fontclass">.icon-pinglun1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dot"></i>
                    <div class="name">点</div>
                    <div class="fontclass">.icon-dot</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhouqihuodong"></i>
                    <div class="name">周期活动</div>
                    <div class="fontclass">.icon-zhouqihuodong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangyiye-copy"></i>
                    <div class="name">上一页</div>
                    <div class="fontclass">.icon-shangyiye-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huifu"></i>
                    <div class="name">回复</div>
                    <div class="fontclass">.icon-huifu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huangguan"></i>
                    <div class="name">皇冠</div>
                    <div class="fontclass">.icon-huangguan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-QQ"></i>
                    <div class="name">QQ</div>
                    <div class="fontclass">.icon-QQ</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua5"></i>
                    <div class="name">电话 (1)</div>
                    <div class="fontclass">.icon-dianhua5</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shanchu1"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-shanchu1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pinggu"></i>
                    <div class="name">评估</div>
                    <div class="fontclass">.icon-pinggu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaoxi1"></i>
                    <div class="name">消息</div>
                    <div class="fontclass">.icon-xiaoxi1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiala"></i>
                    <div class="name">下拉</div>
                    <div class="fontclass">.icon-xiala</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua4"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua4</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoucang"></i>
                    <div class="name">收 藏</div>
                    <div class="fontclass">.icon-shoucang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gerenxinxi"></i>
                    <div class="name">个人信息</div>
                    <div class="fontclass">.icon-gerenxinxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wenda"></i>
                    <div class="name">问答</div>
                    <div class="fontclass">.icon-wenda</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yuedu"></i>
                    <div class="name">阅读</div>
                    <div class="fontclass">.icon-yuedu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-anli"></i>
                    <div class="name">案例</div>
                    <div class="fontclass">.icon-anli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shanchu"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-shanchu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-article"></i>
                    <div class="name">文章</div>
                    <div class="fontclass">.icon-article</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sousuo"></i>
                    <div class="name">搜索</div>
                    <div class="fontclass">.icon-sousuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiayiye-copy"></i>
                    <div class="name">下一页</div>
                    <div class="fontclass">.icon-xiayiye-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cQuery"></i>
                    <div class="name">点击</div>
                    <div class="fontclass">.icon-cQuery</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chucuo"></i>
                    <div class="name">出错</div>
                    <div class="fontclass">.icon-chucuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weizhi"></i>
                    <div class="name">位置</div>
                    <div class="fontclass">.icon-weizhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouye2"></i>
                    <div class="name">首页-首页</div>
                    <div class="fontclass">.icon-shouye2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fabuxiangmu"></i>
                    <div class="name">发布项目</div>
                    <div class="fontclass">.icon-fabuxiangmu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fuli"></i>
                    <div class="name">福利</div>
                    <div class="fontclass">.icon-fuli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jubao"></i>
                    <div class="name">举报</div>
                    <div class="fontclass">.icon-jubao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weizhi1"></i>
                    <div class="name">位置</div>
                    <div class="fontclass">.icon-weizhi1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-paihangbang"></i>
                    <div class="name">排行榜</div>
                    <div class="fontclass">.icon-paihangbang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaolian1"></i>
                    <div class="name">笑脸</div>
                    <div class="fontclass">.icon-xiaolian1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjiaoxia"></i>
                    <div class="name">三角 下</div>
                    <div class="fontclass">.icon-sanjiaoxia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-delete2"></i>
                    <div class="name">删除筛选项</div>
                    <div class="fontclass">.icon-delete2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoucang1"></i>
                    <div class="name">收 藏</div>
                    <div class="fontclass">.icon-shoucang1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jiazaigengduo"></i>
                    <div class="name">加载更多</div>
                    <div class="fontclass">.icon-jiazaigengduo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianzan"></i>
                    <div class="name">点赞</div>
                    <div class="fontclass">.icon-dianzan</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
