.customization2 {
  width: 312px;
  height: 350px;
  background: #f8f8f8;
  position: relative;
  /* left: -1px; */
}
.quick_links_panel ul .customization2 .quick-text11 span{
  padding:0;
}
.customization2 h2 {
  width: 878px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
}
.quick-text11 label{
  color:#333333;
}
.quick-text11 span{
  color: #ff7d31;
  position: relative;
  top:2px;
}
.quick-get-phone-code,.quick-get-phone-code-act{
  display: inline-block;
  width:108px;
  height:28px;
  color:#c13232;
  text-align: center;
  line-height: 28px;
  margin-left: 10px;
  vertical-align: middle;

}
.quick-btn-box{
  width:100%;
  margin-top: 30px;
}
.quick-btn{
  position: relative;
  width:160px;
  height:30px;
  background:#d21b29;
  color:#fff;
  text-align: center;
  line-height: 30px;
  left:50%;
  margin-left: -80px;
}