<style>
  .footer-right{
    width: 200px;
    float:left;
    padding-top: 50px;
  }
  .footer-right h2{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding-bottom: 22px;
  }
  .footer-right dl{
    width: 80px;
    float:left;
  }
  .footer-right dl dd{
    color:#ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 32px;
  }
</style>
<div class="liuxue-footer"  style="min-width:1200px;">
  <div class="liuxue-footer-content" style="margin-bottom: 0;">
    <div class="footer-top" style="height: 40px;position: relative">
      <h2>友情链接:</h2>
      {% esi helper.include(esikey,'fragment/linkList','c='+tdk.cityid) %}
    </div>
    <div style="width: 708px;float: left;padding-left: 20px">
      <div class="foot-map clearfix" style="width: 708px;">
        <div class="sitemap sitemap01">
          <h2>关于金吉列</h2>
          <ul class="left-ul">
            <li><a target="_blank"  rel="nofollow"  href="{{ helper.urlgen('about') }}"> 公司简介</a></li>
            <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/culture') }}">企业文化</a></li>
            <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about') }}#honor">企业荣誉</a></li>
            <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/contact') }}">联系我们</a></li>
            <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/contact') }}">意见反馈</a></li>
          </ul>
          <ul>
            <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/events') }}">大事记</a></li>
            <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/cooperation') }}">商务合作</a></li>
            <li><a target="_blank"  rel="nofollow"   href="http://www.jjl.cn/zt/zhaopin/employment.html">诚聘英才</a></li>
            <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('agreement') }}">使用协议</a></li>
          </ul>
        </div>
        <div class="sitemap">
          <h2>专家团队</h2>
          <ul>
            <li style="width: 312px;"><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('canzan') }}">25位留学消费教育学校指导专家</a></li>
            <li style="width: 312px;"><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('lawyer') }}">海外律师团队</a></li>
          </ul>
        </div>


      </div>
      <li class="address clearfix">
        <h2>欢迎来访</h2>
        <ol class="xiangxi-address one" id="qita-city" style="margin-bottom: 34px;">
          <li><i class="iconfont">&#xe679;</i><span>400-010-8000</span></li>
          <li><i class="iconfont">&#xe611;</i><span id="tel">010-65685656</span></li>
          <li><i class="iconfont">&#xe603;</i><span id="address">北京市建国门外大街永安东里米阳大厦5层（永安里地铁C口向南50米) </span></li>
        </ol>
        <ul class="xiangxi-address one clearfix" id="wc-hk" style="display: none;margin-bottom: 34px;" >
          <li><i class="iconfont">&#xe679;</i><span>400-010-8000</span></li>
          <li style="width: 706px;">
            <ul>
              <li><i class="iconfont">&#xe611;</i><span>027-67811600&nbsp;&nbsp;/&nbsp;&nbsp;027-83805656</span></li>
              <li><i class="iconfont">&#xe603;</i><span>武昌分公司：武汉市洪山区珞瑜路10号群光中心百脑汇23层&nbsp;&nbsp;/&nbsp;&nbsp;汉口分公司：武汉市航空路新世界中心C座20层</span></li>
            </ul>

          </li>
        </ul>

    </div>
    <div class="footer-right">
      <h2 class="guanzhu">关注金吉列</h2>
      <div class="clearfix" style="margin-top:4px;">
        <dl class="foot-weibo" style="width: 80px;">
          <dt><img src="{{helper.cdnhost}}/assets/img/liuxue_weixin.png" alt="留学微信"></dt>
          <dd>留学官方微信</dd>
        </dl>
        <dl style="margin-left: 40px;">
          <dt><img src="{{helper.cdnhost}}/assets/img/yimin_weixin.png" alt="移民微信"></dt>
          <dd>移民官方微信</dd>
        </dl>
      </div>
      <div class="clearfix" style="margin-top:4px;">
        <dl class="foot-weibo" style="width: 80px;">
          <dt><img src="{{helper.cdnhost}}/assets/img/liuxue_weibo.png" alt="留学微博"></dt>
          <dd>留学官方微博</dd>
        </dl>
        <dl style="margin-left: 40px;">
          <dt><img src="{{helper.cdnhost}}/assets/img/yimin_weibo.png" alt="移民微博"></dt>
          <dd>移民官方微博</dd>
        </dl>
      </div>
    </div>
    <p class="copyright clearfix" style="*margin-top:-20px;">©2009金吉列出国留学咨询服务有限公司 &nbsp;版权所有&nbsp;京ICP备05010035号&nbsp;&nbsp;留学投诉电话：4006-213-315&nbsp;&nbsp;投诉邮箱：315@jjl.cn</p>
    <div class="adviser-login" onclick="adviserlogin()">
      咨询顾问登录
    </div>
    </div>


</div>

<script src="{{helper.cdnhost}}/assets/js/sha1.js" type="text/javascript" charset="utf-8"></script>
<script src="{{helper.cdnhost}}/dep/js/layer/layer.js"></script>
<script src="{{helper.cdnhost}}/assets/js/top.js"></script>

<script>
  function adviserlogin () {
    var h = window.location.href;
    console.log('h', h);
    var hh = h.split("/");
    console.log('hh[1]', hh[3]);
    var hhh = h.split("?");
    console.log('hhh', hhh[1])
    if (hh[3] != 'register' && hh[3] != 'forget' && hh[3] != 'login' && hh[3] != 'login?h=http:') {
      console.log('11111')
//      window.location.href = '/login?h=' + h
      window.open('/login?h=' + h);
      //window.open(fn.urlgen("login")+'?h='+h);
    } else if (hhh[1] != undefined && hh[3] != 'register' && hh[3] != 'forget' && hh[3] != 'login') {
      console.log('aaaa')
      window.location.reload();
    } else {
      console.log('22222');
//      window.location.href = '/login'
      window.open('/login?h=');
      //window.open(fn.urlgen('login')+'?h=');
    }
  }
</script>
<script src="http://jesong.jjl.cn/skin.jsp?comp=1&config=181" type="text/javascript"></script>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?27e9cf6d25e8551a8ad30712057bde86";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>