<div class="liuxue-footer">
  <div class="liuxue-footer-content" style="margin-bottom: 0;">
    <div class="foot-map clearfix">
      <div class="sitemap sitemap01">
        <h2>关于金吉列</h2>
        <ul class="left-ul">
          <li><a target="_blank"  rel="nofollow"  href="{{ helper.urlgen('about') }}"> 公司简介</a></li>
          <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/culture') }}">企业文化</a></li>
          <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about') }}#honor">企业荣誉</a></li>
          <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/contact') }}">联系我们</a></li>
        </ul>
        <ul>
          <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/events') }}">大事记</a></li>
          <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/cooperation') }}">商务合作</a></li>
          <li><a target="_blank"  rel="nofollow"   href="http://special.zhaopin.com/bj/2015/jjl032714/enter.html">诚聘英才</a></li>
        </ul>
      </div>
      <div class="sitemap sitemap02">
        <h2>专家团队</h2>
        <ul>
          <li style="width: 312px;"><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('canzan') }}">25位留学消费教育学校指导专家</a></li>
        </ul>
      </div>

      <div class="sitemap sitemap04">
        <h2 class="guanzhu">关注金吉列:</h2>
          <div class="clearfix">
            <dl class="foot-weibo">
              <dt><img src="{{helper.cdnhost}}/assets/img/weibo.png" alt="微博"></dt>
              <dd>官方微博</dd>
            </dl>
            <dl>
              <dt><img src="{{helper.cdnhost}}/assets/img/weixin.png" alt="微信"></dt>
              <dd>官方微信</dd>
            </dl>
          </div>
      </div>
    </div>
    <div class="address">
      <h2>欢迎来访</h2>
      <ol class="xiangxi-address one">
        <li><i class="iconfont">&#xe679;</i><span>400-010-8000</span></li>
        <li><i class="iconfont">&#xe611;</i><span id="tel">010-65685656</span></li>
        <li><i class="iconfont">&#xe603;</i><span id="address">北京市建国门外大街永安东里米阳大厦5层（永安里地铁C口向南50米) </span></li>
      </ol>
    </div>
    <p class="copyright">©2009金吉列出国留学咨询服务有限公司 &nbsp;版权所有&nbsp;京ICP备05010035号&nbsp;&nbsp;留学投诉电话：4006-213-315&nbsp;&nbsp;投诉邮箱：315@jjl.cn</p>
    <div class="adviser-login" onclick="adviserlogin()">
      咨询顾问登录
    </div>
  </div>
</div>
<script>
  function adviserlogin () {
    var h = window.location.href;
    console.log('h', h);
    var hh = h.split("/");
    console.log('hh[1]', hh[3]);
    var hhh = h.split("?");
    console.log('hhh', hhh[1])
    if (hh[3] != 'register' && hh[3] != 'forget' && hh[3] != 'login' && hh[3] != 'login?h=http:') {
      console.log('11111')
//      window.location.href = '/login?h=' + h
      window.open('/login?h=' + h);
    } else if (hhh[1] != undefined && hh[3] != 'register' && hh[3] != 'forget' && hh[3] != 'login') {
      console.log('aaaa')
      window.location.reload();
    } else {
      console.log('22222');
//      window.location.href = '/login'
      window.open('/login?h=');
    }
  }
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e1fac9212a2a6973ecbe76babb6edf15";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>