
.liuxue-footer{
  width: 100%;
  height: 424px;
  background: #000 url(../img/bg_footer.jpg);
  opacity: 0.9;
  margin-top:20px;
}
.liuxue-footer-content{
  width: 1180px;
  margin:0 auto;
  color:#ffffff;
}
.liuxue-footer-content .foot-map {
  padding: 50px 0 31px;
}
.liuxue-footer-content .foot-map .sitemap h2{
  color:#ffffff;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  padding-bottom: 22px;
}
.liuxue-footer-content .foot-map .sitemap {
  float: left;
}
.liuxue-footer-content .foot-map .sitemap ul li {
  font-size: 12px;
  line-height: 30px;
}
.liuxue-footer-content .foot-map .sitemap ul li a{
  color: #fff;
}
.liuxue-footer-content .foot-map .sitemap01 {
  width: 320px;
}
.liuxue-footer-content .foot-map .sitemap02 {
  width: 420px;
}
.liuxue-footer-content .foot-map .sitemap01 ul{
  float: left;
}
.liuxue-footer-content .foot-map .sitemap01 .left-ul{
  margin-right: 58px;
}
.liuxue-footer-content .foot-map .sitemap04 dl {
  float: left;
  text-align: center;
}
.liuxue-footer-content .foot-map .sitemap04 dl dt{
  margin-bottom: 10px;
}
.liuxue-footer-content .foot-map .sitemap04 dl.foot-weibo {
  margin-right: 50px;
}
.liuxue-footer-content .address h2{
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
}
.liuxue-footer-content .address ol li {
  line-height: 30px;
  font-size: 14px;
}
.liuxue-footer-content .address ol li i {
  display: inline-block;
  width: 22px;
}
.liuxue-footer-content .copyright{
  text-align: center;
  font-size: 14px;
  color: #B4B4B4;
  margin-top: 34px;
}
