<div class="liuxue-footer"  style="min-width:1200px;">
    <div class="liuxue-footer-content" style="margin-bottom: 0;">
        <div class="footer-top" style="height: 40px;position: relative">
            <h2>友情链接:</h2>
            <div style="float: left;width: 1057px;height: 40px;overflow: hidden">
                {% esi helper.include(esikey,'fragment/linkList','c=1') %}
            </div>
        </div>
        <div class="foot-map clearfix" style="padding-left: 20px">
            <div class="sitemap sitemap01">
                <h2>关于金吉列</h2>
                <ul class="left-ul">
                    <li><a target="_blank"  rel="nofollow"  href="{{ helper.urlgen('about') }}"> 公司简介</a></li>
                    <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/culture') }}">企业文化</a></li>
                    <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about') }}#honor">企业荣誉</a></li>
                    <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/contact') }}">联系我们</a></li>
                </ul>
                <ul>
                    <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/events') }}">大事记</a></li>
                    <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/cooperation') }}">商务合作</a></li>
                    <li><a target="_blank"  rel="nofollow"   href="http://www.jjl.cn/zt/zhaopin/employment.html">诚聘英才</a></li>
                    <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/contact') }}#Suggestions">意见反馈</a></li>
                </ul>
            </div>
            <div class="sitemap sitemap02">
                <h2>专家团队</h2>
                <ul>
                    <li style="width: 312px;"><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('lawyer')}}">海外律师团队</a></li>
                </ul>
            </div>

            <div class="sitemap sitemap04">
                <h2 class="guanzhu">关注金吉列:</h2>
                <div class="clearfix">
                    <dl class="foot-weibo">
                        <dt><img src="{{helper.cdnhost}}/assets/img/yimin_weibo.png" alt="微博"></dt>
                        <dd>官方微博</dd>
                    </dl>
                    <dl>
                        <dt><img src="{{helper.cdnhost}}/assets/img/yimin_weixin.png" alt="微信"></dt>
                        <dd>官方微信</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="address clearfix" style="padding-left: 20px">
            <h2>欢迎来访</h2>
            <ol class="xiangxi-address one" id="qita-city">
                <li><i class="iconfont">&#xe679;</i><span>400-010-8000</span></li>
                <li><i class="iconfont">&#xe611;</i><span id="tel">010-65685656</span></li>
                <li><i class="iconfont">&#xe603;</i><span id="address">北京市建国门外大街永安东里米阳大厦5层（永安里地铁C口向南50米) </span></li>
            </ol>
            <p class="copyright" style="padding-left: 0">©2009金吉列出入境咨询服务有限公司 &nbsp;版权所有&nbsp;京ICP备05010035号&nbsp;&nbsp;移民投诉电话：4006-213-315&nbsp;&nbsp;投诉邮箱：315@jjl.cn</p>
            <div class="adviser-login" onclick="adviserlogin()">
                咨询顾问登录
            </div>
        </div>
    </div>
</div>

<script src="{{helper.cdnhost}}/assets/js/sha1.js" type="text/javascript" charset="utf-8"></script>
<script src="{{helper.cdnhost}}/dep/js/layer-1.min.js"></script>
<script src="{{helper.cdnhost}}/assets/js/top.js"></script>
<script src="{{helper.cdnhost}}/dep/js/refer.js"></script>
<script src="{{helper.cdnhost}}/dep/js/publicParamSubOrther.js"></script>
<script>
$(function(){
    var grUserId = $.cookie('gr_user_id');
    getUrlSetCookieByParam ('growingioId',grUserId);
})
</script>
<script>
    $(function() {
        getPageReferweb();
    });
    function adviserlogin () {
        var h = window.location.href;
        console.log('h', h);
        var hh = h.split("/");
        console.log('hh[1]', hh[3]);
        var hhh = h.split("?");
        console.log('hhh', hhh[1])
        if (hh[3] != 'register' && hh[3] != 'forget' && hh[3] != 'login' && hh[3] != 'login?h=http:') {
            console.log('11111')
//      window.location.href = '/login?h=' + h
            //window.open('/login?h=' + h);
            window.open(fn.urlgen("login")+'?h='+h);
        } else if (hhh[1] != undefined && hh[3] != 'register' && hh[3] != 'forget' && hh[3] != 'login') {
            console.log('aaaa')
            window.location.reload();
        } else {
            console.log('22222');
//      window.location.href = '/login'
            //window.open('/login?h=');
            window.open(fn.urlgen('login')+'?h=');
        }
    }
</script>
<script src="http://jesong.jjl.cn/skin.jsp?comp=1&config=181" type="text/javascript"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?27e9cf6d25e8551a8ad30712057bde86";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>