{% for item2 in liuxuezhuanti.list %}

<div class="unuversitiescon clearfix">
  <a class="" href="{{ item2.jump_url }}" style="display: block" target="_blank" rel="nofollow"><img src="{{item2.thumb}}" alt="{{item2.title}}"/></a>
  <div class="unuversitiescon_content">
    <div class="universitiescon_content_title clearfix">
      <a class="dui-text-warning-s title" target="_blank" href="{{ item2.jump_url  }}">{{item2.title}}</a>
      <a class="but"  href="javascript:void(0);" onclick="rand_zixun('{{  item2.country | getCountry }}',146,'{{item2.id}}')" rel="nofollow">在线咨询</a>
    </div>
    <div class="universitiescon_content_fu clearfix" style="margin-top: 13px;">时间：{{item2.inputtime | getDefaultFormat()}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="universitiescon_content_fu" style="display: inline-block;margin-top: 0;">
      </div>
    </div>
    <div class="unuversitiescon_content_con">
      {{item2.description}}
    </div>
    <a class="universitiescon_content_det" target="_blank" href="{{ item2.jump_url  }}" rel="nofollow">【查看详情】</a>
  </div>
</div>

{% endfor %}