<!-- ========留学方案======== -->
<div class="dui-layout-lg clearfix" >
  <div class="branch-liuxue-top clearfix " >
    <h3 class="branch-liuxue-top-h3" style="font-size: 18px">留学方案</h3>
    <ul class="branch-liuxue-top-ul branch-product-country" >
      <li>
        <a  href="javascript:void(0);" class="dui-text-warning-s active" >
          推荐
        </a>
      </li>
      <li>
        <a href="javascript:void(0);" class="dui-text-warning-s" >
          美国
        </a>
      </li>
      <li>
        <a  href="javascript:void(0);" class="dui-text-warning-s" >
          英国
        </a>
      </li>
      <li>
        <a  href="javascript:void(0);" class="dui-text-warning-s" >
          加拿大
        </a>
      </li>
      <li>
        <a  href="javascript:void(0);" class="dui-text-warning-s" >
          澳洲
        </a>
      </li>
      <li>
        <a  href="javascript:void(0);" class="dui-text-warning-s" >
          新西兰
        </a>
      </li>
      <li>
        <a  href="javascript:void(0);" class="dui-text-warning-s" >
          亚洲
        </a>
      </li>
      <li>
        <a  href="javascript:void(0);" class="dui-text-warning-s" style="border-right:0;">
          欧洲
        </a>
      </li>
    </ul>
  </div>
  <!-- ====留学方案 内容=== -->
  <div class="branch-product clearfix" >
    <!-- ======推荐===== -->
    <div class="branch-product-list clearfix" style="display: block;">
      <!-- =====左侧列表===== -->
      <ul class="branch-product-left-ul" >
        {% for item in country_liuxuefangan_list0 %}
        {% if loop.index < 4 %}
        <li class="clearfix">
          <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s" >
            <img src="{{helper.imageThumb(item.thumb,'186x140')}}" class="branch-product-left-img" ></a>
          <div class="branch-product-left-div" >
            <div class="branch-product-left-title" >
              <span><a target="_blank"   href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s" style="display:inline-block;">[{{ item.country | getCountry }}]&nbsp;&nbsp;{{item.title | ellipsis(23)}}</a></span>
              <div  class="dui-btn btn-xlarge btn-appointment" style="float:right;"onclick="rand_zixun('{{  item.country | getCountry }}',146,'{{item.id}}')">立即咨询
              </div>
            </div>
            <div class="branch-product-left-txt" >
              <span>所属国家：{{item.country | getCountry()}}</span>
              <span>适宜学历：{{item.suitable_education | getEdu}}</span>
              <span>适用专业：{{item.suitable_major | ellipsis(12)}}</span>
              <span></span>
              <span>咨询次数：{{item.hits}}次</span>
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <!-- ======右侧列表========== -->
      <div class="branch-product-right" >
        <div class="main-title " style="border-bottom: 1px solid #dcdcdc;">
          <a target="_blank"  rel="nofollow" href="{{helper.urlgen('product')}}" class="iconfont">&#xe602;</a>
        </div>
        <ul class="branch-product-right-ul " >
          {% for item in country_liuxuefangan_list0 %}
          {% if loop.index >= 4 %}
          {% if loop.index == 4 %}
          <li style="margin-top: 20px;">
            <div class="dui-text-warning-s clearfix" >
              <a href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" target="_blank"  rel="nofollow">
                <img src="{{ helper.imageThumb(item.thumb, '140x140')}}" class="branch-product-right-img" >
              </a>

              <div class="branch-product-right-info" >
                <div class="branch-info-title">
                  <a href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}"target="_blank" class="branch-info-title" >
                    {{item.title | ellipsis(12)}}
                  </a>

                </div>
                <div>所属国家：{{item.country | getCountry()}}</div>
                <div>咨询次数：{{item.hits}}次</div>
                <div>适宜学历：{{item.suitable_education | getEdu}}</div>
                <div style="margin-top: 15px">
                  <a rel="nofollow" href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}"target="_blank" style="color:#c13232;font-size: 14px;">了解详情&gt;&gt;</a></div>
              </div>
            </div>
          </li>
          {% elif loop.index == 5 %}
          <li style="margin-top: 20px;" >
            <a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% else %}
          <li  >
            <a target="_blank"   href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- ======美国===== -->
    <div class="branch-product-list clearfix" >
      <!-- =====左侧列表===== -->
      <ul class="branch-product-left-ul" >
        {% for item in country_liuxuefangan_list1 %}
        {% if loop.index < 4 %}
        <li class="clearfix">
          <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s" >
            <img src="{{helper.imageThumb(item.thumb,'186x140')}}" class="branch-product-left-img" >
          </a>
          <div class="branch-product-left-div" >
            <div class="branch-product-left-title" >
              <span><a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s" style="display: inline-block">[{{ item.country | getCountry }}]&nbsp;&nbsp;{{item.title | ellipsis(23)}}</a></span>
              <div  class="dui-btn btn-xlarge btn-appointment" style="float:right;"onclick="rand_zixun('{{  item.country | getCountry }}',146,'{{item.id}}')">立即咨询
              </div>
            </div>
            <div class="branch-product-left-txt" >
              <span>所属国家：{{item.country | getCountry()}}</span>
              <span>适宜学历：{{item.suitable_education | getEdu}}</span>
              <span>适用专业：{{item.suitable_major | ellipsis(12)}}</span>
              <span></span>
              <span>咨询次数：{{item.hits}}次</span>
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <!-- ======右侧列表========== -->
      <div class="branch-product-right" >
        <div class="main-title " style="border-bottom: 1px solid #dcdcdc;">
          <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product','n=1')}}" class="iconfont">&#xe602;</a>
        </div>
        <ul class="branch-product-right-ul " >
          {% for item in country_liuxuefangan_list1 %}
          {% if loop.index >= 4 %}
          {% if loop.index == 4 %}
          <li style="margin-top: 20px;">
            <div  class="dui-text-warning-s clearfix" >
              <a class="branch-info-title" target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}">
                <img src="{{helper.imageThumb(item.thumb,'140x140')}}" class="branch-product-right-img" >
              </a>

              <div class="branch-product-right-info" >
                <div class="branch-info-title">
                  <a class="branch-info-title" target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}">
                    {{item.title | ellipsis(12)}}
                  </a>

                </div>
                <div>所属国家：{{item.country | getCountry()}}</div>
                <div>咨询次数：{{item.hits}}次</div>
                <div>适宜学历：{{item.suitable_education | getEdu}}</div>
                <div style="margin-top: 15px"><a style="color:#c13232;font-size: 14px;" target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}">了解详情&gt;&gt;</a></div>
              </div>
            </div>
          </li>
          {% elif loop.index == 5 %}
          <li style="margin-top: 20px;" >
            <a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% else %}
          <li>
            <a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- ======英国===== -->
    <div class="branch-product-list clearfix" >
      <!-- =====左侧列表===== -->
      <ul class="branch-product-left-ul" >
        {% for item in country_liuxuefangan_list2 %}
        {% if loop.index < 4 %}
        <li class="clearfix">
          <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ">
            <img src="{{helper.imageThumb(item.thumb,'186x140')}}" class="branch-product-left-img" >
          </a>
          <div class="branch-product-left-div" >
            <div class="branch-product-left-title" >
              <span><a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s " style="display: inline-block">[{{ item.country | getCountry }}]&nbsp;&nbsp;{{item.title | ellipsis(23)}}</a></span>
              <div  class="dui-btn btn-xlarge btn-appointment" style="float:right;"onclick="rand_zixun('{{  item.country | getCountry }}',156,'{{item.id}}')">立即咨询
              </div>
            </div>
            <div class="branch-product-left-txt" >
              <span>所属国家：{{item.country | getCountry()}}</span>
              <span>适宜学历：{{item.suitable_education | getEdu}}</span>
              <span>适用专业：{{item.suitable_major | ellipsis(12)}}</span>
              <span></span>
              <span>咨询次数：{{item.hits}}次</span>
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <!-- ======右侧列表========== -->
      <div class="branch-product-right" >
        <div class="main-title " style="border-bottom: 1px solid #dcdcdc;">
          <a target="_blank"  rel="nofollow" href="{{helper.urlgen('product','n=2')}}" class="iconfont">&#xe602;</a>
        </div>
        <ul class="branch-product-right-ul " >
          {% for item in country_liuxuefangan_list2 %}
          {% if loop.index >= 4 %}
          {% if loop.index == 4 %}
          <li style="margin-top: 20px;">
            <div  class="dui-text-warning-s clearfix" >
              <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}">
                <img src="{{helper.imageThumb(item.thumb,'140x140')}}" class="branch-product-right-img" >
              </a>

              <div class="branch-product-right-info" >
                <div class="branch-info-title">
                  <a class="branch-info-title" target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}">
                    {{item.title | ellipsis(12)}}
                  </a>

                </div>
                <div>所属国家：{{item.country | getCountry()}}</div>
                <div>咨询次数：{{item.hits}}次</div>
                <div>适宜学历：{{item.suitable_education | getEdu}}</div>
                <div style="margin-top: 15px"><a style="color:#c13232;font-size: 14px;" target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}">了解详情&gt;&gt;</a></div>
              </div>
            </div>
          </li>
          {% elif loop.index == 5 %}
          <li style="margin-top: 20px;" >
            <a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% else %}
          <li  >
            <a target="_blank"   href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- ======加拿大===== -->
    <div class="branch-product-list clearfix" >
      <!-- =====左侧列表===== -->
      <ul class="branch-product-left-ul" >
        {% for item in country_liuxuefangan_list3 %}
        {% if loop.index < 4 %}
        <li class="clearfix">
          <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s" >
            <img src="{{helper.imageThumb(item.thumb,'186x140')}}" class="branch-product-left-img" >
          </a>
          <div class="branch-product-left-div" >
            <div class="branch-product-left-title" >
              <span><a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s"style="display: inline-block" >[{{ item.country | getCountry }}]&nbsp;&nbsp;{{item.title | ellipsis(23)}}</a></span>
              <div  class="dui-btn btn-xlarge btn-appointment" style="float:right;"onclick="rand_zixun('{{  item.country | getCountry }}',146,'{{item.id}}')">立即咨询
              </div>
            </div>
            <div class="branch-product-left-txt" >
              <span>所属国家：{{item.country | getCountry()}}</span>
              <span>适宜学历：{{item.suitable_education | getEdu }}</span>
              <span>适用专业：{{item.suitable_major | ellipsis(12)}}</span>
              <span></span>
              <span>咨询次数：{{item.hits}}次</span>
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <!-- ======右侧列表========== -->
      <div class="branch-product-right" >
        <div class="main-title " style="border-bottom: 1px solid #dcdcdc;">
          <a target="_blank"  rel="nofollow" href="{{helper.urlgen('product','n=3')}}" class="iconfont">&#xe602;</a>
        </div>
        <ul class="branch-product-right-ul " >
          {% for item in country_liuxuefangan_list3 %}
          {% if loop.index >= 4 %}
          {% if loop.index == 4 %}
          <li style="margin-top: 20px;" class="clearfix">
            <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s" >
              <img src="{{helper.imageThumb(item.thumb,'140x140')}}" class="branch-product-right-img" >
            </a>
            <div class="branch-product-right-info" >
              <div class="branch-info-title">
                <a target="_blank"   href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="branch-info-title">
                  {{item.title | ellipsis(12)}}
                </a>
              </div>
              <div>所属国家：{{item.country | getCountry()}}</div>
              <div>咨询次数：{{item.hits}}次</div>
              <div>适宜学历：{{item.suitable_education | getEdu }}</div>
              <div style="margin-top: 15px"><a style="color:#c13232;font-size: 14px;" target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}">了解详情&gt;&gt;</a></div>
            </div>
          </li>
          {% elif loop.index == 5 %}
          <li style="margin-top: 20px;" >
            <a target="_blank"   href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% else %}
          <li>
            <a target="_blank"   href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- ======澳洲===== -->
    <div class="branch-product-list clearfix" >
      <!-- =====左侧列表===== -->
      <ul class="branch-product-left-ul" >
        {% for item in country_liuxuefangan_list4 %}
        {% if loop.index < 4 %}
        <li class="clearfix" >
          <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s " >
            <img src="{{helper.imageThumb(item.thumb,'186x140')}}" class="branch-product-left-img" >
          </a>
          <div class="branch-product-left-div" >
            <div class="branch-product-left-title" >
              <span><a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s " style="display: inline-block">[{{ item.country | getCountry }}]&nbsp;&nbsp;{{item.title | ellipsis(23)}}</a></span>
              <div  class="dui-btn btn-xlarge btn-appointment" style="float:right;"onclick="rand_zixun('{{  item.country | getCountry }}',146,'{{item.id}}')">立即咨询
              </div>
            </div>
            <div class="branch-product-left-txt" >
              <span>所属国家：{{item.country | getCountry()}}</span>
              <span>适宜学历：{{item.suitable_education | getEdu }}</span>
              <span>适用专业：{{item.suitable_major | ellipsis(12) }}</span>
              <span></span>
              <span>咨询次数：{{item.hits}}次</span>
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <!-- ======右侧列表========== -->
      <div class="branch-product-right" >
        <div class="main-title " style="border-bottom: 1px solid #dcdcdc;">
          <a target="_blank"  rel="nofollow" href="{{helper.urlgen('product','n=4')}}" class="iconfont">&#xe602;</a>
        </div>
        <ul class="branch-product-right-ul " >
          {% for item in country_liuxuefangan_list4 %}
          {% if loop.index >= 4 %}
          {% if loop.index == 4 %}
          <li style="margin-top: 20px;" class="clearfix">
            <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s" >
              <img src="{{helper.imageThumb(item.thumb,'140x140')}}" class="branch-product-right-img" >
            </a>
            <div class="branch-product-right-info" >
              <div class="branch-info-title">
                <a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="branch-info-title">
                  {{item.title | ellipsis(12)}}
                </a>
              </div>
              <div>所属国家：{{item.country | getCountry()}}</div>
              <div>咨询次数：{{item.hits}}次</div>
              <div>适宜学历：{{item.suitable_education | getEdu}}</div>
              <div style="margin-top: 15px"><a  style="color:#c13232;font-size: 14px;" target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}">了解详情&gt;&gt;</a></div>
            </div>
            </a>
          </li>
          {% elif loop.index == 5 %}
          <li style="margin-top: 20px;" >
            <a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% else %}
          <li>
            <a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- ======新西兰===== -->
    <div class="branch-product-list clearfix" >
      <!-- =====左侧列表===== -->
      <ul class="branch-product-left-ul" >
        {% for item in country_liuxuefangan_list5 %}
        {% if loop.index < 4 %}
        <li class="clearfix">
          <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s " >
            <img src="{{helper.imageThumb(item.thumb,'186x140')}}" class="branch-product-left-img" >
          </a>
          <div class="branch-product-left-div" >
            <div class="branch-product-left-title" >
              <span><a target="_blank"   href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s " style="display: inline-block" >[{{ item.country | getCountry }}]&nbsp;&nbsp;{{item.title | ellipsis(23)}}</a></span>
              <div  class="dui-btn btn-xlarge btn-appointment" style="float:right;"onclick="rand_zixun('{{  item.country | getCountry }}',146,'{{item.id}}')">立即咨询
              </div>
            </div>
            <div class="branch-product-left-txt" >
              <span>所属国家：{{item.country | getCountry()}}</span>
              <span>适宜学历：{{item.suitable_education | getEdu}}</span>
              <span>适用专业：{{item.suitable_major | ellipsis(12) }}</span>
              <span></span>
              <span>咨询次数：{{item.hits}}次</span>
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <!-- ======右侧列表========== -->
      <div class="branch-product-right" >
        <div class="main-title " style="border-bottom: 1px solid #dcdcdc;">
          <a target="_blank"  rel="nofollow" href="{{helper.urlgen('product','n=5')}}" class="iconfont">&#xe602;</a>
        </div>
        <ul class="branch-product-right-ul " >
          {% for item in country_liuxuefangan_list5 %}
          {% if loop.index >= 4 %}
          {% if loop.index == 4 %}
          <li style="margin-top: 20px;" class="clearfix">
            <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s" >
              <img src="{{helper.imageThumb(item.thumb,'140x140')}}" class="branch-product-right-img" >
            </a>
            <div class="branch-product-right-info" >
              <div class="branch-info-title">
                <a  target="_blank" href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="branch-info-title" >
                  {{item.title | ellipsis(12)}}
                </a>
              </div>
              <div>所属国家：{{item.country | getCountry()}}</div>
              <div>咨询次数：{{item.hits}}次</div>
              <div>适宜学历：{{item.suitable_education | getEdu}}</div>
              <div style="margin-top: 15px"><a style="color:#c13232;font-size: 14px;" target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}">了解详情&gt;&gt;</a></div>
            </div>
          </li>
          {% elif loop.index == 5 %}
          <li style="margin-top: 20px;" >
            <a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% else %}
          <li  >
            <a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- ======亚洲===== -->
    <div class="branch-product-list clearfix" >
      <!-- =====左侧列表===== -->
      <ul class="branch-product-left-ul" >
        {% for item in country_liuxuefangan_list6 %}
        {% if loop.index < 4 %}
        <li class="clearfix" >
          <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s " >
            <img src="{{helper.imageThumb(item.thumb,'186x140')}}" class="branch-product-left-img" >
          </a>
          <div class="branch-product-left-div" >
            <div class="branch-product-left-title" >
              <span><a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s " style="display: inline-block">[{{ item.country | getCountry }}]&nbsp;&nbsp;{{item.title | ellipsis(23)}}</a></span>
              <div  class="dui-btn btn-xlarge btn-appointment" style="float:right;"onclick="rand_zixun('{{  item.country | getCountry }}',146,'{{item.id}}')">立即咨询
              </div>
            </div>
            <div class="branch-product-left-txt" >
              <span>所属国家：{{item.country | getCountry()}}</span>
              <span>适宜学历：{{item.suitable_education | getEdu}}</span>
              <span>适用专业：{{item.suitable_major | ellipsis(12) }}</span>
              <span></span>
              <span>咨询次数：{{item.hits}}次</span>
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <!-- ======右侧列表========== -->
      <div class="branch-product-right" >
        <div class="main-title " style="border-bottom: 1px solid #dcdcdc;">
          <a target="_blank"  rel="nofollow" href="{{helper.urlgen('product')}}" class="iconfont">&#xe602;</a>
        </div>
        <ul class="branch-product-right-ul " >
          {% for item in country_liuxuefangan_list6 %}
          {% if loop.index >= 4 %}
          {% if loop.index == 4 %}
          <li style="margin-top: 20px;" class="clearfix">
            <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s" >
              <img src="{{helper.imageThumb(item.thumb,'140x140')}}" class="branch-product-right-img" >
            </a>
            <div class="branch-product-right-info" >
              <div class="branch-info-title">
                <a target="_blank" href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="branch-info-title" >
                  {{item.title | ellipsis(12)}}
                </a>
              </div>
              <div>所属国家：{{item.country | getCountry()}}</div>
              <div>咨询次数：{{item.hits}}次</div>
              <div>适宜学历：{{item.suitable_education | getEdu}}</div>
              <div style="margin-top: 15px"><a style="color:#c13232;font-size: 14px;"  target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}">了解详情&gt;&gt;</a></div>
            </div>
          </li>
          {% elif loop.index == 5 %}
          <li style="margin-top: 20px;" >
            <a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% else %}
          <li  >
            <a target="_blank" href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- ======欧洲===== -->
    <div class="branch-product-list clearfix" >
      <!-- =====左侧列表===== -->
      <ul class="branch-product-left-ul" >
        {% for item in country_liuxuefangan_list7 %}
        {% if loop.index < 4 %}
        <li class="clearfix">
          <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s" >
            <img src="{{helper.imageThumb(item.thumb,'186x140')}}" class="branch-product-left-img" >
          </a>
          <div class="branch-product-left-div" >
            <div class="branch-product-left-title" >
              <span><a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s" style="display: inline-block">[{{ item.country | getCountry }}]&nbsp;&nbsp;{{item.title | ellipsis(23)}}</a></span>
              <div  class="dui-btn btn-xlarge btn-appointment" style="float:right;"onclick="rand_zixun('{{  item.country | getCountry }}',146,'{{item.id}}')">立即咨询
              </div>
            </div>
            <div class="branch-product-left-txt" >
              <span>所属国家：{{item.country | getCountry()}}</span>
              <span>适宜学历：{{item.suitable_education | getEdu}}</span>
              <span>适用专业：{{item.suitable_major | ellipsis(12) }}</span>
              <span></span>
              <span>咨询次数：{{item.hits}}次</span>
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <!-- ======右侧列表========== -->
      <div class="branch-product-right" >
        <div class="main-title " style="border-bottom: 1px solid #dcdcdc;">
          <a target="_blank"  rel="nofollow" href="{{helper.urlgen('product')}}" class="iconfont">&#xe602;</a>
        </div>

        <ul class="branch-product-right-ul " >
          {% for item in country_liuxuefangan_list7 %}
          {% if loop.index >= 4 %}
          {% if loop.index == 4 %}
          <li style="margin-top: 20px;" class="clearfix">
            <a target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s" >
              <img src="{{helper.imageThumb(item.thumb,'140x140')}}" class="branch-product-right-img" >
            </a>
            <div class="branch-product-right-info" >
              <div class="branch-info-title">
                <a target="_blank" href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="branch-info-title" >
                  {{item.title | ellipsis(12)}}
                </a>
              </div>
              <div>所属国家：{{item.country | getCountry()}}</div>
              <div>咨询次数：{{item.hits}}次</div>
              <div>适宜学历：{{item.suitable_education | getEdu}}</div>
              <div style="margin-top: 15px"><a style="color:#c13232;font-size: 14px;" target="_blank"  rel="nofollow"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}">了解详情&gt;&gt;</a></div>
            </div>
          </li>
          {% elif loop.index == 5 %}
          <li style="margin-top: 20px;" >
            <a target="_blank"  href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% else %}
          <li>
            <a target="_blank" href="{{helper.urlgen('product', item.id | string, 'n=' + item.country)}}" class="dui-text-warning-s ellipsis">
              <i class="iconfont" >&#xe609;</i>
              {{item.title}}
            </a>
          </li>
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>