{% macro user_side_menu(menu_name,helper) %}
{%
    set side_ul = [
        {
            "li_name": "收到的评论",
            "li_url": "user_center/revcomment"
        },
        {
            "li_name": "收到的消息",
            "li_url": "user_center/revmsg"
        },
        {
            "li_name": "我的关注",
            "li_url": "user_center/followee"
        },
        {
            "li_name": "我的收藏",
            "li_url": "user_center/collection"
        },
        {
            "li_name": "个人信息",
            "li_url": "user_center/profile"
        }
    ]
%}
<div class="list dui-box-shadow">
    <ul>
        {% for mItem in side_ul %}
            {% if mItem.li_name == menu_name %}
            <li class="checked">
                <div class="title">
                    <a target="_blank" class="opc" href="{{helper.urlgen(mItem.li_url)}}">
                        <i class="iconfont">
                            {% if mItem.li_name == '收到的消息' %}
                            &#xe6a9;
                            {% elif  mItem.li_name == '收到的评论' %}
                            &#xe61b;
                            {% elif  mItem.li_name == '我关注的问题' %}
                            &#xe688;
                            {% elif  mItem.li_name == '我的关注' %}
                            &#xe622;
                            {% elif  mItem.li_name == '我的收藏' %}
                            &#xe7ed;
                            {% elif  mItem.li_name == '个人信息' %}
                            &#xe621;
                            {% elif  mItem.li_name == '账号设置' %}
                            &#xe605;
                            {% endif %}
                        </i>
                        {{mItem.li_name}}
                    </a>
                    <div class="bg"></div>
                </div>
            </li>
            {% else %}
            <li>
                <div class="title">
                    <a target="_blank" class="opc" href="{{helper.urlgen(mItem.li_url)}}">
                        <i class="iconfont">
                            {% if mItem.li_name == '收到的消息' %}
                            &#xe6a9;
                            {% elif  mItem.li_name == '收到的评论' %}
                            &#xe61b;
                            {% elif  mItem.li_name == '我关注的问题' %}
                            &#xe688;
                            {% elif  mItem.li_name == '我的关注' %}
                            &#xe622;
                            {% elif  mItem.li_name == '我的收藏' %}
                            &#xe7ed;
                            {% elif  mItem.li_name == '个人信息' %}
                            &#xe621;
                            {% elif  mItem.li_name == '账号设置' %}
                            &#xe605;
                            {% endif %}
                        </i>
                        {{mItem.li_name}}
                    </a>
                    <div class="bg"></div>
                </div>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<script src="{{helper.cdnhost}}/assets/js/side_menu.js"></script>
{% endmacro %}
<!--
<div class="list">
    <ul>
        <li>
            <div class="title">
                <div class="opc">
                    <i class="iconfont">&#xe6a9;</i>收到的消息
                </div>
                <div class="bg"></div>
            </div>
        </li>
        <li>
            <div class="title">
                <div class="opc">
                    <i class="iconfont">&#xe61b;</i>收到的评论
                </div>
                <div class="bg"></div>
            </div>
        </li>
        <li>
            <div class="title">
                <div class="opc">
                    <i class="iconfont">&#xe688;</i>我关注的问题
                </div>
                <div class="bg"></div>
            </div>
        </li>
        <li>
            <div class="title">
                <div class="opc">
                    <i class="iconfont">&#xe622;</i>我的关注
                </div>
                <div class="bg"></div>
            </div>
        </li>
        <li>
            <div class="title">
                <div class="opc">
                    <i class="iconfont">&#xe7ed;</i>我的收藏
                </div>
                <div class="bg"></div>
            </div>
        </li>
        <li>
            <div class="title">
                <div class="opc">
                    <i class="iconfont">&#xe621;</i>个人信息
                </div>
                <div class="bg"></div>
            </div>
        </li>
        <li>
            <div class="title">
                <div class="opc">
                    <i class="iconfont">&#xe605;</i>账号设置
                </div>
                <div class="bg"></div>
            </div>
        </li>
    </ul>
</div>-->