<!--在职顾问-->
{% macro advisor(advisor, helper,login_info) %}
<div class="community-advisor dui-box-shadow">
  <ul style="height: 40px">
    <li class="guanzhu">粉丝<span class="guanzhu-num">{{ advisor.fans_count }}</span></li>
    <li style="width: 135px">文章<span class="article-num">{{ advisor.article_count }}</span></li>
  </ul>
  <dl>
    <!--<dt class="advisor-img"><a target="_blank" href="{{helper.urlgen('blog', advisor.uid)}}"><img src="{{helper.avaterimg(advisor.uid, 'small', 0,advisor.version)}}" alt="{{advisor.realname}}" title="{{advisor.realname}}"></a></dt>-->
    <dt class="advisor-img" style="background-image: url('{{helper.avaterimg(advisor.uid, 'small', 0,advisor.version)}}');background-position: center;"><a target="_blank" href="{{helper.urlgen( advisor.uid)}}"></a></dt>
    <dd>
      <p class="advisor-name" >{{ advisor.realname }}</p>
      {% if advisor.organid != null %}
      <p class="advisor-bumen" data-cityId ="{{advisor.organid}}" >{{ advisor.organid | getCity() }}分公司</p>
      {% else %}
      <p class="advisor-bumen" data-cityId ="" >分公司</p>
      {% endif %}
      <p class="advisor-enjoy">{{ advisor.position_name if advisor.position_name else '咨询顾问'
}}</p>
    </dd>
  </dl>
  <div class="advisor-intro">
    <p>{{ advisor.introduce | ellipsis(80) }}</p>
  </div>
  <div class="advisor-btn {% if login_info.uid ==advisor.uid %}advisor-btn-gray{% endif %}">
    <a {% if login_info.uid !== advisor.uid %} onclick="openchat_new('{{ advisor.job_number}}')"{% endif %}class="advisor-zixun"  rel="nofollow">立即咨询</a>
    {% if advisor.is_follow %}
      <span class="advisor-guanzhu guanzhu-btn" data-uid="{{advisor.uid}}">已关注</span>
    {% else %}
      <span class="advisor-guanzhu guanzhu-btn" data-uid="{{advisor.uid}}">关注</span>
    {% endif %}  
  </div>
</div>
<script>
  function  openchat_new(jobnum){
    window.open('http://jesong.jjl.cn/live/chat.dll?c=1&n='+jobnum,'','height=500,width=320,directories=no,location=no,menubar=no,resizeable=no,status=no,toolbar=no,top=100,left=200')
  }
</script>
{% endmacro %}
<!--离职顾问-->
{% macro advisor_leave(advisor, helper,login_info) %}
<div class="community-advisor dui-box-shadow">
  <ul>
    <li class="guanzhu">粉丝<span class="guanzhu-num">{{ advisor.fans_count }}</span></li>
    <li>文章<span class="article-num">{{ advisor.article_count }}</span></li>
  </ul>
  <dl>
    <!--<dt class="advisor-img"><a target="_blank" href="{{helper.urlgen('blog', advisor.uid)}}"><img src="{{helper.avaterimg(advisor.uid, 'small', 1,advisor.version)}}" alt=""></a></dt>-->
    <dt class="advisor-img" style="background-image: url('{{helper.avaterimg(advisor.uid, 'small', 1,advisor.version)}}')"><a target="_blank" href="{{helper.urlgen( advisor.uid)}}"></a></dt>
    <dd>
      <p class="advisor-name">金吉列</p>
    </dd>
  </dl>
  <div class="advisor-btn {% if login_info.uid ==advisor.uid %}advisor-btn-gray{% endif %}" style="margin-top: 10px;text-align: center;">
    <a onclick="openchat_new('{{ advisor.job_number}}')" style="font-size: 14px;color: #fff;">立即咨询</a>
  </div>
</div>
<script>
  function  openchat_new(jobnum){
    window.open('http://jesong.jjl.cn/live/chat.dll?c=1&n='+jobnum,'','height=500,width=320,directories=no,location=no,menubar=no,resizeable=no,status=no,toolbar=no,top=100,left=200')
  }
</script>
{% endmacro %}
<!--参赞-->
{% macro counsellor(advisor,helper,login_info) %}
<div class="community-advisor dui-box-shadow">
  <ul>
    <li class="guanzhu">粉丝<span class="guanzhu-num">{{ advisor.fans_count }}</span></li>
    <li style="width: 135px">文章<span class="article-num">{{ advisor.article_count }}</span></li>
  </ul>
  <dl>
    <dt class="advisor-img"><a target="_blank" href="{{helper.urlgen(advisor.uid)}}"><img src="{{helper.avaterimg(advisor.uid, 'small', 0,advisor.version)}}" alt="{{advisor.realname}}" title="{{advisor.realname}}"></a></dt>
    <dd>
      <p class="advisor-name">{{ advisor.realname }}</p>
    </dd>
  </dl>
  <p class="advisor-sushu" style="width: 100%;text-align: center">{{ advisor.job_number }}</p>
  <div class="counsellor-intro">
    <p>{{ advisor.introduce | ellipsis(80) }}</p>
  </div>
  <div class="advisor-btn {% if login_info.uid ==advisor.uid %}advisor-btn-gray{% endif %}">
    {% if advisor.is_follow %}
      <span class="counsellor-guanzhu guanzhu-btn" data-uid="{{advisor.uid}}">已关注</span>
    {% else %}
      <span class="counsellor-guanzhu guanzhu-btn" data-uid="{{advisor.uid}}">关注</span>
    {% endif %}  
  </div>
</div>
{% endmacro %}

<!--用户-->
{% macro user(userinfo,helper,versionflag) %}
<style>
  .tou_div{
    width: 310px;
    height: 470px;
    background: #fff;
  }
  .tou_title{
    width: 310px;
    height: 40px;
    background: #F3F3F3;
  }
  .tou_title1{
    font-size: 16px;
    color: #333;
    margin-left: 20px;
    line-height: 40px;
  }
  .tou_title2{
    font-size: 10px;
    color: #666;
    float: right;
    margin-right: 20px;
    line-height: 40px;
  }
  .tou_con{
    width: 270px;
    height: 340px;
    background: #f3f3f3;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
  }
  .upload-label{
    width: 84px;
    height: 26px;
    line-height: 20px;
    text-align: center;
    margin-top: 160px;
    font-size: 12px;
    color: #666;
    background: #fff;
    border: 1px #f3f3f3 solid;
  }
  .tou_but{
    width: 310px;
    margin-top: 20px;
    text-align: center;
  }
  .tou_but input{
    width: 80px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    background: #C13232;
    border: 1px #fff solid;
  }
  .tou_but input.tou_but_1{
    background: #F3F3F3;
    color: #666;
  }
  #preview{
    width:270px;
    height:340px;
    display: none;
  }

  .upload-btn{
    opacity: 0;
    filter: Alpha(opacity=0);
    height: 0;
  }
</style>
<div class="community-advisor dui-box-shadow">
  <dl>
    <!--<dt class="advisor-img"><a target="_blank" ><img src="{{helper.avaterimg(userinfo.uid, 'small', 0,userinfo.version,versionflag)}}" alt=""></a></dt>-->
    <dt class="advisor-img" style="background-image: url('{{helper.avaterimg(userinfo.uid, 'small', 0,userinfo.version,versionflag)}}')"><a target="_blank"></a></dt>
    <dd>
      <p class="user-name">{{ userinfo.nickname }}</p>
    </dd>
  </dl>
  <ul style="border-top: 1px solid #dcdcdc;">
    <li class="guanzhu">关注<span class="guanzhu-num">{{ userinfo.fans_count }}</span></li>
    <li style="width: 135px">收藏<span class="article-num">{{ userinfo.favourite_count }}</span></li>
  </ul>
</div>
<!--<div class="tou_div" style="display: none">
  <div class="tou_title">
    <span class="tou_title1">头像设置</span><span class="tou_title2">X</span>
  </div>
  <form method="post"  enctype="multipart/form-data" class="clearfix" id="upload-form">
  <div class="tou_con">
    <div id="previewBox" style="position:relative;">
      <img src="" id="preview" />
      <label class="upload-label" for="upload-btn">选择图片</label>
      <input type="file" id="upload-btn" class="upload-btn" accept="image/*" multiple>
      <div style="width: 60px;height: 60px;position:absolute;left: 50%;margin-left: -30px;top: 50%;margin-top: -30px;display: none;z-index: 999;" id="loading">
        <img src="{{helper.cdnhost}}/assets/img/xubox_loading1.gif" alt="" style="width: 100%;height: 100%;"/></div>
    </div>
  </div>
  <div class="tou_but">
    <input type="button" value="确定" id ="fileSubmit" />
  </div>
  </form>
</div>-->
<script  src="{{helper.cdnhost}}/assets/js/touxiangUpload.js"></script>
{% endmacro %}
