.community-advisor{
  border-top:2px solid #c13232;
  box-shadow:1px 0 5px rgba(0,0,0,0.4);
  width:100%;
  background:#fff;
}
.community-advisor ul{
  height: 37px;
  border-bottom: 1px solid #dcdcdc;
}
.community-advisor ul li{
  float:left;
  width:139.5px;
  text-align: center;
  margin-top:12px;
  font-size:14px;
  color:#666666;
}
.community-advisor .guanzhu{
  border-right:1px solid #dcdcdc;
  margin-right: 0;
}
.community-advisor .guanzhu-num,.community-advisor .article-num{
  color:#333333;
  padding-left:10px;
}
.community-advisor dl{
  padding:0 80px;
  text-align: center;
  margin-top:20px;
}
/*.community-advisor .advisor-img img{
   display: block;
   width: 100px;
   height:126px;
   margin-bottom:20px;
   margin-left:10px;

 }*/
.community-advisor .advisor-img{
  width: 126px;
  height:126px;
  margin-bottom:20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.community-advisor .advisor-img a{
  display: block;
  width: 100%;
  height: 100%;
}
.community-advisor .advisor-img .jjl_mark {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 28px;
  /*color: #fff;
  line-height: 28px;
  text-align: center;
  background-color: rgba(193,50,50,0.4);
  font-size: 18px;*/
}
.community-advisor .advisor-name{
  font-size: 18px;
  text-align: center;
  color:#c13232;
  line-height: 18px;
}
.community-advisor .user-name{
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 20px;
  color:#333;
}
.community-advisor .advisor-bumen,.community-advisor .advisor-enjoy{
  height: 14px;
  margin-top:10px;
  font-size: 14px;
  color:#666666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  line-height: 14px;
}
.community-advisor .advisor-sushu{
  height: 16px;
  font-size: 14px;
  color:#666666;
  margin-top: 16px;
  text-align: center;
}
.community-advisor .advisor-intro{
  padding:13px 20px 0px;
  font-size: 12px;
  color:#666666;
}
.community-advisor .counsellor-intro{
  text-indent: 2em;
  padding:15px 20px;
  font-size: 12px;
  color:#666666;

}
.community-advisor .counsellor-intro p{
  line-height: 24px;
  word-wrap:break-word; 
  word-break:break-all; 
  overflow: hidden;
}
.community-advisor .advisor-intro p{
  line-height: 24px;
  word-wrap:break-word; 
  word-break:break-all; 
  overflow: hidden;
}
.community-advisor .advisor-btn{
  height: 40px;
  font-size:20px;
  color:#ffffff;
  line-height: 40px;
  padding-bottom: 15px;
  padding-top: 2px;
}
.community-advisor .advisor-btn-gray .advisor-zixun{
  background:#dcdcdc;
}
.community-advisor .advisor-btn-gray .advisor-guanzhu {
  background:#dcdcdc;
  border: none;
  color: #fff;
  padding: 4px 38px;
}
.community-advisor .advisor-zixun{
  font-size: 14px;
  padding:4px  28px;
  cursor: pointer;
  margin-left: 20px;
  color: #fff;
  background: #c13232;
}
.community-advisor .advisor-guanzhu {
  font-size: 14px;
  padding:3px 38px;
  cursor: pointer;
  margin-left: 18px;
  color: #c13232;
  border: 1px solid #c13232;
  border-radius: 4px;
}
.community-advisor .advisor-zixun{
  border-radius: 4px;
}
.community-advisor .counsellor-guanzhu{
  font-size: 14px;
  display: block;
  text-align: center;
  cursor: pointer;
}

