<!--在职顾问-->
{% macro advisor(advisor, helper,login_info) %}
<div class="community-advisor dui-box-shadow">
  <ul style="height: 40px">
    <li class="guanzhu">粉丝<span class="guanzhu-num">{{ advisor.fans_count }}</span></li>
    <li style="width: 135px">文章<span class="article-num">{{ advisor.article_count }}</span></li>
  </ul>
  <div class="advisor-info-box">
    <dl>
      <dt class="advisor-img" onclick="open_main('{{advisor.uid}}')" style="background-image: url('{{helper.avaterimg(advisor.uid, 'small', advisor.status,advisor.version)}}');background-position: 0 0;cursor: pointer;"></dt>
      <dd>
        <p class="advisor-name" >{{ advisor.realname }}</p>
        {% if advisor.organid != null %}
        <p class="advisor-bumen" data-cityId ="{{advisor.organid}}" style="width: 200px;margin-left: -40px;">金吉列{{ advisor.organid | getCity() }}分公司</p>
        {% else %}
        <p class="advisor-bumen" data-cityId ="" style="width: 200px;margin-left: -40px;">金吉列分公司</p>
        {% endif %}
        <p class="advisor-enjoy">
          {{ advisor.position_name if advisor.position_name else '咨询顾问'}}
        </p>
      </dd>
    </dl>
    <div class="advisor-intro">
      {% if advisor.introduce.length > 74 %}
      <p class="expand2" data-tex="{{ advisor.introduce | ellipsis(74) }}">{{ advisor.introduce | ellipsis(74) }}<span class="expand"  data-text="{{ advisor.introduce }}" style="color: #c13232;margin-left: 6px;cursor: pointer">展开全部</span></p>
      {% else %}
      <p class="expand1">{{ advisor.introduce }}</p>
      {% endif %}
    </div>
    <div class="advisor-btn {% if login_info.uid ==advisor.uid %}advisor-btn-gray{% endif %}">
      <a {% if login_info.uid !== advisor.uid %} onclick="openchat_new('{{ advisor.new_job_number}}')"{% endif %}class="advisor-zixun"  rel="nofollow">立即咨询</a>
      {% if advisor.is_follow %}
        <span class="advisor-guanzhu guanzhu-btn" style="padding: 3px 31px;" data-uid="{{advisor.uid}}">已关注</span>
      {% else %}
        <span class="advisor-guanzhu guanzhu-btn" data-uid="{{advisor.uid}}">关注</span>
      {% endif %}  
    </div>
    <div class="advisor-code"></div>
    <div class="advisor-code-open">
      <div class="advisor-code-open-top">
        <img class="advisor-code-open-img" src="{{helper.imageThumb(advisor.qrcode)}}" />
      </div>
      <div class="advisor-code-open-bottom">
        微信扫一扫，免费咨询
      </div>
    </div>
  </div>
</div>
<script>
  function open_main(uid){
    window.open('/' + uid);
  }
  $(function(){
    function openchat_new(jobnum){
      openJesongChatByCus(1,jobnum)
    }
    $('.expand2').on('click','.expand',function(){
      var text = $(this).data('text');
      $('.expand2').html(text+'<span class="expand3" style="color: #c13232;margin-left: 6px;cursor: pointer">收起</span>');
    });
    $('.expand2').on('click','.expand3',function(){
      var tex = $(this).parent('.expand2').data('tex');
      /* $('.expand1').hide();*/
      $('.expand2').html(tex +'<span class="expand"  data-text="{{ advisor.introduce | nl2br }}" style="color: #c13232;margin-left: 6px;cursor: pointer">展开全部</span>')
    });
    $(".advisor-code").on('click',function(){
      if($(".advisor-code-open").css("display")=="block"){
        $(".advisor-code-open").css("display","none");
        $(this).css({'background':'url('+ajaxUrlPrefix.cdnhost+'/assets/img/erweima@2x.png) no-repeat 0 0',
        'background-size':'70px 70px'})
      }else{
        $(".advisor-code-open").css("display","block");
        $(this).css({'background':'url('+ajaxUrlPrefix.cdnhost+'/assets/img/personal@2x.png) no-repeat 0 0',
        'background-size':'70px 70px'})
      }
    })
  })
</script>
{% endmacro %}
<!-- 推荐顾问 -->
{% macro chief_advisor(advisor, helper,login_info, index) %}
<div class="community-advisor dui-box-shadow">
  <ul style="height: 40px">
    <li class="guanzhu" style="width: 131px">粉丝<span class="guanzhu-num_{{advisor.uid}}" data-fans="{{advisor.fans_count}}" style="padding-left: 10px;">{{ advisor.fans_count }}</span></li>
    <li style="width: 135px">文章<span class="article-num">{{ advisor.article_count }}</span></li>
  </ul>
  <div class="advisor-info-box" style="height:400px">
    <dl>
      <dt class="advisor-img" onclick="advisor_img({{advisor.uid}})" style="background-image: url('{{helper.avaterimg(advisor.uid, 'small', advisor.status,advisor.version)}}');background-position: 0 0;cursor: pointer;"></dt>
      <dd>
        <p class="advisor-name" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;line-height: 20px;">{{ advisor.realname }}</p>
        {% if advisor.organid != null %}
        <p class="advisor-bumen" data-cityId ="{{advisor.organid}}" style="width: 200px;margin-left: -48px;">金吉列{{ advisor.organid | getCity() }}分公司</p>
        {% else %}
        <p class="advisor-bumen" data-cityId ="" style="width: 200px;margin-left: -48px;">金吉列分公司</p>
        {% endif %}
        <p class="advisor-enjoy">{{ advisor.position_name if advisor.position_name else '咨询顾问'}}</p>
      </dd>
    </dl>
    <div class="advisor-intro">
      {% if advisor.introduce.length > 74 %}
      <p class="expand2_{{advisor.uid}}" data-tex="{{ advisor.introduce | ellipsis(74) }}" data-text="{{ advisor.introduce }}">{{ advisor.introduce | ellipsis(74) }}</p><!--<span class="expand_{{advisor.uid}}" onclick="text_show({{advisor.uid}})" data-text="{{ advisor.introduce }}" style="color: #c13232;margin-left: 6px;cursor: pointer">展开全部</span>-->
      {% else %}
      <p class="expand1">{{ advisor.introduce }}</p>
      {% endif %}
    </div>
    <div class="advisor-btn {% if login_info.uid ==advisor.uid %}advisor-btn-gray{% endif %}" style="position: absolute;bottom: 1px;">
      <span {% if login_info.uid !== advisor.uid %} data-new_job_number="{{ advisor.new_job_number}}" onclick="openchat_new({{advisor.uid}})" id="openchat_{{advisor.uid}}" {% endif %} class="advisor-zixun"  style="padding: 4px 24px;" rel="nofollow">立即咨询</span>
      {% if advisor.is_follow %}
        <span class="advisor-guanzhu guanzhu-btn_{{advisor.uid}}" style="padding: 3px 31px;" data-uid="{{advisor.uid}}" onclick="guanzhu({{advisor.uid}})">已关注</span>
      {% else %}
        <span class="advisor-guanzhu guanzhu-btn_{{advisor.uid}}" data-uid="{{advisor.uid}}" onclick="guanzhu({{advisor.uid}})">关注</span>
      {% endif %}  
    </div>
    <div class="advisor-code"></div>
    <div class="advisor-code-open">
      <div class="advisor-code-open-top">
        <img class="advisor-code-open-img" src="{{helper.imageThumb(advisor.qrcode)}}" />
      </div>
      <div class="advisor-code-open-bottom">
        微信扫一扫，免费咨询
      </div>
    </div>
  </div>
</div>
{% endmacro %}
<!--离职顾问-->
{% macro advisor_leave(advisor, helper,login_info) %}
{#<div class="community-advisor dui-box-shadow">
  <ul>
    <li class="guanzhu">粉丝<span class="guanzhu-num">{{ advisor.fans_count }}</span></li>
    <li>文章<span class="article-num">{{ advisor.article_count }}</span></li>
  </ul>
  <dl>
    <!--<dt class="advisor-img"><a target="_blank" href="{{helper.urlgen('blog', advisor.uid)}}"><img src="{{helper.avaterimg(advisor.uid, 'small', 1,advisor.version)}}" alt=""></a></dt>-->
    <dt class="advisor-img" style="background-image: url('{{helper.avaterimg(advisor.uid, 'small', advi,advisor.version)}}');background-position: 0 0;cursor: pointer;"></dt>
    <dd>
      <p class="advisor-name">金吉列</p>
    </dd>
  </dl>
  <div class="advisor-btn advisor-btn-gray" style="margin-top: 10px;text-align: center;cursor: default;">
    <a href="javascript:void(0);" style="font-size: 14px;color: #fff;cursor: default;">立即咨询</a>
  </div>
</div>#}
<div class="community-advisor dui-box-shadow" style="position:relative;">
  <ul style="height: 40px">
    <li class="guanzhu">粉丝<span class="guanzhu-num">{{ advisor.fans_count }}</span></li>
    <li style="width: 135px">文章<span class="article-num">{{ advisor.article_count }}</span></li>
  </ul>
  <dl>
    <!--<dt class="advisor-img"><a target="_blank" href="{{helper.urlgen('blog', advisor.uid)}}"><img src="{{helper.avaterimg(advisor.uid, 'small', 0,advisor.version)}}" alt="{{advisor.realname}}" title="{{advisor.realname}}"></a></dt>-->
    <dt class="advisor-img" onclick="open_main('{{advisor.uid}}')" style="background-image: url('{{helper.avaterimg(advisor.uid, 'small', advi,advisor.version)}}');background-position: 0 0;cursor: pointer;"></dt>
    <dd>
      <p class="advisor-name" >{{ advisor.realname }}</p>
      {% if advisor.organid != null %}
      <p class="advisor-bumen" data-cityId ="{{advisor.organid}}" >金吉列{{ advisor.organid | getCity() }}分公司</p>
      {% else %}
      <p class="advisor-bumen" data-cityId ="" >金吉列分公司</p>
      {% endif %}
      <p class="advisor-enjoy">{{ advisor.position_name if advisor.position_name else '咨询顾问'
        }}</p>
    </dd>
  </dl>
  <div class="advisor-intro">
    {% if advisor.introduce.length > 74 %}
    <p class="expand2" data-tex="{{ advisor.introduce | ellipsis(74) }}">{{ advisor.introduce | ellipsis(74) }}<span class="expand"  data-text="{{ advisor.introduce }}" style="color: #c13232;margin-left: 6px;cursor: pointer">展开全部</span></p>
    {% else %}
    <p class="expand1">{{ advisor.introduce }}</p>
    {% endif %}
  </div>
  <div class="advisor-btn {% if login_info.uid ==advisor.uid %}advisor-btn-gray{% endif %}">
    <a {% if login_info.uid !== advisor.uid %} onclick="openchat_new('{{ advisor.new_job_number}}')"{% endif %}class="advisor-zixun"  rel="nofollow">立即咨询</a>
    {% if advisor.is_follow %}
    <span class="advisor-guanzhu guanzhu-btn"  data-uid="{{advisor.uid}}">已关注</span>
    {% else %}
    <span class="advisor-guanzhu guanzhu-btn" data-uid="{{advisor.uid}}">关注</span>
    {% endif %}
  </div>
  {% if advisor.header_avatar_big %}
  <div class="tan_tupian" style="width: 220px;height: 276px;position: absolute;top: 0;left: 236px;z-index: 999;display: none"><img src="{{ advisor.header_avatar_big }}" alt=""></div>
  {% endif %}
</div>
<script>
  function open_main(uid){
    window.open('/' + uid);
  }
  $(function(){
    function  openchat_new(jobnum){
      openJesongChatByCus(1,jobnum)
    }
    $('.expand2').on('click','.expand',function(){
      var text = $(this).data('text');
      $('.expand2').html(text+'<span class="expand3" style="color: #c13232;margin-left: 6px;cursor: pointer">收起</span>');
    });
    $('.expand2').on('click','.expand3',function(){
      var tex = $(this).parent('.expand2').data('tex');
      /* $('.expand1').hide();*/
      $('.expand2').html(tex +'<span class="expand"  data-text="{{ advisor.introduce | nl2br }}" style="color: #c13232;margin-left: 6px;cursor: pointer">展开全部</span>')
    });
    // $('.advisor-img').on('click',function(){
    //   if($(".tan_tupian").css("display")=="block"){
    //     $(".tan_tupian").css("display","none");
    //   }else{
    //     $(".tan_tupian").css("display","block");
    //   }
    // })
  })
</script>
{% endmacro %}
<!--参赞-->
{% macro counsellor(advisor,helper,login_info) %}
<div class="community-advisor dui-box-shadow">
  <!--<ul>-->
    <!--<li class="guanzhu">粉丝<span class="guanzhu-num">{{ advisor.fans_count }}</span></li>-->
    <!--<li style="width: 135px">文章<span class="article-num">{{ advisor.article_count }}</span></li>-->
  <!--</ul>-->
  <dl>
    <dt class="advisor-img" style="background-image: url('{{helper.avaterimg(advisor.uid, 'small', 0,advisor.version)}}');background-position: 0 0;"></dt>
    <dd>
      <p class="advisor-name">{{ advisor.realname }}</p>
    </dd>
  </dl>
  <p class="advisor-sushu" style="width: 100%;text-align: center">{{ advisor.job_number }}</p>
  <p class="advisor-sushu" style="width: 100%;text-align: center;padding-bottom: 20px">{{ advisor.position_name }}</p>
  <!--<div class="counsellor-intro">-->
    <!--<p>{{ advisor.introduce | ellipsis(80) }}</p>-->
  <!--</div>-->
  <!--<div class="advisor-btn {% if login_info.uid ==advisor.uid %}advisor-btn-gray{% endif %}">-->
    <!--{% if advisor.is_follow %}-->
      <!--<span class="counsellor-guanzhu guanzhu-btn" data-uid="{{advisor.uid}}">已关注</span>-->
    <!--{% else %}-->
      <!--<span class="counsellor-guanzhu guanzhu-btn" data-uid="{{advisor.uid}}">关注</span>-->
    <!--{% endif %}  -->
  <!--</div>-->
</div>
{% endmacro %}
<!--在职顾问-中心-->
{% macro advisor_center(advisor, helper,login_info) %}
<div class="community-advisor dui-box-shadow">
  <ul style="height: 40px">
    <li class="guanzhu">粉丝<span class="guanzhu-num">{{ advisor.fans_count }}</span></li>
    <li style="width: 135px">文章<span class="article-num">{{ advisor.article_count }}</span></li>
  </ul>
  <dl>
    <!--<dt class="advisor-img"><a target="_blank" href="{{helper.urlgen('blog', advisor.uid)}}"><img src="{{helper.avaterimg(advisor.uid, 'small', 0,advisor.version)}}" alt="{{advisor.realname}}" title="{{advisor.realname}}"></a></dt>-->
    <!-- <div style="position: relative;">
      
      <img src="{{helper.cdnhost}}/assets/img/tou_guwen.png" alt="" style="position: absolute;right: 0px;bottom: 0px;width: 34px;height: 34px;">
    </div> -->
    <dt class="advisor-img" style="background-image: url('{{helper.avaterimg(advisor.uid, 'small', advi,advisor.version)}}');background-position: 0 0;cursor: pointer;"></dt>
    <dd>
      <p class="advisor-name" >{{ advisor.realname }}</p>
      {% if advisor.organid != null %}
      <p class="advisor-bumen" data-cityId ="{{advisor.organid}}" style="width: 200px;margin-left: -40px;">金吉列{{ advisor.organid | getCity() }}分公司</p>
      {% else %}
      <p class="advisor-bumen" data-cityId ="" style="width: 200px;margin-left: -40px;">金吉列分公司</p>
      {% endif %}
      <p class="advisor-enjoy">{{ advisor.position_name if advisor.position_name else '咨询顾问'
        }}</p>
    </dd>
  </dl>
  <div class="advisor-intro">
    {% if advisor.introduce.length > 74 %}
    <p class="expand2" data-tex="{{ advisor.introduce | ellipsis(74) }}">{{ advisor.introduce | ellipsis(74) }}<span class="expand"  data-text="{{ advisor.introduce }}" style="color: #c13232;margin-left: 6px;cursor: pointer">展开全部</span></p>
    {% else %}
    <p class="expand1">{{ advisor.introduce }}</p>
    {% endif %}
  </div>
  <div class="advisor-btn {% if login_info.uid ==advisor.uid %}advisor-btn-gray{% endif %}">
    <a {% if login_info.uid !== advisor.uid %} onclick="openchat_new('{{ advisor.job_number}}')"{% endif %}class="advisor-zixun"  rel="nofollow">立即咨询</a>
    {% if advisor.is_follow %}
    <span class="advisor-guanzhu guanzhu-btn" data-uid="{{advisor.uid}}">已关注</span>
    {% else %}
    <span class="advisor-guanzhu guanzhu-btn" data-uid="{{advisor.uid}}">关注</span>
    {% endif %}
  </div>
</div>
<script>
  $(function(){
    function  openchat_new(jobnum){
      openJesongChatByCus(1,jobnum)
    }
    $('.expand2').on('click','.expand',function(){
      var text = $(this).data('text');
      $('.expand2').html(text+'<span class="expand3" style="color: #c13232;margin-left: 6px;cursor: pointer">收起</span>');
    });
    $('.expand2').on('click','.expand3',function(){
      var tex = $(this).parent('.expand2').data('tex');
      /* $('.expand1').hide();*/
      $('.expand2').html(tex +'<span class="expand"  data-text="{{ advisor.introduce | nl2br }}" style="color: #c13232;margin-left: 6px;cursor: pointer">展开全部</span>')
    });
  })
</script>
{% endmacro %}

<!--用户-->
{% macro user(userinfo,helper,versionflag) %}
<style>
  .tou_div{
    width: 310px;
    height: 470px;
    background: #fff;
  }
  .tou_title{
    width: 310px;
    height: 40px;
    background: #F3F3F3;
  }
  .tou_title1{
    font-size: 16px;
    color: #333;
    margin-left: 20px;
    line-height: 40px;
  }
  .tou_title2{
    font-size: 10px;
    color: #666;
    float: right;
    margin-right: 20px;
    line-height: 40px;
  }
  .tou_con{
    width: 270px;
    height: 340px;
    background: #f3f3f3;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
  }
  .upload-label{
    width: 84px;
    height: 26px;
    line-height: 20px;
    text-align: center;
    margin-top: 160px;
    font-size: 12px;
    color: #666;
    background: #fff;
    border: 1px #f3f3f3 solid;
    line-height: 340px;
  }
  .tou_but{
    width: 310px;
    margin-top: 20px;
    text-align: center;
  }
  .tou_but input{
    width: 80px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    background: #C13232;
    border: 1px #fff solid;
  }
  .tou_but input.tou_but_1{
    background: #F3F3F3;
    color: #666;
  }
  #preview{
    width:270px;
    height:340px;
    display: none;
  }

  .upload-btn{
    opacity: 0;
    filter: Alpha(opacity=0);
    height: 0;
  }
</style>
<div class="community-advisor dui-box-shadow">
  <dl>
    <!--<dt class="advisor-img"><a target="_blank" ><img src="{{helper.avaterimg(userinfo.uid, 'small', 0,userinfo.version,versionflag)}}" alt=""></a></dt>-->
    <dt class="advisor-img" style="background-image: url('{{helper.avaterimg(userinfo.uid, 'small', 0,userinfo.version,userinfo.usertype, userinfo.headimg)}}')"><a target="_blank"></a></dt>
    <dd>
      <p class="user-name">{{ userinfo.nickname }}</p>
    </dd>
  </dl>
  <ul style="border-top: 1px solid #dcdcdc;">
    <li class="guanzhu">关注<span class="guanzhu-num">{{ userinfo.guanzhu_count }}</span></li>
    <li style="width: 135px">收藏<span class="article-num">{{ userinfo.shoucang_count}}</span></li>
  </ul>
</div>
<!--<div class="tou_div" style="display: none">
  <div class="tou_title">
    <span class="tou_title1">头像设置</span><span class="tou_title2">X</span>
  </div>
  <form method="post"  enctype="multipart/form-data" class="clearfix" id="upload-form">
  <div class="tou_con">
    <div id="previewBox" style="position:relative;">
      <img src="" id="preview" />
      <label class="upload-label" for="upload-btn">选择图片</label>
      <input type="file" id="upload-btn" class="upload-btn" accept="image/*" multiple>
      <div style="width: 60px;height: 60px;position:absolute;left: 50%;margin-left: -30px;top: 50%;margin-top: -30px;display: none;z-index: 999;" id="loading">
        <img src="{{helper.cdnhost}}/assets/img/xubox_loading1.gif" alt="" style="width: 100%;height: 100%;"/></div>
    </div>
  </div>
  <div class="tou_but">
    <input type="button" value="确定" id ="fileSubmit" />
  </div>
  </form>
</div>-->
<script  src="{{helper.cdnhost}}/assets/js/touxiangUpload.js"></script>
{% endmacro %}
