
/*======留学问题模块内容 样式 start======*/




.liuxue-prob-content-div{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.liuxue-prob-content-img{
  width:262px;
  height:198px;
  display: block;
  float:left;
  
}

.liuxue-prob-content-ul{
  float:left;
  width:576px;
  
}

.liuxue-prob-content-ul li{
   width:268px;
   margin-left: 20px;
   overflow: hidden;
  text-overflow:ellipsis;
   white-space: nowrap;
   font-size: 14px;
   color:#333;
   margin-bottom: 16px;
   float:left;
   line-height: 14px;
}
