.nav-eighth{
  width:100%;

  background:#ffffff;
}
.nav-eighth a{
  color:#333333;
}
.nav-eighth-log{
  float:left;
  margin-top: 10px;
}
.eighth-log{
  width:152px;
  height: 40px;
}
.nav-eighth-city{
  float:left;
  height: 35px;
  margin:20px 22px 0 30px;
  color:#333333;
  font-size:14px;
  position: relative;
}

.nav-eighth-city .city-box{position: absolute;display:none;z-index: 999;top: 34px; width: 584px; background: #fff; border-top: 2px solid #C13232;*left:-10px}
.nav-eighth-city  .city-box .arrow{position: absolute; top:-9px; left: 112px; width: 5px; height: 9px; display: inline-block;}
.nav-eighth-city .city-box .city-cont{border: 1px solid #D2D2D2; border-top: none; padding: 18px 0;}
.nav-eighth-city .city-box .city-cont a{float: left; width: 70px; text-align: center; padding: 0 5px; display: block; color: #666; font-size:14px; line-height: 28px;cursor: pointer}
.nav-eighth-city  .city-box .city-cont a:hover{color: #C13232;}
.nav-eighth-city  .city:hover .city-box{display: block;}
.nav-eighth-city:hover .city-box{display: block;}
.top-div{
  width: 100%;
  height: 54px;
  border-bottom: 1px dashed #dcdcdc;
  font-size: 14px;
  color: #333;
}
.top-div-1{
  height: 18px;
  margin-left: 15px;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.top-div-1 i{
  font-size: 16px;
  color:#C13232;
  margin-right:2px;
}


.nav-eighth-city .nav-map{
  font-size:16px;
  margin-right:4px;
  color:#c13232;
}
.nav-eighth-city .city-dropdpwn{
  font-size:8px;
  margin-left:4px;
  color:#333333;
}
.nav-eighth-list{
  color:#ffffff;
  float:left;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
}
.will{
  float:left;
}
.will span{
  display: block;
}
.will a{
  color:#333333;
}
.will .go-down{
  font-size: 8px;
  margin-left:4px;
  color:#333333;
}

.will{
  position: relative;
}
.three-font{
  width: 70px;
  display: block;
  float:left;
}
.will-do{
  position: absolute;
  top:60px;
  display:none;
  z-index: 999;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
}
/*.will-read:hover .will-read-list{
  display: block;
}
.will-go:hover .will-go-list{
  display: block;
}*/
.will-do ul a{
  display: block;
  width: 70px;
  height:30px;
  line-height: 30px;
  background:  #ffffff;
  color:#333333;
}
.will-do ul a:hover{
  background: #f3f3f3;
  color:#c13232;
}
.two-font{
  display: block;
  float:left;
  width:40px;
  height:60px;
}
.nav-jjl:hover,.two-font:hover{
  color:#c13232;
}
.naveighth-li:hover .naveighth-ol{
  display: block;
}
.on{
  background: #f3f3f3;
  color:#c13232;
}
.nav-eighth-search{
  width:200px;
  height:28px;
  float:left;
  margin-top:16px;
  *margin-top:-44px;
  margin-left:38px;
  *margin-left:484px;
  border: 1px solid #c13232;

}
.nav-eighth-search .eighth-search{
  height: 26px;
  display: block;
  width:168px;
  float:left;
  line-height: 26px;
  border:none;
}
.nav-eighth-search .eighth-search:focus{
  border:none
}

.search-box{
  font-size: 16px;
  width:30px;
  height:28px;
  line-height: 30px;
  text-align: center;
  background: #c13232;
  color:#ffffff;
  display:block;
  float:left;
  margin-left:170px;
  margin-top:-28px;
  *margin-top:-28px;
  *margin-left:654px;
}
.top-input-but{
  font-size:16px;
}
.nav-eighth-list a:hover{
  color:#c13232;
}
.naveighth-li{
  position: relative;
}
.naveighth-li .naveighth-ol{
  position: absolute;
  background: #ffffff;
  left:70px;
  display: none;
  top:0px;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
}

