.nav-sixth{
  height: 44px;
  background: url(../../img/bg1.png)  repeat-x;
  position: relative;
  color:#ffffff;
  font-size:14px;
}
.nav-sixth a{
  color:#ffffff;
  font-size:14px;
}
.nav-sixth .nav-sixth-a{
  color:#ffffff;
}

.nav-sixth .home-nav-sixth{
  display: block;
  width: 80px;
  font-size:18px;
  line-height: 44px;
  text-align: center;
  float:left
}
.nav-sixth .home-nav-sixth:hover{
  text-decoration: underline;
}
.nav-sixth .nav-sixth-list{
  float:left;
}
.nav-sixth-list .abroad-study{
  float:left;
  position: relative;
  width: 210px;
  border-right:1px solid #ffffff;
  border-left:1px solid #ffffff;
  text-align: center;
  height: 40px;
  margin-top: 4px;
  background: #ffffff;
  margin-left: 10px;
  border-radius:5px 5px 0px 0px;
  box-shadow: 2px 1px 3px 2px rgba(0,0,0,0.2);
}
.abroad-study .nav-select{
  font-size: 20px;
  line-height: 40px;
  display: block;
  float:left;
  width: 210px;
  text-align: center;
  color:#c13232;
}
.abroad-study span a{
  display: inline-block;
  margin-right:4px;
  font-size:18px;

}
.nav-select .nav-home{
  font-size:16px;
  padding-right:4px;
  line-height: 40px;
}
.abroad-study .abroad-list{
  position: absolute;
  width: 210px;
  text-align: center;
  top:40px;
  display: none;
  z-index:999;
  *left:-1px;

}
.abroad-list li a{
  font-size: 16px;
  color:#333333;
}
.abroad-list .go-down{
  font-size: 10px;
  margin-top:17px;
  display: inline-block;
}
.abroad-list .nav-home{
  font-size: 16px;
}

.abroad-study .abroad-list ul{
  background:#ffffff;
  box-shadow: 0 1px 3px 3px rgba(0,0,0,0.1);
}
.abroad-list ul li{
  height: 40px;
  line-height: 40px;
}
.abroad-list ul .lii a{
  color:#333333;
  font-size: 16px;
}
.abroad-list ul .lii:hover{
  background:#f3f3f3;;
}
.abroad-list ul .lii:hover .uli-a{
  color:#c13232;;
}
.abroad-list ul .lii:hover .countries-list{
  display: block;
}
.abroad-study a:hover{
  color:#c13232;
}

.nav-sixth-a{
  display: block;
  float: left;
  line-height:44px;
  padding:0 20px;
  background: url(../../img/bg2.png) no-repeat right center;

}
.nav-sixth-a:hover{
  text-decoration: underline;
  color:#ffffff;
}
.abroad-list ul .lii{
  position: relative;
}

.countries-list{
  position:absolute;
  left:210px;
  width: 174px;
  top:0px;
  background:#ffffff;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
  display: none;
  border-left: 2px solid #CCCCCC;
}

.countries-list li a{
  color:#333333;
  font-size: 16px;
}
.countries-list li:hover{
  background: #f3f3f3;
}
.countries-list li:hover a{
  color:#c13232;
}


