.school-left img {
  width: 198px;
  height: 148px;
}
.haha {
  width: 100%;
  height: 100%;
  display: block;
}
.schoolss {
  border-left: 1px solid #C13232;
  height: 148px;
  width: 1px;
  float: left;
  margin-top: 20px;

}
.schools {
  position: relative;
  width: 840px;
  height: 190px;
  margin: 20px;
}
.schools:hover {
  background: #f1f4f6;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.14);
}
.school-left {
  width: 198px;
  height: 148px;
  float: left;
  margin: 20px;
}
.school-right {
  height: 148px;
  float: left;
  margin-top: 20px;
}
.school-right h2 {
  font-size: 14px;
  color: #C13232;
  font-weight: 500;
}
.school-p1 {
  margin-top: 3px;
  color: #333333;
}
.school-p2 {
  margin: 12px 0;
  color: #333333;
}
.school-p4 {
  margin: 40px 0 4px 0;
}
.school-p3-span {
  margin: 0 100px;
}
.school-p3 span{
  width: 190px;
  display: block;
  float: left;
  color: #333;
}
.school-p4 span {
  width: 190px;
  display: block;
  float: left;
  color: #333;
}
.school-con {
  width: 130px;
  height: 23px;
  position: absolute;
  top:20px;
  right: 0;
  line-height: 20px;
}
/*.pagination-box{
  float:left;
  margin-top: 82px;
  margin-bottom:82px;
  position: relative;
  left:50%;
}*/
.pagination-box .pagination-large{
  margin:0;
}
.icon{
  width: 16px;
  height: 16px;
  position: relative;
  left: 0;
  top: 1px;
}