.case-item{
    width: 410px;
    height: 144px;
    background-color: #fafafa;
}
.case-item .case-con{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.case-item:hover{
    background-color: #f1f4f6;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.14);
}
.case-item .case-img {
    width: 134px;
    height: 124px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    padding-top: 10px;
}
.case-item .case-img span {
    width: 1px;
    height: 124px;
    background-color: #C13232;
    float: left;
    margin-right: 9px;
}
.case-item .case-img img{
    display: block;
    width: 124px;
    height: 124px;
    float: left;
}
.case-item .case-info p {
    color: #666;
    font-size: 12px;
    line-height: 12px;
}
.case-item .case-info p.case-title{
    font-size: 14px;
    line-height: 14px;
    color: #333;
    padding: 20px 0;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.case-item .case-info p.case-title span {
    color: #1e96ff;
}
.case-item .case-info p.case-advisor span:last-child{
    margin-left: 20px;
}
.case-item .case-info p.case-advisor em{
    color: #333;
    font-style: normal;
}
.case-item .case-info p.country{
    margin: 16px 0;
}
.case-btn{
    position: absolute;
    width: 66px;
    right: 20px;
    bottom: 20px;
}