/*院校咨询*/
.unuversitiescon {
  width: 880px;
  height: 222px;
  float: left;
  background: #fff;
  border-bottom: 1px dashed #dcdcdc;
  position: relative;
}
.unuversitiescon img {
  width: 326px;
  height: 182px;
  float: left;
  margin: 20px;
}
.unuversitiescon img.new_xiao {
  width: 228px;
  height: 172px;
  float: left;
  margin: 20px;
}
.unuversitiescon_content {
  width: 494px;
  margin-top: 20px;
  margin-right: 20px;
  float: left;
}
.universitiescon_content_title a.title{
  width: 370px;
  height: 18px;
  font-size: 18px;
  color: #C13232;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  float: left;
  margin-top: 6px;
}
.universitiescon_content_title a.but {
  width: 115px;
  height: 30px;
  line-height: 30px;
  background: #C13232;
  color: #fff;
  float: right;
  text-align: center;
  font-size: 14px;
}
.universitiescon_content_title a.but:hover{
  text-decoration:none;
}
.unuversitiescon_content_con {
  height: 99px;
  margin-top: 15px;
  font-size: 14px;
  color: #333;
  line-height: 26px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.universitiescon_content_fu {
  font-size: 12px;
  color: #666;
  margin-top: 20px;
}
.universitiescon_content_fu em{
  font-style: normal;
  overflow: hidden;
}
.universitiescon_content_det {
  background: #f5f5f5;
  color: #C13232;
  position: absolute;
  right: 20px;
  bottom: 57px;
  z-index: 10;
}
.universitiescon_content_det:hover {
  text-decoration:none;
  color: #C13232;
}
.unuversitiescon_content_conss {
  width:592px;
}