<!DOCTYPE html>
<html lang="en">
<head >
  {% include "header_new.html" %}
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/guwen_yonghu.css" >
</head>
<body style="background: #f5f5f5">
{% include "widget/common_hide/common_hide.html"%}
{% include "widget/top/top.html" %}
{% import "widget/new_nav_first/common_nav.html" as common_nav %}
{{ common_nav.common_nav(tdk,helper) }}
<div class="dui-layout-lg clearfix banner-box">
  <div class="dui-layout-silde banner-box-right">{% include "widget/xSlider/xSlider.html" %}</div>
  <div class="dui-layout-div"></div>
  <div class="dui-layout-con banner-box-left">{% include "widget/xSlider/xSlider2.html" %}</div>
</div>
{#<div class="dui-layout-lg clearfix list-h" style="margin-top: 20px;" id="XC_{% if userinfo.usertype == 2 %}ADVISOR{% elif userinfo.usertype == 3 %}CANZAN{% endif %}_P_MAIN_SEAT1"></div>#}
<div class="dui-layout-lg clearfix">
  <div class="dui-layout-silde right">
    <div class="clearfix" style="margin-top: 20px">
      {% import "widget2/community_advisor/community_advisor.html" as community_advisor %}
      {% if userinfo.status == 1 %} {#离职#}
      {{ community_advisor.advisor_leave(userinfo,helper,login_info) }}
      {% else %} {#在职#}
      {% if userinfo.usertype == 2 %}
      {{ community_advisor.advisor(userinfo,helper,login_info) }}
      {% elif userinfo.usertype == 3 %}
      {{ community_advisor.counsellor(userinfo,helper,login_info) }}
      {% endif %}
      {% endif %}
    </div>
    <div style="margin-top: 20px;" class="dui-box-shadow">
      <div class="common-title" style="border:1px solid #dcdcdc;">
        <i></i>
        <h3>猜你喜欢</h3>
      </div>
      {% if userinfo.adviser_type == 1 %}
      {% esi helper.include(esikey,'fragment/guess_like','n='+userinfo.country,'c='+userinfo.organid) %}
    {% else %}
      {% esi helper.include(esikey,'fragment/yimin_guess_like','n='+userinfo.country,'c='+userinfo.organid) %}
    {% endif %}
    </div>
    <div style="margin-top: 20px;" class="dui-box-shadow">
      <div class="common-title" style="border:1px solid #dcdcdc;">
        <i></i>
        <h3>相关顾问</h3>
      </div>
        {% if userinfo.adviser_type == 2 %}
          {% esi helper.include(esikey,'fragment/yimin_xiangguanguwen','n='+userinfo.country,'c='+userinfo.organid,'uid='+userinfo.uid,'isIm=1') %}
        {% else %}
          {% esi helper.include(esikey,'fragment/xiangguanguwen','n='+userinfo.country,'c='+userinfo.organid,'uid='+userinfo.uid) %}
        {% endif %}
    </div>
  </div>
  <div class="dui-layout-div"></div>
  <div class="dui-layout-con left dui-box-shadow" style="margin-left: 20px;margin-top: 20px;width: 878px;background: #fff">
    <div class="" style="margin-top: 20px">
      <div>
        {% import "widget2/community_nav/community_nav.html" as community_nav %}
        {#{% if userinfo.status == 1 %}
        {{community_nav.adviser_nav_leave('精华', userinfo.uid, helper)}}
        {% else %}#}
        {% if userinfo.usertype == 2 %}
        {{community_nav.adviser_nav('精华', userinfo, helper)}}
        {% elif userinfo.usertype == 3 %}
        {{community_nav.canzan_nav('精华', userinfo.uid, helper)}}
        {% endif %}
        {#% endif %#}
      </div>
      {% if guwen_list.list.length > 0 %}
      <div class="right-main clearfix">
        {% for item in guwen_list.list %}
        {% import "widget2/article/article.html" as article_show %}
        {{ article_show.article_show(item, helper) }}

        {% include "widget2/bottom_comment/bottom_comment_zhuanlan_zhuye.html" %}

        {% endfor %}
      </div>
      {% else %}
      {% include "widget2/blank/blank.html" %}
      {% endif %}
    </div>
  </div>
</div>
{% if userinfo.adviser_type==1 %}
{% import "widget/new_slide/new_slide3.html" as  slide %}
{{slide.leyu_slide("XC_"+tdk.pagekey+"_SEAT10",userinfo,login_info,helper) }}
{% elseif userinfo.adviser_type==2   %}
{% import "widget/new_slide_yimin/new_slide3.html" as  slide %}
{{slide.leyu_slide(userinfo,login_info,helper) }}
{% endif %}
{% include "widget/new_footer/common_footer.html" %}
<!-- =====活动弹窗===== -->
{% include "widget2/active_popup/active_popup.html" %}
<script src="{{helper.cdnhost}}/assets/js/nav_common.js"></script>
<script src="{{helper.cdnhost}}/assets/js/show_advert.js"></script>
<script src="{{helper.cdnhost}}/assets/js/bottom_comment_zhuanlan_zhuye.js"></script>
<!--<script src="{{helper.cdnhost}}/assets/js/nav_seventh.js" ></script>-->
<script src="{{helper.cdnhost}}/assets/js/follow.js"></script>
<script src="{{helper.cdnhost}}/assets/js/xSlider-4.15.js" ></script>
{% if userinfo.adviser_type==1 %}
<script src="{{helper.cdnhost}}/assets/js/slide2.js"></script>
{% elseif userinfo.adviser_type==2   %}
<script src="{{helper.cdnhost}}/assets/js/slide2_yimin.js"></script>
{% endif %}
<script src="{{helper.cdnhost}}/assets/js/online_evaluation.js"></script>
<script src="{{helper.cdnhost}}/assets/js/footer.js"></script>
<script>
  $(function() {
    var login_ss = null;
    if(cookie('login_ss') != undefined){
      login_ss = JSON.parse(cookie('login_ss'));
    }
    window._bd_share_config = {
      "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "1",
        "bdMiniList": false,
        "bdPic": "",
        "bdStyle": "0",
        "bdSize": "16",
        "bdUrl": window.location.href
      },
      "share": {}
    };
    console.log(_bd_share_config.common.bdUrl)
    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    $('.banner-box-left .slider').xSlider({
      //轮播图配置
//          autoplay : 500,
      current: 0,
      speed: 500,
      intervalTime: 5000,
      pagination: true,
      dotPostion:'right'
    });
    $('.banner-box-right .slider').xSlider({
      //轮播图配置
//          autoplay : 500,
//            mode:'vertical',
      current: 0,
      speed: 1000,
      intervalTime: 5000,
      slidesPerView: 2,
      slidesPerGroup: 2,
          pagination: true
    });
    $('.report-btn').on("click", report); //点击举报
    function report() {
      //举报调取函数
      if (login_ss == undefined) {
        // layer.msg('你还没有登录')
        // window.setTimeout(function () {
          // window.location.href = fn.curlgen('login', 'h=' + window.location.href);
          getlogin();
        // }, 1000);
        return false;
      }
      var report_content = null;
      var that = this;
      layer.open({
        type: 1,
        title: '举报理由',
        area: ['700px'], //宽高
        content: '<div class="report-con">' +
        '<ul class="report-ul clearfix">' +
        '<li>' +
        '<span class="circle"></span>' +
        '<i class="iconfont">&#xe62a;</i>' +
        '<span class="sp-con">垃圾、广告信息</span>' +
        '</li>' +
        '<li>' +
        '<span class="circle"></span>' +
        '<i class="iconfont">&#xe62a;</i>' +
        '<span class="sp-con">色情、低俗内容</span>' +
        '</li>' +
        '<li>' +
        '<span class="circle"></span>' +
        '<i class="iconfont">&#xe62a;</i>' +
        '<span class="sp-con">时政敏感话题</span>' +
        '</li>' +
        '<li>' +
        '<span class="circle"></span>' +
        '<i class="iconfont">&#xe62a;</i>' +
        '<span class="sp-con">其它原因</span>' +
        '</li>' +
        '</ul>' +
        '<textarea class="report-txt" placeholder="内容最多为500个字符" maxlength="500"></textarea>' +
        '</div>',
        btn: '确定',
        closeBtn: '2',
        yes: function (index, layero) {
          if (report_content == undefined || report_content == '') {
            layer.msg('请选择举报理由');
            return false;
          }
          $.ajax({
            // url: ajaxUrlPrefix.cmsapi+'/api/userReport',
            url: '/soapi/userReport',
            type: 'POST',
            data: {
              report_source: '1',
              report_type: '1',
              report_content: report_content,
              userid: login_ss.uid,
              article_id: $(that).attr("data-artId"),
              article_url:$(that).attr('data-url'),
              city_id:$('.advisor-bumen').attr('data-cityId')
            },
            dataType: 'json',
            // jsonpCallback:'callback',
            success: function (result) {
              console.log(result)
              if (result.code == 0) {
                layer.msg('举报成功');
                layer.close(index);
              }else{
                layer.msg(result.message);
              }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
              console.log(errorThrown)
            }
          });
        }
      });
      $(".report-ul li").on("click", function () {
        //选择举报内容
        $(".report-ul li i").hide();
        $(".report-ul li .circle").show();
        $(this).find("i").show();
        $(this).find(".circle").hide();
        if ($(this).index() == 3) {
          $(".report-txt").show();
          $(".report-con").parent().css({"height": "115px"});
          if($('.report-txt').val()!= ''){
            report_content = $('.report-txt').val();
          }else{
            report_content ='';
          }
        } else {
          $(".report-txt").hide();
          $(".report-con").parent().css({"height": "39px"});
          report_content = $(this).find('.sp-con').text();
        }
      });
      $('.report-txt').on('change', function () {
        if ($('.report-txt').val() != '') {
          report_content = $('.report-txt').val();
        } else {
          report_content = '';
        }
      });
    }


  })
</script>
</body>
</html>