<!DOCTYPE html>
<html>
<head lang="en">
  {% include "header_new.html" %}
  <link rel="stylesheet" href="{{helper.cdnhost}}/dep/css/idangerous.swiper2.7.6.css" >
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/guwen_yonghu.css" >
  <script src="{{helper.cdnhost}}/dep/js/idangerous.swiper2.7.6.js"></script>
  <style>
    .canzanps p {
      font-size: 14px;
      line-height: 26px;
      color: #333333;
    }
    .canzanps i {
      font-style:italic;
    }
    .canzanps em {
      font-style: italic;
    }
  </style>
</head>
<body style="background: #f5f5f5">
{% include "widget/top/top.html" %}
{% import "widget/new_nav_first/common_nav.html" as common_nav %}
{{ common_nav.common_nav(tdk,helper) }}
<div class="dui-layout-lg clearfix banner-box">
  <div class="dui-layout-silde banner-box-right">{% include "widget/xSlider/xSlider.html" %}</div>
  <div class="dui-layout-div"></div>
  <div class="dui-layout-con banner-box-left">{% include "widget/xSlider/xSlider2.html" %}</div>
</div>
{#<div class="dui-layout-lg clearfix list-h" style="margin-top: 20px;" id="AD_{% if userinfo.usertype == 2 %}ADVISOR{% elif userinfo.usertype == 3 %}CANZAN{% endif %}_P_MAIN_SEAT1"></div>#}
<div class="dui-layout-lg clearfix">
  <div class="dui-layout-silde right">
    <div class="clearfix" style="margin-top: 20px">
      {% import "widget2/community_advisor/community_advisor.html" as community_advisor %}
      {% if userinfo.status == 1 %} {#离职#}
      {{ community_advisor.advisor_leave(userinfo,helper,login_info) }}
      {% else %} {#在职#}
      {% if userinfo.usertype == 2 %}
      {{ community_advisor.advisor(userinfo,helper,login_info) }}
      {% elif userinfo.usertype == 3 %}
      {{ community_advisor.counsellor(userinfo,helper,login_info) }}
      {% endif %}
      {% endif %}
    </div>
    {% if userinfo.usertype == 2 %}
    <div style="margin-top: 20px;" class="dui-box-shadow">
      <div class="common-title" style="border:1px solid #dcdcdc;">
        <i></i>
        <h3>猜你喜欢</h3>
      </div>
      {% if userinfo.adviser_type == 1 %}
        {% esi helper.include(esikey,'fragment/guess_like','n='+userinfo.country,'c='+userinfo.organid) %}
      {% else %}
        {% esi helper.include(esikey,'fragment/yimin_guess_like','n='+userinfo.country,'c='+userinfo.organid) %}
      {% endif %}
    </div>
    {% endif %}
    <div style="margin-top: 20px;" class="dui-box-shadow">
      <div class="common-title" style="border:1px solid #dcdcdc;">
        <i></i>
        <h3>相关顾问</h3>
      </div>
      {% if userinfo.usertype==2 %}
        {% if userinfo.adviser_type == 2 %}
          {% esi helper.include(esikey,'fragment/yimin_xiangguanguwen','n='+userinfo.country,'c='+userinfo.organid,'uid='+userinfo.uid) %}
        {% else %}
          {% esi helper.include(esikey,'fragment/xiangguanguwen','n='+userinfo.country,'c='+userinfo.organid) %}
        {% endif %}
      {% elseif userinfo.usertype==3 %}
        {% esi helper.include(esikey,'fragment/xiangguanguwen','n='+userinfo.country,'c=1') %}
      {% endif %}
    </div>
  </div>
  <div class="dui-layout-div"></div>
  <div class="dui-layout-con left dui-box-shadow" style="border: 1px solid #eee;margin-left: 20px;margin-top: 20px;width: 878px;background: #fff">
    <div class="" style="margin-top: 20px">
      <div>
        {% import "widget2/community_nav/community_nav.html" as community_nav %}
        {% if userinfo.status == 1 %} {#离职顾问#}
        {{community_nav.adviser_nav_leave('主页', userinfo.uid, helper)}}
        {% else %} {#在职顾问#}
        {% if userinfo.usertype == 2 %}
        {{community_nav.adviser_nav('主页', userinfo.uid, helper)}}
        {% elif userinfo.usertype == 3 %}
        {{community_nav.canzan_nav('主页', userinfo.uid, helper)}}
        {% endif %}
        {% endif %}
      </div>
      {% if userinfo.usertype == 2 %}
      {% if guwen_list.list.length > 0 %}
      <div class="right-main clearfix">
        {% for item in guwen_list.list %}
        {% import "widget2/article/article.html" as article_show %}
        {{ article_show.article_show(item, helper) }}

        {% include "widget2/bottom_comment/bottom_comment_zhuanlan_zhuye.html" %}

        {% endfor %}
      </div>
      <div class="loadMore" data-page="1" data-uid="{{userinfo.uid}}" style="height: 54px;line-height: 54px">
        <span>加载更多</span>
        <i class="iconfont">&#xe60b;</i>
      </div>
      {% else %}
      {% include "widget2/blank/blank.html" %}
      {% endif %}
      {% else %}{# 参赞介绍 #}
      <h2 style="font-size: 18px; margin: 20px">参赞介绍：</h2>
      <div class="canzanps" style="padding-bottom: 20px;margin: 0 20px">{{ canzan_jianjie.description | safe }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% if userinfo.usertype==3 %}
{% import "widget/new_slide/new_slide.html" as  slide %}
{{slide.leyu_slide("AD_"+tdk.pagekey+"_SEAT10",helper) }}
{% elseif userinfo.adviser_type==1 %}
{% import "widget/new_slide/new_slide3.html" as  slide %}
{{slide.leyu_slide("AD_"+tdk.pagekey+"_SEAT10",userinfo,login_info,helper) }}
{% elseif userinfo.adviser_type==2   %}
{% import "widget/new_slide_yimin/new_slide3.html" as  slide %}
{{slide.leyu_slide(userinfo,login_info,helper) }}
{% endif %}
{% include "widget/new_footer/common_footer.html" %}
<script>
  var login_ss = null;
  if($.cookie('login_ss') != undefined){
    login_ss = JSON.parse($.cookie('login_ss'));
  }
</script>
<script src="{{helper.cdnhost}}/assets/js/nav_common.js"></script>
<script src="{{helper.cdnhost}}/assets/js/show_advert.js"></script>
<script src="{{helper.cdnhost}}/assets/js/bottom_comment_zhuanlan_zhuye.js"></script>
<!--<script src="{{helper.cdnhost}}/assets/js/nav_seventh.js" ></script>-->
<script src="{{helper.cdnhost}}/assets/js/follow.js"></script>
<script src="{{helper.cdnhost}}/assets/js/xSlider.js" ></script>
{% if userinfo.usertype==3 %}
<script src="{{helper.cdnhost}}/assets/js/slide.js"></script>
{% else %}
<script src="{{helper.cdnhost}}/assets/js/slide2.js"></script>
{% endif %}
<script src="{{helper.cdnhost}}/assets/js/online_evaluation.js"></script>
<script src="{{helper.cdnhost}}/assets/js/footer.js"></script>
<script src="{{helper.cdnhost}}/dep/js/layer.min.js"></script>
<script>
  $(function() {
    window._bd_share_config = {
      "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "1",
        "bdMiniList": false,
        "bdPic": "",
        "bdStyle": "0",
        "bdSize": "16",
        "bdUrl": window.location.href
      },
      "share": {}
    };
    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    $('.banner-box-left .slider').xSlider({
      //轮播图配置
//          autoplay : 500,
      current: 0,
      speed: 500,
      intervalTime: 5000,
      pagination: true
    });
    $('.banner-box-right .slider').xSlider({
      //轮播图配置
//          autoplay : 500,
//            mode:'vertical',
      current: 0,
      speed: 1000,
      intervalTime: 5000,
      slidesPerView: 2,
      slidesPerGroup: 2,
      pagination: true
    });

    $('.loadMore').on('click', function () {
      var page = $(this).data('page') * 1 + 1;
      var per_page = 6;
      var thisObj = $(this);
      $.ajax({
        url: '/soapi/loadmore',
        type: 'GET',
        datatype: 'json',
        data: {
          "order": encodeURI("add_time desc"),
          page: page,
          per_page: per_page,
          uid: thisObj.attr("data-uid")
        },
        success: function (revmsg) {
          console.log(revmsg)
          if (revmsg.code == 0) {
            var revList = revmsg.data.list;
            var len = revList.length;
            if (len == 0) {
              thisObj.html('已展示全部');
            }
            if (len < per_page) {
              thisObj.html('已展示全部');
              appendFav(revList);
              thisObj.data('page', page);
            } else {
              appendFav(revList);
              thisObj.data('page', page);
            }
          }
          else {
            thisObj.html('加载更多出错了，请刷新');
          }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          console.log(errorThrown)
        }
      })
    })
    $('.report-btn').on("click", report); //点击举报
  })
  //明星顾问轮播
  function appendArticleItem(aitem) {
    var artUrl = '';
    if(aitem.type ==1){
      artUrl = fn.urlgen("case", aitem.id.toString());
    }else{
      artUrl =fn.urlgen("article", aitem.id.toString());
    }
    var aItemHtml = '<div class="homepage">' +
        '<div class="homepagecon">' +
        '<a target="_blank"  href="' + fn.urlgen(aitem.uid.toString()) + '" >'+
        '<div class="homepageing" style="background:url(' + fn.avaterimg(aitem.uid, 'small', aitem.user_info.status, aitem.user_info.version) + ') no-repeat 0 0;background-size: cover;"></div>' +
        '<h3>' + aitem.user_info.realname + '<img src="'+ ajaxUrlPrefix.cdnhost +'/assets/img/1v.png" alt=""></h3>' +
        '</a>'+
        '<ul>' +
        '<div class="bdsharebuttonbox bdshare-button-style0-16" style="margin-top: 12px;">' +
        '<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>' +
        '<a href="#" class="bds_weixin weixin-pengyouquan" data-cmd="weixin" title="分享到微信朋友圈"></a>'+
        '<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>' +
        '<a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ"></a>' +
        '<div class="report-btn" style="color: #666;font-size: 12px;float: left;margin-top: 6px;margin-right: 5px;" data-artId="'+aitem.id+'" data-url="'+artUrl+'">举报</div>' +
        '</div>' +
        '</div>' +
        '</ul>' +
        '</div>' +
        '<div class="homepage-title">' +
        '<p>' ;
    if(aitem.type==1){
      aItemHtml+= '<a  target="_blank" href="' + fn.urlgen("case", aitem.id.toString()) + '" class="dui-text-warning">' + aitem.title + '<div></a>' + aitem.tag_list + '</div>';
    }else if(aitem.type==2){
      aItemHtml+= '<a  target="_blank" href="' + fn.urlgen("article", aitem.id.toString()) + '" class="dui-text-warning">' + aitem.title + '<div></a>' + aitem.tag_list + '</div>';
          '</a>' ;
    }
    aItemHtml+=  '</p>' +
        '</div>' +
        '<div class="homepage-p">' +
        '<p>' ;
    if(aitem.type==1){
      aItemHtml+= '<a  target="_blank" href="' + fn.urlgen("case", aitem.id.toString()) + '" class="dui-text-warning">' + aitem.introduce + '...<span style="color: #C13232">【查看详情】</span>' +
          '</a>' ;
    }else if(aitem.type==2){
      aItemHtml+= '<a  target="_blank" href="' + fn.urlgen("article", aitem.id.toString()) + '" class="dui-text-warning">' +
          '</a>' ;
    }
    aItemHtml+=  '</p>' +
        '<p>' ;
    if(aitem.type==1){
      aItemHtml+= '<a  target="_blank" href="' + fn.urlgen("case", aitem.id.toString()) + '" class="dui-text-warning">' +
          addArticleImg(aitem.img_list) +
          '</a>' ;
    }else if(aitem.type==2){
      aItemHtml+= '<a  target="_blank" href="' + fn.urlgen("article", aitem.id.toString()) + '" class="dui-text-warning">' +
          addArticleImg(aitem.img_list) +
          '</a>' ;
    }
    aItemHtml+=  '</p>' +
        '<div style="width: 200px;line-height: 38px;float: left;position: relative">'+
        '<div style="float: left;position: absolute;">'+aitem.add_time+'</div>'+
        '</div>'+
        '</div>' +
        '</div>' +
        addBottom(aitem);
    return aItemHtml;
  }

  function appendFav(favArr) {
    var favHtml = '';
    for (var i = 0; i < favArr.length; i++) {
      favHtml += appendArticleItem(favArr[i]);
    }

    $('.right-main').append(favHtml);
    window._bd_share_main.init();
    $('.report-btn').on("click", report); //点击举报
    window._bd_share_main.init();
  }

  function addArticleImg(imgList) {
    if (imgList == undefined) {
      return '';
    }
    var html = '<ul class="homepage-li" style="float: left;">';
    for (var j=0; j<imgList.length; j++) {
      html += '<li style="margin-top: 14px"><img src="'+ fn.imageThumb(imgList[j],'150x150') +'" ></li>';
    }
    html += '</ul>';
    return html;
  }

  function addBottom(item) {
    var html = '<div class="bot_comment clearfix">' +
        '<ul>' +
        '<li onclick="showbottom(1, ' + item.id + ')" id="yuedu_li_' + item.id + '">' +
        '<i class="iconfont " id="yuedu_' + item.id + '">&#xe9ca;</i>' +
        '<span id="yuedu_span_' + item.id + '">阅读<em id="yuedu_em_' + item.id + '">' + item.views + '</em></span>' +
        '</li>' +
        '<li onclick="showbottom(2, ' + item.id + ')" id="shoucang_li_' + item.id + '">' +
        '<i class="iconfont " id="shoucang_' + item.id + '">&#xe7ed;</i>' +
        '<span id="shoucang_span_' + item.id + '">收藏<em id="shoucang_em_' + item.id + '">' + item.favorites + '</em></span>' +
        '</li>' ;
        if (item.type == 2){
        html += '<a target="_blank" href="' + fn.urlgen("article", item.id.toString()) + '">'+
        '<li onclick="" id="pinglun_li_'+item.id+'">'+
        '<i class="iconfont " id="pinglun_'+item.id+'" style="color: #666">&#xe61f;</i>'+
        '<span id="pinglun_span_'+item.id+'">评论<em id="pinglun_em_'+item.id+'">'+item.comments+'</em></span>'+
        '</li>'+
        '</a>';
        } else {
        html += '<a target="_blank" href="' + fn.urlgen("case", item.id.toString()) + '">'+
        '<li onclick="" id="pinglun_li_'+item.id+'">'+
        '<i class="iconfont " id="pinglun_'+item.id+'" style="color: #666">&#xe61f;</i>'+
        '<span id="pinglun_span_'+item.id+'">评论<em id="pinglun_em_'+item.id+'">'+item.comments+'</em></span>'+
        '</li>'+
        '</a>';
    }
        html += '<li class="dian" onclick="showbottom(4, ' + item.id + ')" id="dianzan_li_' + item.id + '">' +
        '<i class="iconfont " id="dianzan_' + item.id + '">&#xe651;</i>' +
        '<span id="dianzan_span_' + item.id + '">点赞<em id="dianzan_em_' + item.id + '">' + item.votes + '</em></span>' +
        '</li>' +
        '</ul>' +
        '</div>';
    return html;
  }
  function report() {
    //举报调取函数
    if (login_ss == undefined) {
      layer.msg('你还没有登录')
      window.setTimeout(function () {
        getlogin();
      }, 1000);
      return false;
    }
    var report_content = null;
    var that = this;
    layer.open({
      type: 1,
      title: '举报理由',
      area: ['700px'], //宽高
      content: '<div class="report-con">' +
      '<ul class="report-ul clearfix">' +
      '<li>' +
      '<span class="circle"></span>' +
      '<i class="iconfont">&#xe62a;</i>' +
      '<span class="sp-con">垃圾、广告信息</span>' +
      '</li>' +
      '<li>' +
      '<span class="circle"></span>' +
      '<i class="iconfont">&#xe62a;</i>' +
      '<span class="sp-con">色情、低俗内容</span>' +
      '</li>' +
      '<li>' +
      '<span class="circle"></span>' +
      '<i class="iconfont">&#xe62a;</i>' +
      '<span class="sp-con">时政敏感话题</span>' +
      '</li>' +
      '<li>' +
      '<span class="circle"></span>' +
      '<i class="iconfont">&#xe62a;</i>' +
      '<span class="sp-con">其它原因</span>' +
      '</li>' +
      '</ul>' +
      '<textarea class="report-txt"></textarea>' +
      '</div>',
      btn: '确定',
      closeBtn: '2',
      yes: function (index, layero) {
        if (report_content == undefined || report_content == '') {
          layer.msg('请选择举报理由');
          return false;
        }
        $.ajax({
          // url: ajaxUrlPrefix.cmsapi+'/api/userReport',
          url: '/soapi/userReport',
          type: 'POST',
          data: {
            report_source: '1',
            report_type: '1',
            report_content: report_content,
            userid: login_ss.uid,
            article_id: $(that).attr("data-artId"),
            article_url:$(that).attr('data-url'),
            city_id:$('.advisor-bumen').attr('data-cityId')
          },
          dataType: 'json',
          success: function (result) {
            console.log(result)
            if (result.code == 0) {
              layer.msg('举报成功');
              layer.close(index);
            }
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            console.log(errorThrown)
          }
        });
      }
    });
    $(".report-ul li").on("click", function () {
      //选择举报内容
      $(".report-ul li i").hide();
      $(".report-ul li .circle").show();
      $(this).find("i").show();
      $(this).find(".circle").hide();
      if ($(this).index() == 3) {
        $(".report-txt").show();
        $(".layui-layer-content").css({"height": "115px"});
        if($('.report-txt').val()!= ''){
          report_content = $('.report-txt').val();
        }else{
          report_content ='';
        }
      } else {
        $(".report-txt").hide();
        $(".layui-layer-content").css({"height": "39px"});
        report_content = $(this).find('.sp-con').text();
      }
    });
    $('.report-txt').on('change', function () {
      if ($('.report-txt').val() != '') {
        report_content = $('.report-txt').val();
      } else {
        report_content = '';
      }
    });
  }

</script>
</body>
</html>