
<!DOCTYPE html>
<html lang="en">
<head >
    {% include "header_new.html" %}
    <style type="text/css">
		.rel-case-map{
		 	width:100%;
		 	height:130px;
		}
		.rel-case-map img{
		 	width:100%;
		 	height:100%;
		 	display: block;
		 }
    /*轮播图*/
    .banner-box{
        margin-top: 20px;
        height: 130px;
        /*background-color: yellow;*/
    }
    .banner-box-left{
        background: #dcdcdc;
        height: 130px;
    }
    .banner-box-right{
        background: #dcdcdc;
        height: 130px;
    }
    .slider .slider-dot ul li{
        border-radius: 50%;
    }
    .slider .slider-btn.slider-btn-right,.slider .slider-btn.slider-btn-left {
        margin-top: -33px
    }
    </style>
</head>
<body style="background:#f5f5f5;">
{% include "widget/common_hide/common_hide.html"%}
<!-- ===头部=== -->
{% include "widget/top/top.html" %}
<!-- ====导航===== -->
{% import "widget/new_nav_first/common_nav.html" as common_nav %}
{{ common_nav.common_nav(tdk,helper) }}
<div class="dui-layout-lg clearfix banner-box">
    <div class="dui-layout-silde banner-box-right">{% include "widget/xSlider/xSlider.html" %}</div>
    <div class="dui-layout-div"></div>
    <div class="dui-layout-con banner-box-left">{% include "widget/xSlider/xSlider2.html" %}</div>
</div>
<div class="dui-layout-lg clearfix dui-layout-padding" >
    <div class="dui-layout-silde ">
        <!-- =======顾问头像关注====== -->
        <div>
            {% import "widget2/community_advisor/community_advisor.html" as advisor %}
            {% if userinfo.usertype == 2 %} {#顾问#}
            {{ advisor.advisor(userinfo,helper,login_info) }}
            {% elif userinfo.usertype == 3 %} {#参赞#}
            {{ advisor.counsellor(userinfo,helper,login_info) }}
            {% endif %}
        </div>
        <!-- =======作者精选======= -->
        <div style="margin-top: 20px;" class="dui-box-shadow">
            <div class="common-title" style="border:1px solid #dcdcdc;">
                <i></i>
                <h3>猜你喜欢</h3>
            </div>
          {% if userinfo.adviser_type == 1 %}
            {% esi helper.include(esikey,'fragment/guess_like','n='+userinfo.country,'c='+userinfo.organid) %}
          {% else %}
            {% esi helper.include(esikey,'fragment/yimin_guess_like','n='+userinfo.country,'c='+userinfo.organid) %}
          {% endif %}
        </div>
        <div style="margin-top: 20px;" class="dui-box-shadow">
            <div class="common-title" style="border:1px solid #dcdcdc;">
                <i></i>
                <h3>相关顾问</h3>
            </div>
            {% if userinfo.adviser_type == 2 %}
                {% esi helper.include(esikey,'fragment/yimin_xiangguanguwen','n='+userinfo.country,'c='+userinfo.organid,'uid='+userinfo.uid,'isIm=1') %}
            {% else %}
                {% esi helper.include(esikey,'fragment/xiangguanguwen','n='+userinfo.country,'c='+userinfo.organid,'uid='+userinfo.uid) %}
            {% endif %}
        </div>
    </div>
    <div class="dui-layout-div"></div>
    <div class="dui-layout-con dui-box-shadow">
        <div class="photo-cont right-cont" style="background-color: #fff;">
            {% import "widget2/community_nav/community_nav.html" as community_nav %}
            {% if userinfo.usertype == 2 %} {#顾问#}
            {{community_nav.adviser_nav('相册', userinfo, helper)}}
            {% elif userinfo.usertype == 3 %} {#参赞#}
            {{community_nav.canzan_nav('相册', userinfo.uid, helper)}}
            {% endif %}
            <div class="right-main clearfix" id="photoContainer">
            </div>
            <div id="photo-blank" style="display: none;">
                {% include "widget2/blank/blank.html" %}
            </div>
            <div class="loadMore" data-page="1" style="display: none;">
                <span>加载更多</span>
                <i class="iconfont">&#xe60b;</i>
            </div>
        </div>
    </div>
</div>
{% if userinfo.adviser_type==1 %}
{% import "widget/new_slide/new_slide3.html" as  slide %}
{{slide.leyu_slide("XC_"+tdk.pagekey+"_SEAT10",userinfo,login_info,helper) }}
{% elseif userinfo.adviser_type==2   %}
{% import "widget/new_slide_yimin/new_slide3.html" as  slide %}
{{slide.leyu_slide(userinfo,login_info,helper) }}
{% endif %}
{% include "widget/new_footer/common_footer.html" %}
<!-- =====活动弹窗===== -->
{% include "widget2/active_popup/active_popup.html" %}
<script src="{{helper.cdnhost}}/assets/js/show_advert.js"></script>
<script src="{{helper.cdnhost}}/assets/js/nav_common.js"></script>
<script src="{{helper.cdnhost}}/assets/js/follow.js"></script>
<script src="{{helper.cdnhost}}/assets/js/xSlider-4.15.js" ></script>
{% if userinfo.adviser_type==1 %}
<script src="{{helper.cdnhost}}/assets/js/slide2.js"></script>
{% elseif userinfo.adviser_type==2   %}
<script src="{{helper.cdnhost}}/assets/js/slide2_yimin.js"></script>
{% endif %}
<script src="{{helper.cdnhost}}/assets/js/online_evaluation.js"></script>
<script src="{{helper.cdnhost}}/assets/js/footer.js"></script>
<script src="{{helper.cdnhost}}/assets/js/bottom_comment.js"></script>
<script src="{{helper.cdnhost}}/assets/js/bigPhotoSlider.js"></script>
<script>
    $(function () {
        var login_ss = null;
        if(cookie('login_ss') != undefined){
            login_ss = JSON.parse(cookie('login_ss'));
        }
        $('.banner-box-left .slider').xSlider({
            //轮播图配置
//          autoplay : 500,
            current: 0,
            speed: 500,
            intervalTime: 5000,
            pagination: true,
            dotPostion:'right'
        });
        $('.banner-box-right .slider').xSlider({
            //轮播图配置
//          autoplay : 500,
//            mode:'vertical',
            current: 0,
            speed: 1000,
            intervalTime: 5000,
            slidesPerView: 2,
            slidesPerGroup: 2,
          pagination: true
        });
        //明星顾问轮播
        $('.advisor_star_bar .slider').xSlider();
        var to_uid = window.location.pathname.split('/')[1];
        //照片分行显示
        function limitDisplay(kaishi,changdu,maxLine,lastMonth){
            curM = lastMonth;
            var length = photoArr.length > (kaishi + changdu) ? (kaishi + changdu) : photoArr.length;
            for (var i = kaishi; i < length; i++) {
                console.log(photoArr[i])
                if (curM != fn.getFormatDate(photoArr[i].add_time,2) || linePhotoNum == 4) {//换行条件
                    linePhotoNum = 0;
                    line++;
                    if (line > maxLine) {
                        break;
                    }
                    if(curM != fn.getFormatDate(photoArr[i].add_time,2)) {
                        curM = fn.getFormatDate(photoArr[i].add_time,2);
                        var disPlayMonth = curM == '01' ? fn.getFormatDate(photoArr[i].add_time,1) + '年' : curM + '月';
                        htmlstr += '</ul></div>';
                        htmlstr += '<div class="album-bar bar-border clearfix">';
                        htmlstr += '<div class="album-left-box"><div class="album-time"><i class="iconfont">&#xe768;</i><span>' + disPlayMonth + '</span></div></div><ul class="album-list">';
                    }
                    else {
                        htmlstr += '</ul></div>';
                        htmlstr += '<div class="album-bar clearfix">';
                        htmlstr += '<div class="album-left-box"></div><ul class="album-list">';
                    }
                }
                htmlstr += '<li class="photo-item"><dl><dt><a href="'+photoArr[i]['url']+'" target="_blank"><img src="'+fn.imageThumb(photoArr[i]['url'],'150x150')+'" alt=""/></a></dt>';
                htmlstr += '<dd>'+photoArr[i]['desc']+'</dd></dl></li>';
                linePhotoNum++;
                pNum++;
            }
//            console.log('line',line,'maxLine',maxLine,'pNum',pNum,'totalCount',totalCount);
            var newstr = htmlstr.slice(11) + htmlstr.slice(0,11);
            // console.log(newstr);
            $('.right-main').append($(newstr));
            if (line < maxLine || pNum >= totalCount) {
                $('.loadMore').show().html('已展示全部照片');
            }
            else {
                $('.loadMore').show();
            }
            /*划过相册动效*/
            $('.album-bar').find('dt').hover(function() {
                $(this).find('.opt-bar').slideDown();
            },function () {
                $(this).find('.opt-bar').hide();
            });
            /*删除*/
            $(".delete-btn").click(function() {
                var photoId = $(this).parents('.opt-bar').data('photo_id');
                to_album_del(login_ss.uid,photoId);
            });
            /*编辑*/
            $(".edit-btn").click(function() {
                var photoId = $(this).parents('.opt-bar').data('photo_id');
                var photoImg = $(this).parents('.photo-item').find('img').attr('src');
                var photoTitle = $(this).parents('.photo-item').find('dd').text();
                var descLen = photoTitle.length;
                var defaultHtml = '';
                defaultHtml += '<div class="close-pop" id="close-edit-pop">x</div>'+
                '<div class="edit-box clearfix">'+
                '<div class="photo-cell">'+
                '<div class="photo-img">'+
                '<img src="'+ photoImg +'"/>'+
                '</div>'+
                '<div class="photo-desc">'+
                '<input type="text" placeholder="请输入照片描述" class="desc-item" value="'+ photoTitle +'" maxlength="30" />'+
                '<div><span class="input-num">'+ descLen +'</span>/30</div>'+
                '</div>'+
                '</div>'+
                '</div>'+
                '<div class="btns">'+
                '<div class="save-btn save-photos" id="saveEdit">保存</div>'+
                '</div>';

                $("#photoDialog").show();
                $("#edit-pop").show();
                $("#edit-pop").html($(defaultHtml));

                $("#close-edit-pop").click(function(){
                    $("#photoDialog").hide();
                    $("#edit-pop").html('');
                    $("#edit-pop").hide();
                });

                //输入描述
                $('.desc-item')
                        .blur(function(event){
                            var curInputValLen = $(this).val().length;
                        })
                        .keyup(function(event){
                            var curInputValLen = $(this).val().length;
                            if (curInputValLen > 30) {
                                alert('描述不能超过30个字');
                                $(this).val($(this).val().substring(0, 30));
                                $(this).next().find('.input-num').text(30);
                            }
                            else {
                                $(this).next().find('.input-num').text(curInputValLen);
                            }
                        });
                //保存照片
                $("#saveEdit").click(function() {
                    var newPhotoTitle = $(this).parents('.btns').prev('.edit-box').find('input').val();
                    if (newPhotoTitle.length == 0) {
                        layer.msg('照片描述不能为空！')
                    }
                    else {
                        to_album_update(login_ss.uid, photoId, newPhotoTitle);
                        $("#close-edit-pop").trigger('click');
                    }
                })
            })
        }
        var photoArr = [];//存储所有相片的数组
        var line = 0;//行数
        var pNum = 0;//已经展示的相片条数
        var curM = 0;//上一个月份
        var htmlstr = '';//HTML字符串
        var linePhotoNum = 0; //每一行相片数量
        var pageLineInit = 8; //第一次请求的行数1
        var pageSizeInit = pageLineInit * 4; //第一次请求的相片数量
        var totalCount = '';
        $.ajax({
            url: '/soapi/get_photos',
            type:'GET',
            data:{
                u_id: to_uid,
                page: 1,
                per_page: pageSizeInit
            },
            dataType:'json',
            success:function (msg) {
                console.log(msg.data.total_count)
                totalCount = msg.data.total_count;
                if(msg.code == 0 && msg.data.total_count > 0){
                    photoArr = photoArr.concat(msg.data.list);
                    limitDisplay(0,pageSizeInit,pageLineInit,0);
                    $('.loadMore').attr('data-page',pageSizeInit/8);
                }else{
                    $("#photo-blank").show();
                }
               
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                console.log(errorThrown)
            }
        });
        function loadmore () {
            line = 0;
            htmlstr = '';
            var curPage = $('.loadMore').attr('data-page')*1+1;
            if (totalCount > photoArr.length) {
                $.ajax({
                    url: '/soapi/get_photos',
                    type:'GET',
                    data:{
                        u_id: to_uid,
                        page: curPage,
                        per_page: 8
                    },
                    dataType:'json',
                    success:function (msg) {
                        if (msg.code == 0) {
                            var loadMoreLine = 2;
                            var loadMoreSize = loadMoreLine * 4;
                            linePhotoNum = 4;
                            photoArr = photoArr.concat(msg.data.list);
                            limitDisplay(pNum,8,2,curM);
                            $('.loadMore').attr('data-page', curPage);
                        }
                        else {
                            $('.loadMore').html('加载更多出错了，请刷新');
                        }
                    },
                    error:function(XMLHttpRequest, textStatus, errorThrown){
                        console.log(errorThrown)
                    }
                });
            }
            else {
                limitDisplay(pNum,8,2,curM);
                $('.loadMore').attr('data-page', curPage);
            }
        }
        $('.loadMore').on('click',function () {
            loadmore();
        });
        // /*点击放大图片*/
        // $("#photoContainer").on("click",".photo-item", function() {
        //     var curIndex = $(this).attr('data-photoid');
        //     bigPhoto(photoArr, curIndex);
        // });
    })
</script>
</body>
</html>