
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "header_new.html" %}
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/article_detail.css" >
  <style>
    .banner-box{
      margin-top: 20px;
      height: 130px;
      /*background-color: yellow;*/
    }
    .banner-box-left{
      background: #dcdcdc;
      height: 130px;
    }
    .banner-box-right{
      background: #dcdcdc;
      height: 130px;
    }
    .slider .slider-dot ul{
      left:97%;
    }
    .slider .slider-dot ul li{
      border-radius: 50%;
    }
    .slider .slider-btn.slider-btn-right,.slider .slider-btn.slider-btn-left{
      margin-top: -33px
    }
  </style>
</head>
<body style="background:#f5f5f5;">
  <!-- ===头部=== -->
  {% include "widget/top/top.html" %}
  <!-- ====导航===== -->
  {% import "widget/new_nav_first/new_nav_red.html" as new_nav_red %}
  {{ new_nav_red.new_nav_red(helper) }}
  <!--轮播图广告-->
  <div class="dui-layout-lg clearfix banner-box">
    <div class="dui-layout-silde banner-box-right">{% include "widget/xSlider/xSlider.html" %}</div>
    <div class="dui-layout-div"></div>
    <div class="dui-layout-con banner-box-left">{% include "widget/xSlider/xSlider2.html" %}</div>
  </div>
  <div class="dui-layout-lg clearfix dui-layout-padding" >
    <div class="dui-layout-silde">
      <!-- =======顾问头像关注====== -->
      <div data-usertype="{{userinfo.usertype}}" id="userinfo">
        {% import "widget2/community_advisor/community_advisor.html" as community_advisor %}
        {% if userinfo.status == 1 %} {#离职#}
          {{ community_advisor.advisor_leave(userinfo,helper,login_info) }}
        {% else %} {#在职#}
          {% if userinfo.usertype == 2 %}
            {{community_advisor.advisor(userinfo,helper,login_info)}}
          {% elif userinfo.usertype == 3 %}
            {{community_advisor.counsellor(userinfo,helper,login_info)}}
          {% endif %}
        {% endif %}
      </div>
      <!-- =======作者精选======= -->
      <div style="margin-top: 20px;" class="dui-box-shadow">
        <div class="common-title" style="border:1px solid #dcdcdc;">
      		<i></i>
      		<h3>作者精选</h3>
  	    </div>
        {% esi helper.include(esikey,'fragment/author_selection','uid='+memberId) %}
      </div>
      <!-- ========猜你喜欢======= -->
      <div style="margin-top: 20px;" class="dui-box-shadow">
        <div class="common-title" style="border:1px solid #dcdcdc;">
          <i></i>
          <h3>猜你喜欢</h3>
        </div>
        {% esi helper.include(esikey,'fragment/guess_like','n='+country,'c='+tdk.cityid) %}
      </div>
    </div>
    <div class="dui-layout-div"></div>
    <div class="dui-layout-con" >
        <div class="adviser-case-detail-con" style="margin-top: 0" >
          {% import "widget2/community_nav/community_nav.html" as community_nav %}
          {% if userinfo.status == 1 %} {#离职顾问#}
            {{community_nav.adviser_nav_leave('专栏', userinfo.uid, helper)}}
          {% else %} {#在职顾问#}
            {% if userinfo.usertype == 2 %}
            {{community_nav.adviser_nav('专栏', userinfo.uid, helper)}}
            {% elif userinfo.usertype == 3 %}
            {{community_nav.canzan_nav('专栏', userinfo.uid, helper)}}
            {% endif %}
          {% endif %}
          <div class="adviser-top clearfix" style="margin-top: 20px;">
            <div style="float:left;line-height: 50px;" >
              <div class="adviser-touxiang" style="background:url({{helper.avaterimg(userinfo.uid,'small',userinfo.status,userinfo.version)}}) no-repeat center;background-size:50px 50px;">
              </div>
              <span style="font-size: 14px;color:#333;">
                李佳文<i class="adviser-v-i"></i>
              </span>
            </div>
            <div style="float:right;" >
              <div class="bdsharebuttonbox" style="margin-top: 15px;">
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ"></a>
              </div>
            </div>
          </div>
          <h1 class="adviser-case-detail-h3">
            {{article.article_info.title}}
          </h1>
          <div class="adviser-case-detail-come" >
            <span>时间：{{article.article_info.add_time}}</span>
            <span style="float:right;">阅读量：<i style="font-style: normal;" id="detail_views_num"></i></span>
          </div>
          <div class="adviser-case-detail-offer" >
            {{article.article_info.message | safe}}
          </div>
          <div class="adviser-case-operation-bar clearfix" data-artId = "{{article_id}}" id="articleId" data-memberId ="{{memberId}}" style="padding-top: 40px;
  padding-bottom: 40px;">
            <span style="margin-left: 187px;float:left;width:115px;height:30px;font-size: 14px;color:#fff;text-align:center;line-height: 30px;background:#c13232;margin-right: 60px;cursor: pointer;" id="collection">
            {% if article.article_info.user_follow_check %}
              已收藏
            {% else %}
              收藏
            {% endif %}
            </span>  
            <span id="fabulous" style="float:left;width:115px;height:30px;font-size: 14px;color:#fff;text-align:center;line-height: 30px;background:#c13232;margin-right: 60px;cursor: pointer;">
              <i class="iconfont" >
              {% if article.article_info.vote_info |length %}
                &#xe604;
              {% else %}
                &#xe651;
              {% endif %}  
              </i>点赞</span> 
            <span class="share-btn" data-title="{{article.article_info.title}}" style="float:left;width:115px;height:30px;font-size: 14px;color:#fff;text-align:center;line-height: 30px;background:#c13232;margin-right: 60px;cursor: pointer;">转发</span>
          </div>
          <!-- ========评论===== -->
          {% if userinfo.status == 0 %} 
            {% include "widget2/comment/comment.html" %}
          {% endif %}
        </div>  
      </div>
    </div>
  </div>
  {% import "widget/new_slide/new_slide2.html" as  slide %}
  {{slide.leyu_slide("AD_"+tdk.pagekey+"_SEAT10",userinfo) }}
  {% include 'widget/new_footer/new_footer.html' %}
  <div>
    <input type="hidden" id="detail_catid" value="{{catid}}"/>
    <input type="hidden" id="detail_id" value="{{article_id}}"/>
  </div>
  <script>
    var login_ss = null; //获取用户信息
    if($.cookie('login_ss') != undefined){
      login_ss = JSON.parse($.cookie('login_ss'));  
    }
  </script>
  <script src="{{helper.cdnhost}}/assets/js/show_advert.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/nav.js" ></script>
  <script src="{{helper.cdnhost}}/assets/js/follow.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/layer.min.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/xSlider.js" ></script>
  <script src="{{helper.cdnhost}}/assets/js/slide.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/online_evaluation.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/footer.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/view_count_min.js"></script>
  <script>
  $(function(){
      $('.banner-box-left .slider').xSlider({
          //轮播图配置
//          autoplay : 500,
          current: 0,
          speed: 500,
          intervalTime: 5000,
          pagination: true
      });
      $('.banner-box-right .slider').xSlider({
          //轮播图配置
//          autoplay : 500,
//            mode:'vertical',
          current: 0,
          speed: 1000,
          intervalTime: 5000,
          slidesPerView : 2,
          slidesPerGroup : 2,
//          pagination: true
      });
    window._bd_share_config={
          "common":{
              "bdSnsKey":{},
              "bdText":"",
              "bdMini":"1",
              "bdMiniList":false,
              "bdPic":"",
              "bdStyle":"0",
              "bdSize":"16",
              "bdUrl":window.location.href
          },
          "share":{},
          "image":{
              "viewList":["tsina","weixin","qzone"],
              "viewText":"分享到：","viewSize":"16"
          },
          "selectShare":{
              "bdContainerClass":null,
              "bdSelectMiniList":["tsina","weixin","qzone"]
          }
      };
      console.log(_bd_share_config.common.bdUrl)
      with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    $("#collection").on("click",function(){
      //文章收藏按钮
      var that =this;
      $.ajax({
        url: '/soapi/favorite_article',
        type:'POST',
        data:{
          article_id:$("#articleId").attr("data-artId")
        },
        dataType:'jsonp',
        jsonpCallback:'cb',
        success:function(result){
         console.log(result)
          if(result.code == 0){
            if(result.data.action=='add'){
              layer.msg('收藏成功');
              $(that).html('已收藏');
            }else if(result.data.action=='remove'){
              layer.msg('取消收藏成功');
              $(that).html('收藏');
            }
          }else if(result.code == 1){
            layer.msg('你还没有去登录');
            window.setTimeout(function(){
              window.location.href =fn.curlgen('login','h='+window.location.href);
            },1000);
          }
        },
        error:function(XMLHttpRequest, textStatus, errorThrown){
          console.log(errorThrown)
        }
      });
    });
    $("#fabulous").on("click",function(){
      //点赞
      if( login_ss == undefined){
        layer.msg('你还没有登录')
        window.setTimeout(function(){
          window.location.href =fn.curlgen('login','h='+window.location.href);
        },1000);
        return false;
      }
      if(login_ss.uid == $("#articleId").attr('data-memberId')){
        layer.msg('不能对自己发表的内容进行投票')
        return false;
      } 
      var that =this;
      $.ajax({
        url: '/soapi/article_vote',
        type:'POST',
        data:{
          item_id:$("#articleId").attr("data-artId"),
          item_type:'article'
        },
        dataType:'jsonp',
        jsonpCallback:'cb',
        success:function(result){
         console.log(result)
          if(result.code == 0){
            if(result.data.action=='add'){
              layer.msg('点赞成功');
              $(that).find('i').html('&#xe604;');
            }else if(result.data.action == 'remove'){
              layer.msg('取消点赞成功');
              $(that).find('i').html('&#xe651;');
            }  
           
          }
        },
        error:function(XMLHttpRequest, textStatus, errorThrown){
           console.log(errorThrown)
        }
      });
    });
   
  })
  </script>
</body>
</html>