
<!DOCTYPE html>
<html lang="en">
<head >
	{% include "header_new.html" %}
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/article_detail.css" >
</head>
<body style="background:#f5f5f5;">
{% include "widget/common_hide/common_hide.html"%}
<!--页面标题导航条-->
{% include "widget/detail_bar/detail_bar.html" %}
  <!-- ===头部=== -->
  {% include "widget/top/top.html" %}
  <!-- ====导航===== -->
  {% import "widget/new_nav_first/common_nav.html" as common_nav %}
  {{ common_nav.common_nav(tdk,helper) }}
  <!--轮播图广告-->
  <div class="dui-layout-lg clearfix banner-box">
    <div class="dui-layout-con banner-box-left">
      {% include "widget/xSlider/xSlider2.html" %}
    </div>
    <div class="dui-layout-div"></div>
    <div class="dui-layout-silde banner-box-right">
      {% include "widget/xSlider/xSlider.html" %}
    </div>
  </div>
  <div class="dui-layout-lg clearfix dui-layout-padding" >
    <div class="dui-layout-con" >
      <div class="dui-box-shadow" >
        <div class="adviser-case-detail-con" style="margin-top: 0;" >
          <div class="adviser-top clearfix">
            <div style="float:left;line-height: 50px;" >
              <div class="adviser-touxiang" style="background:url({{helper.avaterimg(userinfo.uid,'small',userinfo.status,userinfo.version)}}) no-repeat 0 0;background-size:cover;">
              </div>
              <span style="font-size: 14px;color:#333;">
                {{userinfo.realname}}<i class="adviser-v-i"></i>
              </span>
            </div>
            <div style='float:right;'>
                <div class="bdsharebuttonbox page_share_buttons" style="margin-top: 15px;float: left;" data-uid='{{userinfo.uid}}'>
                  <a href="#" class="bds_weixin wx" data-cmd="weixin" title="分享到微信"></a>
                  <a href="#" class="bds_weixin weixin-pengyouquan" data-cmd="weixin" title="分享到微信朋友圈"></a>
                  <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                  <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ"></a>
                  <span class="art-report-btn" style="font-size: 12px;color:#333;cursor: pointer;" >举报</span>
                </div>
            </div>
          </div>
          <div class="clearfix" >
            <h1 class="adviser-case-detail-h3">
              {{article.article_info.title}}
            </h1>
            {% if article.article_info.tag_list %}
              <div class="tag article-tag" style="float:left;margin:19px 0 0 20px;">{{article.article_info.tag_list}}</div>
            {% endif %}
          </div>
          <div class="detail-info-bar clearfix">
            <div class="adviser-case-detail-come" >
              <span>时间：{{article.article_info.add_time}}</span>
              <span>
                收藏<i id="collection-num">{{article.article_info.favorites}}</i>
              </span>
              <span>
                阅读<i style="font-style: normal;" id="detail_views_num" data-viesNum="{{article.article_info.views}}"></i>
              </span>
              <span>
                评论{{article.article_info.comments}}
              </span>
              <span>
                点赞<i id="fabulous-num">{{article.article_info.votes}}</i>
              </span>
            </div>
            <div class="connect-info">
              <img src="{{helper.cdnhost}}/assets/img/main_icon_phone.png" alt="">
              <span><i class="zixun-info">留学咨询热线</i><i class="zixun-phone">：{{userinfo.tel}}</i></span>
              <span class="zixun-btn" onclick="openchat_new('{{ userinfo.new_job_number}}')">立即咨询</span>
            </div>
          </div>
          <div class="adviser-case-detail-offer" data-img="{{article.article_info.img_info[0]}}" id="get-share-img">
            {{article.article_info.message | safe}}
          </div>
          <div class="userinfo-box clearfix" >
            {% if userinfo.qrcode %}
              <img class="userinfo-img" src="{{helper.imageThumb(userinfo.qrcode)}}" >
              <img class="userinfo-img-shaow" src="{{helper.cdnhost}}/assets/img/my_else_shaow.png" >
            {% endif %}
            <div class="userinfo-right" >
              <div >
                <i class="userinfo-name" style="font-weight: normal">{{userinfo.realname}}</i>
                <i class="adviser-v-i" style="margin-left: 0;"></i>
                <i style="color:#333;font-size: 14px;">{{userinfo.position_name}}</i>
              </div>
              <div class="userinfo-information" style="margin-top: 30px">
                邮箱：<em>{{userinfo.email}}</em>
              </div>
              <div class="userinfo-information" >
                电话：<em>{{userinfo.tel}}</em>
              </div>
              <div class="userinfo-information" >
                {{userinfo.organid | getCity()}}分公司：<em>{{userinfo.organid | getCityAddress()}}</em>
              </div>
            </div>
          </div>
          <div class="adviser-case-operation-bar clearfix"  style="padding-top: 40px;padding-bottom: 40px;" id="to_comments">
            <span style="margin-left: 187px;float:left;width:115px;height:30px;font-size: 14px;color:#fff;text-align:center;line-height: 30px;background:#c13232;margin-right: 60px;cursor: pointer;" id="collection">
            {% if article.article_info.user_follow_check %}
              已收藏
            {% else %}
              收藏
            {% endif %}
            </span>  
            <span id="fabulous" style="float:left;width:115px;height:30px;font-size: 14px;color:#fff;text-align:center;line-height: 30px;background:#c13232;margin-right: 60px;cursor: pointer;">
              <i class="iconfont" >
              {% if article.article_info.vote_info |length %}
                &#xe604;
              {% else %}
                &#xe651;
              {% endif %} 
              </i>点赞</span> 
            <a  style="float:left;width:115px;height:30px;font-size: 14px;color:#fff;text-align:center;line-height: 30px;background:#c13232;margin-right: 60px;cursor: pointer;" onclick="openchat_new('{{ userinfo.new_job_number}}')">立即咨询</a>
          </div>
          <div class="article_tuijian">
              <h1 style="font-weight: normal"><div></div>相关推荐</h1>
            {% esi helper.include(esikey,'fragment/article_xiangguantuijian','n='+article.article_info.country_id,'c='+article.article_info.city_id,'is_news='+article.article_info.is_news,'tag_list='+ tag_list) %}
          </div>
          <!-- ========评论===== -->
            {% include "widget2/comment/comment.html" %}
        </div>
      </div>
    </div>
    
    <div class="dui-layout-div"></div>

    <div class="dui-layout-silde">
      <!-- =======顾问头像关注====== -->
      <div data-usertype="{{userinfo.usertype}}" id="userinfo">
        {% import "widget2/community_advisor/community_advisor.html" as community_advisor %}
        {% if userinfo.status == 1 %} {#离职#}
          {{ community_advisor.advisor_leave(userinfo,helper,login_info) }}
        {% else %} {#在职#}
          {% if userinfo.usertype == 2 %}
            {{community_advisor.advisor(userinfo,helper,login_info)}}
          {% elif userinfo.usertype == 3 %}
            {{community_advisor.counsellor(userinfo,helper,login_info)}}
          {% endif %}
        {% endif %}
      </div>
      <!-- ========猜你喜欢======= -->
      <div style="margin-top: 20px;" class="dui-box-shadow">
        <div class="common-title" style="border:1px solid #dcdcdc;">
          <i></i>
          <h3>猜你喜欢</h3>
        </div>
      {% if userinfo.adviser_type == 1 %}
        {% esi helper.include(esikey,'fragment/guess_like','n='+userinfo.country,'c='+userinfo.organid) %}
      {% else %}
        {% esi helper.include(esikey,'fragment/yimin_guess_like','n='+userinfo.country,'c='+userinfo.organid) %}
      {% endif %}
      </div>
      <div style="margin-top: 20px;" class="dui-box-shadow">
        <div class="common-title" style="border:1px solid #dcdcdc;">
          <i></i><h3>相关顾问</h3>
        </div>
        {% if userinfo.adviser_type == 2 %}
          {% esi helper.include(esikey,'fragment/yimin_xiangguanguwen','n='+article.article_info.country_id,'c='+userinfo.organid,'uid='+userinfo.uid,'isArticle=1','isIm=1') %}
        {% else %}
          {% esi helper.include(esikey,'fragment/xiangguanguwen','n='+article.article_info.country_id,'c='+userinfo.organid,'isArticle=1','uid='+userinfo.uid) %}
        {% endif %}
      </div>
    </div>
  </div>
  {% if userinfo.adviser_type==1 %}
  {% import "widget/new_slide/new_slide3.html" as  slide %}
  {{slide.leyu_slide("XC_"+tdk.pagekey+"_SEAT10",userinfo,login_info,helper) }}
  {% elseif userinfo.adviser_type==2   %}
  {% import "widget/new_slide_yimin/new_slide3.html" as  slide %}
  {{slide.leyu_slide(userinfo,login_info,helper) }}
  {% endif %}
  {% include "widget/new_footer/common_footer.html" %}
  <!-- =====活动弹窗===== -->
  <div>
    <input type="hidden" id="detail_id" value="{{article_id}}"/>
  </div>
  <script src="{{helper.cdnhost}}/assets/js/show_advert.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/nav_common.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/follow.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/xSlider-4.15.js" ></script>
  {% if userinfo.adviser_type==1 %}
  <script src="{{helper.cdnhost}}/assets/js/slide2.js"></script>
  {% elseif userinfo.adviser_type==2   %}
  <script src="{{helper.cdnhost}}/assets/js/slide2_yimin.js"></script>
  {% endif %}
  <script src="{{helper.cdnhost}}/assets/js/online_evaluation.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/footer.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/view_count_min.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/article_detail.js"></script>
  <script>
    $(function(){
      var login_ss = null;
      if(cookie('login_ss') != undefined){
        login_ss = JSON.parse(cookie('login_ss'));
      }
      $('.banner-box-left .slider').xSlider({
          current: 0,
          speed: 500,
          intervalTime: 5000,
          pagination: true,
          dotPostion:'right'
      });
      $('.banner-box-right .slider').xSlider({
          current: 0,
          speed: 1000,
          intervalTime: 5000,
          slidesPerView : 2,
          slidesPerGroup : 2,
          pagination: true
      });
      window._bd_share_config={
            "common":{
                "bdSnsKey":{},
                "bdText":"",
                "bdMini":"1",
                "bdMiniList":false,
                "bdPic":$("#get-share-img").attr('data-img'),
                "bdStyle":"0",
                "bdSize":"16",
                "bdUrl":window.location.href,
                "bdDesc":'',
                onAfterClick: function (cmd) {
                  var authorUId = $('.bdsharebuttonbox').attr('data-uid');
                  var shareUId = login_ss ? login_ss.uid : '';
                  var count_data = {
                    'type': cmd,
                    'shareUId': shareUId,
                    'authorUId': authorUId,
                    'articleId': article_id
                  }
                  // console.log('onAfterClick',count_data)
                  $.ajax({
                    url: ajaxUrlPrefix.nodeapi+'/share_count',
                    type:'get',
                    data:count_data,
                    dataType:'json',
                    success:function(msg){
                      if(msg.code === 0){
                        console.log('转发统计成功');
                      } else {
                        console.log('转发未统计');
                      }
                    },
                    error:function(XMLHttpRequest, textStatus, errorThrown){
                      console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status)
                    }
                  });
                }
            },
            "share":{}
        };
        // console.log(_bd_share_config.common.bdUrl)
      with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
      $("#collection").on("click",function(){
        //文章收藏按钮
        var that =this;
        $.ajax({
          url: '/soapi/favorite_article',
          type:'POST',
          data:{
            article_id:article_id
          },
          dataType:'jsonp',
          jsonpCallback:'cb',
          success:function(result){
           console.log(result)
            if(result.code == 0){
              if(result.data.action=='add'){
                layer.msg('收藏成功');
                $(that).html('已收藏');
                $('#collection-num').text(Number(Number($('#collection-num').text())+1));
              }else if(result.data.action=='remove'){
                layer.msg('取消收藏成功');
                $(that).html('收藏');
                $('#collection-num').text(Number($('#collection-num').text()-1));
              }
            }else if(result.code == 1){
              getlogin();
            }
          },
          error:function(XMLHttpRequest, textStatus, errorThrown){
            console.log(errorThrown)
          }
        });
      });
      $("#fabulous").on("click",function(){
        //点赞
        if( login_ss == undefined){
          getlogin();
          return false;
        }
        if(login_ss.uid == adviserId){
          layer.msg('不能对自己发表的内容进行投票')
          return false;
        } 
        var that =this;
        $.ajax({
          url: '/soapi/article_vote',
          type:'POST',
          data:{
            item_id:article_id,
            item_type:'article'
          },
          dataType:'jsonp',
          jsonpCallback:'cb',
          success:function(result){
           console.log(result)
            if(result.code == 0){
              if(result.data.action=='add'){
                layer.msg('点赞成功');
                $(that).find('i').html('&#xe604;');
                $('#fabulous-num').text(Number(Number($('#fabulous-num').text())+1));
              }else if(result.data.action == 'remove'){
                layer.msg('取消点赞成功');
                $(that).find('i').html('&#xe651;');
                $('#fabulous-num').text(Number(Number($('#fabulous-num').text())-1));
              }  
             
            }
          },
          error:function(XMLHttpRequest, textStatus, errorThrown){
             console.log(errorThrown)
          }
        });
      });
      $('.art-report-btn').on('click',function(){
        //文章举报
        report(this,1,city_id);
      });
      watermark();
    })
    function watermark() {
      var oTemp = document.createDocumentFragment();
      var mask_div = document.createElement('div');
      mask_div.appendChild(document.createTextNode('金吉列 www.jjl.cn'));
      //设置水印div倾斜显示
      mask_div.style.webkitTransform = "rotate(-" + 30 + "deg)";
      mask_div.style.MozTransform = "rotate(-" + 30 + "deg)";
      mask_div.style.msTransform = "rotate(-" + 30 + "deg)";
      mask_div.style.OTransform = "rotate(-" + 30 + "deg)";
      mask_div.style.transform = "rotate(-" + 30 + "deg)";
      mask_div.style.visibility = "";
      mask_div.style.position = "absolute";
      mask_div.style.left ='50%';
      mask_div.style.marginLeft ='-125px';
      mask_div.style.top = '40%';
      mask_div.style.overflow = "hidden";
      mask_div.style.zIndex = "700";
      mask_div.style.opacity ="0.4";
      mask_div.style.filter = "filter:Alpha(opacity=40)";
      mask_div.style.fontSize = "30px";
      mask_div.style.fontFamily = "微软雅黑";
      mask_div.style.color = "#999";
      mask_div.style.textAlign = "center";
      mask_div.style.height ='80px';
      mask_div.style.lineHeight='80px';
      mask_div.style.display = "block";
      oTemp.appendChild(mask_div);
      document.getElementById('get-share-img').appendChild(oTemp);
    }
  </script>
</body>
</html>