<!DOCTYPE html>
<html>
<head>
{% include "header_new.html" %}
<link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/widget2/bottom_comment.css"/>
<style>
    .right-cont{
        width: 878px;
        /*height: 1365px;*/
        /*border: 1px #dcdcdc solid;*/
    }
    .right-cont .loadMore{
        width: 100%;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-top: 1px solid #dcdcdc;
        cursor: pointer;
        font-size: 14px;
        color: #666;
    }
    .right-title{
        width: 840px;
        height: 40px;
        background: #eee;
        margin-top: 20px;
        margin-left: 20px;
    }
    .right-title .tit{
        width: 115px;
        height: 40px;
        background: #C13232;
        font-size: 18px;
        color: #fff;
        text-align: center;
        line-height: 40px;
        float: left;

    }
    .right-title .tit-release {
        float: right;
        width: 76px;
        height: 26px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 26px;
        background-color: #c13232;
        margin-top: 7px;
        margin-right: 20px;
    }
    .list-h{
        height:130px;
    }
    .list-h img{
        display: block;
        width:100%;
        height:100%;
    }
    .banner-box{
      margin-top: 20px;
      height: 130px;
      /*background-color: yellow;*/
    }
    .banner-box-left{
      background: #dcdcdc;
      height: 130px;
    }
    .banner-box-right{
      background: #dcdcdc;
      height: 130px;
    }
    .slider .slider-dot ul li{
      border-radius: 50%;
    }
    .slider .slider-btn.slider-btn-right,.slider .slider-btn.slider-btn-left{
      margin-top: -33px
    }
</style>
</head>
<body style="background: #f5f5f5">
{% include "widget/common_hide/common_hide.html"%}
  {% include "widget/top/top.html" %}
  {% import "widget/new_nav_first/common_nav.html" as common_nav %}
  {{ common_nav.common_nav(tdk,helper) }}
  <div class="dui-layout-lg clearfix banner-box">
    <div class="dui-layout-silde banner-box-right">{% include "widget/xSlider/xSlider.html" %}</div>
    <div class="dui-layout-div"></div>
    <div class="dui-layout-con banner-box-left">{% include "widget/xSlider/xSlider2.html" %}</div>
  </div>
  <div class="dui-layout-lg clearfix" style="margin-top: 20px;">
    <div class="dui-layout-silde right">
        <div class="clearfix">
            {% import "widget2/community_advisor/community_advisor.html" as advisor %}
            {% if login_info.usertype == 1 %} {#用户#}
            {{ advisor.user(userinfo,helper) }}
            {% elif login_info.usertype == 2 %} {#顾问#}
            {{ advisor.advisor(userinfo,helper,login_info) }}
            {% elif login_info.usertype == 3 %} {#参赞#}
            {{ advisor.counsellor(userinfo,helper,login_info) }}
            {% endif %}
        </div>
        {% if login_info.usertype == 1 %} {#用户#}
        {% import "widget2/side_menu/user_side_menu.html" as user_side_menu %}
        {{ user_side_menu.user_side_menu('我的主页', helper) }}
        {% elif login_info.usertype == 2 %} {#顾问#}
        {% import "widget2/side_menu/adviser_side_menu.html" as adviser_side_menu %}
        {{ adviser_side_menu.adviser_side_menu('我的主页', '我的案例', helper) }}
        {% elif login_info.usertype == 3 %} {#参赞#}
        {% import "widget2/side_menu/canzan_side_menu.html" as canzan_side_menu %}
        {{ canzan_side_menu.canzan_side_menu('我的主页', '我的案例', helper) }}
        {% endif %}
    </div>
    <div class="dui-layout-div"></div>
    <div class="dui-layout-con dui-box-shadow">
        <div class="right-cont case-cont">
            <div class="right-title clearfix">
                <div class="tit">我的案例</div>
                <a href="{{helper.urlgen('advisor_center','postarticle')}}" class="tit-release" target="_blank">发布文章</a>
            </div>
            {% if case_data.list.length > 0 %}
            <div class="right-main clearfix case-list-box">
                {% for item in case_data.list %}
                <div class="case-list-item article-list-item">
                {% import "widget2/article/article.html" as article_show %}
                {{ article_show.article_edit(item, helper) }}
                  {% include "widget2/bottom_comment/bottom_comment_zhuanlan_zhuye.html" %}
                </div>
                {% endfor %}
            </div>
            {% if case_data.totalpage == 1 %}
            <div class="loadMore" data-page="1" data-all="{{case_data.totalpage}}" data-uid="{{userinfo.uid}}">
                <span>案例加载完毕</span>
                {# <i class="iconfont">&#xe60b;</i> #}
            </div>
            {% else %}
            <div class="loadMore" data-page="1" data-all="{{case_data.totalpage}}" data-uid="{{userinfo.uid}}">
                <span>加载更多</span>
                <i class="iconfont">&#xe60b;</i>
            </div>
            {% endif %}
            {% else %}
            <div style="width: 100%; height: 400px;text-align: center;line-height: 400px;font-size: 30px;">您还未发布案例,快去<a target="_blank" href="{{helper.urlgen('advisor_center', 'postarticle')}}">发布案例</a>发布吧！</div>
            {% endif %}
        </div>
    </div>
  </div>
  {% include "widget/new_footer/common_footer.html" %}
  {% if userinfo.adviser_type==1 %}
  {% import "widget/new_slide/new_slide2.html" as  slide %}
  {{slide.leyu_slide("XC_"+tdk.pagekey+"_SEAT10",helper) }}
  {% elseif  userinfo.adviser_type==2 %}
  {% import "widget/new_slide_yimin/new_slide2.html" as  slide %}
  {{slide.leyu_slide(helper) }}
  {% endif %}
  <script>
    var login_ss = null; 
    if($.cookie('login_ss') != undefined){
      login_ss = JSON.parse($.cookie('login_ss'));  
    }
  </script>
  <script src="{{helper.cdnhost}}/assets/js/show_advert.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/online_evaluation.js" ></script>
  <script src="{{helper.cdnhost}}/assets/js/slide.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/footer.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/nav_seventh.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/follow.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/common/select.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/bottom_comment_zhuanlan.js"></script>
  <script src="{{helper.cdnhost}}/dep/js/layer.min.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/nav_common.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/xSlider-4.15.js" ></script>
  <script>
    $(function() {
        $('.banner-box-left .slider').xSlider({
            //轮播图配置
//          autoplay : 500,
            current: 0,
            speed: 500,
            intervalTime: 5000,
            pagination: true,
            dotPostion:'right'
        });
        $('.banner-box-right .slider').xSlider({
            //轮播图配置
//          autoplay : 500,
//            mode:'vertical',
            current: 0,
            speed: 1000,
            intervalTime: 5000,
            slidesPerView : 2,
            slidesPerGroup : 2,
          pagination: true
        });
        function appendCase (item) {
            console.log('aitem',item);
            var aItemHtml = '';
            var identity = '';
            if(item.user_info.usertype == 2){
              identity = 'advisor';
            }else if(item.user_info.usertype ==3){
              identity = 'canzan';
            }
            aItemHtml += '<div class="case-list-item article-list-item"><div class="art-box clearfix" >'+
                        '<a target="_blank" href="' +fn.urlgen(item.uid.toString()) +'">'+
                        '<div class="adviser-head" style="background:url(' + fn.avaterimg(item.uid, "small",item.user_info.status,item.user_info.version)+') no-repeat 0 0;background-size: cover;">'+
                        '</div>'+
                        '</a>'+
                        '<div class="adviser-info" >'+
                        '<div class="adviser-info-name" style="font-size: 14px" >'+
                        '<a target="_blank" href="' +fn.urlgen(item.uid.toString()) +'" style="color: #333">'+item.user_info.realname+'</a>'+
                        '</div>'+
                        '<div class="adviser-info-date clearfix" >'+
                        '<span class="adviser-info-date-s" style="color: #666;line-height: 20px;">'+item.add_time+'</span>'+
                        '</div>'+
                        '<div class="adviser-info-title">';
        if (item.type==1){
            aItemHtml += '<a target="_blank" href="'+fn.urlgen("case", item.id.toString())+'" style="color: #C13232">'+item.title+'</a>'
        }else {
            aItemHtml += '<a target="_blank" href="'+fn.urlgen("article", item.id.toString())+'" style="color: #C13232">'+item.title+'</a>'
        }
            aItemHtml += '<span style="font-size: 12px;padding: 0 10px;height: 24px;margin-left: 20px;background: url('+ajaxUrlPrefix.cdnhost+'/assets/img/yanse.png);background-size:cover ;border-radius:12px ;margin-top: -3px;text-align: center;line-height: 24px;color: #C13232;">'+item.tag_list+'</span>';
            aItemHtml += '</div>'+
                        '<div class="offer-opt-bar clearfix">'+
                        '<div class="opt-btn red-border stick" onclick="stick($(this), '+item.uid+', '+item.id+')">'+
                        '<i class="iconfont">&#xe685;</i>'+
                        '<span>置顶</span>'+
                        '</div>'+
                        '<div class="opt-btn red-border delete" onclick="deleteOffer($(this), '+item.uid+', '+item.id+')">'+
                        '<i class="iconfont">&#xe8c1;</i>'+
                        '<span>删除</span>'+
                        '</div>'+
                        '<div class="opt-btn edit">'+
                        '<i class="iconfont">&#xe61c;</i>'+
                        '<a target="_blank" href="'+fn.urlgen("advisor_center/postarticle", item.id.toString())+'">编辑</a>'+
                        '</div>'+
                        '</div>'+
                        '<p class="adviser-info-p">'
        if (item == 1){
            aItemHtml += '<a target="_blank" href="'+fn.urlgen("case", item.id.toString())+'" class="dui-text-warning" rel="nofollow">'+item.introduce+' <span>【查看详情】</span></a>'
        }else{
            aItemHtml += '<a target="_blank" href="'+fn.urlgen("article", item.id.toString())+'" class="dui-text-warning" rel="nofollow">'+item.introduce+' <span>【查看详情】</span></a>'
        }
            aItemHtml += '</p>'
            if (item.img_list) {
                aItemHtml += addArticleImg(item.img_list)
            }
            aItemHtml += '</div>'
            aItemHtml += '</div>'

            aItemHtml += addBottom(item);
            aItemHtml += '</div>';
            return aItemHtml;
        }
        function addArticleImg (imgList) {
            var html = '<ul id="adviser-info-ul" class="adviser-info-ul clearfix" >';
            for (var j=0; j<imgList.length; j++) {
                html += '<li><img src="'+ fn.imageThumb(imgList[j],'150x150') +'" ></li>';
            }
            html += '</ul>';
            return html;
        }
        function addArticle(artList) {
            var artHtml = '';
            for (var i = 0; i < artList.length; i++) {
                artHtml += appendCase(artList[i]);
            }
            $('.right-main').append($(artHtml));
        }
        function addBottom(item) {
        var html = '<div class="bot_comment clearfix">' +
        '<ul>' +
        '<li onclick="showbottom(1, ' + item.id + ')" id="yuedu_li_' + item.id + '">' +
        '<i class="iconfont " id="yuedu_' + item.id + '">&#xe9ca;</i>' +
        '<span id="yuedu_span_' + item.id + '">阅读<em id="yuedu_em_' + item.id + '">' + item.views + '</em></span>' +
        '</li>' +
        '<li onclick="showbottom(2, ' + item.id + ')" id="shoucang_li_' + item.id + '">' +
        '<i class="iconfont " id="shoucang_' + item.id + '">&#xe7ed;</i>' +
        '<span id="shoucang_span_' + item.id + '">收藏<em id="shoucang_em_' + item.id + '">' + item.favorites + '</em></span>' +
        '</li>' ;
        if (item.type == 2){
        html += '<a target="_blank" href="' + fn.urlgen("article", item.id.toString()) + '#cmt">'+
        '<li onclick="" id="pinglun_li_'+item.id+'">'+
        '<i class="iconfont " id="pinglun_'+item.id+'" style="color: #666">&#xe61f;</i>'+
        '<span id="pinglun_span_'+item.id+'">评论<em id="pinglun_em_'+item.id+'">'+item.comments+'</em></span>'+
        '</li>'+
        '</a>';
        } else {
        html += '<a target="_blank" href="' + fn.urlgen("case", item.id.toString()) + '#cmt">'+
        '<li onclick="" id="pinglun_li_'+item.id+'">'+
        '<i class="iconfont " id="pinglun_'+item.id+'" style="color: #666">&#xe61f;</i>'+
        '<span id="pinglun_span_'+item.id+'">评论<em id="pinglun_em_'+item.id+'">'+item.comments+'</em></span>'+
        '</li>'+
        '</a>';
        }
        html += '<li class="dian" onclick="showbottom(4, ' + item.id + ')" id="dianzan_li_' + item.id + '">' +
        '<i class="iconfont " id="dianzan_' + item.id + '">&#xe651;</i>' +
        '<span id="dianzan_span_' + item.id + '">点赞<em id="dianzan_em_' + item.id + '">' + item.votes + '</em></span>' +
        '</li>' +
        '</ul>' +
        '</div>';
        return html;
        }
        var listpage = 1;
        var loadMoreFlag = true;
        $('.loadMore').on('click', function () {
          if(loadMoreFlag){
            var page = $(this).data('page')*1+1;
            var uid = $(this).data('uid');
            var all = $(this).data('all');
            var per_page = 4;
            var thisObj = $(this);
            if (all == 1 || all == listpage) {
              thisObj.html('案例加载完毕');
              return false;
            }
            loadMoreFlag = false;
            $.ajax({
              url: '/soapi/advisor_list',
              type: 'GET',
              datatype: 'json',
              data: {
                uid: uid,
                type: 1,
                page: page,
                per_page: per_page,
                order:"add_time desc"
              },
              success: function (revmsg) {
                console.log(revmsg);
                if (revmsg.code == 0) {
                  var len = revmsg.data.list.length;
                  listpage = revmsg.data.page;
                  if (len == 0) {
                    thisObj.html('案例加载完毕')
                  }
                  else if (all == listpage) {
                    thisObj.html('案例加载完毕');
                    addArticle(revmsg.data.list);
                  }
                  else if (0 < len && len < per_page) {
                    thisObj.html('案例加载完毕');
                    addArticle(revmsg.data.list);
                    thisObj.data('page', page);
                  }
                  else {
                    addArticle(revmsg.data.list);
                    thisObj.data('page', page);
                  }
                }
                else {
                  thisObj.html('加载更多出错了，请刷新');
                }
                loadMoreFlag = true;
              },
              error:function(XMLHttpRequest, textStatus, errorThrown){
                console.log(errorThrown)
                loadMoreFlag = true;
              }
            })
          }

        });
        
    })
  </script>
</body>
</html>