<!DOCTYPE html>
<html lang="en">
<head>
	{% include "header_new.html" %}
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/article_detail.css" >
  <!--[if lt IE 10]>
  <script src="{{helper.cdnhost}}/assets/js/upgrade.js"></script>
  <![endif]-->
</head>
<body style="background:#f5f5f5;">
  <!-- ===头部=== -->
 {% include "widget/top/top.html" %}
 <!-- ====导航===== -->
 {% import "widget/new_nav_first/new_nav_red.html" as new_nav_red %}
 {{ new_nav_red.new_nav_red(tdk,helper) }}
  <div class="dui-layout-lg clearfix banner-box">
    <div class="dui-layout-silde banner-box-right">{% include "widget/xSlider/xSlider.html" %}</div>
    <div class="dui-layout-div"></div>
    <div class="dui-layout-con banner-box-left">{% include "widget/xSlider/xSlider2.html" %}</div>
  </div>
<div class="dui-layout-lg clearfix" >
  <div class="dui-layout-silde ">
    <!-- =======顾问头像关注====== -->
    <div style="margin-top: 20px;" >
      {% import "widget2/community_advisor/community_advisor.html" as community_advisor %}
      {% if login_info.usertype == 2 %}
        {{community_advisor.advisor(userinfo,helper,login_info)}}
      {% elif login_info.usertype == 3 %}  
        {{community_advisor.counsellor(userinfo,helper,login_info)}}
      {% else %}  
      {% endif %}
    </div>
    <!-- ========引入顾问侧边栏按钮======== -->
    {% if login_info.usertype ==2 %}
      {% import "widget2/side_menu/adviser_side_menu.html" as adviser_side_menu %}
      {{ adviser_side_menu.adviser_side_menu('我的主页','我的专栏',helper) }} 
    {% elif login_info.usertype == 3 %}
      {% import "widget2/side_menu/canzan_side_menu.html" as canzan_side_menu %}
      {{ canzan_side_menu.canzan_side_menu('我的主页','我的专栏',helper) }} 
    {% endif %}
  </div>
  <div class="dui-layout-div"></div>
  <div class="dui-layout-con" >
    <div class="dui-box-shadow" >
      <div class="adviser-case-detail-con" >
        <div class="main-title gray-bg">
          <h3 style="font-size: 18px;">专栏详情</h3>
          <div class="nav-phone">
            <span class="phone-bg"><i class="iconfont">&#xe618;</i></span>
            <span class="community-zixun" >留学咨询热线：</span>
            <span class="community-tel">400-010-8000</span>
          </div>
        </div>
        <div class="adviser-top clearfix" style="margin-top: 20px;">
            <div style="float:left;line-height: 50px;" >
              <div class="adviser-touxiang" style="background:url({{helper.avaterimg(userinfo.uid,'small',userinfo.status,userinfo.version)}}) no-repeat center;background-size:50px 50px;">
              </div>
              <span style="font-size: 14px;color:#333;">
                {{userinfo.realname}}<i class="adviser-v-i"></i>
              </span>
            </div>
            <div style="float:right;" >
              <div class="bdsharebuttonbox" style="margin-top: 15px;">
                <a href="#" class="bds_weixin wx" data-cmd="weixin" title="分享到微信"></a>
                <a href="#" class="bds_weixin weixin-pengyouquan" data-cmd="weixin" title="分享到微信朋友圈"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ"></a>
                <span class="art-report-btn" style="font-size: 12px;color:#333;cursor: pointer;" data-artId ="{{article_id}}" >举报</span>
              </div>
            </div>
        </div>
        <div class="clearfix" >
          <h1 class="adviser-case-detail-h3">
            {{article.article_info.title}}
          </h1>
          <div class="art-tag">
            <span class="art-tag-bg" ></span>
            <span class="art-tag-list">{{article.article_info.tag_list}}</span>
          </div>
        </div>
        <div class="adviser-case-detail-come" >
          <span>时间：{{article.article_info.add_time}}</span>
          <span style="float:right;margin-left: 20px;">
            阅读<i style="font-style: normal;" id="detail_views_num">{{article.article_info.views}}</i>
          </span>
          <span style="float:right;margin-left:20px;">
            收藏{{article.article_info.favorites}}
          </span>
          <span style="float:right;margin-left:20px;">
            评论{{article.article_info.comments}}
          </span>
          <span style="float:right;margin-left:20px;">
            点赞{{article.article_info.votes}}
          </span>
        </div>
        <div class="adviser-case-detail-offer" >
          {{article.article_info.message | safe}}
        </div>
        {% if preview == 0 %}
        <div class="adviser-case-operation-bar clearfix" style="padding-top: 40px;
  padding-bottom: 40px;">
          <span style="margin-left: 187px;float:left;width:115px;height:30px;font-size: 14px;color:#fff;text-align:center;line-height: 30px;background:#c13232;margin-right: 60px;cursor: pointer;" id="collection">
          {% if article.article_info.user_follow_check %}
            已收藏
          {% else %}
            收藏
          {% endif %}
          </span>  
         <a  style="float:left;width:115px;height:30px;font-size: 14px;color:#fff;text-align:center;line-height: 30px;background:#c13232;margin-right: 60px;cursor: pointer;" target="_blank"  href="http://jesong.jjl.cn/live/chat.dll?c=1&amp;n={{userinfo.job_number}}"  rel="nofollow">立即咨询</a>
        </div>
        <!-- ========评论===== -->
         {% include "widget2/comment/center_comment.html" %}
        {% endif %} 
      </div>  
    </div>
  </div>
</div>
  {% import "widget/new_slide/new_slide.html" as  slide %}
  {{slide.leyu_slide("AD_"+tdk.pagekey+"_SEAT10") }}
{% include "widget/new_footer/new_footer.html" %}
  <div>
    <input type="hidden" id="detail_id" value="{{id}}"/>
  </div>
<script>
  var login_ss = null; //获取用户信息
  if($.cookie('login_ss') != undefined){
    login_ss = JSON.parse($.cookie('login_ss'));  
  }
</script>
<script src="{{helper.cdnhost}}/assets/js/show_advert.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/online_evaluation.js" ></script>
  <script src="{{helper.cdnhost}}/assets/js/slide.js"></script>
<script src="{{helper.cdnhost}}/assets/js/nav_seventh.js" ></script>
<script src="{{helper.cdnhost}}/assets/js/footer.js"></script>
<script src="{{helper.cdnhost}}/assets/js/follow.js"></script>
<script src="{{helper.cdnhost}}/assets/js/layer.min.js"></script>
<script src="{{helper.cdnhost}}/assets/js/view_count_min.js"></script>
<script src="{{helper.cdnhost}}/assets/js/nav.js"></script>
<script src="{{helper.cdnhost}}/assets/js/xSlider.js" ></script>
<script>
  $(function(){
      $('.banner-box-left .slider').xSlider({
          //轮播图配置
//          autoplay : 500,
          current: 0,
          speed: 500,
          intervalTime: 5000,
          pagination: true
      });
      $('.banner-box-right .slider').xSlider({
          //轮播图配置
//          autoplay : 500,
//            mode:'vertical',
          current: 0,
          speed: 1000,
          intervalTime: 5000,
          slidesPerView : 2,
          slidesPerGroup : 2,
          pagination: true
      });
    window._bd_share_config={
          "common":{
              "bdSnsKey":{},
              "bdText":"",
              "bdMini":"1",
              "bdMiniList":false,
              "bdPic":"",
              "bdStyle":"0",
              "bdSize":"16",
              "bdUrl":window.location.href
          },
          "share":{}
      };
      // console.log(_bd_share_config.common.bdUrl)
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    $("#collection").on("click",function(){
      //文章收藏按钮
      var that =this;
      $.ajax({
        url: '/soapi/favorite_article',
        type:'POST',
        data:{
          article_id:$(".comment-list-box").attr("data-artId")
        },
        dataType:'jsonp',
        jsonpCallback:'cb',
        success:function(result){
          console.log(result)
          if(result.code == 0){
            if(result.data.action=='add'){
              layer.msg('收藏成功');
              $(that).html('已收藏');
            }else if(result.data.action=='remove'){
              layer.msg('取消收藏成功');
              $(that).html('收藏');
            }
          }
        },
        error:function(XMLHttpRequest, textStatus, errorThrown){
           console.log(errorThrown)
        }
      });
    });
    $('.art-report-btn').on('click',artReport); //文章举报
    function artReport(){
        //举报调取函数
        if(login_ss == undefined){
            layer.msg('你还没有登录')
            window.setTimeout(function(){
              window.location.href =fn.curlgen('login','h='+window.location.href);
            },1000);
            return false;
        }
        var report_content = null;
        var that =this;
        layer.open({
            type: 1,
            title:'举报理由',
            area: ['700px'], //宽高
            content:'<div class="report-con">'+
                       '<ul class="report-ul clearfix">'+
                         '<li>'+
                           '<span class="circle"></span>'+
                           '<i class="iconfont">&#xe62a;</i>'+
                           '<span class="sp-con">垃圾、广告信息</span>'+
                          '</li>'+
                          '<li>'+
                            '<span class="circle"></span>'+
                            '<i class="iconfont">&#xe62a;</i>'+
                            '<span class="sp-con">色情、低俗内容</span>'+
                          '</li>'+
                          '<li>'+
                            '<span class="circle"></span>'+
                            '<i class="iconfont">&#xe62a;</i>'+
                            '<span class="sp-con">时政敏感话题</span>'+
                          '</li>'+
                          '<li>'+
                            '<span class="circle"></span>'+
                            '<i class="iconfont">&#xe62a;</i>'+
                            '<span class="sp-con">其它原因</span>'+
                          '</li>'+
                        '</ul>'+
                        '<textarea class="report-txt"></textarea>'+
                    '</div>',
            btn:'确定',
            closeBtn:'2',
            yes: function(index, layero){
              if(report_content ==undefined || report_content == ''){
                layer.msg('请选择举报理由');
                return false;
              }
              $.ajax({
                // url: ajaxUrlPrefix.cmsapi+'/api/userReport',
                url:'/soapi/userReport',
                type:'POST',
                data:{
                  report_source:'1',
                  report_type:'1',
                  report_content:report_content,
                  userid:login_ss.uid,
                  artecle_id:$(that).attr("data-artId")
                },
                dataType:'json',
                // jsonpCallback:'callback',
                success:function(result){
                  console.log(result)
                  if(result.code == 0){
                    layer.msg('举报成功');
                    layer.close(index); 
                  }
                },
                error:function(XMLHttpRequest, textStatus, errorThrown){
                  console.log(errorThrown)
                }  
              });
            }         
        });
        $(".report-ul li").on("click",function(){
            //选择举报内容
            $(".report-ul li i").hide();
            $(".report-ul li .circle").show();
            $(this).find("i").show();
            $(this).find(".circle").hide();
            if($(this).index() == 3){
              $(".report-txt").show();
              $(".layui-layer-content").css({"height":"115px"});
            }else{
              $(".report-txt").hide();
              $(".layui-layer-content").css({"height":"39px"});
              report_content = $(this).find('.sp-con').text();
            }
        });
        $('.report-txt').on('change',function(){
            if($('.report-txt').val()!= ''){
              report_content = $('.report-txt').val();
            }else{
               report_content ='';
            }
        });
    }
  })
</script>
</body>
</html>