<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/bootstrap.min.css?v=3.3.6"/>
  {% include "header_new.html" %}
  <!--[if lt IE 10]>
  <script src="{{helper.cdnhost}}/assets/js/upgrade.js"></script>
  <![endif]-->
  <script src="{{helper.cdnhost}}/assets/js/bootstrap.min.js?v=3.3.6"></script>
  <script src="{{helper.cdnhost}}/assets/js/Bootstrap_popover.js"></script>
  <style>
    .content_title{
      margin: 20px;border-bottom: 2px solid #C13232;width: 840px;padding-bottom: 10px;font-size: 18px;color: #333;
    }
    .title_con{
      width: 390px;
      height: 40px;
      background-color: #f3f3f3;
      padding: 8px 10px;
      margin-bottom: 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .title_con h3{
      float: left;
      font-size: 16px;
      color: #C13232;
    }
    .title_con a{
      float: right;
      color: #333;
      line-height: 30px;
    }
    .nei_con{
      width: 390px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .nei_con img.tou{
      width: 60px;
      height: 76px;
      background-color: #eee;
      margin-right: 10px;
      float: left;
    }
    .nei_con .r{
      width: 320px;
      float: left;
    }
    .nei_con .r_title{
      height: 20px;
      font-size: 14px;
      color: #333;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    .nei_con .r_title a{
      color: #333;
    }
    .nei_con .r_con{
      height: 53px;
      font-size: 12px;
      color: #666;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
    .nei_con .r_con a{
      color: #666;
    }
    .nei_con .r_con span{
      font-size: 12px;
      color: #C13232;
    }
    .nei_con li{
      margin-bottom: 20px;
      /*display: -webkit-box;*/
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      font-size: 14px;
    }
    .nei_con li a {
      color: #333;
    }
    .nei_con li.o{
      height: 20px;
      margin-bottom: 20px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      font-size: 14px;
    }
    .nei_con li a:hover{
      color: #C13232;
    }
    .nei_con img.tu{
      width: 8px;
      height: 12px;
    }
    .loadMore {
      width: 100%;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-top: 1px solid #dcdcdc;
      cursor: pointer;
      font-size: 14px;
      color: #666;
    }
    .community-map img{
      width:100%;
      display: block;
      height:374px;
    }
    .list-h{
      height:130px;
    }
    .list-h img{
      display: block;
      width:100%;
      height:100%;
    }
  </style>
</head>
<body style="background: #f5f5f5">
{% include "widget/top/top.html" %}
{% import "widget/nav_seventh/nav_seventh.html" as nav_seventh %}
{{ nav_seventh.nav_seventh(route,tdk.cityid,helper) }}
<div class="dui-layout-lg clearfix list-h" style="margin-top: 20px;" id="AD_COMMUNITY_INDEX_SEAT2"></div>
<div class="dui-layout-lg clearfix">
  <div class="dui-layout-con left">
    <div class="clearfix" style="border: 1px solid #eee;margin-top: 20px;background: #fff">
      <!--美国-->
      <div class="content_title clearfix">
        美国
      </div>
      <div class="clearfix" style="width: 840px;padding: 0 40px">
        <div style="float: left;margin-right: 20px">
        <div class="title_con clearfix">
          <h3>好文推荐</h3>
          <a target="_blank" href="{{helper.urlgen('glue', 'n=1', 'order=views')}}" class="iconfont" rel="nofollow">&#xe602;</a>
        </div>
        <ul class="nei_con clearfix">
          {% for item in community_index.us.views.list %}
          {% if loop.first %}
          <li class="clearfix">
            <a target="_blank" href="{{helper.urlgen('blog', item.user_info.uid.toString())}}"><img class="tou" src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="{{item.title}}" title="{{item.title}}"/></a>
            <div class="r">
              <div class="r_title"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="color: #333" rel="nofollow">{{item.title}}</a></div>
              <div class="r_con"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="" rel="nofollow">{{item.introduce | ellipsis(58)}} <span>【查看详情】</span></a></div>
            </div>
          </li>
          {% else %}
          <li class="o">
            <img class="tu" src="{{helper.cdnhost}}/assets/img/con-index.png" alt=""/>
            <a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" rel="nofollow">{ {{item.user_info.realname}} }{{item.title}}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        </div>
        <div style="float: left">
          <div class="title_con clearfix">
            <h3>最新动态</h3>
            <a target="_blank" href="{{helper.urlgen('glue', 'n=1', 'order=add_time')}}" class="iconfont" rel="nofollow">&#xe602;</a>
          </div>
          <ul class="nei_con clearfix">
            {% for item in community_index.us.add_time.list %}
            {% if loop.first %}
            <li class="clearfix">
              <a target="_blank" href="{{helper.urlgen('blog', item.user_info.uid.toString())}}"><img class="tou" src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="{{item.title}}" title="{{item.title}}"/></a>
              <div class="r">
                <div class="r_title"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="color: #333" rel="nofollow">{{item.title}}</a></div>
                <div class="r_con"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="" rel="nofollow">{{item.introduce | ellipsis(58)}} <span>【查看详情】</span></a></div>
              </div>
            </li>
            {% else %}
            <li class="o">
              <img class="tu" src="{{helper.cdnhost}}/assets/img/con-index.png" alt=""/>
              <a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" rel="nofollow">{ {{item.user_info.realname}} }{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    <!--英国-->
      <div class="content_title clearfix">
        英国
      </div>
      <div class="clearfix" style="width: 840px;padding: 0 40px">
        <div style="float: left;margin-right: 20px">
          <div class="title_con clearfix">
            <h3>好文推荐</h3>
            <a target="_blank" href="{{helper.urlgen('glue', 'n=2', 'order=views')}}" class="iconfont" rel="nofollow">&#xe602;</a>
          </div>
          <ul class="nei_con clearfix">
            {% for item in community_index.gb.views.list %}
            {% if loop.first %}
            <li class="clearfix">
              <a target="_blank" href="{{helper.urlgen('blog', item.user_info.uid.toString())}}"><img class="tou" src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="{{item.title}}" title="{{item.title}}"/></a>
              <div class="r">
                <div class="r_title"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="color: #333" rel="nofollow">{{item.title}}</a></div>
                <div class="r_con"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="" rel="nofollow">{{item.introduce | ellipsis(58)}} <span>【查看详情】</span></a></div>
              </div>
            </li>
            {% else %}
            <li class="o">
              <img class="tu" src="{{helper.cdnhost}}/assets/img/con-index.png" alt=""/>
              <a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" rel="nofollow">{ {{item.user_info.realname}} }{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div style="float: left">
          <div class="title_con clearfix">
            <h3>最新动态</h3>
            <a target="_blank" href="{{helper.urlgen('glue', 'n=2', 'order=add_time')}}" class="iconfont" rel="nofollow">&#xe602;</a>
          </div>
          <ul class="nei_con clearfix">
            {% for item in community_index.gb.add_time.list %}
            {% if loop.first %}
            <li class="clearfix">
              <a target="_blank" href="{{helper.urlgen('blog', item.user_info.uid.toString())}}"><img class="tou" src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="{{item.title}}" title="{{item.title}}"/></a>
              <div class="r">
                <div class="r_title"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="color: #333" rel="nofollow">{{item.title}}</a></div>
                <div class="r_con"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="" rel="nofollow">{{item.introduce | ellipsis(58)}} <span>【查看详情】</span></a></div>
              </div>
            </li>
            {% else %}
            <li class="o">
              <img class="tu" src="{{helper.cdnhost}}/assets/img/con-index.png" alt=""/>
              <a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" rel="nofollow">{ {{item.user_info.realname}} }{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--加拿大-->
      <div class="content_title clearfix">
        加拿大
      </div>
      <div class="clearfix" style="width: 840px;padding: 0 40px">
        <div style="float: left;margin-right: 20px">
          <div class="title_con clearfix">
            <h3>好文推荐</h3>
            <a target="_blank" href="{{helper.urlgen('glue', 'n=3', 'order=views')}}" class="iconfont" rel="nofollow">&#xe602;</a>
          </div>
          <ul class="nei_con clearfix">
            {% for item in community_index.ca.views.list %}
            {% if loop.first %}
            <li class="clearfix">
              <a target="_blank" href="{{helper.urlgen('blog', item.user_info.uid.toString())}}"><img class="tou" src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="{{item.title}}" title="{{item.title}}"/></a>
              <div class="r">
                <div class="r_title"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="color: #333" rel="nofollow">{{item.title}}</a></div>
                <div class="r_con"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="" rel="nofollow">{{item.introduce | ellipsis(58)}} <span>【查看详情】</span></a></div>
              </div>
            </li>
            {% else %}
            <li class="o">
              <img class="tu" src="{{helper.cdnhost}}/assets/img/con-index.png" alt=""/>
              <a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" rel="nofollow">{ {{item.user_info.realname}} }{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div style="float: left">
          <div class="title_con clearfix">
            <h3>最新动态</h3>
            <a target="_blank" href="{{helper.urlgen('glue', 'n=3', 'order=add_time')}}" class="iconfont" rel="nofollow">&#xe602;</a>
          </div>
          <ul class="nei_con clearfix">
            {% for item in community_index.ca.add_time.list %}
            {% if loop.first %}
            <li class="clearfix">
              <a target="_blank" href="{{helper.urlgen('blog', item.user_info.uid.toString())}}"><img class="tou" src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="{{item.title}}" title="{{item.title}}"/></a>
              <div class="r">
                <div class="r_title"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="color: #333" rel="nofollow">{{item.title}}</a></div>
                <div class="r_con"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="" rel="nofollow">{{item.introduce | ellipsis(58)}} <span>【查看详情】</span></a></div>
              </div>
            </li>
            {% else %}
            <li class="o">
              <img class="tu" src="{{helper.cdnhost}}/assets/img/con-index.png" alt=""/>
              <a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" rel="nofollow">{ {{item.user_info.realname}} }{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--澳大利亚-->
      <div class="content_title clearfix">
        澳大利亚
      </div>
      <div class="clearfix" style="width: 840px;padding: 0 40px">
        <div style="float: left;margin-right: 20px">
          <div class="title_con clearfix">
            <h3>好文推荐</h3>
            <a target="_blank" href="{{helper.urlgen('glue', 'n=4', 'order=views')}}" class="iconfont" rel="nofollow">&#xe602;</a>
          </div>
          <ul class="nei_con clearfix">
            {% for item in community_index.au.views.list %}
            {% if loop.first %}
            <li class="clearfix">
              <a target="_blank" href="{{helper.urlgen('blog', item.user_info.uid.toString())}}"><img class="tou" src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="{{item.title}}" title="{{item.title}}"/></a>
              <div class="r">
                <div class="r_title"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="color: #333" rel="nofollow">{{item.title}}</a></div>
                <div class="r_con"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="" rel="nofollow">{{item.introduce | ellipsis(58)}} <span>【查看详情】</span></a></div>
              </div>
            </li>
            {% else %}
            <li class="o">
              <img class="tu" src="{{helper.cdnhost}}/assets/img/con-index.png" alt=""/>
              <a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" rel="nofollow">{ {{item.user_info.realname}} }{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div style="float: left">
          <div class="title_con clearfix">
            <h3>最新动态</h3>
            <a target="_blank" href="{{helper.urlgen('glue', 'n=4', 'order=add_time')}}" class="iconfont" rel="nofollow">&#xe602;</a>
          </div>
          <ul class="nei_con clearfix">
            {% for item in community_index.au.add_time.list %}
            {% if loop.first %}
            <li class="clearfix">
              <a target="_blank" href="{{helper.urlgen('blog', item.user_info.uid.toString())}}"><img class="tou" src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="{{item.title}}" title="{{item.title}}"/></a>
              <div class="r">
                <div class="r_title"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="color: #333" rel="nofollow">{{item.title}}</a></div>
                <div class="r_con"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="" rel="nofollow">{{item.introduce | ellipsis(58)}} <span>【查看详情】</span></a></div>
              </div>
            </li>
            {% else %}
            <li class="o">
              <img class="tu" src="{{helper.cdnhost}}/assets/img/con-index.png" alt=""/>
              <a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" rel="nofollow">{ {{item.user_info.realname}} }{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--新西兰-->
      <div class="content_title clearfix">
        新西兰
      </div>
      <div class="clearfix" style="width: 840px;padding: 0 40px">
        <div style="float: left;margin-right: 20px">
          <div class="title_con clearfix">
            <h3>好文推荐</h3>
            <a target="_blank" href="{{helper.urlgen('glue', 'n=5', 'order=views')}}" class="iconfont" rel="nofollow">&#xe602;</a>
          </div>
          <ul class="nei_con clearfix">
            {% for item in community_index.nz.views.list %}
            {% if loop.first %}
            <li class="clearfix">
              <a target="_blank" href="{{helper.urlgen('blog', item.user_info.uid.toString())}}"><img class="tou" src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="{{item.title}}" title="{{item.title}}"/></a>
              <div class="r">
                <div class="r_title"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="color: #333" rel="nofollow">{{item.title}}</a></div>
                <div class="r_con"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="" rel="nofollow">{{item.introduce | ellipsis(58)}} <span>【查看详情】</span></a></div>
              </div>
            </li>
            {% else %}
            <li class="o">
              <img class="tu" src="{{helper.cdnhost}}/assets/img/con-index.png" alt=""/>
              <a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" rel="nofollow">{ {{item.user_info.realname}} }{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div style="float: left">
          <div class="title_con clearfix">
            <h3>最新动态</h3>
            <a target="_blank" href="{{helper.urlgen('glue', 'n=5', 'order=add_time')}}" class="iconfont" rel="nofollow">&#xe602;</a>
          </div>
          <ul class="nei_con clearfix">
            {% for item in community_index.nz.add_time.list %}
            {% if loop.first %}
            <li class="clearfix">
              <a target="_blank" href="{{helper.urlgen('blog', item.user_info.uid.toString())}}"><img class="tou" src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="{{item.title}}" title="{{item.title}}"/></a>
              <div class="r">
                <div class="r_title"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="color: #333" rel="nofollow">{{item.title}}</a></div>
                <div class="r_con"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="" rel="nofollow">{{item.introduce | ellipsis(58)}} <span>【查看详情】</span></a></div>
              </div>
            </li>
            {% else %}
            <li class="o">
              <img class="tu" src="{{helper.cdnhost}}/assets/img/con-index.png" alt=""/>
              <a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" rel="nofollow">{ {{item.user_info.realname}} }{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--亚洲-->
      <div class="content_title clearfix">
        亚洲
      </div>
      <div class="clearfix" style="width: 840px;padding: 0 40px">
        <div style="float: left;margin-right: 20px">
          <div class="title_con clearfix">
            <h3>好文推荐</h3>
            <a target="_blank" href="{{helper.urlgen('glue', 'n=51', 'order=views')}}" class="iconfont" rel="nofollow">&#xe602;</a>
          </div>
          <ul class="nei_con clearfix">
            {% for item in community_index.as.views.list %}
            {% if loop.first %}
            <li class="clearfix">
              <a target="_blank" href="{{helper.urlgen('blog', item.user_info.uid.toString())}}"><img class="tou" src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="{{item.title}}" title="{{item.title}}"/></a>
              <div class="r">
                <div class="r_title"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="color: #333" rel="nofollow">{{item.title}}</a></div>
                <div class="r_con"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="" rel="nofollow">{{item.introduce | ellipsis(58)}} <span>【查看详情】</span></a></div>
              </div>
            </li>
            {% else %}
            <li class="o">
              <img class="tu" src="{{helper.cdnhost}}/assets/img/con-index.png" alt=""/>
              <a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" rel="nofollow">{ {{item.user_info.realname}} }{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div style="float: left">
          <div class="title_con clearfix">
            <h3>最新动态</h3>
            <a target="_blank" href="{{helper.urlgen('glue', 'n=51', 'order=add_time')}}" class="iconfont" rel="nofollow">&#xe602;</a>
          </div>
          <ul class="nei_con clearfix">
            {% for item in community_index.as.add_time.list %}
            {% if loop.first %}
            <li class="clearfix">
              <a target="_blank" href="{{helper.urlgen('blog', item.user_info.uid.toString())}}"><img class="tou" src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="{{item.title}}" title="{{item.title}}"/></a>
              <div class="r">
                <div class="r_title"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="color: #333" rel="nofollow">{{item.title}}</a></div>
                <div class="r_con"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="" rel="nofollow">{{item.introduce | ellipsis(58)}} <span>【查看详情】</span></a></div>
              </div>
            </li>
            {% else %}
            <li class="o">
              <img class="tu" src="{{helper.cdnhost}}/assets/img/con-index.png" alt=""/>
              <a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" rel="nofollow">{ {{item.user_info.realname}} }{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--欧洲-->
      <div class="content_title clearfix">
        欧洲
      </div>
      <div class="clearfix" style="width: 840px;padding: 0 40px">
        <div style="float: left;margin-right: 20px">
          <div class="title_con clearfix">
            <h3>好文推荐</h3>
            <a target="_blank" href="{{helper.urlgen('glue', 'n=104', 'order=views')}}" class="iconfont" rel="nofollow">&#xe602;</a>
          </div>
          <ul class="nei_con clearfix">
            {% for item in community_index.eu.views.list %}
            {% if loop.first %}
            <li class="clearfix">
              <a target="_blank" href="{{helper.urlgen('blog', item.user_info.uid.toString())}}"><img class="tou" src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="{{item.title}}" title="{{item.title}}"/></a>
              <div class="r">
                <div class="r_title"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="color: #333" rel="nofollow">{{item.title}}</a></div>
                <div class="r_con"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="" rel="nofollow">{{item.introduce | ellipsis(58)}} <span>【查看详情】</span></a></div>
              </div>
            </li>
            {% else %}
            <li class="o">
              <img class="tu" src="{{helper.cdnhost}}/assets/img/con-index.png" alt=""/>
              <a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" rel="nofollow">{ {{item.user_info.realname}} }{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div style="float: left">
          <div class="title_con clearfix">
            <h3>最新动态</h3>
            <a target="_blank" href="{{helper.urlgen('glue', 'n=104', 'order=add_time')}}" class="iconfont" rel="nofollow">&#xe602;</a>
          </div>
          <ul class="nei_con clearfix">
            {% for item in community_index.eu.add_time.list %}
            {% if loop.first %}
            <li class="clearfix">
              <a target="_blank" href="{{helper.urlgen('blog', item.user_info.uid.toString())}}"><img class="tou" src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="{{item.title}}" title="{{item.title}}"/></a>
              <div class="r">
                <div class="r_title"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="color: #333" rel="nofollow">{{item.title}}</a></div>
                <div class="r_con"><a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" style="" rel="nofollow">{{item.introduce | ellipsis(58)}} <span>【查看详情】</span></a></div>
              </div>
            </li>
            {% else %}
            <li class="o">
              <img class="tu" src="{{helper.cdnhost}}/assets/img/con-index.png" alt=""/>
              <a target="_blank" href="{{helper.articleUrlgen('blog', item.uid.toString(), 'article='+item.id | string)}}" rel="nofollow">{ {{item.user_info.realname}} }{{item.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>

  </div>
  <div class="dui-layout-div"></div>
  <div class="dui-layout-silde right">
    <div style="border: 1px solid #eee;margin-top: 20px;">
      {% if login_info == '' or login_info == null or login_info == undefined or login_info.uid == 0 %}
        {% include "widget2/index_login/index_login.html" %}
      {% else %}
        {% import "widget2/community_advisor/community_advisor.html" as community_advisor %}
        {% if userinfo.status == 1 %} {#离职#}
        {{ community_advisor.advisor_leave(userinfo,helper,login_info) }}
        {% else %} {#在职#}
        {% if userinfo.usertype == 1 %} {#用户#}
        {{ community_advisor.user(userinfo,helper) }}
        {% elif userinfo.usertype == 2 %}{#顾问#}
        {{ community_advisor.advisor(userinfo,helper,login_info) }}
        {% elif userinfo.usertype == 3 %}{#参赞#}
        {{ community_advisor.counsellor(userinfo,helper,login_info) }}
        {% endif %}
        {% endif %}
      {% endif %}
    </div>
    <div class="dui-box-shadow clearfix" style="margin-top: 20px;background:#fff;margin-bottom: 20px;">
      <div class="common-title clearfix">
        <i></i>
        <h3>明星顾问</h3>
        <a target="_blank" href="{{helper.urlgen('adviser')}}" class="iconfont">&#xe602;</a>
      </div>
      <div>
        {% import "widget/advisor_star/advisor_star_cell.html" as advisor_star %}
        {{advisor_star.advisor_star_list1(mingxingguwen,helper)}}
      </div>
    </div>
    </div>
  </div>
</div>

{% include "widget/new_footer/new_footer.html" %}
{% import "widget/new_slide/new_slide.html" as  slide %}
{{slide.leyu_slide("AD_"+tdk.pagekey+"_SEAT10",helper) }}
<script>
  var login_ss = null; 
  if($.cookie('login_ss') != undefined){
    login_ss = JSON.parse($.cookie('login_ss'));  
  }
</script>
<script src="{{helper.cdnhost}}/assets/js/show_advert.js"></script>
<script src="{{helper.cdnhost}}/assets/js/online_evaluation.js" ></script>
<script src="{{helper.cdnhost}}/assets/js/slide.js"></script>
<script src="{{helper.cdnhost}}/assets/js/bootstrap.min.js?v=3.3.6"></script>
<script src="{{helper.cdnhost}}/assets/js/Bootstrap_popover.js"></script>
<script src="{{helper.cdnhost}}/assets/js/bottom_comment.js"></script>
<script src="{{helper.cdnhost}}/assets/js/nav_seventh.js" ></script>
<script src="{{helper.cdnhost}}/assets/js/follow.js"></script>
<script src="{{helper.cdnhost}}/assets/js/xSlider.js" ></script>
<script src="{{helper.cdnhost}}/dep/js/layer.min.js"></script>
<script src="{{helper.cdnhost}}/assets/js/slide.js"></script>
<script src="{{helper.cdnhost}}/assets/js/footer.js"></script>
<script src="{{helper.cdnhost}}/assets/js/sha1.js" type="text/javascript" charset="utf-8"></script>
<script src="{{helper.cdnhost}}/assets/js/online_evaluation.js"></script>
<script>
  $(function() {
    //明星顾问轮播
    $('.advisor_star_bar .slider').xSlider();
    $('.community-lunbo .slider').xSlider({
      //轮播图配置
      current: 0,
      speed: 500,
      intervalTime: 5000,
      pagination: true
    });
    /*function appendCaseItem (citem) {
      if(citem.introduce==undefined){
          citem.introduce ={
            stu_name:'',
            school_1:'',
            school_2:'',
            school_3:'',
            dep_1:'',
            dep_2:'',
            dep_3:'',
            admission_time:'',
            offer_img:[]
          };
      }
      var cItemHtml ='<div class="offers clearfix">'+
        '<div class="offers-left">'+
          '<div class="offers-left-img">'+
            '<a href="'+ fn.urlgen("case", citem.id.toString()) +'">'+
              '<img src="'+fn.avaterimg(citem.uid,'small',citem.user_info.status,citem.user_info.version)+'" >'+
            '</a>'+
          '</div>'+
          '<div class="offers-left-off">'+
            '<p class="off-p1">' + citem.user_info.realname + '</p>'+
            '<p class="off-p2"> '+ citem.add_time +'&nbsp;&nbsp;<span>来自 : '+  citem.from +'</span></p>'+
            '<h2>'+ citem.title +'</h2>'+
            '<p class="off-p3">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名&nbsp;:&nbsp;'+ citem.introduce.stu_name +'</p>'+
            '<p class="off-p3">录取院校&nbsp;:&nbsp;'+ citem.introduce.school_1 +citem.introduce.school_2 +citem.introduce.school_3+'</p>'+
            '<p class="off-p3">录取专业&nbsp;:&nbsp;'+ citem.introduce.dep_1 +citem.introduce.dep_2 +citem.introduce.dep_3+'</p>'+
            '<p class="off-p3">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历&nbsp;:&nbsp;'+ fn.getEdu(citem.edu_id) +'</p>'+
            '<p class="off-p3">录取时间&nbsp;:&nbsp;'+ citem.introduce.admission_time +'</p>'+
            '<p class="off-p4"><a href="'+ fn.urlgen("case", citem.id.toString()) +'">【查询详情】</a></p>'+
          '</div>'+
        '</div>'+
        '<div class="offers-right">'+
          '<div class="offers-right-xiala">'+
            '<div class="offer-xialas">'+
              '<span class="offer-xialadd iconfont">&#xe60b;</span>'+
              '<ul class="offer-xiala">'+
                '<li>'+
                  '<a class="dui-text-warning-s report-btn" data-artId="'+citem.id+'" data-catid="'+citem.category_id+'">举报'+
                  '</a>'+
                '</li>'+
                '<li>'+
                  '<a class="dui-text-warning-s share-btn" data-url="'+ fn.urlgen("case", citem.id.toString()) +'" data-title ="'+citem.title+'">分享'+
                  '</a>'+
                '</li>'+
              '</ul>'+
            '</div>'+
          '</div>'+
          addCaseImg(citem.img_list)+
        '</div>'+
      '</div>'+
      addBottom(citem);
      return cItemHtml; //返回案例小模块html
    }
    function appendArticleItem (aitem) {
      var aItemHtml ='<div class="art-box clearfix" >'+
        '<a href="'+fn.urlgen("article", aitem.id.toString()) +'">'+
          '<div class="adviser-head" style="background:url('+fn.avaterimg(aitem.uid,'small',aitem.user_info.status,aitem.user_info.version)+') no-repeat 0 0;background-size: 60px 76px;"></div>'+
        '</a>'+
        '<div class="adviser-info" >'+
          '<div class="adviser-info-name" >'+ aitem.user_info.realname +'</div>'+
          '<div class="adviser-info-date clearfix" >'+
            '<span class="adviser-info-date-s">'+ aitem.add_time +'</span>'+
            '<span>来自：'+ aitem.from +'</span>'+
          '</div>'+
          '<div class="adviser-info-title">'+
            '<a href="'+fn.urlgen("article", aitem.id.toString())+'" style="color: #333">'+
              aitem.title+
            '</a>'+
          '</div>'+
          '<div class="offer-xialas">'+
            '<span class="offer-xialadd iconfont">&#xe60b;</span>'+
            '<ul class="offer-xiala">'+
              '<li>'+
                '<a class="dui-text-warning-s report-btn" data-artId="'+aitem.id+'" data-catid="'+aitem.category_id+'">举报'+
                '</a>'+
              '</li>'+
              '<li>'+
                '<a class="dui-text-warning-s share-btn" data-url="'+fn.urlgen("article", aitem.id.toString())+'" data-title ="'+aitem.title+'">分享'+
                '</a>'+
              '</li>'+
            '</ul>'+
          '</div>'+
          '<p class="adviser-info-p">'+
            '<a href="'+ fn.urlgen("article",aitem.id.toString()) +'" class="dui-text-warning">'+ aitem.introduce +'<span>【查看详情】</span>'+
            '</a>'+
          '</p>'+
          addArticleImg(aitem.img_list)+
        '</div>'+
      '</div>'+
      addBottom(aitem);
      return aItemHtml;
    }
    function appendFav (favArr) {
        var favHtml = '';
        for (var i = 0; i < favArr.length; i++) {
            if (favArr[i].category_id == 17) { //案例
                favHtml += appendCaseItem(favArr[i]);
            }
            else if (favArr[i].category_id < 17) { //专栏
                favHtml += appendArticleItem(favArr[i]);
            }
        }
        $('.right-main').append(favHtml);
        $('.report-btn').on("click",report); //点击举报
        $('.share-btn').on('click',share); //点击分享
    }
    function addCaseImg (imgList) {
      if(imgList==undefined){
        return '';
      }
      var html ='<div class="offers-right-off">'+
            '<div class="offers-right-offs">'+
              '<span>Offer展示:</span>'+
            '</div>'+
            '<div class="offers-right-offh">';

      for (var j=0;j<imgList.length;j++) {
          html += '<div class="img-box" ><img src="'+ fn.imageThumb(imgList[j],'110x130') +'" alt=""></div>';
      }
      html +='</div></div>';
      return html;
    }
    function addArticleImg (imgList) {
      if(imgList==undefined){
        return '';
      }
      var html = '<ul id="adviser-info-ul" class="adviser-info-ul clearfix" >';
      for (var j=0; j<imgList.length; j++) {
          html += '<li><img src="'+ fn.imageThumb(imgList[j],'150x150') +'" ></li>';
      }
      html += '</ul>';
      return html;
    }
    function addBottom(item){
      var html ='<div class="bot_comment clearfix">'+
        '<ul>'+
          '<li onclick="showbottom(1, '+item.id+')" id="yuedu_li_'+item.id+'">'+
            '<i class="iconfont " id="yuedu_'+item.id+'">&#xe9ca;</i>'+
            '<span id="yuedu_span_'+item.id+'">阅读（<em id="yuedu_em_'+ item.id +'">'+ item.views +'</em>）</span>'+
          '</li>'+
          '<li onclick="showbottom(2, '+item.id+')" id="shoucang_li_'+item.id+'">'+
            '<i class="iconfont " id="shoucang_'+item.id+'">&#xe7ed;</i>'+
            '<span id="shoucang_span_'+item.id+'">收藏（<em id="shoucang_em_'+ item.id +'">'+ item.favorites +'</em>）</span>'+
          '</li>'+
          '<li onclick="showbottom(3, '+item.id+')" id="pinglun_li_'+item.id+'">'+
            '<i class="iconfont " id="pinglun_'+item.id+'">&#xe61f;</i>'+
            '<span id="pinglun_span_'+item.id+'">评论（<em id="pinglun_em_'+ item.id +'">'+ item.comments +'</em>）</span>'+
          '</li>'+
          '<li class="dian" onclick="showbottom(4, '+item.id+')" id="dianzan_li_'+item.id+'">'+
            '<i class="iconfont " id="dianzan_'+item.id+'">&#xe651;</i>'+
            '<span id="dianzan_span_'+item.id+'">点赞（<em id="dianzan_em_'+ item.id +'">'+ item.votes +'</em>）</span>'+
          '</li>'+
        '</ul>'+
      '</div>';
      return html;
    }
    $('.loadMore').on('click', function () {
        var page = $(this).data('page')*1+1;
        var per_page = 4;
        var thisObj = $(this);
        $.ajax({
            url: '/soapi/loadmore',
            type: 'GET',
            datatype: 'json',
            data: {
              order:"views desc",
              page: page,
              per_page: per_page
            },
            success: function (revmsg) {
                console.log(revmsg)
                if (revmsg.code == 0) {
                    var revList = revmsg.data.list;
                    var len = revList.length;
                    if (len == 0) {
                        thisObj.html('已展示全部收藏');
                    }
                    if (len < per_page) {
                        thisObj.html('已展示全部收藏');
                        appendFav(revList);
                        thisObj.data('page', page);
                    }else {
                        appendFav(revList);
                        thisObj.data('page', page);
                    }
                }
                else {
                    thisObj.html('加载更多出错了，请刷新');
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                console.log(errorThrown)
            }
        })
    });
    $('.report-btn').on("click",report); //点击举报
    $('.share-btn').on('click',share); //点击分享
    function report(){
        //举报调取函数
        if(login_ss == undefined){
          layer.msg('你还没有登录')
          window.setTimeout(function(){
            window.location.href =fn.curlgen('login','h='+window.location.href);
          },1000);
          return false;
        }
        var report_content = null;
        var that =this;
        layer.open({
            type: 1,
            title:'举报理由',
            area: ['700px'], //宽高
            content:'<div class="report-con">'+
                       '<ul class="report-ul clearfix">'+
                         '<li>'+
                           '<span class="circle"></span>'+
                           '<i class="iconfont">&#xe62a;</i>'+
                           '<span class="sp-con">垃圾、广告信息</span>'+
                          '</li>'+
                          '<li>'+
                            '<span class="circle"></span>'+
                            '<i class="iconfont">&#xe62a;</i>'+
                            '<span class="sp-con">色情、低俗内容</span>'+
                          '</li>'+
                          '<li>'+
                            '<span class="circle"></span>'+
                            '<i class="iconfont">&#xe62a;</i>'+
                            '<span class="sp-con">时政敏感话题</span>'+
                          '</li>'+
                          '<li>'+
                            '<span class="circle"></span>'+
                            '<i class="iconfont">&#xe62a;</i>'+
                            '<span class="sp-con">其它原因</span>'+
                          '</li>'+
                        '</ul>'+
                        '<textarea class="report-txt"></textarea>'+
                    '</div>',
            btn:'确定',
            closeBtn:'2',
            yes: function(index, layero){
              if(report_content ==undefined || report_content == ''){
                layer.msg('请选择举报理由');
                return false;
              }
              $.ajax({
                url: ajaxUrlPrefix.cmsapi+'/api/userReport',
                type:'POST',
                data:{
                  report_source:'1',
                  report_type:'1',
                  report_content:report_content,
                  userid:login_ss.uid,
                  artecle_id:$(that).attr("data-artId"),
                  catid:$(that).attr("data-catid")
                },
                dataType:'jsonp',
                jsonpCallback:'callback',
                success:function(result){
                  console.log(result)
                  if(result.code == 0){
                    layer.msg('举报成功');
                    layer.close(index);
                  }
                },
                error:function(XMLHttpRequest, textStatus, errorThrown){
                  console.log(errorThrown)
                }
              });
            }
        });
        $(".report-ul li").on("click",function(){
            //选择举报内容
            $(".report-ul li i").hide();
            $(".report-ul li .circle").show();
            $(this).find("i").show();
            $(this).find(".circle").hide();
            if($(this).index() == 3){
              $(".report-txt").show();
              $(".layui-layer-content").css({"height":"115px"});
            }else{
              $(".report-txt").hide();
              $(".layui-layer-content").css({"height":"39px"});
              report_content = $(this).find('.sp-con').text();
            }
        });
        $('.report-txt').on('change',function(){
          if($('.report-txt').val()!= ''){
            report_content = $('.report-txt').val();
          }else{
             report_content ='';
          }
        });
    }
    function share(){
      //调取分享函数
      var that =this;
      layer.open({
        type: 2,
        title: '分享到',
        area: ['262px', '327px'],
        content: ['/share?title='+encodeURI($(that).attr('data-title'))+'&url='+$(that).attr('data-url'), 'no']
      });
    }*/
  })
</script>
</body>
</html>