
<!DOCTYPE html>
<html lang="en">
<head>
  {% include "header_new.html" %}
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/release_article.css" >
  <!--[if lt IE 10]>
  <script src="{{helper.cdnhost}}/assets/js/upgrade.js"></script>
  <![endif]-->
</head>
<body style="background:#f5f5f5;">
{% include "widget/common_hide/common_hide.html"%}
	<!-- ===头部=== -->
	{% include "widget/top/top.html" %}
	<!-- ====导航===== -->
  {% import "widget/new_nav_first/common_nav.html" as common_nav %}
  {{ common_nav.common_nav(tdk,helper) }}
  <div class="dui-layout-lg clearfix banner-box">
    <div class="dui-layout-silde banner-box-right">{% include "widget/xSlider/xSlider.html" %}</div>
    <div class="dui-layout-div"></div>
    <div class="dui-layout-con banner-box-left">{% include "widget/xSlider/xSlider2.html" %}</div>
  </div>
	<div class="dui-layout-lg clearfix dui-layout-padding" >
	  <div class="dui-layout-silde ">
	    <!-- =======顾问头像关注====== -->
      {% import "widget2/community_advisor/community_advisor.html" as community_advisor %}
      {% if userinfo.usertype == 2 %}
        {{community_advisor.advisor_center(userinfo,helper,login_info)}}
      {% elif userinfo.usertype == 3 %}  
        {{community_advisor.counsellor(userinfo,helper,login_info)}}
      {% else %}  
      {% endif %}
	    <!-- ========引入顾问侧边栏按钮======== -->
      {% if userinfo.usertype ==2 %}
        {% import "widget2/side_menu/adviser_side_menu.html" as adviser_side_menu %}
        {{ adviser_side_menu.adviser_side_menu('发布我的文章','',helper) }} 
      {% elif userinfo.usertype == 3 %}
        {% import "widget2/side_menu/canzan_side_menu.html" as canzan_side_menu %}
        {{ canzan_side_menu.canzan_side_menu('发布专栏','',helper) }} 
      {% endif %}
	  </div>
	  <div class="dui-layout-div"></div>
      <div class="dui-layout-con dui-box-shadow" >
        <div class="rel-case-con" >
	        <div class="main-title gray-bg">
		        <h3 style="font-size: 18px;">发布我的文章</h3>
	        </div>
  	      <div class="rel-case-list" >
            <div class="rel-case-text1" style="margin-top: 20px;">
              <label class="title active" for="apply-country">
                <span>*</span> 选择对应国家：
              </label>
              {% set countryList = [
                {"countryId":"1","txt":"美国"},
                {"countryId":"2","txt":"英国"},
                {"countryId":"3","txt":"加拿大"},
                {"countryId":"4","txt":"澳大利亚"},
                {"countryId":"5","txt":"新西兰"},
                {"countryId":"51","txt":"日本"},
                {"countryId":"50","txt":"韩国"},
                {"countryId":"54","txt":"中国香港"},
                {"countryId":"55","txt":"中国澳门"},
                {"countryId":"100","txt":"俄罗斯"},
                {"countryId":"101","txt":"乌克兰"},
                {"countryId":"108","txt":"爱尔兰"},
                {"countryId":"111","txt":"意大利"},
                {"countryId":"112","txt":"西班牙"},
                {"countryId":"102","txt":"白俄罗斯"},
                {"countryId":"52","txt":"新加坡"},
                {"countryId":"53","txt":"马来西亚"},
                {"countryId":"110","txt":"丹麦"},
                {"countryId":"103","txt":"德国"},
                {"countryId":"104","txt":"法国"},
                {"countryId":"105","txt":"挪威"},
                {"countryId":"106","txt":"瑞典"},
                {"countryId":"107","txt":"芬兰"},
                {"countryId":"109","txt":"荷兰"},
                {"countryId":"113","txt":"瑞士"},
                {"countryId":"114","txt":"奥地利"}
              ] %}
              <select id="apply-country" onchange="changeForm(this.value)">
                {% for item in countryList %}
                  {% if item.countryId == article.article_info.country_id %}
                    <option value="{{item.countryId}}">{{item.txt}}</option>
                  {% endif %}
                {% endfor %}
                {% for item in countryList %}
                  {% if item.countryId != article.article_info.country_id %}
                   <option value="{{item.countryId}}">{{item.txt}}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <span class="numTip" ></span>
            </div>
            <div class="rel-case-text1" style="margin-top: 20px;" id="art-type" data-id ="{{article.article_info.is_news}}" data-type="{{article.article_info.type}}">
              <label class="title active" for="art_type"><span>*</span> 选择文章类型：</label>
              {% set artType = [
                {
                  "name":"时讯",
                  "id":2
                },
                {
                  "name":"非时讯",
                  "id":1
                }
              ] %}
              {% for item in artType %}
                <span  class="art-type-sel" data-id="{{item.id}}">
                  {% if article.article_info.is_news == item.id %}
                    <i class="iconfont art-type-i" style="border:none;color:#c13232;margin-right: 7px;font-size:16px;">&#xe626;</i>
                    <i style="color:#c13232;">{{item.name}}</i>
                  {% else %}
                    <i class="iconfont art-type-i"></i>
                    <i >{{item.name}}</i>
                  {% endif %}
                </span>
              {% endfor %}
              <span class="numTip" ></span>
            </div> 
            <div class="rel-case-text1 newsletter-hide" style="margin-top: 20px;{% if article.article_info.is_news ==1 %}display: block;{% endif %}">
              <label class="title" for="level" style="padding-left: 14px;">
                <!-- <span>*</span> --> 选择学历标签：
              </label>
              {% set levelList = [
                {
                  "name":"中学"
                },
                {
                  "name":"本科"
                },
                {
                  "name":"硕士"
                },
                {
                  "name":"博士"
                }
              ] %}
              {% for item in levelList %}
                {{helper.eduChecked(item.name,article.article_info.edu_id,article.article_info.country_id) |safe }}
              {% endfor %}
              <span class="numTip" style="display: block;margin-left: 128px;">
                学历标签可多选
              </span>
            </div>
            <div class="rel-case-text1 newsletter-hide clearfix" style="margin-top: 20px;{% if article.article_info.is_news ==1 %}display: block;{% endif %}">
              <label class="title active" for="recommend" style="float:left">
                <span>*</span> 选择推荐标签：
              </label>
              <div class="recommend-tag" >
                {% set recommendList = [
                  { "name":"留学初识","val":"留学初识" },
                  { "name":"本科选校","val":"本科选校" },
                  { "name":"硕士选校","val":"硕士选校" },
                  { "name":"留学打工","val":"留学打工" },
                  { "name":"本硕连读","val":"本硕连读" },
                  { "name":"动漫留学","val":"动漫留学" },
                  { "name":"留学时间","val":"留学时间" },
                  { "name":"接机住宿","val":"接机住宿" },
                  { "name":"艺术留学","val":"艺术留学" },
                  { "name":"QS排名","val":"QS排名" },
                  { "name":"留学费用","val":"留学费用" },
                  { "name":"大学排名","val":"大学排名" },
                  { "name":"留学条件","val":"留学条件" },
                  { "name":"专业解析","val":"专业解析" },
                  { "name":"签证指导","val":"签证指导" },
                  { "name":"就业指导","val":"就业指导" },
                  { "name":"申请规划","val":"申请规划" },
                  { "name":"行前指导","val":"行前指导" },
                  { "name":"省钱攻略","val":"省钱攻略" },
                  { "name":"文书准备","val":"文书准备" },
                  { "name":"海外生活","val":"海外生活" },
                  { "name":"院校资讯","val":"院校资讯" },
                  { "name":"背景提升","val":"背景提升" },
                  { "name":"留学方案","val":"留学方案" },
                  { "name":"难点解析","val":"难点解析" },
                  { "name":"备考资讯","val":"备考资讯" },
                  { "name":"院校百科","val":"院校百科" },
                  { "name":"留学案例","val":"留学案例" }, 
                  {"name":"自定义标签","val":article.article_info.custom_tags}
                ]  %}
                {% for item in recommendList %}
                  {{helper.tagChecked(item.name,item.val,article.article_info.tag_list,article.article_info.country_id) |safe }}
                {% endfor %}
                <span class="numTip" style="color:#c13232;display:block;margin-top: 10px;">
                  推荐标签最多选择2个
                </span>
              </div>
            </div>
  	        <div class="rel-case-text1" style="margin-top: 20px;">
      			  <label class="title active" for="rel-case-title"><span>*</span> 文章标题：</label>
      			  <input  id="rel-case-title" type="text" maxlength="22" value="{{article.article_info.title}}">
      			  <span class="numTip" style="display: block;margin-left: 97px;">填写文章标题，字数限22个汉字</span>
      		  </div>
            <div class="rel-case-text1" style="margin-top: 20px;">
              <label class="title active" for="art_abs" >
                <span>*</span> 文章摘要：
              </label>
              <textarea class="art_abs" id="art_abs" maxlength="200" >{{article.article_info.introduce}}</textarea>
              <div class="word-num">还可以输入<span id="word-num">{{200-article.article_info.introduce.length}}</span>字</div>
              <span class="numTip" style="display: block;margin-left: 97px;">
                填写文章内容概要信息，此内容将会在网站与个人主页显示，请认真填写
              </span>
            </div>
    		    <div class="rel-case-text1 clearfix" style="margin-top: 20px;" >
    			    <label class="title active" style="float:left">
                <span>*</span> 正文内容：
              </label>
              <div class="editor">
      			    <div id="editor" style="border-bottom:1px solid #dcdcdc;">    
                </div>
                <div id="editor1">
                  {{article.article_info.message | safe}}
                </div>
              </div>
            </div>
            <p class="edit-p-rule" >
              <span style="color:#c13232; ">*特别提示：如没上传顾问头像，首页则不显示该顾问文章。</span>
            </p>
            <div class="editor-btn-box" data-articleId ="{{article.article_info.id}}">
              <a href="javascript:void(0);" class="dui-btn btn-xlarge btn-appointment" style="margin-right: 7px;" id="article-preview">
                   	文章预览
              </a>
              <a  href="javascript:void(0);" class="dui-btn btn-xlarge btn-appointment {% if article.article_info.is_draft == 1 %}disabled{% endif %}" style="margin-right: 7px;" id="{% if article.article_info.is_draft != 1 %}save-draft{% endif %}" >
                    保存到草稿
              </a>
              <a  href="javascript:void(0);" class="dui-btn btn-xlarge btn-appointment" id="sureBtn">
                   	立即发布
              </a>
            </div>
          </div>  
          <!-- ====rel-case-con end===== -->
        </div>
      </div>
	</div>
  {% include "widget/new_footer/common_footer.html" %}
  {% import "widget/new_slide/new_slide.html" as  slide %}
  {{slide.leyu_slide("XC_"+tdk.pagekey+"_SEAT10",helper) }}
  <script src="{{helper.cdnhost}}/assets/js/show_advert.js"></script>
    <script src="{{helper.cdnhost}}/assets/js/online_evaluation.js" ></script>
    <script src="{{helper.cdnhost}}/assets/js/slide.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/nav_common.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/follow.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/footer.js"></script>
  <!-- <script  src="{{helper.cdnhost}}/assets/js/wangEditor.js"></script> -->
  <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/xSlider-4.15.js" ></script>
  <script >
    function changeForm (val) {
      var specialTag = $('#special-tag');
        if (val == 51) {
          specialTag.show();
        }
        else {
          specialTag.find('.level-sel-i').css({'border':'1px solid #666','color':'none','marginRight':'5px','fontSize':'14px'}).html('');
          specialTag.find('.level-sel-i').next().css({'color':'#333'});
          specialTag.attr('checked',false);
          specialTag.hide();
        } 
    }
    $(function(){
        var login_ss = null; //获取用户信息
        if(cookie('login_ss') != undefined){
            login_ss = JSON.parse(cookie('login_ss'));
        }
        $('.banner-box-left .slider').xSlider({
            //轮播图配置
//          autoplay : 500,
            current: 0,
            speed: 500,
            intervalTime: 5000,
            pagination: true,
            dotPostion:'right'
        });
        $('.banner-box-right .slider').xSlider({
            //轮播图配置
//          autoplay : 500,
//            mode:'vertical',
            current: 0,
            speed: 1000,
            intervalTime: 5000,
            slidesPerView : 2,
            slidesPerGroup : 2,
            pagination: true
        });
      var city_id =null;
      if(login_ss.usertype ==2){
        //获取顾问的组织id
        city_id = $(".advisor-bumen").attr("data-cityId");
      }else if(login_ss.usertype == 3){
        //参赞默认为1 北京分公司
        city_id =1;
      }
      //文章摘要
      $("#art_abs").on("change",function(){
        this.value = this.value.substring(0, 200);
      }); 
      $("#art_abs").on("keydown",function(){
        this.value  = this.value.substring(0, 200);
      }); 
      $("#art_abs").on("keyup",function(){
        var strLength = this.value.length; 
        $("#word-num").html(200-strLength);
        if(strLength > 200){
          $("#word-num").html(0);
          this.value  = this.value.substring(0, 200);
        }
      }); 
      //选择文章类型
      var newsletterType = $("#art-type").attr('data-id');
      var newTagStr = '';
      var artType = $("#art-type").attr('data-type');
      if(newsletterType ==2){
        newTagStr = '留学时讯';
      }else{
        newTagStr ='';
      }
      $(".art-type-sel").on("click",function(){
        newsletterType = $(this).attr('data-id');
        $('.art-type-i').html('').css({'border':'1px solid #666','color':'none','marginRight':'5px','fontSize':'14px'});
        $('.art-type-i').next().css({'color':'#333'});
        $(this).find('.art-type-i').html('&#xe626;').css({'border':'none','color':'#c13232','marginRight':'7px','fontSize':'16px'});
        $(this).find('.art-type-i').next().css({'color':'#c13232'});
        if($(this).index()==2){
          $('.newsletter-hide').slideDown();
          newTagStr = '';
        }else{
          $('.newsletter-hide').slideUp();
          newTagStr = '留学时讯';
          artType = 2;
        }
      });
       //选择学历标签
      $('.level-sel').on('click',function(){
        // console.log($(this).attr('checked'))
        if($(this).attr('checked')){
          // console.log('false');
          $(this).find('.level-sel-i').css({'border':'1px solid #666','color':'none','marginRight':'5px','fontSize':'14px'}).html('');
          $(this).find('.level-sel-i').next().css({'color':'#333'});
          $(this).attr('checked',false);
        }else{
          // console.log('true')
          $(this).find('.level-sel-i').css({'border':'none','color':'#c13232','marginRight':'7px','fontSize':'16px'}).html('&#xe640;');
          $(this).find('.level-sel-i').next().css({'color':'#c13232'});
          $(this).attr('checked',true);
        }
      });
      //选择推荐标签
      var recNumber = $('.recommend-sel[checked=checked]').length;
      var custom_tags = $("#recommend-input").val(); //自定义标签内容
      $('.recommend-sel').on('click',function(){
        if($(this).attr('checked')){
          // console.log('false');
          $(this).find('.level-sel-i').css({'border':'1px solid #666','color':'none','marginRight':'5px','fontSize':'14px'}).html('');
          $(this).find('.level-sel-i').next().css({'color':'#333'});
          $(this).attr('checked',false);
        }else{
          // console.log('true')
          if(recNumber<2){
            $(this).find('.level-sel-i').css({'border':'none','color':'#c13232','marginRight':'7px','fontSize':'16px','lineHeight':'18px'}).html('&#xe640;');
            $(this).find('.level-sel-i').next().css({'color':'#c13232'});
            $(this).attr('checked',true);
          }
        }
        recNumber =$('.recommend-sel[checked=checked]').length;
      });
      //编辑器
      var E = window.wangEditor;
      var editor = new E('#editor','#editor1');
      // 自定义菜单配置
      editor.customConfig.menus = [   
        'head',  
        'bold',  // 粗体
        'italic',  // 斜体
        'underline',  // 下划线
        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'link',  // 插入链接
        'list',  // 列表
        'justify',  // 对齐方式
        'image',  // 插入图片
        'table',  // 表格
        'undo',  // 撤销
        'redo'  // 重复
      ];
      editor.customConfig.debug = false;
      // 关闭粘贴样式的过滤
      // 关闭粘贴样式的过滤
      editor.customConfig.pasteFilterStyle = true;
      editor.customConfig.pasteIgnoreImg = true;
      // 自定义处理粘贴的文本内容
      editor.customConfig.pasteTextHandle = function (content) {
          // content 即粘贴过来的内容（html 或 纯文本），可进行自定义处理然后返回
          return dataFilter(content);
      }

      editor.customConfig.uploadFileName = 'upload';
      // 将图片大小限制为 500K
      editor.customConfig.uploadImgMaxSize = 2*1024 * 1024;
      // 限制一次最多上传 5 张图片
      editor.customConfig.uploadImgMaxLength = 1;
      editor.customConfig.uploadImgServer = ajaxUrlPrefix.nodeapi + "/cmsapi/input_upload"; // 上传图片到服务器
      // 隐藏“网络图片”tab
      editor.customConfig.showLinkImg = false;
      editor.customConfig.uploadImgHooks = {
        before: function (xhr, editor, files) {
        },
        success: function (xhr, editor, result) {
        },
        fail: function (xhr, editor, result) {
        },
        error: function (xhr, editor) { 
          console.log(xhr)
        },
        timeout: function (xhr, editor) {
        },
        customInsert: function (insertImg, result, editor) {
          console.log(result)
          var url = result.data[0];
          insertImg(url)
        }
      }
      editor.customConfig.customAlert = function (info) {
        // info 是需要提示的内容
        layer.msg(info)
      }
      editor.create();
      var taglist=[
          { "name":"留学初识","val":"留学初识" },
          { "name":"本科选校","val":"本科选校" },
          { "name":"硕士选校","val":"硕士选校" },
          { "name":"留学打工","val":"留学打工" },
          { "name":"本硕连读","val":"本硕连读" },
          { "name":"动漫留学","val":"动漫留学" },
          { "name":"留学时间","val":"留学时间" },
          { "name":"接机住宿","val":"接机住宿" },
          { "name":"艺术留学","val":"艺术留学" },
          { "name":"QS排名","val":"QS排名" },
          { "name":"留学费用","val":"留学费用" },
          { "name":"大学排名","val":"大学排名" },
          { "name":"留学条件","val":"留学条件" },
          { "name":"留学案例","val":"留学案例" },
          { "name":"专业解析","val":"专业解析" },
          { "name":"签证指导","val":"签证指导" },
          { "name":"就业指导","val":"就业指导" },
          { "name":"申请规划","val":"申请规划" },
          { "name":"行前指导","val":"行前指导" },
          { "name":"省钱攻略","val":"省钱攻略" },
          { "name":"文书准备","val":"文书准备" },
          { "name":"海外生活","val":"海外生活" },
          { "name":"院校资讯","val":"院校资讯" },
          { "name":"背景提升","val":"背景提升" },
          { "name":"留学方案","val":"留学方案" },
          { "name":"难点解析","val":"难点解析" },
          { "name":"备考资讯","val":"备考资讯" },
          { "name":"院校百科","val":"院校百科" }
        ];
      $('#sureBtn').on('click',surePublish); //发布文章
      $("#save-draft").on("click",savePublish); //保存草稿箱
      $("#article-preview").on("click",function(){
        //文章预览
        if($("#rel-case-title").val()==''){
          // 判断title
          $("#rel-case-title").focus();
          return false;
        }
        if($("#art_abs").val()==''){
          // 判断文章摘要
          $("#art_abs").focus();
          return false;
        }
        if(editor.txt.text()== ''){
          //判断正文
          layer.msg("请输入正文内容");
          return false;
        }    
        if(editor.txt.text().match(/1\d{10}/)){
          //过滤手机号
          layer.msg("文章内容不能带手机号");
          return false;
        }
        //跳转预览详情页
        if(login_ss.usertype ==2){
          if(artType == 1){
              window.open('/advisor_center/case/'+$(".editor-btn-box").attr("data-articleId")+'?preview=1');
          }else {
              window.open('/advisor_center/article/'+$(".editor-btn-box").attr("data-articleId")+'?preview=1');
          }
        }else if(login_ss.usertype ==3){
          window.open('/canzan_center/article/'+$(".editor-btn-box").attr("data-articleId")+'?preview=1');
        }
      });
      function surePublish(){
        // 读取 html
        var data = editor.txt.html();
        if(newsletterType==1){
          //选择非时讯
          //判断学历
          var eduList = '';
          $('.level-sel[checked=checked]').each(function(){
            eduList+=$(this).find('i').eq(1).text()+',';
          });
          // if(eduList == ''){
          //   layer.msg('请选择学历标签');
          //   return false;
          // }
          var eduStr = eduList.substring(0,eduList.length-1);
          // console.log(eduStr)
          //判断标签
          var tagStr = '';
          $('.recommend-sel[checked=checked]').each(function(){
            if($(this).attr('data-str')!=''){
              tagStr+=$(this).attr('data-str')+',';
            }else{
              tagStr+=$('#recommend-input').val()+',';
            }
          });
          if($('#recommend-sel-case').attr('checked')){
           artType = 1;
          }else{
            artType = 2;
          }
          if(tagStr == ''){
            layer.msg('请选择推荐标签');
            return false;
          }
          newTagStr =tagStr.substring(0,tagStr.length-1);
          if($('#recommend-sel-custom').attr('checked')){
            //选中自定义标签
            if($('#recommend-input').val()==''){
              layer.msg('请输入您的自定义标签');
              return false;
            }else{
                var custom_tags_flag = '';
                for(var i =0;i<taglist.length;i++){
                    if($.trim($('#recommend-input').val())==taglist[i].val){
                        custom_tags_flag =false;
                        break;
                    }else{
                        custom_tags_flag = true;
                    }
                }
                if(custom_tags_flag){
                    custom_tags =$.trim($('#recommend-input').val());
                }else{
                    layer.msg('您输入的自定义标签不能与推荐标签相同');
                    return false;
                }
            }
          }
        }
        if($("#rel-case-title").val()==''){
          // 判断title
          $("#rel-case-title").focus();
          return false;
        }
        if($("#art_abs").val()==''){
          // 判断文章摘要
          $("#art_abs").focus();
          return false;
        }
        if(editor.txt.text()== ''){
          //判断正文
          layer.msg("请输入正文内容");
          return false;
        }
        if(editor.txt.text().match(/1\d{10}/)){
          //过滤手机号
          layer.msg("文章内容不能带手机号");
          return false;
        }
        $(this).unbind('click');
        var that =this;
        $.ajax({
          url: '/soapi/publish_article',
          type:'POST',
          data:{
            city_id:city_id,
            u_id:login_ss.uid,
            title:$.trim($("#rel-case-title").val()),
            country_id:$("#apply-country").val(),
            is_draft:1,
            message:data,
            type:artType,
            introduce:$.trim($("#art_abs").val()),
            edu_id:eduStr,
            is_news:newsletterType,
            tag_list:newTagStr,
            is_immi:login_ss.adviser,
            article_id:$(".editor-btn-box").attr("data-articleId"),
            custom_tags:custom_tags
          },
          dataType:'json',
          async: false,
          success:function(result){
            console.log(result)
            if(result.code == 0){
              layer.msg('发布成功');
              if(login_ss.usertype == 2){
                window.setTimeout(function(){
                    if(artType==1){
                      window.location.href=fn.urlgen('case',result.data.article_id.toString());
                    }else {
                      window.location.href=fn.urlgen('article',result.data.article_id.toString());
                    }
                },1000);
              }
            }else if(result.code == '1210000011'){
              layer.msg('标题已存在，请更换标题');
              $(that).bind('click',surePublish);
            }else if(result.code == '1210000012'){
              layer.msg('您编辑器输入的内容有敏感词');
              $(that).bind('click',surePublish);
            }else{
              layer.msg('发布失败');
              $(that).bind('click',surePublish);
            }
          },
          error:function(XMLHttpRequest, textStatus, errorThrown){
            console.log(errorThrown)
            if(XMLHttpRequest.status == '413'){
              layer.msg('您发布的内容已超过2M，应小于2M');
            }
            $(that).bind('click',surePublish);
          }
        });
      }
      function savePublish(){
        //保存草稿箱
        var data = editor.txt.html();
        if(newsletterType==1){
          //选择非时讯
          //判断学历
          var eduList = '';
          $('.level-sel[checked=checked]').each(function(){
            eduList+=$(this).find('i').eq(1).text()+',';
          });
          // if(eduList == ''){
          //   layer.msg('请选择学历标签');
          //   return false;
          // }
          var eduStr = eduList.substring(0,eduList.length-1);
          //判断标签
          var tagStr = '';
          $('.recommend-sel[checked=checked]').each(function(){
            if($(this).attr('data-str')!=''){
              tagStr+=$(this).attr('data-str')+',';
            }else{
              tagStr+=$('#recommend-input').val()+',';
            }
          });
          if($('#recommend-sel-case').attr('checked')){
            artType = 1;
          }else{
            artType = 2;
          }
          if(tagStr == ''){
            layer.msg('请选择推荐标签');
            return false;
          }
          newTagStr =tagStr.substring(0,tagStr.length-1);
          if($('#recommend-sel-custom').attr('checked')){
            //选中自定义标签
            if($('#recommend-input').val()==''){
              layer.msg('请输入您的自定义标签');
              return false;
            }else{
                var custom_tags_flag = '';
                for(var i =0;i<taglist.length;i++){
                    if($.trim($('#recommend-input').val())==taglist[i].val){
                        custom_tags_flag =false;
                        break;
                    }else{
                        custom_tags_flag = true;
                    }
                }
                if(custom_tags_flag){
                    custom_tags =$.trim($('#recommend-input').val());
                }else{
                    layer.msg('您输入的自定义标签不能与推荐标签相同');
                    return false;
                }
            }
          }
        }
        if($("#rel-case-title").val()==''){
          // 判断title
          $("#rel-case-title").focus();
          return false;
        }
        if($("#art_abs").val()==''){
          // 判断文章摘要
          $("#art_abs").focus();
          return false;
        }
        if(editor.txt.text()== ''){
          //判断正文
          layer.msg("请输入正文内容");
          return false;
        }   
        if(editor.txt.text().match(/1\d{10}/)){
          //过滤手机号
          layer.msg("文章内容不能带手机号");
          return false;
        }
        $(this).unbind('click');
        var that = this;
        $.ajax({
          url: '/soapi/publish_article',
          type:'POST',
          data:{
            city_id:city_id,
            u_id:login_ss.uid,
            title:$.trim($("#rel-case-title").val()),
            country_id:$("#apply-country").val(),
            is_draft:2,
            message:data,
            type:artType,
            introduce:$.trim($("#art_abs").val()),
            edu_id:eduStr,
            is_news:newsletterType,
            tag_list:newTagStr,
            is_immi:login_ss.adviser,
            article_id:$(".editor-btn-box").attr("data-articleId"),
            custom_tags:custom_tags
          },
          dataType:'json',
          success:function(result){
            console.log(result)
            if(result.code == 0){
              layer.msg('保存成功')
              window.setTimeout(function(){
                if(login_ss.usertype == 2){
                  window.location.href='/advisor_center/draft'; 
                }else if(login_ss.usertype == 3){
                  window.location.href='/canzan_center/draft'; 
                } 
              },1000);
            }else if(result.code == '1210000011'){
              layer.msg('标题已存在，请更换标题');
              $(that).bind('click',savePublish);
            }else if(result.code == '1210000012'){
              layer.msg('您编辑器输入的内容有敏感词');
              $(that).bind('click',savePublish);
            }else{
              layer.msg('保存失败');
              $(that).bind('click',savePublish);
            }
          },
          error:function(XMLHttpRequest, textStatus, errorThrown){
            console.log(errorThrown)
            if(XMLHttpRequest.status == '413'){
              layer.msg('您发布的内容已超过2M，应小于2M');
            }
            $(that).bind('click',savePublish);
          }
        });
      }
      function dataFilter (originData) {
        // console.log('前',originData);
        var returnData = '';
        var filterArr = [
            {
              reg: /<style[\S\s]+?<\/style>/g,
              str:''
            },
            {
              reg: /<img[^>]*?(src=\"[^\"]*?\")[^>]*?(style=\"[^\"]*?\")*?[^>]*?>/g,
              str: '<img $1 $2/>'
            },
            {
              reg: /<o:p[\S\s]*?>/g,
              str: ''
            },
            {
              reg: /<p[\s\S]*?>/g,
              str: '<p>'
            },
            {
              reg: /<span[\s\S]*?>/g,
              str: '<span>'
            },
            {
              reg: /<section[\s\S]*?>/g,
              str: '<section>'
            },
            {
              reg: /<\/section[\s\S]*?>/g,
              str: '</section>'
            },
            {
              reg: /<spanmargin[\S\s]+<\/spanmargin[\S\s]*?>/,
              str: ''
            },
            {
              reg:  /<font.*?>/g,
              str: '<span>'
            },
            {
              reg:  /<\/font>/g,
              str: '</span>'
            }
        ]; 
        filterArr.forEach(function(val,index) {
          originData = originData.replace(val.reg,val.str);
        })      
        // console.log('---------------------------==================------------------') 
        returnData =  originData;
        // console.log('后',returnData);
        return returnData;
      }
    })  
  </script>
</body>
</html>