
  <script type='text/javascript'>
    !function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
    gio('init', 'b5eff012adf61f54', {});
    //custom page code begin here
    //custom page code end here
    gio('send');
  </script>
  <meta charset="UTF-8">
  <title>{{helper.pageTDK('title', tdk)}}</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="format-detection" content = "telephone=no">
  <meta content="{{helper.pageTDK('keywords', tdk)}}" name="keywords">
  <meta content="{{helper.pageTDK('description', tdk)}}" name="description">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <meta name="baidu-site-verification" content="a01e20b4ccd416ba45d581ee3560ed84"/>
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/base.css">
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/dui.min.css">
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/dui-append.min.css">
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/nodemain2.min.css">
  <!--[if lt IE 9]>
  <script src="{{helper.cdnhost}}/dep/js/html5.js"></script>
  <![endif]-->
  <script type="text/javascript">
    if ('undefined' === typeof console) {
      var console = {log:function () {}};
    }
  </script>
  <script  src="{{helper.cdnhost}}/dep/js/jquery-1.9.1.min.js"></script>
  <!--<script src="{{helper.cdnhost}}/dep/js/jquery.xdomainrequest.min.js"></script>-->
  <script src="{{helper.cdnhost}}/dep/js/cookie.js"></script>
  <script src="{{helper.cdnhost}}/dep/js/dui.js"></script>
  <script src="{{helper.cdnhost}}/assets/font/iconfont.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/json2.js" ></script>
  {% if helper.version == 'development' %}
  <script  src="{{helper.cdnhost}}/assets/js/common/common_dev.js"></script>
  {% elif helper.version == 'production' %}
  <script  src="{{helper.cdnhost}}/assets/js/common/common_pro.js"></script>
  {% endif %}
  <script src="{{helper.cdnhost}}/assets/js/common/common_base2.js"></script>
 