
  <meta charset="UTF-8">
  <title>{{helper.pageTDK('title', tdk)}}</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=0.3, maximum-scale=1, user-scalable=no">
  <meta content="{{helper.pageTDK('keywords', tdk)}}" name="keywords">
  <meta content="{{helper.pageTDK('description', tdk)}}" name="description">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/base.css">
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/dui.min.css">
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/dui-append.min.css">
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/nodemain2.min.css">
  <!--[if lt IE 9]>
  <script src="{{helper.cdnhost}}/dep/js/html5.js"></script>
  <![endif]-->
  <script  src="{{helper.cdnhost}}/dep/js/jquery.js"></script>
  <script src="{{helper.cdnhost}}/dep/js/jquery.xdomainrequest.min.js"></script>
  <script src="{{helper.cdnhost}}/dep/js/jquery.cookie.js" ></script>
  <script src="{{helper.cdnhost}}/dep/js/dui.js"></script>
  <script src="{{helper.cdnhost}}/assets/font/iconfont.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/json2.js" ></script>
  {% if helper.version == 'development' %}
  <script  src="{{helper.cdnhost}}/assets/js/common/common_dev.js"></script>
  {% elif helper.version == 'production' %}
  <script  src="{{helper.cdnhost}}/assets/js/common/common_pro.js"></script>
  {% endif %}
  <script src="{{helper.cdnhost}}/assets/js/common/common_base2.js"></script>
  <div style="display: none">
    <input type="hidden" id="pagekey" value="{{tdk.pagekey}}">
    <input type="hidden" id="page_cityid" value="{{tdk.cityid}}">
  </div>
 