<!DOCTYPE html>
<html>
<head>
{% include "header_new.html" %}
<link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/logo.css" >
<link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/index.css">
<link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/idangerous.swiper-2.7.6.css" >
<script src="{{helper.cdnhost}}/dep/js/idangerous.swiper-2.7.6-1.js"></script>
<style type="text/css">
  .xuanze-chengshi p a:last-child{
    margin-right: 0;
  }
  .liuxue-guoqi a:hover{
    background: rgba(0,0,0,0.07);
  }
  .voucher{position:absolute;top:0;left:0;z-index:100009;width:100%;}
  .voucherLink{position:fixed;top:50%;left:50%;z-index:100010;margin:-250px 0 0 -382px;width:766px;height:500px;}
  .voucherLink .voucherclose{display:block;background:url({{helper.cdnhost}}/assets/img/indexpop_close.png) no-repeat 50% 50%;position:absolute;top:0;right:0;height:50px;cursor:pointer;
    width:50px;}
</style>
</head>
<body>
{% include "widget/common_hide/common_hide.html"%}
<div class="voucherLink" style="display:none">
  <div class="left clearfix">
    <div id="container1" class="container" style="height: 500px;width: 100%">
    </div>
  </div>
  <div class="voucherclose"></div>
</div>

<div class="zhezhao" id="zhezhaox" style="display: none">
</div>
<div id="zhezhaos" style="position: fixed;left: 50%; margin-left: -350px;z-index: 1000000;top: 50%;margin-top: -215px;display: none;">
  <div class="xuanze-con">
    <h1 id="guanbi-tankuang">欢迎来到金吉列留学、请选择合适的金吉列分公司所在地<span>全国热线电话:400-010-8000</span></h1>
    <div class="xuanze-ing">
      <div style="float: left;line-height: 40px"> <i class="iconfont icon-top" style="margin: 24px 6px 0px 14px;color: #C13232">&#xe603;</i>猜你所在的城市</div>
      <span id="fengongsi" style="float: left;margin: 0 10px;line-height: 40px;color: #C13232;text-decoration:underline"></span>
      <div class="xuanze-anniu"><a target="_blank" id="selByIp">正确</a></div>
    </div>
    <div class="xuanze-xianxian"></div>
    <div class="xuanze-chengshi">
      <div class="xuanze-chengshi-left">
        <p><span>B</span><a target="_blank" class="dui-text-warning-s" data-id="1"  href="{{helper.urlgen('branch_home','c=1')}}">北京</a></p>
        <p><span>C</span><a target="_blank" class="dui-text-warning-s" data-id="5"  href="{{helper.urlgen('branch_home','c=5')}}">成都</a>
          <a target="_blank" class="dui-text-warning-s" data-id="7"  href="{{helper.urlgen('branch_home','c=7')}}">重庆</a>
          <a target="_blank" class="dui-text-warning-s" data-id="19"  href="{{helper.urlgen('branch_home','c=19')}}">长沙</a>
          <a target="_blank" class="dui-text-warning-s" data-id="25"  href="{{helper.urlgen('branch_home','c=25')}}">长春</a>
          <a target="_blank" class="dui-text-warning-s" data-id="41"   href="{{helper.urlgen('branch_home','c=41')}}">常州</a>
        </p>
        <p><span>D</span><a target="_blank" class="dui-text-warning-s" data-id="13"  href="{{helper.urlgen('branch_home','c=13')}}">大连</a>
          <a target="_blank" class="dui-text-warning-s" data-id="43"  href="{{helper.urlgen('branch_home','c=43')}}">东莞</a></p>
        <p><span>F</span><a target="_blank" class="dui-text-warning-s" data-id="37"  href="{{helper.urlgen('branch_home','c=37')}}">佛山</a>
          <a target="_blank" class="dui-text-warning-s" data-id="39"  href="{{helper.urlgen('branch_home','c=39')}}">福州</a></p>
        <p><span>G</span><a target="_blank" class="dui-text-warning-s" data-id="3"  href="{{helper.urlgen('branch_home','c=3')}}">广州</a>
          <a target="_blank" class="dui-text-warning-s" data-id="35"  href="{{helper.urlgen('branch_home','c=35')}}">贵阳</a></p>
        <p><span>H</span><a target="_blank" class="dui-text-warning-s" data-id="6"  href="{{helper.urlgen('branch_home','c=6')}}">杭州</a>
          <!--<a target="_blank" class="dui-text-warning-s" data-id="14"  href="{{helper.urlgen('branch_home','c=14')}}">汉口</a>-->
          <a target="_blank" class="dui-text-warning-s"  data-id="22"  href="{{helper.urlgen('branch_home','c=22')}}">合肥</a>
          <a target="_blank" class="dui-text-warning-s" data-id="24"  href="{{helper.urlgen('branch_home','c=24')}}">哈尔滨</a>
          <a target="_blank" class="dui-text-warning-s"  data-id="26"  href="{{helper.urlgen('branch_home','c=26')}}">呼市</a>
          <a target="_blank" class="dui-text-warning-s" data-id="32"  href="{{helper.urlgen('branch_home','c=32')}}">邯郸</a>
          <a target="_blank" class="dui-text-warning-s" data-id="46"  href="{{helper.urlgen('branch_home','c=46')}}">海南</a></p>
        <p><span>J</span><a target="_blank" class="dui-text-warning-s" data-id="9"  href="{{helper.urlgen('branch_home','c=9')}}">济南</a>
          <a target="_blank" class="dui-text-warning-s" data-id="30"   href="{{helper.urlgen('branch_home','c=30')}}">吉林</a></p>
        <p><span>K</span><a target="_blank" class="dui-text-warning-s" data-id="21"   href="{{helper.urlgen('branch_home','c=21')}}">昆明</a></p>
        <p><span>L</span><a target="_blank" class="dui-text-warning-s" data-id="27"   href="{{helper.urlgen('branch_home','c=27')}}">兰州</a>
          <a target="_blank" class="dui-text-warning-s" data-id="48"   href="{{helper.urlgen('branch_home','c=48')}}">洛阳</a></p>
      </div>
      <div class="xuanze-chengshi-right">
        <p><span>N</span><a target="_blank" class="dui-text-warning-s" data-id="16"   href="{{helper.urlgen('branch_home','c=16')}}">南京</a>
          <a target="_blank" class="dui-text-warning-s" data-id="29"   href="{{helper.urlgen('branch_home','c=29')}}">南昌</a>
          <a target="_blank" class="dui-text-warning-s" data-id="34"   href="{{helper.urlgen('branch_home','c=34')}}">宁波</a>
          <a target="_blank" class="dui-text-warning-s" data-id="38"   href="{{helper.urlgen('branch_home','c=38')}}">南宁</a></p>
        <p><span>Q</span><a target="_blank" class="dui-text-warning-s" data-id="10"   href="{{helper.urlgen('branch_home','c=10')}}">青岛</a></p>
        <p><span>S</span><a target="_blank" class="dui-text-warning-s" data-id="2"   href="{{helper.urlgen('branch_home','c=2')}}">上海</a>
          <a target="_blank" class="dui-text-warning-s" data-id="8"   href="{{helper.urlgen('branch_home','c=8')}}">沈阳</a>
          <a target="_blank" class="dui-text-warning-s" data-id="12"   href="{{helper.urlgen('branch_home','c=12')}}">石家庄</a>
          <a target="_blank" class="dui-text-warning-s" data-id="20"   href="{{helper.urlgen('branch_home','c=20')}}">深圳</a>
          <a target="_blank" class="dui-text-warning-s" data-id="23"   href="{{helper.urlgen('branch_home','c=23')}}">苏州</a></p>
        <p><span>T</span><a target="_blank" class="dui-text-warning-s" data-id="4"   href="{{helper.urlgen('branch_home','c=4')}}">天津</a>
          <a target="_blank" class="dui-text-warning-s" data-id="17"   href="{{helper.urlgen('branch_home','c=17')}}">太原</a>
          <a target="_blank" class="dui-text-warning-s"  data-id="18"  href="{{helper.urlgen('branch_home','c=18')}}">唐山</a></p>
        <p><span>W</span><a target="_blank" class="dui-text-warning-s" href="{{helper.urlgen('branch_home','c=14')}}">武汉</a>
        <!--<p><span>W</span><a target="_blank" class="dui-text-warning-s" data-id="14"   href="{{helper.urlgen('branch_home','c=14')}}">武昌</a>-->
          <a target="_blank" class="dui-text-warning-s" data-id="33"   href="{{helper.urlgen('branch_home','c=33')}}">无锡</a>
          <a target="_blank" class="dui-text-warning-s" data-id="42"   href="{{helper.urlgen('branch_home','c=42')}}">温州</a>
        </p>
        <p><span>X</span><a target="_blank" class="dui-text-warning-s" data-id="15"   href="{{helper.urlgen('branch_home','c=15')}}">西安</a>
          <a target="_blank" class="dui-text-warning-s" data-id="28"  href="{{helper.urlgen('branch_home','c=28')}}">厦门</a>
          <a target="_blank" class="dui-text-warning-s" data-id="36"   href="{{helper.urlgen('branch_home','c=36')}}">徐州</a>
          <a target="_blank" class="dui-text-warning-s" data-id="45"   href="{{helper.urlgen('branch_home','c=45')}}">西宁</a>
          <a target="_blank" class="dui-text-warning-s" data-id="47"   href="{{helper.urlgen('branch_home','c=47')}}">新疆</a></p>
        <p><span>Y</span><a target="_blank" class="dui-text-warning-s" data-id="31"   href="{{helper.urlgen('branch_home','c=31')}}">烟台</a>
          <a target="_blank" class="dui-text-warning-s" data-id="40"   href="{{helper.urlgen('branch_home','c=40')}}">银川</a>
          <a target="_blank" class="dui-text-warning-s" data-id="44"   href="{{helper.urlgen('branch_home','c=44')}}">宜昌</a></p>
        <p><span>Z</span><a target="_blank" class="dui-text-warning-s" data-id="11"   href="{{helper.urlgen('branch_home','c=11')}}">郑州</a></p>
      </div>
    </div>
    <div class="xuanze-haiwai-bikuang"></div>
    <div class="xuanze-haiwai">
      <h2><i class="iconfont icon-top" style="margin: 26px 6px 0px 14px;color: #C13232;">&#xe6bd;</i>海外分公司:
        <a target="_blank" class="dui-text-warning-s"  href="http://www.jjl.cn/specialrank/zt/overseas/vancouver/index.html">温哥华</a></h2>
    </div>
  </div>

</div>
<!--留学国家-->
<div class="nationality_guoqi_warp dui-box-shadow">
  <div class="liuxue-guojia-title">
    点击选择留学目的地
  </div>
  <div class="liuxue-guojia-line"></div>
  <div class="nationality_guoqi">
    <div class="liuxue-guoqi">
      <!--<a class="active1" href="#country1"><img src="{{helper.cdnhost}}/assets/img/America.png" alt="美国留学"><p>美国</p></a>  -->
      <a  href="#country1"><div class="guoqi_ios guoqi_ios1"></div><p>美国</p></a>
      <a   href="#country2"><div class="guoqi_ios guoqi_ios2"></div><p>英国</p></a>
      <a   href="#country4"><div class="guoqi_ios guoqi_ios3"></div><p>澳大利亚</p></a>
      <a   href="#country3"><div class="guoqi_ios guoqi_ios4"></div><p>加拿大</p></a>
      <a   href="#country5"><div class="guoqi_ios guoqi_ios5"></div><p>新西兰</p></a>
      <a   href="#country51"><div class="guoqi_ios guoqi_ios6"></div><p>日本</p></a>
      <a   href="#country50"><div class="guoqi_ios guoqi_ios7"></div><p>韩国</p></a>
      <a  href="#country54"><div class="guoqi_ios guoqi_ios8"></div><p>中国香港</p></a>
      <a   href="#country100"><div class="guoqi_ios guoqi_ios9"></div><p>俄罗斯</p></a>
      <a   href="#country101"><div class="guoqi_ios guoqi_ios10"></div><p>乌克兰</p></a>
      <a   href="#country108"><div class="guoqi_ios guoqi_ios11"></div><p>爱尔兰</p></a>
      <a style="margin-right: 0"  href="#country111"><div class="guoqi_ios guoqi_ios12"></div><p>意大利</p></a>
      <a  href="#country112"><div class="guoqi_ios guoqi_ios13"></div><p>西班牙</p></a>
      <a  href="#country102"><div class="guoqi_ios guoqi_ios14"></div><p>白俄罗斯</p></a>
      <a  href="#country52"><div class="guoqi_ios guoqi_ios15"></div><p>新加坡</p></a>
      <a  href="#country53"><div class="guoqi_ios guoqi_ios16"></div><p>马来西亚</p></a>
      <a  href="#country110"><div class="guoqi_ios guoqi_ios17"></div><p>丹麦</p></a>
      <a  href="#country103"><div class="guoqi_ios guoqi_ios18"></div><p>德国</p></a>
      <a  href="#country104"><div class="guoqi_ios guoqi_ios19"></div><p>法国</p></a>
      <a  href="#country105"><div class="guoqi_ios guoqi_ios20"></div><p>挪威</p></a>
      <a  href="#country106"><div class="guoqi_ios guoqi_ios21"></div><p>瑞典</p></a>
      <a  href="#country107"><div class="guoqi_ios guoqi_ios22"></div><p>芬兰</p></a>
      <a  href="#country109"><div class="guoqi_ios guoqi_ios23"></div><p>荷兰</p></a>
      <a  style="margin-right: 0" href="#country113"><div class="guoqi_ios guoqi_ios24"></div><p>瑞士</p></a>
    </div>
  </div>
</div>
{% include "widget/top/top_liuxue.html" %}
{% import "widget/new_nav_first/new_nav_first.html" as new_nav_first %}
{{ new_nav_first.new_nav_first(tdk,helper) }}
<div class="main" style="width: 1200px;margin: 0 auto;">
  <!--轮播图-->
  <div class="lunbo">
    <div class="lunbo_lift">
      {% include "widget/xSlider/xSlider.html" %}
    </div>
    <div class="lunbo_right">
      <!--四大优势-->
      {% import "widget/xSlider/cSlider.html" as cSlider %}
      {{cSlider.doubleSlider(xSlider2,helper)}}
    </div>
  </div>
  <!--50家分公司-->
  <div class="branch_company">
    <div class="branch_company_img">
      <img src="{{helper.cdnhost}}/assets/img/branch-company.png" alt="五十家分公司">
    </div>
    <div class="branch_company_text">
      <div style="margin: 5px 15px">
        {% set cityList=[
        {
        "companyName": "北京",
        "companyId": "1"
        },
        {
        "companyName": "上海",
        "companyId": "2"
        },
        {
        "companyName": "广州",
        "companyId": "3"
        },
        {
        "companyName": "天津",
        "companyId": "4"
        },
        {
        "companyName": "成都",
        "companyId": "5"
        },
        {
        "companyName": "杭州",
        "companyId": "6"
        },
        {
        "companyName": "重庆",
        "companyId": "7"
        },
        {
        "companyName": "沈阳",
        "companyId": "8"
        },
        {
        "companyName": "济南",
        "companyId": "9"
        },
        {
        "companyName": "青岛",
        "companyId": "10"
        },
        {
        "companyName": "郑州",
        "companyId": "11"
        },
        {
        "companyName": "石家庄",
        "companyId": "12"
        },
        {
        "companyName": "大连",
        "companyId": "13"
        },  {
        "companyName": "武汉",
        "companyId": "14"
        },
        {
        "companyName": "西安",
        "companyId": "15"
        },
        {
        "companyName": "南京",
        "companyId": "16"
        },
        {
        "companyName": "太原",
        "companyId": "17"
        },
        {
        "companyName": "唐山",
        "companyId": "18"
        },
        {
        "companyName": "长沙",
        "companyId": "19"
        },
        {
        "companyName": "深圳",
        "companyId": "20"
        },
        {
        "companyName": "昆明",
        "companyId": "21"
        },
        {
        "companyName": "合肥",
        "companyId": "22"
        },
        {
        "companyName": "苏州",
        "companyId": "23"
        },
        {
        "companyName": "哈尔滨",
        "companyId": "24"
        },
        {
        "companyName": "长春",
        "companyId": "25"
        },
        {
        "companyName": "呼市",
        "companyId": "26"
        },
        {
        "companyName": "兰州",
        "companyId": "27"
        },
        {
        "companyName": "厦门",
        "companyId": "28"
        },
        {
        "companyName": "南昌",
        "companyId": "29"
        },
        {
        "companyName": "吉林",
        "companyId": "30"
        },
        {
        "companyName": "烟台",
        "companyId": "31"
        },
        {
        "companyName": "邯郸",
        "companyId": "32"
        },
        {
        "companyName": "无锡",
        "companyId": "33"
        },
        {
        "companyName": "宁波",
        "companyId": "34"
        },
        {
        "companyName": "贵阳",
        "companyId": "35"
        },
        {
        "companyName": "徐州",
        "companyId": "36"
        },
        {
        "companyName": "佛山",
        "companyId": "37"
        },
        {
        "companyName": "南宁",
        "companyId": "38"
        },
        {
        "companyName": "福州",
        "companyId": "39"
        },
        {
        "companyName": "银川",
        "companyId": "40"
        },
        {
        "companyName": "常州",
        "companyId": "41"
        },
        {
        "companyName": "温州",
        "companyId": "42"
        },
        {
        "companyName": "东莞",
        "companyId": "43"
        },
        {
        "companyName": "宜昌",
        "companyId": "44"
        },
        {
        "companyName": "西宁",
        "companyId": "45"
        },
        {
        "companyName": "海南",
        "companyId": "46"
        },
        {
        "companyName": "新疆",
        "companyId": "47"
        },
        {
        "companyName": "洛阳",
        "companyId": "48"
        },
        {
        "companyName": "温哥华",
        "companyId": "49"
        }
        ] %}
        {% for item in cityList %}
        {% if loop.index<49 %}
        <div class="branch_company_text_tilte needJump" data-id="{{item.companyId}}">
          <a  href="{{helper.urlgen('branch_home','c='+item.companyId)}}" data-id="{{item.companyId}}">{{item.companyName}}</a>
        </div>
        {% endif %}
        {% endfor %}
        <div class="branch_company_text_tilte" data-id="{{cityList[48].companyId}}">
          <a  href="http://www.jjl.cn/zt/overseas/vancouver/index.html" data-id="{{cityList[48].companyId}}" >{{cityList[48].companyName}}</a>
        </div>
      </div>
    </div>
  </div>
  {% include "widget/liuxue_item/liuxue_item.html" %}
</div>
{% include "widget/new_footer/new_footer.html" %}
{% import "widget/new_slide/new_slide.html" as  slide %}
{{slide.leyu_slide("XC_HOME_SEAT10",helper) }}
<script src="{{helper.cdnhost}}/assets/js/show_advert.js"></script>
<script src="{{helper.cdnhost}}/assets/js/slide.js"></script>
<script src="{{helper.cdnhost}}/assets/js/online_evaluation.js" ></script>
<script src="{{helper.cdnhost}}/assets/js/xSlider-4.15.js" ></script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=A1LU7iHS0avqQwPLAxbhKn0UYSQCuRVH"></script>
<script src="{{helper.cdnhost}}/assets/js/jquery.baiduMap.min.js"></script>
<script src="{{helper.cdnhost}}/assets/js/nav_liuxue_search.js"></script>
<script src="{{helper.cdnhost}}/assets/js/footer.js"></script>
<script src="{{helper.cdnhost}}/assets/js/guanggao_slider.js"></script>
<script>
  $(function () {
    var nowLocation = window.location.href;
    var endFix = nowLocation.split('?')[1];
    if(!cookie('currentarea')) {
      $.ajax({
        type: "get",
        async: false,
        url: ajaxUrlPrefix.nodeapi + "/get_ip_geter",
        dataType: "json",
        success: function (result) {
          var iparea = result;
          $('#zhezhaox').show();
          $('#zhezhaos').show();
          $('#fengongsi').html(fn.getCityChinese(iparea));
          //正确
          $('#selByIp').on('click', function (e) {
            e.preventDefault();
            cookie('currentarea', iparea, {path: "/", domain: js_api_config.domain, expires: 36500});
            if (endFix) {
              window.location.href = fn.urlgen('branch_home', 'c=' + result.data) + '?' + endFix;
            }
            else {
              window.location.href = fn.urlgen('branch_home', 'c=' + result.data);
            }
          })
        },
        error: function (error) {
          console.log(error)
        }
      });
    }
    $('.xuanze-chengshi').on('click',"a", function(e){
      var currentarea = $(this).attr("data-id");
      if (currentarea) {
        e.preventDefault();
      }
      cookie('currentarea', currentarea, { path: "/",domain: js_api_config.domain,expires: 36500});
      if (endFix) {
        window.location.href = $(this).attr("href")+'?'+endFix;
      }
      else {
        window.location.href = $(this).attr("href");
      }

    });
      //
      $(window).on('scroll', function () {
          var $scroll = $(this).scrollTop();
          if ($scroll >= 250) {
              $('.nationality_guoqi_warp').show();
          } else {
              $('.nationality_guoqi_warp').hide();
          }
      });
      $(".liuxue-guoqi ").on('click','a',function () {
          var id=$(this).attr('href');
          var $scrolltop = $(id).offset().top;
          $('html,body').animate({//$('html,body')兼容问题body属于chrome
              scrollTop:$scrolltop-174
          })
      });
      $('.lunbo_lift .slider').xSlider({
          //轮播图配置
          autoplay: 2000,
          current: 0,
          speed: 500,
          intervalTime: 5000,
          pagination: true
      });
    //top
    var addEvent = function(element,type,callback){
      if(element.addEventListener){
        element.addEventListener(type,callback,false);
      }else if(element.attachEvent){
        element.attachEvent('on' + type,callback)
      }
    }
    var weibo_top = document.getElementById('weibo_top');
    addEvent(weibo_top,'touchstart',function(){
      if ($('#weibo_').css('display') == 'block') {
        $("#weibo_").css("display", "none");
      }
      else {
        $("#weibo_").css("display", "block");
      }
    });
    var weixin = document.getElementById('weixin');
    addEvent(weixin,'touchstart',function(){
      if ($('#weixin_').css('display') == 'block') {
        $("#weixin_").css("display", "none");
      }
      else {
        $("#weixin_").css("display", "block");
      }
    });
    $("#weibo_top").on("mouseover", function (e) {
      $("#weibo_").css("display", "block");
    });
    $("#weibo_top").on("mouseout", function (e) {
      $("#weibo_").css("display", "none");
    });
    $("#weixin").on("mouseover", function (e) {
      $("#weixin_").css("display", "block");
    });
    $("#weixin").on("mouseout", function (e) {
      $("#weixin_").css("display", "none");
    });
  })

  //top切换
  var login_nickname = JSON.parse(cookie('login_ss'));
      console.log('login_nickname',login_nickname);
      var user_type;
      if (login_nickname == null) {
        // var val = '<div class="dui-layout-lg top-con" style="position: relative;">'+
        //           '<div class="top-con-right">'+
        //           '<span><a target="_blank" id="getloginUser" class="dui-text-warning-ss" rel="nofollow">注册</a></span>'+
        //           '<span class="bor"></span>'+
        //           '<span ><a href="javascript:void(0);" style="background: #fff;" id="getloginUser_deng" class="dui-text-warning-ss" rel="nofollow">登录</a></span>'+
        //           '<span class="bor">|</span>'+
        //           '<span id="weixin" class="top_weibo_img"><img src="{{helper.cdnhost}}/assets/img/top_weixin.png"/></span>'+
        //           '<span id="weixin_" class="top_weibo" style="background: url('+ajaxUrlPrefix.cdnhost+'/assets/img/top_liuxue_weixin.png);display: none;"></span>'+
        //           '<span id="weibo_top" class="top_weibo_img"><img src="{{helper.cdnhost}}/assets/img/top_weibo.png"/></span>'+
        //           '<span id="weibo_"class="top_weibo" style="background: url('+ajaxUrlPrefix.cdnhost+'/assets/img/top_liuxue_weibo.png);display: none;"></span>'+
        //           '</div>'+
        //           '</div>'
        // $(".top").append(val);
      } else {
        $(".top").empty();
        var val = '<div class="dui-layout-lg top-con" style="position: relative;">'+
                  '<div class="top-con-left">'+
                  '<img src="{{helper.cdnhost}}/assets/img/top_phone.png" alt="" class="top_400" style="margin-right: 3px;">'+
                  '<span style="font-size: 12px;color: #666;">400-010-8000</span>'+
                  '</div>'+
                  '<div class="top-con-right">'+
                  '<ul>'+
                  '<li class="msg-icon iconfont nav-name" style="position: relative;"><a style="font-size: 12px;" target="_blank" id="" rel="nofollow">消息</a><i class="text_shu" style="font-size: 12px;">9</i></li>';
        if (login_nickname.usertype == 1) {
          val += '<li><i class="msg-icon iconfont nav-name">&#xe675;</i><span><a target="_blank" href="' + fn.urlgen("user_center", "revcomment") + '" rel="nofollow">'+ login_nickname.nickname +'</a></span></li>';
        } else if (login_nickname.usertype == 2) {
          val += '<li><i class="msg-icon iconfont nav-name">&#xe675;</i><span><a target="_blank" href="' + fn.urlgen("advisor_center") + '" rel="nofollow">'+ login_nickname.nickname +'</a></span></li>';
        }else if (login_nickname.usertype == 3) {
          val += '<li><i class="msg-icon iconfont nav-name">&#xe675;</i><span><a target="_blank" href="' + fn.urlgen("canzan_center") + '" rel="nofollow">'+ login_nickname.nickname +'</a></span></li>';
        }
        val += '<li><span class="bor">|</span></li>'+
                '<li ><a href="javascript:void(0)" style="background: #fff;" onclick="outlogin()" rel="nofollow">退出</a></li>'+
                '<li style="margin-right: 10px;"><span class="bor">|</span></li>'+
                '<li style="margin-left: 0px;"><span class="top_weibo_img"><img id="weixin" src="{{helper.cdnhost}}/assets/img/top_weixin.png"/></span></li>'+
                '<li style="margin-left: 0px;"><span id="weixin_" class="top_weibo" style="background: url('+ajaxUrlPrefix.cdnhost+'/assets/img/top_liuxue_weixin.png);display: none;"></span></li>'+
                '<li style="margin-left: 0px;"><span class="top_weibo_img"><img id="weibo_top" src="{{helper.cdnhost}}/assets/img/top_weibo.png"/></span></li>'+
                '<li style="margin-left: 0px;"><span id="weibo_"class="top_weibo" style="background: url('+ajaxUrlPrefix.cdnhost+'/assets/img/top_liuxue_weibo.png);display: none;"></span></li>'+
                  '</ul>'+
                  '</div>'+
                  '</div>';
        $(".top").append(val);
      }
</script>
</body>
</html>