
<!DOCTYPE html>
<html lang="en">
<head>
  {% include "header_new.html" %}
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/release_case.css" >
  <!--[if lt IE 10]>
  <script src="{{helper.cdnhost}}/assets/js/upgrade.js"></script>
  <![endif]-->
</head>
<body style="background:#f5f5f5;">
{% include "widget/common_hide/common_hide.html"%}
	<!-- ===头部=== -->
	{% include "widget/top/top.html" %}
	<!-- ====导航===== -->
	{% import "widget/nav_seventh/nav_seventh.html" as nav_seventh %}
	{{nav_seventh.nav_seventh("#",tdk.cityid,helper)}}
	<div class="dui-layout-lg clearfix" style="margin-top: 20px;">
	<!-- ==广告1== -->
	<div class="rel-case-map" id ="XC_ADVISOR_CENTER_POSTCASE_SEAT1">
	</div>
	</div>
	<div class="dui-layout-lg clearfix dui-layout-padding" >
	  <div class="dui-layout-silde ">
	    <!-- =======顾问头像关注====== -->
      {% if userinfo | length %}
        {% import "widget2/community_advisor/community_advisor.html" as community_advisor %}
        {{community_advisor.advisor(userinfo,helper)}}
      {% endif %}
	    <!-- ========引入顾问侧边栏按钮======== -->
	    {% import "widget2/side_menu/adviser_side_menu.html" as adviser_side_menu %}
      {{ adviser_side_menu.adviser_side_menu('发布案例','',helper) }}
	  </div>
	  <div class="dui-layout-div"></div>
      <div class="dui-layout-con dui-box-shadow" >
        <div class="rel-case-con" >
  	      <div class="main-title gray-bg">
  		    <h3 style="font-size: 18px;">案例发布</h3>
	      </div>
	      <div class="rel-case-list" >
	        <div class="rel-case-text1" style="margin-top: 25px;">
    			  <label class="title active" for="rel-case-title">
              <span>*</span> 案例标题：
            </label>
    			  <input  id="rel-case-title" type="text" maxlength="30" style="width:214px;">
    			  <span class="numTip" >填写文章标题，字数限30个汉字</span>
		      </div>
          <div class="rel-case-text1" style="margin-top: 20px;">
            <label class="title active" for="rel-keyword" style="letter-spacing: 4.5px;">
              <span>*</span> 关键词：
            </label>
            <input  id="rel-keyword" type="text" style="width:214px;">
            <span class="numTip" style="display: block;margin-left: 96px;">
              多关键词之间用 "," 隔开
            </span>
          </div>
          <div class="rel-case-text1 clearfix" style="margin-top: 20px;height: auto;">
              <label class="title active" style="float:left;" >
                <span>*</span> 点击选择文章配图：
              </label>
              <div class="figure">
                <img src="" id ="figure-img" />
                <a  href="javascript:" class="figure_delete iconfont" title="删除" >
                  &#xe8c1;
                </a>
              </div>
              <label class="figure-label" >
                <i class="iconfont add-icon">&#xe616;</i>
              </label>
              <span class="numTip" style="float:left;margin-left:10px;margin-top:120px;">
                 注：选择图片库对应的文章配图
              </span>
            </div>
		    </div>
        <div class="rel-case-list" >
          <div class="rel-case-head" >
            学生录取情况
          </div>
          <div class="rel-case-text1" style="margin-top: 25px;">
    			  <label class="title active" for="student-name">
              <span>*</span> 学生姓名：
            </label>
    			  <input  id="student-name" type="text" >
    			  <span class="numTip" >不可填写学生完整姓名</span>
		      </div>
  		    <div class="rel-case-text1" style="margin-top: 20px;">
    			  <label class="title active" for="apply-country">
              <span>*</span> 申请国家：
            </label>
            {% set countryList = [
              {"countryId":"1","txt":"美国"},
              {"countryId":"2","txt":"英国"},
              {"countryId":"3","txt":"加拿大"},
              {"countryId":"4","txt":"澳大利亚"},
              {"countryId":"5","txt":"新西兰"},
              {"countryId":"50","txt":"韩国"},
              {"countryId":"51","txt":"日本"},
              {"countryId":"52","txt":"新加坡"},
              {"countryId":"53","txt":"马来西亚"},
              {"countryId":"54","txt":"中国香港"},
              {"countryId":"100","txt":"俄罗斯"},
              {"countryId":"101","txt":"乌克兰"},
              {"countryId":"102","txt":"白俄罗斯"},
              {"countryId":"103","txt":"德国"},
              {"countryId":"104","txt":"法国"},
              {"countryId":"105","txt":"挪威"},
              {"countryId":"106","txt":"瑞典"},
              {"countryId":"107","txt":"芬兰"},
              {"countryId":"108","txt":"爱尔兰"},
              {"countryId":"109","txt":"荷兰"},
              {"countryId":"110","txt":"丹麦"},
              {"countryId":"111","txt":"意大利"},
              {"countryId":"112","txt":"西班牙"},
              {"countryId":"113","txt":"瑞士"}
            ] %}
    			  <select id="apply-country" >
    			    <option value="">请选择国家</option>
    				  {% for item in countryList %}
                 <option value="{{item.countryId}}">{{item.txt}}</option>
              {% endfor %}
    			  </select>
    			  <span class="numTip" ></span>
  		    </div>
          <div class="rel-case-text1" style="margin-top: 20px;">
            <label class="title active" for="adm-school-1" style="letter-spacing:1px;">
              <span>*</span>录取院校1：
            </label>
    			  <input  id="adm-school-1" type="text" >
            <span class="search-btn" >搜索</span> 
    			  <span class="major" >+ 专业</span>
    			  <input  id="major-1" type="text" > 
    			  <span class="numTip" ></span>
          </div>
          <div class="rel-case-text1" style="margin-top: 20px;">
            <label class="title " for="adm-school-2" style="letter-spacing: 2.5px;"> 录取院校2：</label>
    			  <input  id="adm-school-2" type="text" > 
            <span class="search-btn" >搜索</span> 
    			  <span class="major" >+ 专业</span>
    			  <input  id="major-2" type="text" > 
          </div>
          <div class="rel-case-text1" style="margin-top: 20px;">
            <label class="title " for="adm-school-3" style="letter-spacing: 2.5px;"> 录取院校3：</label>
    			  <input  id="adm-school-3" type="text" >
            <span class="search-btn" >搜索</span> 
    			  <span class="major" >+ 专业</span>
    			  <input  id="major-3" type="text" > 
          </div>
          <div class="rel-case-text1" style="margin-top: 20px;">
            <label class="title active" for="level">
              <span>*</span> 留学层级：
            </label>
            {% set eduList = [
              {"id":"19","txt":"中小学"},
              {"id":"1","txt":"本科"},
              {"id":"2","txt":"研究生"},
              {"id":"4","txt":"预科"}
            ] %}
            <select id="level">
              <option value="">请选择学历</option>
            	{% for item in eduList %}
                <option value="{{item.id}}">{{item.txt}}</option>
              {% endfor %}
            </select>
            <span class="numTip" ></span>
          </div>  
          <div class="rel-case-text1" style="margin-top: 20px;">
            <label class="title active" for="adm-time"><span>*</span> 录取时间：</label>
            <input  id="adm-time" type="text" data-toggle="datepicker" class="quick-date" >
            <span class="numTip" ></span>
          </div>
        </div>
        <!-- =======学生背景情况======== -->
        <div class="rel-case-list" >
          <div class="rel-case-head" >
              学生背景情况
          </div>
          <div class="rel-case-text1" style="margin-top: 20px;">
  			    <label class="title active" for="attend-school">
              <span>*</span> 就读院校：
            </label>
  			    <input  id="attend-school" type="text" >
  			    <span class="numTip" ></span>
  		    </div>
  		    <div class="rel-case-text1" style="margin-top: 20px;">
  			    <label class="title active" for="study-major">
              <span>*</span> 所学专业：
            </label>
    			  <input  id="study-major" type="text" >
    			  <span class="numTip" ></span>
  		    </div>
  		    <div class="rel-case-text1" style="margin-top: 20px;">
    			  <label class="title active" for="achievement">
              <span>*</span> 成绩概况：
            </label>
    			  <input  id="achievement" type="text" maxlength="100">
    			  <span class="numTip" >挑选重点填写，字数限100汉字</span>
  		    </div>
  		    <div class="rel-case-text1 clearfix" style="margin-top: 40px;height: auto;">
            <form method="post"  enctype="multipart/form-data" class="clearfix" id="upload-form">
      			  <label class="title" style="float:left;line-height: 15px;" > offer图片上传：</label>
              <div id="preview" class="preview">
              </div>
              <label class="upload-label" for="upload-btn">
                <i class="iconfont add-icon">&#xe616;</i>
              </label>
              <span class="numTip" style="color: #333;line-height: 14px;position: absolute;bottom: 30px;margin-left: 10px;">
               图片尺寸：690*959px
              </span>
      			  <input type="file" id="upload-btn" class="upload-btn" accept="image/*" >
            </form>
            <span class="numTip" style="display: block;margin-left: 114px;">
               （最少上传一张offer照片，最多上传2张，图片单张大小支持500K以下，需注意对offer内容隐私信息打码）
            </span>
  		    </div>
  		    <div class="rel-case-text1 clearfix" style="margin-top: 25px;" >
  			    <label class="title active" style="float:left">
              <span>*</span> 正文内容：
            </label>
            <div class="editor">
    			    <div id="editor" style="border-bottom:1px solid #dcdcdc;">
              </div>
              <div id="editor1" >
              </div>
            </div>  
          </div>
          <div class="editor-btn-box" >
            <a  href="javascript:void(0);" class="dui-btn btn-xlarge btn-appointment" style="margin-right: 7px;" id="save-draft">
                  保存到草稿箱
            </a>
            <a  href="javascript:void(0);" class="dui-btn btn-xlarge btn-appointment" id="sureBtn">
             	确定发布
            </a>
          </div>
        </div>  
          <!-- ====rel-case-con end===== -->
      </div>
    </div>
</div>
<!-- ====弹窗图片库==== -->
<div class="pic-lib" >
  <div class="pic-lib-top" >
    文章配图上传
  </div> 
  <div class="pic-lib-con" >
    <div class="pic-con-top clearfix" >
      <span class="pic-con-top-left">图库</span>
      <span class="pic-con-top-right" id= "paging">
        <i class="iconfont">&#xe65f;</i>
        换一批
      </span>
    </div>
    <ul class="pic-con-ul clearfix">
    </ul>
    <div class="pic-lib-btn" >
      <a  href="javascript:void(0);" class="dui-btn btn-xlarge btn-appointment pic-srue-btn">确定</a>
      <a  href="javascript:void(0);" class="dui-btn btn-xlarge pic-cancel-btn">取消</a>
    </div>
  </div>
</div>
    {% include "widget/new_footer/new_footer.html" %}
    {% import "widget/new_slide/new_slide.html" as  slide %}
    {{slide.leyu_slide("XC_"+tdk.pagekey+"_SEAT10",helper) }}
<script src="{{helper.cdnhost}}/assets/js/show_advert.js"></script>
<script src="{{helper.cdnhost}}/assets/js/online_evaluation.js" ></script>
<script src="{{helper.cdnhost}}/assets/js/slide.js"></script>
<script src="{{helper.cdnhost}}/assets/js/nav_seventh.js" ></script>
<script  src="{{helper.cdnhost}}/assets/js/wangEditor.js"></script>
<script  src="{{helper.cdnhost}}/assets/js/zxxFile.js"></script>
<script src="{{helper.cdnhost}}/dep/js/layer.min.js"></script>
<script src="{{helper.cdnhost}}/assets/js/follow.js"></script>
<script src="{{helper.cdnhost}}/assets/js/footer.js"></script>
<script >
  $(function(){
    var login_ss = null; //获取用户信息
    if(cookie('login_ss') != undefined){
      login_ss = JSON.parse(cookie('login_ss'));
    }
    var city_id =null;
    if(login_ss.usertype ==2){
      //获取顾问的组织id
      city_id = $(".advisor-bumen").attr("data-cityId");
    }
    var picFlag = false;
    var picSrc = null;
    var picDataSrc =null;
    var page = 0;
    //点击弹出图片选择框
    $(".figure-label").on("click",getPicData);
    function getPicData(){
      page++;
      // console.log(page)
      $.ajax({
        url:'/soapi/attachment',
        type:"GET",
        dataType:"json",
        data:{
          catid:17,
          page:page
        },
        success:function(result){
          if(result.code == 0){
            $('.pic-con-ul').html(null);//清空一次
            var html = '';
            for(var i =0;i<result.data.list.length;i++){
              html += '<li>'+
                        '<img src="'+fn.imageThumb(result.data.list[i].thumb,'150x150')+'" data-src="'+result.data.list[i].thumb+'">'+
                        '<span class="check-box iconfont" ></span>'+
                     '</li>';
            }
            $('.pic-con-ul').append(html);
            $(".pic-con-ul li").eq(3).css({marginRight:0});
            $(".pic-con-ul li").eq(7).css({marginRight:0});
            $(".pic-lib").show();
            $(".pic-con-ul li").on("click",function(){
              //图片选择点击
              $(".pic-con-ul li").find("span").removeClass('sel-active');
              $(".pic-con-ul li").find("span").html('');
              $(".pic-con-ul li").removeAttr('data-checked');
              $(this).find("span").addClass('sel-active');
              $(this).find("span").html('<i class="iconfont check-mark-icon" >&#xe652;</i>');
              picFlag = true;
              picSrc = $(this).find('img').attr("src");
              picDataSrc = $(this).find('img').attr("data-src");
            });

          }else{
            console.log(result)
          }
        },
        error:function(XMLHttpRequest, textStatus, errorThrown){
          console.log(errorThrown)
        }  
      })
    }  
    $(".pic-srue-btn").on("click",function(){
      //点击确定
      if(picFlag){
        $(".pic-lib").hide();
        $(".figure-label").hide();
        $('.figure').show();
        $('.figure').find("img").attr("src",picSrc);
        $('.figure').find("img").attr("data-src",picDataSrc);
      }else{
        layer.msg("请选择一张图片");
      }
    });
    $(".pic-cancel-btn").on("click",function(){
      //点击取消
      $(".pic-lib").hide();
    });
    $('.figure_delete').on("click",function(){
      // 删除
      $(this).prev().attr("src",'');
      $(this).parent().hide();
      $(".figure-label").show();
      $(".pic-con-ul li").removeAttr('data-checked');
      $(".pic-con-ul li span").removeClass('sel-active');
      $(".pic-con-ul li span").html('');
      picFlag = false;
    });
    $("#paging").on("click",getPicData); //点击换一批 
    //点击搜索院校库按钮
    $('.search-btn').on("click",getUniversityLibrary);
    function getUniversityLibrary(){
      if($("#apply-country").val()==''){
        layer.msg("请先选择国家");
        return false;
      }
      var that =this;
      if($(that).prev().val()== ''){
        layer.msg("请输入搜索院校关键字");
        return false;
      }
      layer.open({
        type: 1,
        title:'热门院校搜索结果:',
        area: ['648px','300px'], //宽高
        content:'<div class="library-con">'+
                  '<ul class="library-ul clearfix">'+
                  '</ul>'+
                '</div>'      
      });
      $.ajax({
        url:'/soapi/search_school',
        type:"GET",
        data:{
          country_id:$("#apply-country").val(),
          key_word:encodeURI($(that).prev().val().replace(/\-/ig,''))
        },
        success:function(result){
          console.log(result)
          if(result.code == 0){
            if(result.data.total>0){
              var html = '';
              var reg =new RegExp($(that).prev().val(),'ig');
              for(var i =0 ;i<result.data.list.length;i++){
                html +='<li><a  href="javascript:void(0);" class="dui-text-warning-s" data-id="'+result.data.list[i].id+'">'+
                  result.data.list[i].title.replace(reg,'<i style="color:#c13232;">'+$(that).prev().val()+'</i>')+
                '</a></li>';
              }
              $('.library-ul').append(html);
              $('.library-ul li a').on('click',function(){
                $(that).prev().val($(this).text());
                $(that).prev().attr('data-id',$(this).attr('data-id'));
                layer.closeAll();
              });
            }else{
              $('.library-ul').append('<li><a >没有此名的院校</a></li');
            }
          }else{
            console.log(result.err)
          }
        },
        error:function(XMLHttpRequest, textStatus, errorThrown){
          console.log(errorThrown)
        }  
      });
    }
    $("#adm-school-1").on('change',function(){
      //当搜索输入框改变
      $(this).attr('data-id','');
    });
    //编辑器
    var E = window.wangEditor;
    var editor = new E('#editor','#editor1');
    // 或者 var editor = new E( document.getElementById('#editor') )
    // 自定义菜单配置
    editor.customConfig.menus = [   
      'bold',  // 粗体
      'italic',  // 斜体
      'underline',  // 下划线
      'strikeThrough',  // 删除线
      'foreColor',  // 文字颜色
      'backColor',  // 背景颜色
      'link',  // 插入链接
      'list',  // 列表
      'justify',  // 对齐方式
      'image',  // 插入图片
      'table',  // 表格
      'undo',  // 撤销
      'redo'  // 重复
    ];
    editor.customConfig.debug = false;
    // 关闭粘贴样式的过滤
    editor.customConfig.pasteFilterStyle = false;
    editor.customConfig.uploadFileName = 'upload';
    // 将图片大小限制为 500K
    editor.customConfig.uploadImgMaxSize = 500 * 1024;
    // 限制一次最多上传 5 张图片
    editor.customConfig.uploadImgMaxLength = 1;
    editor.customConfig.uploadImgServer = ajaxUrlPrefix.nodeapi + "/cmsapi/input_upload"; // 上传图片到服务器
    // 隐藏“网络图片”tab
    editor.customConfig.showLinkImg = false;
    editor.customConfig.uploadImgHooks = {
      before: function (xhr, editor, files) { 
      },
      success: function (xhr, editor, result) { 
      },
      fail: function (xhr, editor, result) { 
      },
      error: function (xhr, editor) { 
        console.log(xhr)
      },
      timeout: function (xhr, editor) {
      },
      customInsert: function (insertImg, result, editor) {
        console.log(result)
        var url = result.data[0];
        insertImg(url)
      }
    }
    editor.customConfig.customAlert = function (info) {
      // info 是需要提示的内容
      layer.msg(info)
    }
    editor.create();
    //图片上传
    var params = {
      maxfileNum:2,
      fileInput: $("#upload-btn").get(0),
      upButton: $("#fileSubmit").get(0),
      url: ajaxUrlPrefix.nodeapi + "/cmsapi/input_upload",
      filter: function(files) {
        var arrFiles = [];
        for (var i = 0, file; file = files[i]; i++) {
          if (file.type.indexOf("image") == 0) {
            if (file.size >= 512000) {
              layer.msg('您这张"'+ file.name +'"图片大小过大，应小于500K');  
            } else {
              var f = file;
              var reader = new FileReader();
              reader.onload = function (e) { 
                //加载图片获取图片真实宽度和高度  
                var image = new Image();  
                image.onload=function(){  
                  var w = image.width;  
                  var h = image.height;  
                  console.log(w+'======'+h+"=====");  
                  if(w>690){
                    layer.msg('您这张"'+ f.name +'"图片宽度为"'+w+'"，应不超过690'); 
                  }else if(h>959){
                    layer.msg('您这张"'+ f.name +'"图片高度为"'+h+'"，应不超过959');
                  }else{
                    arrFiles.push(f);
                    ZXXFILE.funDealFiles(arrFiles);
                  } 
                };  
                image.src= e.target.result;  
              }
              reader.readAsDataURL(files[0]);
            }     
          } else {
            layer.msg('文件"' + file.name + '"不是图片。');  
          }
        }
      },
      onSelect: function(files) {
        console.log('onSelect')
        // console.log('num',ZXXFILE.num)
        if(ZXXFILE.num >=ZXXFILE.maxfileNum ){
          $(".upload-label").hide();
        }
        $(".upload_delete").unbind('click');//清除一次click事件
        var html = '';
        for(var i =0;i<files.length;i++){
          html+='<div class="upload_append_list" data-file="'+files[i].name+'" data-index="'+ZXXFILE.num+'">'+ 
                  '<a  href="javascript:void(0);" class="upload_delete iconfont" title="删除" >&#xe8c1;</a>' +
                  '<img src="" class="upload_image" />'+ 
                  '<span class="upload_progress"></span>' +
                '</div>';
        }  
        $("#preview").append(html);
        $(".upload_delete").on("click",function() {
          $(this).parent().remove();
          ZXXFILE.uploadNum--;
          ZXXFILE.num--;
          // console.log('删除后的num',ZXXFILE.num)
          $(".upload-label").show();
        });
      },
      onProgress: function(file, loaded, total) {
        var percent = (loaded / total * 100).toFixed(2) + '%';
        $(".upload_append_list[data-index="+ZXXFILE.num+"]").each(function(){
          if($(this).attr('data-file') == file.name){
            $(this).find('.upload_progress').show().html('完成上传');
          }
        });
      },
      onSuccess: function(file, response) {
        console.log('onSuccess')
        $("#upload-form").get(0).reset(); 
        //重置表单 可以连续上传两张一样的图片
        $(".upload_append_list[data-index="+ZXXFILE.num+"]").each(function(){
          if($(this).attr('data-file') == file.name){
            $(this).find('img').attr('src',fn.imageThumb(JSON.parse(response).data[0],'112x160'));
            $(this).find('img').attr('data-src',JSON.parse(response).data[0]);
          }
        });
      },
      onFailure: function(file) {
        console.log(file)
      }
    };
    ZXXFILE = $.extend(ZXXFILE, params);
    ZXXFILE.init();
    $('#sureBtn').on('click', function () {
      //确定发布按钮
      var data = editor.txt.html();
      if($("#rel-case-title").val()==''){
      	// 判断title
      	$("#rel-case-title").focus();
        $("#rel-case-title").next().html("填写案例标题，字数限30个汉字");
        return false;
      }else{
      	$("#rel-case-title").next().html('填写案例标题，字数限30个汉字');
      }
      if($("#rel-keyword").val()==''){
        //判断关键词
        $("#rel-keyword").focus();
        $("#rel-keyword").next().html("请填写关键词");
        return false;
      }else{
        $("#rel-keyword").next().html('多关键词之间用空格或者 "," 隔开');
      }
      if($("#figure-img").attr('data-src')=='' || $("#figure-img").attr('data-src')==undefined){
        // 判断文章配图
        layer.msg('请选择文章配图');
        return false;
      }  
      if($("#student-name").val()==''){
      	// 判断学生姓名
      	$("#student-name").focus();
        $("#student-name").next().html("请填写学生姓名");
        return false;
      }else{
      	$("#student-name").next().html('不可填写学生完整姓名');
      } 
      if($("#apply-country").val()==''){
      	// 判断国家
      	$("#apply-country").focus();
        $("#apply-country").next().html("请选择国家");
        return false;
      }else{
      	$("#apply-country").next().html('');
      } 
      if($("#adm-school-1").val()==''){
      	// 判断录取院校1
      	$("#adm-school-1").focus();
        $("#adm-school-1").next().next().next().next().html("请填写录取的学校");
        return false;
      }else{
      	$("#adm-school-1").next().next().next().next().html('');
      }   
      // console.log($("#adm-school-1").attr('data-id'))  
      // if($("#adm-school-1").attr('data-id')=='' || $("#adm-school-1").attr('data-id')==undefined){
      //   layer.msg('请点击录取院校1搜索按钮选择你的学校，因为要获取学校id拿到校徽，敬请谅解')
      //   return false;
      // } 
      if($("#major-1").val()==''){
      	// 判断专业1
      	$("#major-1").focus();
        $("#major-1").next().html("请填写专业");
        return false;
      }else{
      	$("#major-1").next().html('');
      }
      if($("#level").val()==''){
        // 判断学历
        $("#level").focus();
        $("#level").next().html("请填写留学层级");
        return false;
      }else{
        $("#level").next().html('');
      }
      if($("#adm-time").val()==''){
      	// 判断录取时间
      	$("#adm-time").focus();
        $("#adm-time").next().html("请选择录取时间");
        return false;
      }else{
      	$("#adm-time").next().html('');
      }  
      if($("#attend-school").val()==''){
      	// 判断就读院校
      	$("#attend-school").focus();
        $("#attend-school").next().html("请选择就读院校");
        return false;
      }else{
      	$("#attend-school").next().html('');
      } 
      if($("#study-major").val()==''){
      	// 判断所学专业
      	$("#study-major").focus();
        $("#study-major").next().html("请选择所学专业");
        return false;
      }else{
      	$("#study-major").next().html('');
      } 
      if($("#achievement").val()==''){
      	// 判断成绩概况
      	$("#achievement").focus();
        $("#achievement").next().html("请输入成绩概况");
        return false;
      }else{
      	$("#achievement").next().html('挑选重点填写，字数限100汉字');
      }  
      var imgArr = [];
      $(".upload_image").each(function(){
        imgArr.push($(this).attr('data-src'));
      });
      if(imgArr.length == 0){
        layer.msg("请上传一张图片")
        return false;
      }
      if($("#editor1").find("p").html() == '<br>'){
        //判断正文
        layer.msg("请输入正文内容");
        return false;
      }  
      var region = '';
      if(Number($("#apply-country").val()) >=50 && Number($("#apply-country").val()) <100){
        region = 201;
      }else if(Number($("#apply-country").val()) >= 100){
        region =202;
      }                     
      $.ajax({
        url: '/soapi/publish_article',
        type:'POST',
        data:{
          u_id:login_ss.uid,
          city_id:city_id,	
          edu_id:$("#level").val(),
          title:$.trim($("#rel-case-title").val()),
          keywords:$.trim($("#rel-keyword").val()),
          thumb:$("#figure-img").attr('data-src'),
          stu_name:$.trim($("#student-name").val()),
          country_id:$("#apply-country").val(),
          school_id:$("#adm-school-1").attr('data-id'),
          school_1:$.trim($("#adm-school-1").val()),
          school_2:$.trim($("#adm-school-2").val()),
          school_3:$.trim($("#adm-school-3").val()),
          dep_1:$.trim($("#major-1").val()),
          dep_2:$.trim($("#major-2").val()),
          dep_3:$.trim($("#major-3").val()),
          admission_time:$("#adm-time").val(),
          pre_school:$.trim($("#attend-school").val()),
          pre_dep:$.trim($("#study-major").val()),
          score:$.trim($("#achievement").val()),
          type:1,
          is_draft:1,
          category_id:17,
          offer_img:JSON.stringify(imgArr),
          messasge:data,
          region:region
        },
        dataType:'json',
        success:function(result){
          console.log(result)
          if(result.code == 0){
            layer.msg('发布成功')
          }else if(result.code == '1210000011'){
            layer.msg('标题已存在，请更换标题');
          }else if(result.code == '1210000012'){
          	layer.msg('您编辑器输入的内容有敏感词');
          }else{
            layer.msg('发布失败')
          }
        },
        error:function(XMLHttpRequest, textStatus, errorThrown){
          console.log(errorThrown)
          if(XMLHttpRequest.status == '413'){
            layer.msg('您发布的内容已超过1M，应小于1M');
          }
        }
      });
    });
    $("#save-draft").on("click",function(){
      //保存草稿箱
      var data = editor.txt.html();
      if($("#rel-case-title").val()==''){
        // 判断title
        $("#rel-case-title").focus();
        $("#rel-case-title").next().html("填写案例标题，字数限30个汉字");
        return false;
      }else{
        $("#rel-case-title").next().html('填写案例标题，字数限30个汉字');
      }
      if($("#rel-keyword").val()==''){
        //判断关键词
        $("#rel-keyword").focus();
        $("#rel-keyword").next().html("请填写关键词");
        return false;
      }else{
        $("#rel-keyword").next().html('多关键词之间用空格或者 "," 隔开');
      }
      if($("#figure-img").attr('data-src')=='' || $("#figure-img").attr('data-src')==undefined){
        // 判断文章配图
        layer.msg('请选择文章配图');
        return false;
      }    
      if($("#student-name").val()==''){
        // 判断学生姓名
        $("#student-name").focus();
        $("#student-name").next().html("请填写学生姓名");
        return false;
      }else{
        $("#student-name").next().html('不可填写学生完整姓名');
      } 
      if($("#apply-country").val()==''){
        // 判断国家
        $("#apply-country").focus();
        $("#apply-country").next().html("请选择国家");
        return false;
      }else{
        $("#apply-country").next().html('');
      } 
      if($("#adm-school-1").val()==''){
        // 判断录取院校1
        $("#adm-school-1").focus();
        $("#adm-school-1").next().next().next().next().html("请填写录取的学校");
        return false;
      }else{
        $("#adm-school-1").next().next().next().next().html('');
      }   
      // if($("#adm-school-1").attr('data-id')=='' || $("#adm-school-1").attr('data-id')==undefined){
      //   layer.msg('请点击录取院校1搜索按钮选择你的学校，因为要获取学校id拿到校徽，敬请谅解')
      //   return false;
      // }   
      if($("#major-1").val()==''){
        // 判断专业1
        $("#major-1").focus();
        $("#major-1").next().html("请填写专业");
        return false;
      }else{
        $("#major-1").next().html('');
      }
      if($("#level").val()==''){
        // 判断学历
        $("#level").focus();
        $("#level").next().html("请填写留学层级");
        return false;
      }else{
        $("#level").next().html('');
      }
      if($("#adm-time").val()==''){
        // 判断录取时间
        $("#adm-time").focus();
        $("#adm-time").next().html("请选择录取时间");
        return false;
      }else{
        $("#adm-time").next().html('');
      }  

      if($("#attend-school").val()==''){
        // 判断就读院校
        $("#attend-school").focus();
        $("#attend-school").next().html("请选择就读院校");
        return false;
      }else{
        $("#attend-school").next().html('');
      } 
      if($("#study-major").val()==''){
        // 判断所学专业
        $("#study-major").focus();
        $("#study-major").next().html("请选择所学专业");
        return false;
      }else{
        $("#study-major").next().html('');
      } 
      if($("#achievement").val()==''){
        // 判断成绩概况
        $("#achievement").focus();
        $("#achievement").next().html("请输入成绩概况");
        return false;
      }else{
        $("#achievement").next().html('挑选重点填写，字数限100汉字');
      }  
      var imgArr = [];
      $(".upload_image").each(function(){
        imgArr.push($(this).attr('data-src'));
      });
      if(imgArr.length == 0){
        layer.msg("请上传一张图片")
        return false;
      }
      if($("#editor1").find("p").html() == '<br>'){
        //判断正文
        layer.msg("请输入正文内容");
        return false;
      }
      var region = '';
      if(Number($("#apply-country").val()) >=50 && Number($("#apply-country").val()) <100){
        region = 201;
      }else if(Number($("#apply-country").val()) >= 100){
        region =202;
      }                           
      $.ajax({
        url: '/soapi/publish_article',
        type:'POST',
        data:{
          u_id:login_ss.uid,
          city_id:city_id,  
          edu_id:$("#level").val(),
          title:$.trim($("#rel-case-title").val()),
          keywords:$.trim($("#rel-keyword").val()),
          thumb:$("#figure-img").attr('data-src'),
          stu_name:$.trim($("#student-name").val()),
          country_id:$("#apply-country").val(),
          school_id:$("#adm-school-1").attr('data-id'),
          school_1:$.trim($("#adm-school-1").val()),
          school_2:$.trim($("#adm-school-2").val()),
          school_3:$.trim($("#adm-school-3").val()),
          dep_1:$.trim($("#major-1").val()),
          dep_2:$.trim($("#major-2").val()),
          dep_3:$.trim($("#major-3").val()),
          admission_time:$("#adm-time").val(),
          pre_school:$.trim($("#attend-school").val()),
          pre_dep:$.trim($("#study-major").val()),
          score:$.trim($("#achievement").val()),
          type:1,
          is_draft:1,
          category_id:17,
          offer_img:JSON.stringify(imgArr),
          is_draft:2,
          messasge:data,
          region:region
        },
        dataType:'json',
        success:function(result){
          console.log(result)
          if(result.code == 0){
            layer.msg('保存草稿成功')
            window.setTimeout(function(){
              window.location.href='/advisor_center/draft'; 
            },1000);
          }else if(result.code == '1210000011'){
            layer.msg('标题已存在，请更换标题');
          }else if(result.code == '1210000012'){
          	layer.msg('您编辑器输入的内容有敏感词');
          }else{
            layer.msg('保存失败')
          }
        },
        error:function(XMLHttpRequest, textStatus, errorThrown){
          console.log(errorThrown)
          if(XMLHttpRequest.status == '413'){
            layer.msg('您发布的内容已超过1M，应小于1M');
          }
        }
      });
    });
  })
</script>
<script>
  $(function(){
    show_guanggao()
  })
</script>
</body>
</html>