
<!DOCTYPE html>
<html lang="en">
<head>
  {% include "header_new.html" %}
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/release_article.css" >
  <!--[if lt IE 10]>
  <script src="{{helper.cdnhost}}/assets/js/upgrade.js"></script>
  <![endif]-->
</head>
<body style="background:#f5f5f5;">
	<!-- ===头部=== -->
	{% include "widget/top/top.html" %}
	<!-- ====导航===== -->
  {% import "widget/new_nav_first/common_nav.html" as common_nav %}
  {{ common_nav.common_nav(tdk,helper) }}
  <div class="dui-layout-lg clearfix banner-box">
    <div class="dui-layout-silde banner-box-right">{% include "widget/xSlider/xSlider.html" %}</div>
    <div class="dui-layout-div"></div>
    <div class="dui-layout-con banner-box-left">{% include "widget/xSlider/xSlider2.html" %}</div>
  </div>
	<div class="dui-layout-lg clearfix dui-layout-padding" >
	  <div class="dui-layout-silde ">
	    <!-- =======顾问头像关注====== -->
      {% import "widget2/community_advisor/community_advisor.html" as community_advisor %}
      {% if userinfo.usertype == 2 %}
        {{community_advisor.advisor(userinfo, helper,login_info)}}
      {% elif userinfo.usertype == 3 %}  
        {{community_advisor.counsellor(userinfo, helper,login_info)}}
      {% else %}  
      {% endif %}
	    <!-- ========引入顾问侧边栏按钮======== -->
      {% if userinfo.usertype ==2 %}
        {% import "widget2/side_menu/adviser_side_menu.html" as adviser_side_menu %}
        {{ adviser_side_menu.adviser_side_menu('发布我的文章','',helper) }} 
      {% elif userinfo.usertype == 3 %}
        {% import "widget2/side_menu/canzan_side_menu.html" as canzan_side_menu %}
        {{ canzan_side_menu.canzan_side_menu('发布专栏','',helper) }} 
      {% endif %}
	  </div>
	  <div class="dui-layout-div"></div>
      <div class="dui-layout-con dui-box-shadow" >
        <div class="rel-case-con" >
	        <div class="main-title gray-bg">
		        <h3 style="font-size: 18px;">发布我的文章</h3>
	        </div>
  	      <div class="rel-case-list" >
            <div class="rel-case-text1" style="margin-top: 20px;">
              <label class="title active" for="apply-country">
                <span>*</span> 选择对应国家：
              </label>
              {% set countryList = [
                {"countryId":"1","txt":"美国"},
                {"countryId":"3","txt":"加拿大"},
                {"countryId":"4","txt":"澳大利亚"},
                {"countryId":"5","txt":"新西兰"},
                {"countryId":"2","txt":"英国"},
                {"countryId":"108","txt":"爱尔兰"},
                {"countryId":"7","txt":"希腊"},
                {"countryId":"8","txt":"马耳他"},
                {"countryId":"112","txt":"西班牙"},
                {"countryId":"10","txt":"葡萄牙"},
                {"countryId":"11","txt":"塞浦路斯"},
                {"countryId":"14","txt":"圣基茨"},
                {"countryId":"12","txt":"安提瓜"},
                {"countryId":"15","txt":"格林纳达"},
                {"countryId":"13","txt":"多米尼克"},
                {"countryId":"54","txt":"中国香港"}
              ] %}
              <select id="apply-country" >
                <!-- <option value="">请选择</option> -->
                {% for item in countryList %}
                  <option value="{{item.countryId}}">{{item.txt}}</option>
                {% endfor %}
              </select>
              <span class="numTip" ></span>
            </div>
            <div class="rel-case-text1" style="margin-top: 20px;">
              <label class="title active" for="art_type"><span>*</span> 选择文章类型：</label>
              <span  class="art-type-sel" data-id ="2" >
                <i class="iconfont art-type-i"></i>
                <i >时讯</i>
              </span>
              <span class="art-type-sel" data-id="1">
                <i class="iconfont art-type-i" ></i>
                <i >非时讯</i>
              </span>
              <span class="numTip" ></span>
            </div>  
            <div class="rel-case-text1 newsletter-hide" style="margin-top: 20px;">
              <label class="title active" for="level">
                <span>*</span> 选择项目标签：
              </label>
              {% set projectList = [
                {
                  "id":"1",
                  "itemLabel":[
                    "杰出人才EB-1",
                    "投资类EB-5"
                  ]
                },
                {
                  "id":"3",
                  "itemLabel":[
                    "投资",
                    "技术",
                    "各类签证",
                    "联邦自雇"
                  ]
                },
                {
                  "id":"4",
                  "itemLabel":[
                    "投资",
                    "技术",
                    "各类签证"
                  ]
                },
                {
                  "id":"5",
                  "itemLabel":[
                    "投资",
                    "技术",
                    "各类签证"
                  ]
                },
                {
                  "id":"2",
                  "itemLabel":[
                    "企业家",
                    "投资",
                    "各类签证"
                  ]
                },
                {
                  "id":"108",
                  "itemLabel":[
                    "企业家",
                    "投资",
                    "各类签证"
                  ]
                },
                {
                  "id":"7",
                  "itemLabel":[
                    "购房移民"
                  ]
                },
                {
                  "id":"8",
                  "itemLabel":[
                    "国债移民"
                  ]
                },
                {
                  "id":"112",
                  "itemLabel":[
                    "购房移民"
                  ]
                },
                {
                  "id":"10",
                  "itemLabel":[
                    "购房移民"
                  ]
                },
                {
                  "id":"11",
                  "itemLabel":[
                    "购房移民"
                  ]
                },
                {
                  "id":"14",
                  "itemLabel":[
                    "护照"
                  ]
                },
                {
                  "id":"12",
                  "itemLabel":[
                    "护照"
                  ]
                },
                {
                  "id":"15",
                  "itemLabel":[
                    "护照"
                  ]
                },
                {
                  "id":"13",
                  "itemLabel":[
                    "护照"
                  ]
                },
                {
                  "id":"54",
                  "itemLabel":[
                    "香港优才"
                  ]
                }
              ] %}
              {% for item in projectList %}
                <div class="project-div" data-id="{{item.id}}">
                  {% for val in item.itemLabel %}
                    <span class="level-sel" >
                      <i class="level-sel-i iconfont"></i>
                      <i>{{val}}</i>
                    </span>
                  {% endfor %}
                </div>
              {% endfor %}
              <span class="numTip" style="display: block;margin-left: 128px;">
                  项目标签可多选
              </span>
            </div>
            <div class="rel-case-text1 newsletter-hide" style="margin-top: 20px;">
              <label class="title active" for="recommend">
                <span>*</span> 选择推荐标签：
              </label>
              <span class="recommend-sel" >
                <i class="level-sel-i iconfont"></i>
                <i>移民咨讯</i>
              </span>
              <span class="recommend-sel" >
                <i class="level-sel-i iconfont"></i>
                <i>政策解读</i>
              </span>
              <span class="recommend-sel" >
                <i class="level-sel-i iconfont"></i>
                <i>项目解析</i>
              </span>
              <span class="recommend-sel" >
                <i class="level-sel-i iconfont"></i>
                <i>风土人情</i>
              </span>
              <span class="recommend-sel" >
                <i class="level-sel-i iconfont"></i>
                <i>费用周期</i>
              </span>
              <span class="recommend-sel" >
                <i class="level-sel-i iconfont"></i>
                <i>项目优势</i>
              </span>
              <span class="recommend-sel" style="display: inline-block;
    margin-left: 130px;">
                <i class="level-sel-i iconfont"></i>
                <i>移民案例</i>
              </span>
              <span class="numTip">
                注：选中【移民案例】标签即发布至顾问个人主页-案例中
              </span>
              <span class="numTip" style="display:block;
    margin-left: 130px;margin-top:5px;">
                推荐标签最多选择3个
              </span>
            </div>
  	        <div class="rel-case-text1" style="margin-top: 20px;">
      			  <label class="title active" for="rel-case-title">
                <span>*</span> 文章标题：
              </label>
      			  <input  id="rel-case-title" type="text" maxlength="30">
      			  <span class="numTip" style="display: block;margin-left: 97px;margin-top: 8px;">填写文章标题，字数限30个汉字</span>
      		  </div>
            <div class="rel-case-text1" style="margin-top: 20px;">
              <label class="title active" for="art_abs" >
                <span>*</span> 文章摘要：
              </label>
              <textarea class="art_abs" id="art_abs" maxlength="200"></textarea>
              <div class="word-num">还可以输入<span id="word-num">200</span>字</div>
              <span class="numTip" style="display: block;margin-left: 97px;margin-top: 8px;">
                填写文章内容概要信息，此内容将会在网站与个人主页显示，请认真填写
              </span>
            </div>
    		    <div class="rel-case-text1 clearfix" style="margin-top: 20px;" >
    			    <label class="title active" style="float:left">
                <span>*</span> 正文内容：
              </label>
              <div class="editor">
      			    <div id="editor" style="border-bottom:1px solid #dcdcdc;">    
                </div>
                <div id="editor1" >
                </div>
              </div>  
            </div>
            <div class="editor-btn-box" >
              <a  href="javascript:void(0);" class="dui-btn btn-xlarge btn-appointment" style="margin-right: 7px;" id="save-draft">
                    保存到草稿
              </a>
              <a  href="javascript:void(0);" class="dui-btn btn-xlarge btn-appointment" id="sureBtn">
                   	立即发布
              </a>
            </div>
          </div>  
          <!-- ====rel-case-con end===== -->
        </div>
      </div>
	</div>
  {% include "widget/new_footer/new_footer.html" %}
    {% import "widget/new_slide_yimin/new_slide2.html" as  slide %}
    {{slide.leyu_slide(helper) }}
  <script>
    var login_ss = null; //获取用户信息
    if($.cookie('login_ss') != undefined){
      login_ss = JSON.parse($.cookie('login_ss'));  
    }
    console.log(login_ss)
  </script>
  <script src="{{helper.cdnhost}}/assets/js/show_advert.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/online_evaluation.js" ></script>
  <script src="{{helper.cdnhost}}/assets/js/slide.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/nav_common.js"></script>
  <script  src="{{helper.cdnhost}}/assets/js/wangEditor.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/layer.min.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/follow.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/footer.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/xSlider.js" ></script>
  <script >
    $(function(){
        $('.banner-box-left .slider').xSlider({
            current: 0,
            speed: 500,
            intervalTime: 5000,
            pagination: true
        });
        $('.banner-box-right .slider').xSlider({
            current: 0,
            speed: 1000,
            intervalTime: 5000,
            slidesPerView : 2,
            slidesPerGroup : 2,
          pagination: true
        });
      var city_id =null;
      if(login_ss.usertype ==2){
        //获取顾问的组织id
        city_id = $(".advisor-bumen").attr("data-cityId");
      }else if(login_ss.usertype == 3){
        //参赞默认为1 北京分公司
        city_id =1;
      }
      //文章摘要
      $("#art_abs").on("change",function(){
        this.value = this.value.substring(0, 200);
      }); 
      $("#art_abs").on("keydown",function(){
        this.value  = this.value.substring(0, 200);
      }); 
      $("#art_abs").on("keyup",function(){
        var strLength = $.trim($(this).val()).length; 
        $("#word-num").html(200-strLength);
        if(strLength > 200){
          $("#word-num").html(0);
          this.value  = this.value.substring(0, 200);
        }
      }); 
      //选择文章类型
      var newsletterType = null;
      var newTagStr = ''; 
      $(".art-type-sel").on("click",function(){
        newsletterType = $(this).attr('data-id');
        $('.art-type-i').html('').css({'border':'1px solid #666','color':'none','marginRight':'5px','fontSize':'14px'});
        $('.art-type-i').next().css({'color':'#333'});
        $(this).find('.art-type-i').html('&#xe626;').css({'border':'none','color':'#c13232','marginRight':'7px','fontSize':'16px'});
        $(this).find('.art-type-i').next().css({'color':'#c13232'});
        if($(this).index()==2){
          $('.newsletter-hide').slideDown();
          newTagStr = '';
        }else{
          $('.newsletter-hide').slideUp();
          newTagStr = '移民时讯';
        }
      });
      //选择国家 切换学历
      var eduList = ''; 
      $('.project-div:first').css({'display':'inline-block'});
      $("#apply-country").on('change',function(){
        // console.log($(this).val())
          $(".project-div").css({"display":"none"});
          $(".project-div[data-id="+$(this).val()+"]").css({'display':'inline-block'});
          $('.level-sel[checked=checked]').each(function(){
            $(this).attr('checked',false);
          });
          eduList = '';
      });

      //选择学历标签
      $('.level-sel').on('click',function(){
        // console.log($(this).attr('checked'))
        if($(this).attr('checked')){
          // console.log('false');
          $(this).find('.level-sel-i').css({'border':'1px solid #666','color':'none','marginRight':'5px','fontSize':'14px'}).html('');
          $(this).find('.level-sel-i').next().css({'color':'#333'});
          $(this).attr('checked',false);
        }else{
          // console.log('true')
          $(this).find('.level-sel-i').css({'border':'none','color':'#c13232','marginRight':'7px','fontSize':'16px'}).html('&#xe640;');
          $(this).find('.level-sel-i').next().css({'color':'#c13232'});
          $(this).attr('checked',true);
        }
      });
      //选择推荐标签
      var recNumber = 0;
      $('.recommend-sel').on('click',function(){
        if($(this).attr('checked')){
          // console.log('false');
          $(this).find('.level-sel-i').css({'border':'1px solid #666','color':'none','marginRight':'5px','fontSize':'14px'}).html('');
          $(this).find('.level-sel-i').next().css({'color':'#333'});
          $(this).attr('checked',false);
        }else{
          // console.log('true')
          if(recNumber<3){
            $(this).find('.level-sel-i').css({'border':'none','color':'#c13232','marginRight':'7px','fontSize':'16px'}).html('&#xe640;');
            $(this).find('.level-sel-i').next().css({'color':'#c13232'});
            $(this).attr('checked',true);
          }
        }
        recNumber =$('.recommend-sel[checked=checked]').length;
        // console.log(recNumber)
      });

      //编辑器
      var E = window.wangEditor;
      var editor = new E('#editor','#editor1');
      // 或者 var editor = new E( document.getElementById('#editor') )
      // 自定义菜单配置
      editor.customConfig.menus = [   
        'bold',  // 粗体
        'italic',  // 斜体
        'underline',  // 下划线
        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'link',  // 插入链接
        'list',  // 列表
        'justify',  // 对齐方式
        'image',  // 插入图片
        'table',  // 表格
        'undo',  // 撤销
        'redo'  // 重复
      ];
      editor.customConfig.debug = false;
      // 关闭粘贴样式的过滤
      editor.customConfig.pasteFilterStyle = false;
      editor.customConfig.uploadFileName = 'upload';
      // 将图片大小限制为 500K
      editor.customConfig.uploadImgMaxSize = 2*1024 * 1024;
      // 限制一次最多上传 5 张图片
      editor.customConfig.uploadImgMaxLength = 1;
      editor.customConfig.uploadImgServer = ajaxUrlPrefix.nodeapi + "/cmsapi/input_upload"; // 上传图片到服务器
      // 隐藏“网络图片”tab
      editor.customConfig.showLinkImg = false;
      editor.customConfig.uploadImgHooks = {
        before: function (xhr, editor, files) { 
        },
        success: function (xhr, editor, result) {
        },
        fail: function (xhr, editor, result) {
        },
        error: function (xhr, editor) {
          console.log(xhr)
        },
        timeout: function (xhr, editor) {
        },
        customInsert: function (insertImg, result, editor) {
          console.log(result)
          var url = result.data[0];
          insertImg(url)
        }
      }
      editor.customConfig.customAlert = function (info) {
        // info 是需要提示的内容
        layer.msg(info)
      }
      editor.create();
      var artType = 2; 
      $('#sureBtn').on('click', function () {
        // 读取 html
        var data = editor.txt.html();
        if($("#apply-country").val()==''){
        	// 判断国家
        	$("#apply-country").focus();
          $("#apply-country").next().html("请选择国家");
          return false;
        }else{
        	 $("#apply-country").next().html('');
        } 
        //判断文章类型
        if(newsletterType ==undefined){
          layer.msg('请选择文章类型');
          return false;
        }else{
          if(newsletterType==1){
            //选择非时讯
            //判断项目
            $('.level-sel[checked=checked]').each(function(){
              eduList+=$(this).find('i').eq(1).text()+',';
            });
            console.log(eduList)
            if(eduList == ''){
              layer.msg('请选择项目标签');
              return false;
            }
            var eduStr = eduList.substring(0,eduList.length-1);
            // console.log(eduStr)
            //判断标签
            var tagStr = '';
            $('.recommend-sel[checked=checked]').each(function(){
              tagStr+=$(this).find('i').eq(1).text()+',';
              if($(this).find('i').eq(1).text()=='移民案例'){
                artType =1;
              }
            });
            if(tagStr == ''){
              layer.msg('请选择推荐标签');
              return false;
            }
            newTagStr =tagStr.substring(0,tagStr.length-1);
          }
        }
        
        if($("#rel-case-title").val()==''){
          // 判断title
          $("#rel-case-title").focus();
          return false;
        }
        if($("#art_abs").val()==''){
          // 判断文章摘要
          $("#art_abs").focus();
          return false;
        }
        if($("#editor1").find("p").html() == '<br>'){
          //判断正文
          layer.msg("请输入正文内容");
          return false;
        }

        $.ajax({
          url: '/soapi/publish_article',
          type:'POST',
          data:{
            city_id:city_id,
            u_id:login_ss.uid,
            title:$.trim($("#rel-case-title").val()),
            country_id:$("#apply-country").val(),
            is_draft:1,
            message:data,
            type:artType,
            introduce:$.trim($("#art_abs").val()),
            edu_id:eduStr,
            is_news:newsletterType,
            tag_list:newTagStr,
            is_immi:login_ss.adviser
          },
          dataType:'json',
          async: false,
          success:function(result){
            console.log(result)
            if(result.code == 0){
            	layer.msg('发布成功')
              if(login_ss.usertype == 2){
                window.setTimeout(function(){
                    if(artType == 1){
                        window.location.href=fn.urlgen('case',result.data.article_id.toString());
                    }else {
                        window.location.href=fn.urlgen('article',result.data.article_id.toString());
                    }
                },1000);
              }
            }else if(result.code == '1210000011'){
              layer.msg('标题已存在，请更换标题');
            }else if(result.code == '1210000012'){
              layer.msg('您编辑器输入的内容有敏感词');
            }else{
              layer.msg('发布失败')
            }
          },
          error:function(XMLHttpRequest, textStatus, errorThrown){
            console.log(errorThrown)
            if(XMLHttpRequest.status == '413'){
              layer.msg('您发布的内容已超过2M，应小于2M');
            }
          }
        });
      });
      $("#save-draft").on("click",function(){
        //保存草稿箱
        var data = editor.txt.html();
        if($("#apply-country").val()==''){
          // 判断国家
          $("#apply-country").focus();
          $("#apply-country").next().html("请选择国家");
          return false;
        }else{
          $("#apply-country").next().html('');
        }
        //判断文章类型
        if(newsletterType ==undefined){
          layer.msg('请选择文章类型');
          return false;
        }else{
          if(newsletterType==1){
            //选择非时讯
             //判断项目
            $('.level-sel[checked=checked]').each(function(){
              eduList+=$(this).find('i').eq(1).text()+',';
            });
            if(eduList == ''){
              layer.msg('请选择项目标签');
              return false;
            }
            var eduStr = eduList.substring(0,eduList.length-1);
            //判断标签
            var tagStr = '';
            $('.recommend-sel[checked=checked]').each(function(){
              tagStr+=$(this).find('i').eq(1).text()+',';
              if($(this).find('i').eq(1).text()=='移民案例'){
                artType =1;
              }
            });
            if(tagStr == ''){
              layer.msg('请选择推荐标签');
              return false;
            }
            newTagStr =tagStr.substring(0,tagStr.length-1);
          }
        }
        if($("#rel-case-title").val()==''){
          // 判断title
          $("#rel-case-title").focus();
          return false;
        }
        if($("#art_abs").val()==''){
          // 判断文章摘要
          $("#art_abs").focus();
          return false;
        }
        if($("#editor1").find("p").html() == '<br>'){
          //判断正文
          layer.msg("请输入正文内容");
          return false;
        }   

        $.ajax({
          url: '/soapi/publish_article',
          type:'POST',
          data:{
            city_id:city_id,
            u_id:login_ss.uid,
            title:$.trim($("#rel-case-title").val()),
            country_id:$("#apply-country").val(),
            is_draft:2,
            message:data,
            type:artType,
            introduce:$.trim($("#art_abs").val()),
            edu_id:eduStr,
            is_news:newsletterType,
            tag_list:newTagStr,
            is_immi:login_ss.adviser
          },
          dataType:'json',
          success:function(result){
            console.log(result)
            if(result.code == 0){
              layer.msg('保存草稿成功')
              window.setTimeout(function(){
                if(login_ss.usertype == 2){
                  window.location.href='/advisor_center/draft'; 
                }else if(login_ss.usertype == 3){
                  window.location.href='/canzan_center/draft'; 
                } 
              },1000);
            }else if(result.code == '1210000011'){
              layer.msg('标题已存在，请更换标题');
            }else if(result.code == '1210000012'){
              layer.msg('您编辑器输入的内容有敏感词');
            }else{
              layer.msg('保存失败')
            }
          },
          error:function(XMLHttpRequest, textStatus, errorThrown){
            console.log(errorThrown)
            if(XMLHttpRequest.status == '413'){
              layer.msg('您发布的内容已超过2M，应小于2M');
            }
          }
        });
      });
    })
 </script>
</body>
</html>