<!DOCTYPE html>
<html>
<head>
{% include "header_new.html" %}
<link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/idangerous.swiper-2.7.6.css" >
<link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/search_result.css"/>
<script src="{{helper.cdnhost}}/dep/js/idangerous.swiper-2.7.6-1.js"></script>
<style type="text/css">
    .pagination-box{
        float: left;
        position: relative;
        left: 50%;
        margin-top: 54px;
        margin-bottom: 54px;
    }
    .banner-box{
        margin-top: 20px;
        height: 130px;
        /*background-color: yellow;*/
    }
    .banner-box-left{
        background: #dcdcdc;
        height: 130px;
    }
    .banner-box-right{
        background: #dcdcdc;
        height: 130px;
    }
    .slider .slider-dot ul li{
        border-radius: 50%;
    }
    .slider .slider-btn.slider-btn-right,.slider .slider-btn.slider-btn-left{
        margin-top: -33px
    }
</style>
</head>
<body style="background: #f5f5f5">
{% include "widget/common_hide/common_hide.html"%}
{% include "widget/top/top.html" %}
{% import "widget/new_nav_first/new_nav_red.html" as new_nav_red %}
{{ new_nav_red.new_nav_red(tdk,helper) }}
<div class="dui-layout-lg clearfix banner-box">
    <div class="dui-layout-con banner-box-left">{% include "widget/xSlider/xSlider.html" %}</div>
    <div class="dui-layout-div"></div>
    <div class="dui-layout-silde banner-box-right">{% include "widget/xSlider/xSlider2.html" %}</div>
</div>
<div class="dui-layout-lg clearfix">
    <div class="dui-layout-con" style="background-color: #fff;">
        <div class="main-left">
            <div class="main-searchbox clearfix">
                <input type="text" id="search-page" placeholder="请输入您感兴趣的顾问姓名" class="search-text" value="{{keyword}}">
                <div class="search-btn" id="searchBtn-page" style="cursor: pointer;"><i class="city-icon iconfont">&#xe60c;</i></div>
            </div>
            <div class="page-search-type" id="page-search-type">
                <input type="radio" name="page-search-type" id="article" value="文章"/>
                <label for="article" style="margin-right: 20px;"><span><i></i></span>搜文章</label>
                <input type="radio" name="page-search-type" id="adviser" value="顾问" checked class="checked"/>
                <label for="adviser"><span><i></i></span>搜顾问</label>
            </div>
            <div class="result-bar">
                搜索<span id="result-keyword">{{keyword | ellipsis(45)}}</span>共搜索到<span id="result-num">{{so_adviser_list.total if so_adviser_list.total else 0}}</span>个结果
            </div>
            {% if so_adviser_list.total == 0 or so_adviser_list.total == null %}
            <!--没有搜索到数据-->
            <div class="no-result page-blank">
                <img src="{{helper.cdnhost}}/assets/img/blank.png" alt="" class="blank-img"/>
                <span class="blank-info">没有搜索到相关内容，换个关键词试试吧</span>
            </div>
            {% else %}
            <div class="has-result">
                <div class="result-type-bar" data-order="{{order}}" id="result-type-bar">
                    <a href="{{helper.paramurlgen('so_advisor','q='+ keyword)}}" {% if order == '' %}class="active"{% else %}{% endif %}>综合</a>
                    <a href="{{helper.paramurlgen('so_advisor','q='+ keyword, 'order=fans_count')}}" {% if order == 'fans_count' %}class="active"{% else %}{% endif %}>最热</a>
                    <a href="{{helper.paramurlgen('so_advisor','q='+ keyword, 'order=article_count')}}" {% if order == 'article_count' %}class="active"{% else %}{% endif %}>文章数</a>
                </div>
                <div class="result-conent" id="result-content">
                    {% include "widget/so_advisor/so_advisor.html" %}
                </div>
                <!-- <div class="load-more-article" id="load-more-article" data-page="{{cur_page}}">
                     加载更多
                     <i class="city-icon iconfont">&#xe60b;</i>
                 </div>-->
            </div>
            {% endif %}
        </div>
        {% if so_adviser_list.total == 0 or so_adviser_list.total == null %}
        {% else %}
        <div class="dui-layout-con page">
            <div class="pagination-box">
                {% import "widget/pagtion/pagtion.html" as pagtion %}
                {{pagtion.pagtion(pagination)}}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="dui-layout-div"></div>
    <div class="dui-layout-silde">
        <div class="guess-like-right" style="margin-top: 20px;background-color: #fff;">
            <div class="common-title" style="border:1px solid #dcdcdc;">
                <i></i>
                <h3>猜你喜欢</h3>
            </div>
            {% esi helper.include(esikey,'fragment/searchguess_like','c='+tdk.cityid) %}
        </div>
    </div>
</div>
{% include "widget/new_footer/new_footer.html" %}
{% import "widget/new_slide/new_slide.html" as  slide %}
{{slide.leyu_slide("XC_"+tdk.pagekey+"_SEAT10",helper) }}
<!-- 底部悬浮 -->
{% include "widget2/active_popup/active_popup.html" %}
<script src="{{helper.cdnhost}}/assets/js/show_advert.js"></script>
<script src="{{helper.cdnhost}}/assets/js/online_evaluation.js" ></script>
<script src="{{helper.cdnhost}}/assets/js/slide.js"></script>
<script src="{{helper.cdnhost}}/assets/js/xSlider-4.15.js" ></script>
<script>
    $(function () {
        //让分页器居中显示
        $(".pagination-box").css({"marginLeft":"-"+$(".pagination-box").width()/2+"px"});
        $('.banner-box-left .slider').xSlider({
            //轮播图配置
//          autoplay : 500,
            current: 0,
            speed: 500,
            intervalTime: 5000,
            pagination: true,
            dotPostion:'right'
        });
        $('.banner-box-right .slider').xSlider({
            //轮播图配置
//          autoplay : 500,
//            mode:'vertical',
            current: 0,
            speed: 1000,
            intervalTime: 5000,
            slidesPerView : 2,
            slidesPerGroup : 2,
            pagination: true
        });
    })

</script>
</body>
<script src="{{helper.cdnhost}}/assets/js/nav_liuxue_search.js"></script>
<script src="{{helper.cdnhost}}/assets/js/footer.js"></script>
</html>