<!DOCTYPE html>
<html>
<head>
{% include "header_new.html" %}
<link rel="stylesheet" href="{{helper.cdnhost}}/dep/css/idangerous.swiper-2.7.6.css" >
<link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/search_result.css"/>
<script src="{{helper.cdnhost}}/dep/js/idangerous.swiper-2.7.6.js"></script>
<style>
    .pagination-box{
        float: left;
        position: relative;
        left: 50%;
        margin-top: 54px;
        margin-bottom: 54px;
    }
    .banner-box{
        margin-top: 20px;
        height: 130px;
        /*background-color: yellow;*/
    }
    .banner-box-left{
        background: #dcdcdc;
        height: 130px;
    }
    .banner-box-right{
        background: #dcdcdc;
        height: 130px;
    }
    .slider .slider-dot ul li{
        border-radius: 50%;
    }
    .slider .slider-btn.slider-btn-right,.slider .slider-btn.slider-btn-left{
        margin-top: -33px
    }
</style>
</head>
<body style="background: #f5f5f5">
{% include "widget/common_hide/common_hide.html"%}
{% include "widget/top/top.html" %}
{% import "widget/new_nav_first/new_nav_red.html" as new_nav_red %}
{{ new_nav_red.new_nav_red(tdk,helper) }}
<div class="dui-layout-lg clearfix banner-box">
    <div class="dui-layout-con banner-box-left">{% include "widget/xSlider/xSlider.html" %}</div>
    <div class="dui-layout-div"></div>
    <div class="dui-layout-silde banner-box-right">{% include "widget/xSlider/xSlider2.html" %}</div>
</div>
<div class="dui-layout-lg clearfix">
    <div class="dui-layout-con" style="background-color: #fff;">
        <div class="main-left">
            <div class="main-searchbox clearfix">
                <input type="text" id="search-page" placeholder="请输入您感兴趣的文章关键词" class="search-text" value="{{keyword}}">
                <div class="search-btn" id="searchBtn-page" style="cursor: pointer;"><i class="city-icon iconfont">&#xe60c;</i></div>
            </div>
            <div class="page-search-type" id="page-search-type">
                <input type="radio" name="page-search-type" id="article" value="文章" checked class="checked"/>
                <label for="article" style="margin-right: 20px;"><span><i></i></span>搜文章</label>
                <input type="radio" name="page-search-type" id="adviser" value="顾问"/>
                <label for="adviser"><span><i></i></span>搜顾问</label>
            </div>
            <div class="result-bar">
                搜索<span id="result-keyword">{{keyword | ellipsis(45)}}</span>共搜索到<span id="result-num">{{article_list.total if article_list.total else 0}}</span>个结果
            </div>
            {% if article_list.total == 0 or article_list.total == null %}
            <!--没有搜索到数据-->
            <div class="no-result page-blank">
                <img src="{{helper.cdnhost}}/assets/img/blank.png" alt="" class="blank-img"/>
                <span class="blank-info">没有搜索到相关内容，换个关键词试试吧</span>
            </div>
            {% else %}
            <div class="has-result">
                <div class="result-type-bar" data-order="{{order}}" id="result-type-bar">
                    <a href="{{helper.paramurlgen('so_article','q='+ keyword, 'order=score')}}" {% if order == 'score' %}class="active"{% else %}{% endif %}>综合</a>
                    <a href="{{helper.paramurlgen('so_article','q='+ keyword, 'order=add_time')}}" {% if order == 'add_time' %}class="active"{% else %}{% endif %}>最新new</a>
                    <a href="{{helper.paramurlgen('so_article','q='+ keyword, 'order=views')}}" {% if order == 'views' %}class="active"{% else %}{% endif %}>最热hot</a>
                </div>
                <div class="result-conent" id="result-content">
                    {% for item in article_list.list %}
                    <div class="result-item clearfix">
                        <div class="item-adviser">
<!--                            <a href="{{helper.articleUrlgen(item.user_info.uid | string)}}"><img src="{{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="" class="adviser-avatar"/><span>{{item.user_info.nickname | shorten(6)}}</span><img src="../assets/img/1v.png" alt="" class="flag"/></a>-->
                            <a target="_blank" href="{{helper.urlgen(item.user_info.uid | string)}}"><div class="adviser-avatar" style="background-image: url({{helper.avaterimg(item.user_info.uid, 'small', item.user_info.status,item.user_info.version)}});background-size: cover;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{helper.avaterimg(item.user_info.uid, 'small', item.user_info.status,item.user_info.version)}}',sizingMethod='scale'"></div><div class="adviser-info"><span>{{item.user_info.realname | shorten(6)}}</span><img src="{{helper.cdnhost}}/assets/img/1v.png" alt="" class="flag"/></div></a>
                        </div>
                        <div class="item-info">
                            <div class="info-top clearfix">
                                <a target="_blank" class="info-title" href="{{helper.urlgen('case',item.id | string) if item.type == 1 else helper.urlgen('article',item.id | string)}}">{{item.title}}</a>
                                <div class="info-tags">
                                    {% if item.tag_list %}
                                    <span>{{item.tag_list}}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="info-desc">{{item.introduce|ellipsis(90)}}<a target="_blank" href="{{helper.urlgen('case',item.id | string) if item.type == 1 else helper.urlgen('article',item.id | string)}}">【查看详情】</a></div>
                            <div class="time">{{item.add_time | getDefaultFormat('YYYY-MM-DD HH:mm:ss')}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
               <!-- <div class="load-more-article" id="load-more-article" data-page="{{cur_page}}">
                    加载更多
                    <i class="city-icon iconfont">&#xe60b;</i>
                </div>-->
            </div>
            {% endif %}
        </div>
        {% if article_list.total == 0 or article_list.total == null %}
        {% else %}
        <div class="dui-layout-con page">
            <div class="pagination-box">
                {% import "widget/pagtion/pagtion.html" as pagtion %}
                {{pagtion.pagtion(pagination)}}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="dui-layout-div"></div>
    <div class="dui-layout-silde">
        <div class="guess-like-right" style="margin-top: 20px;background-color: #fff;">
            <div class="common-title" style="border:1px solid #dcdcdc;">
                <i></i>
                <h3>猜你喜欢</h3>
              </div>
            {% esi helper.include(esikey,'fragment/searchguess_like','c='+tdk.cityid) %}
        </div>
    </div>
</div>
{% include "widget/new_footer/new_footer.html" %}
{% import "widget/new_slide/new_slide.html" as  slide %}
{{slide.leyu_slide("XC_"+tdk.pagekey+"_SEAT10",helper) }}
<script src="{{helper.cdnhost}}/assets/js/show_advert.js"></script>
<script src="{{helper.cdnhost}}/assets/js/online_evaluation.js" ></script>
<script src="{{helper.cdnhost}}/assets/js/slide.js"></script>
<script src="{{helper.cdnhost}}/assets/js/xSlider-4.15.js" ></script>
<script>
    $(function () {
        //让分页器居中显示
        $(".pagination-box").css({"marginLeft":"-"+$(".pagination-box").width()/2+"px"});
        $('.banner-box-left .slider').xSlider({
            //轮播图配置
//          autoplay : 500,
            current: 0,
            speed: 500,
            intervalTime: 5000,
            pagination: true,
            dotPostion:'right'
        });
        $('.banner-box-right .slider').xSlider({
            //轮播图配置
//          autoplay : 500,
//            mode:'vertical',
            current: 0,
            speed: 1000,
            intervalTime: 5000,
            slidesPerView : 2,
            slidesPerGroup : 2,
          pagination: true
        });
/*        var area = cookie('currentarea') ? cookie('currentarea') : 1;
        var keyword = $('#result-keyword').text();
        var load_page = $('#load-more-article').attr('data-cur_page')*1+1;
        function more_artice (art_list) {
            var artHtml = '';
            for (var i = 0; i < art_list.length; i++) {
                var item = art_list[i];
                artHtml+='<div class="result-item clearfix">'+
                            '<div class="item-adviser">'+
                            '<a href="'+fn.urlgen(item.user_info.uid.toString())+'"><img src="'+fn.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version)+'" alt="" class="adviser-avatar"/></a><span>'+ item.user_info.nickname+ '</span><img src="../assets/img/1v.png" alt="" class="flag"/>'+
                            '</div>'+
                            '<div class="item-info">'+
                            '<div class="info-top clearfix">';
                        if (item.type == 1) {
                            artHtml+='<a class="info-title" href="'+fn.urlgen('case',+item.id.toString())+'">'+ item.title +'</a>';
                        }
                        else{
                            artHtml+='<a class="info-title" href="'+fn.urlgen('article',+item.id.toString())+'">'+ item.title +'</a>';
                        }
                artHtml+='<div class="info-tags">';
                if (item.tag_list) {
                    artHtml+='<span>'+ item.tag_list +'</span>';
                }
                artHtml+= '</div>'+
                    '</div>'+
                    '<div class="info-desc">'+ fn.ellipsis(item.introduce);
                if (item.type == 1) {
                    artHtml+= '<a href="'+fn.urlgen('case',+item.id.toString())+'">【查看详情】</a>'
                }
                else {
                    artHtml+= '<a href="'+fn.urlgen('article',+item.id.toString())+'">【查看详情】</a>'
                }
                artHtml+= '</div>'+
                '<div class="time">'+ fn.getFormatDate(item.add_time,5) +'</div>'+
                '</div>'+
                '</div>';
            }
            $('#result-content').append($(artHtml));
        }
        $('#load-more-article').on('click', function () {
            var page = $(this).data('page')*1+1;
            var thisObj = $(this);
            var per_page = 15;
            var order = $('#result-type-bar').data('order');
            $.ajax({
                url: ajaxUrlPrefix.nodeapi + '/cmsapi/load_more_article',
                datatype: 'json',
                data: {
                    key_word: encodeURI(keyword),
                    city_id: area,
                    per_page: per_page,
                    page: page,
                    order: order
                },
                success: function (revmsg) {
                    if (revmsg.code == 0) {
                        if (!revmsg.data.list) return;
                        var len = revmsg.data.list.length;
                        if (len == 0) {
                            thisObj.html('文章加载完毕')
                        }
                        else if (0 < len && len < per_page) {
                            thisObj.html('文章加载完毕');
                            more_artice(revmsg.data.list);
                            thisObj.data('page', page);
                        }
                        else {
                            more_artice(revmsg.data.list);
                            thisObj.data('page', page);
                        }
                    }
                    else {
                        thisObj.html('加载更多出错了，请刷新');
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log('加载更多出错了！');
                }
            })
        })*/
    })

</script>
</body>
<script src="{{helper.cdnhost}}/assets/js/nav_liuxue_search.js"></script>
<script src="{{helper.cdnhost}}/assets/js/footer.js"></script>
</html>