<!--成功案例/合作机构-->
<div class="successfulcase" style="height: 467px;">
  <div class="successfulcasecon successfulcasecon_new">
    <div></div>
    <h3 class="dui-text-xlarge" style="font-weight: normal;font-size: 18px;">成功案例</h3>
    <a target="_blank" href="{{helper.urlgen('cases','n='+country)}}" rel="nofollow">
    <em class="iconfont">&#xe602;</em></a>
  </div>
  <div class="successfulcaseing">
    {% if chenggonganli | length %}
    <a target="_blank" href="{{ helper.urlgen('case', chenggonganli[0].id | string) }}" rel="nofollow" style="color:#333333;">
      <img src="{{helper.imageThumb(chenggonganli[0].thumb,'240x136')}}" alt="{{chenggonganli[0].title}}">
    </a>
    {% else %}
    <p style="text-align: center";>没有数据 ！</p>
    {% endif %}
  </div>
  <div class="successfulcases" style="background: #fff;margin-top: -9px;">
    {% for item in chenggonganli %}
    <div class="overseas_apply_item_r_c">
      <img class="dian" src="{{helper.cdnhost}}/assets/img/apply_item_r.png" alt="">
      <a target="_blank" href="{{ helper.urlgen('case', item.id | string ) }}" rel="nofollow">{{item.title | ellipsis(14)}}</a>
    </div>
    {% endfor %}
  </div>
</div>
