<div class="cmt-item clearfix">
    <div class="cmt-img" style="background: url({{helper.avaterimg(item.uid, 'small', item.user_info.status,item.user_info.version)}})  no-repeat center center;background-size: cover;-webkit-border-radius: 50%;border-radius: 50%;">
        <!--<img src="{{helper.avaterimg(item.uid, 'small',item.userinfo.status,item.userinfo.version)}}" alt=""/>-->
    </div>
    <div class="cmt-info">
        <div class="cmt-info-txt">
            <span class="text">{{item.message | ellipsis(80) | replace_em() | safe}}</span>
            <!--案例-->
            {% if item.article_catid == 17 %}
            <a target="_blank" data-articleId="{{item.article_id | safeId}}" href="{{helper.urlgen('case',item.article_id | safeId | string)}}" class="reply"><i class="iconfont">&#xe601;</i><span>回复</span></a>
            {% else %}
            <!--专栏：留学聚焦11 申请攻略12 签证指导13 申请条件14 留学费用15 专家解读16-->
            <a target="_blank" data-articleId="{{item.article_id | safeId}}" href="{{helper.urlgen('article',item.article_id | safeId | string)}}" class="reply"><i class="iconfont">&#xe601;</i><span>回复</span></a>
            {% endif %}
        </div>
        <div class="cmt-info-time">{{item.add_time | getDefaultFormat('YYYY-MM-DD HH:mm:ss')}}</div>
    </div>
</div>