.nav-third{
  height: 44px;
  background:#C13232;
  color:#ffffff;
  font-size:14px;
}
.nav-third a{
  color:#ffffff;
  font-size:14px;
}

.nav-third .home-nav-third{
  display: block;
  width: 80px;
  font-size:18px;
  line-height: 44px;
  text-align: center;
  float:left
}
.nav-third .home-nav-third:hover{
  text-decoration: underline;
}
.nav-third .nav-third-list{
  float:left;
}
.nav-third-list .abroad-study{
  float:left;
  position: relative;
  width: 138px;
  border-right:1px solid #ffffff;
  border-left:1px solid #ffffff;
  text-align: center;
}
 .abroad-study span{
  font-size: 20px;
  line-height: 44px;
   display: block;
   float:left;
   width: 138px;
   text-align: center;
}
.abroad-study span a{
display: inline-block;
  margin-right:4px;
  font-size:18px;

}
.abroad-study .abroad-list{
  position: absolute;
  width: 138px;
  border-right:1px solid #ffffff;
  border-left:1px solid #ffffff;
  text-align: center;
  top:44px;
  left:-1px;
  display: none;
  z-index:999;
  *left:-1px;

}

.abroad-list .go-down{
  font-size: 10px;
  margin-top:17px;
  display: inline-block;
}

.abroad-study .abroad-list ul{
  background:#C13232;
}
.abroad-list ul li{
  height: 40px;
  line-height: 40px;
}
.abroad-list ul li:hover{
  background:#a82a2a;;
}
.abroad-study a:hover{
  color:#ffffff;
}

.nav-third-a{
  display: block;
  float: left;
  line-height:44px;
  padding:0 20px;
}
.nav-third-a:hover{
  text-decoration: underline;
  color:#ffffff;
}
.nav-third-a:focus{
  color:#ffffff;
}
