{% macro nav_third(country,helper)  %}
{%
  set abroadcountrylist=[
    {
      "id":1,
      "type":"美国留学"
    },
    {
      "id":2,
      "type":"英国留学"
    },
    {
      "id":3,
      "type":"加拿大留学"
    },
    {
      "id":4,
      "type":"澳洲留学"
    },
    {
      "id":201,
      "type":"亚洲留学"
    },
    {
      "id":202,
      "type":"欧洲留学"
    }
  ]


%}
<div class="dui-layout-lg  clearfix nav-third" >
  <a rel="nofollow" class="home-nav-third">首页</a>
  <div class="nav-third-list">
    <div class="abroad-study">
      {% for item in abroadcountrylist %}
      {% if item.id==country %}
      <span><a href="#">{{ item.type }}</a><i class="iconfont go-down">&#xe60b;</i></span>
      {% endif %}
      {% endfor %}
      <div class="abroad-list">
        <ul>
          {% for item in abroadcountrylist %}
          <li><a data-id="{{ item.id }}" href="{{ helper.urlgen('nationrank','n='+item.id) }}">{{ item.type }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <a href="#" class="nav-third-a">中小学</a>
    <a href="#" class="nav-third-a">预科（专科、社区医院等）</a>
    <a href="#" class="nav-third-a">本科</a>
    <a href="#" class="nav-third-a">研究生</a>
    <a href="#" class="nav-third-a">顾问团队</a>
    <a href="#" class="nav-third-a">文案团队</a>
    <a href="#" class="nav-third-a">热门活动</a>
    <a href="#" class="nav-third-a">精彩专题</a>
  </div>
</div>
<script src="/views/widget/nav_third/nav_third.js"></script>
{% endmacro %}