<!--留学聚焦-->
{% macro universitiesdetails2(channel_list, routePath, helper, needNation) %}

{% for item in channel_list %}
<a class="universitiesdetails clearfix" target="_blank" href="{% if needNation %}{{helper.urlgen(routePath, item.id | string, 'n=' + item.country)}}{% else %}{{helper.urlgen(routePath, item.id | string)}}{% endif %}" rel="nofollow">
  <img src="{{helper.imageThumb(item.thumb,'240x136')}}" alt="{{item.title}}"/>
  <div class="universitiesdetails_content">
    <div class="universitiesdetails_content_title clearfix">
      <span class="dui-text-warning-s" target="_blank" href="javascript:void(0);">{{item.title}}</span>
      <div class="viewsBox">
        <i class="iconfont">&#xe9ca;</i>
        <em>阅读量：{{item.hits}}</em>
      </div>
    </div>
    <div class="universitiesdetails_content_fu">作者：{{item.username}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：{{item.inputtime | getDefaultFormat}}</div>
    <div class="universitiesdetails_content_con">
      {{item.description | ellipsis(116) }}
      <span class="universitiesdetails_content_det">【查看全部】</span>
    </div>
  </div>
</a>
{% endfor %}

{% endmacro %}
<!--城市最新资讯-->
{% macro universitiesdetails3(channel_list, routePath, helper, needNation) %}

{% for item in channel_list %}
<a class="universitiesdetails clearfix" target="_blank" href="{{helper.urlgen('citynews', item.id | string,'c='+item.organid)}}">
  <img src="{{helper.imageThumb(item.thumb,'240x136')}}" alt=""/>
  <div class="universitiesdetails_content">
    <div class="universitiesdetails_content_title clearfix">
      <span class="dui-text-warning-s" target="_blank" href="javascript:void(0);">{{item.title}}</span>
      <div class="viewsBox">
        <i class="iconfont">&#xe9ca;</i>
        <em>阅读量：{{item.hits}}</em>
      </div>
    </div>
    <div class="universitiesdetails_content_fu">作者：{{item.username}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：{{item.inputtime | getDefaultFormat}}</div>
    <div class="universitiesdetails_content_con">
      {{item.description | ellipsis(116) }}
      <span class="universitiesdetails_content_det">【查看全部】</span>
    </div>
  </div>
</a>
{% endfor %}

{% endmacro %}