<!--留学聚焦-->
{% macro universitiesdetails3(channel_list, routePath, helper) %}

{% for item in channel_list %}
<a class="universitiesdetails clearfix" target="_blank" href="{{helper.urlgen('news', item.id | string)}}">
  <img src="{{item.thumb}}" alt=""/>
  <div class="universitiesdetails_content">
    <div class="universitiesdetails_content_title clearfix">
      <span class="dui-text-warning-s" href="javascript:void(0);">{{item.title}}</span>
      <div class="viewsBox">
        <i class="iconfont">&#xe9ca;</i>
        <em>阅读量：{{item.views}}</em>
      </div>
    </div>
    <div class="universitiesdetails_content_fu">作者：{{item.user_info.realname}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：{{item.add_time | shorten(10)}}</div>
    <div class="universitiesdetails_content_con">
      {{item.introduce | ellipsis(116) }}
      <span class="universitiesdetails_content_det">【查看全部】</span>
    </div>
  </div>
</a>
{% endfor %}

{% endmacro %}