<!--留学聚焦-->
{% macro universitiesdetails(channel_list, routePath, helper) %}

{% for item in channel_list %}
<a class="universitiesdetails clearfix" target="_blank" href="{{ helper.urlgen(routePath, item.id | string,'n='+ item.country_id ) }}" rel="nofollow">
  <img src="{{helper.imageThumb(item.thumb,'240x136')}}" alt="{{item.title}}"/>
  <div class="universitiesdetails_content">
    <div class="universitiesdetails_content_title clearfix">
      <span class="dui-text-warning-s" target="_blank" href="javascript:void(0);">{{item.title}}</span>
      <div class="viewsBox">
        <i class="iconfont">&#xe9ca;</i>
        <em>阅读量：{{item.views}}</em>
      </div>
    </div>
    <div class="universitiesdetails_content_fu">作者：{{item.user_info.nickname}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间：{{item.add_time | shorten(10)}}</div>
    <div class="universitiesdetails_content_con">
      {{item.introduce | ellipsis(100) }}
      <sapn class="universitiesdetails_content_det" href="{{item.url}}">【查看全部】</sapn>
    </div>
  </div>
</a>
{% endfor %}

{% endmacro %}