{% macro focus_top(text, totalNum) %}
<div class="dui-layout-con study-focus">
  <div class="study-focus-tit foucus-public foucus-public-h clearfix">
      <div class="left" style="float: left;">
          <i class="iconfont dui-text-danger-s">&#xe60d;</i>>></span><span class="dui-text-danger-s">{{text}}</span>
      </div>
      {% if totalNum %}
      <div class="right" style="color: #333; font-size: 14px; float: right;">
          成功案例共（<span style="color: #c13232;">{{totalNum}}</span>）篇
      </div>
      {% endif %}
  </div>
</div>
{% endmacro %}
<!--搜索结果页头-->
{%  macro search_result_tag(searchText, resultNum) %}
<div class="dui-layout-con">
  <div class="search-result-tag">关键词<span id="so_keyword">{{searchText}}</span>共搜索到<span>{{resultNum}}</span>个结果</div>
</div>
{% endmacro %}
<!--国家-->
{% macro focus_country(options,helper) %}
{%
  set countryList = [
      {
      "id": 0,
      "country": "全部"
      },
      {
      "id": 1,
      "country": "美国"
      },
      {
      "id": 2,
      "country": "英国"
      },
      {
      "id": 3,
      "country": "加拿大"
      },
      {
      "id": 4,
      "country": "澳大利亚"
      },
      {
      "id": 5,
      "country": "新西兰"
      },
      {
      "id": 50,
      "country": "韩国"
      },
      {
      "id": 51,
      "country": "日本"
      },
      {
      "id": 52,
      "country": "新加坡"
      },
      {
      "id": 53,
      "country": "马来西亚"
      },
      {
      "id": 54,
      "country": "中国香港"
      },
      {
      "id": 100,
      "country": "俄罗斯"
      },
      {
      "id": 101,
      "country": "乌克兰"
      },
      {
      "id": 102,
      "country": "白俄罗斯"
      },
      {
      "id": 103,
      "country": "德国"
      },
      {
      "id": 104,
      "country": "法国"
      },
      {
      "id": 105,
      "country": "挪威"
      },
      {
      "id": 106,
      "country": "瑞典"
      },
      {
      "id": 107,
      "country": "芬兰"
      },
      {
      "id": 108,
      "country": "爱尔兰"
      },
      {
      "id": 109,
      "country": "荷兰"
      },
      {
      "id": 110,
      "country": "丹麦"
      },
      {
      "id": 111,
      "country": "意大利"
      },
      {
      "id": 112,
      "country": "西班牙"
      },
      {
      "id": 113,
      "country": "瑞士"
      }
  ]
%}
<div class="dui-layout-con  study-focus">
  <div class="select-country  foucus-public foucus-public-d clearfix">
    <p><span>所属国家：</span></p>
    <ul class="select-list">
      {% for cItem in countryList %}
        {% if cItem.id == options.n %}
        <li data-id="{{cItem.id}}"><a href="{{helper.urlgen(options.path, 'n=' + cItem.id, ('order=' + options.order) if options.order else '', ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '', ('serve=' + options.serve) if options.serve else '')}}" class="focus-on">{{cItem.country}}</a></li>
        {% else %}
        <li data-id="{{cItem.id}}"><a href="{{helper.urlgen(options.path, 'n=' + cItem.id, ('order=' + options.order) if options.order else '', ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '', ('serve=' + options.serve) if options.serve else '')}}">{{cItem.country}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}

<!--国家-->
{% macro focus_country2(options, helper) %}
{%
set countryList = [
{
"id": 0,
"country": "全部"
},
{
"id": 1,
"country": "美国"
},
{
"id": 2,
"country": "英国"
},
{
"id": 3,
"country": "加拿大"
},
{
"id": 4,
"country": "澳大利亚"
},
{
"id": 5,
"country": "新西兰"
},
{
"id": 50,
"country": "韩国"
},
{
"id": 51,
"country": "日本"
},
{
"id": 52,
"country": "新加坡"
},
{
"id": 53,
"country": "马来西亚"
},
{
"id": 54,
"country": "中国香港"
},
{
"id": 100,
"country": "俄罗斯"
},
{
"id": 101,
"country": "乌克兰"
},
{
"id": 102,
"country": "白俄罗斯"
},
{
"id": 103,
"country": "德国"
},
{
"id": 104,
"country": "法国"
},
{
"id": 105,
"country": "挪威"
},
{
"id": 106,
"country": "瑞典"
},
{
"id": 107,
"country": "芬兰"
},
{
"id": 108,
"country": "爱尔兰"
},
{
"id": 109,
"country": "荷兰"
},
{
"id": 110,
"country": "丹麦"
},
{
"id": 111,
"country": "意大利"
},
{
"id": 112,
"country": "西班牙"
},
{
"id": 113,
"country": "瑞士"
}
]
%}
<div class="dui-layout-con  study-focus">
  <div class="select-country  foucus-public foucus-public-d clearfix">
    <p><span>留学国家：</span></p>
    <ul class="select-list">
      {% for cItem in countryList %}
      {% if cItem.id == options.n %}
      <li data-id="{{cItem.id}}"><a href="{{helper.urlgen(options.path, 'n=' + cItem.id, ('order=' + options.order) if options.order else '', ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}" class="focus-on">{{cItem.country}}</a></li>
      {% else %}
      <li data-id="{{cItem.id}}"><a href="{{helper.urlgen(options.path, 'n=' + cItem.id, ('order=' + options.order) if options.order else '', ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}">{{cItem.country}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}

<!--案例-->
{% macro focus_case(id) %}
{%
  set crowdType = [
    {
    "id": "add_time",
    "type": "最新案例"
    },
    {
    "id": "views",
    "type": "人气案例"
    }
  ]
%}
<div class="dui-layout-con study-focus" >
  <div class="select-case foucus-public foucus-public-h clearfix">
    <p><span>案例推荐：</span></p>
    <ul class="select-list">
      {% for item in crowdType %}
      {% if item.id == id %}
      <li data-id="{{item.id}}"><a href="javascript:void(0)" class="focus-on">{{item.type}}</a></li>
      {% else %}
      <li data-id="{{item.id}}"><a href="javascript:void(0)">{{item.type}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
<!--推荐string-->
{% macro focus_tuijianstring(options, helper) %}
{%
  set tuijianType = [
    {
    "id": "add_time",
    "type": "最新发布"
    },
    {
    "id": "views",
    "type": "热度排行"
    }
  ]
%}
<div class="dui-layout-con study-focus" >
  <div class="select-tuijian  foucus-public foucus-public-d clearfix">
    <p><span>推&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;荐：</span></p>
    <ul class="select-list">
      {% for item in tuijianType %}
        {% if item.id == options.order %}
        <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', 'order=' + item.id, ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}" class="focus-on">{{item.type}}</a></li>
        {% else %}
        <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', 'order=' + item.id, ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}">{{item.type}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
<!--推荐string-->
{% macro focus_tuijianstring2(options, helper) %}
{%
set tuijianType = [
{
"id": "add_time",
"type": "最新发布"
},
{
"id": "views",
"type": "人气案例"
}
]
%}
<div class="dui-layout-con study-focus" >
  <div class="select-tuijian  foucus-public foucus-public-d clearfix">
    <p><span>推&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;荐：</span></p>
    <ul class="select-list">
      {% for item in tuijianType %}
      {% if item.id == options.order %}
      <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', 'order=' + item.id, ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}" class="focus-on">{{item.type}}</a></li>
      {% else %}
      <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', 'order=' + item.id, ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}">{{item.type}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
<!--推荐id-->
{% macro focus_tuijianid(options, helper) %}
{%
set tuijianType = [
{
"id": 1,
"type": "最新发布"
},
{
"id": 2,
"type": "热度排行"
}
]
%}
<div class="dui-layout-con study-focus" >
    <div class="select-tuijian  foucus-public foucus-public-d clearfix">
        <p><span>推&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;荐：</span></p>
        <ul class="select-list">
            {% for item in tuijianType %}
            {% if item.id == options.order %}
            <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', 'order=' + item.id, ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}" class="focus-on">{{item.type}}</a></li>
            {% else %}
            <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', 'order=' + item.id, ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}">{{item.type}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}
<!--学历-->
{% macro focus_education(options, helper) %}
{%
set eduType = [
        {
        "id": 0,
        "type": "全部"
        },
        {
        "id": 19,
        "type": "中小学"
        },
        {
        "id": 1,
        "type": "本科"
        },
        {
        "id": 2,
        "type": "研究生"
        }
    ]
%}
<div class="dui-layout-con study-focus">
  <div class="select-education  foucus-public foucus-public-h clearfix">
    <p><span>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</span></p>
    <ul class="select-list">
        {% for item in eduType %}
        {% if item.id == options.e %}
        <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', ('order=' + options.order) if options.order else '', ('page=' + options.page) if options.page else '', 'e=' + item.id, ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}" class="focus-on">{{item.type}}</a></li>
        {% else %}
        <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', ('order=' + options.order) if options.order else '', ('page=' + options.page) if options.page else '', 'e=' + item.id, ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}">{{item.type}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
<!--活动时间-->
{% macro focus_time(options, helper) %}
  {% set act_time=[
        {
        "id": 0,
        "type": "全部"
        },
        {
        "id": 1,
        "type": "近三天"
        },
        {
        "id": 2,
        "type": "近一周"
        },
        {
        "id":3,
        "type": "近一月"
        }
      ]
    %}
<div class="dui-layout-con study-focus">
  <div class="select-act-time  foucus-public foucus-public-h clearfix">
    <p><span>活动时间：</span></p>
    <ul class="select-list">
      {% for item in act_time %}
        {% if item.id==options.time %}
           <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', ('order=' + options.order) if options.order else '', ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', 'time=' + item.id, ('q=' + options.q) if options.q else '')}}" class="focus-on">{{item.type}}</a></li>
        {% else %}
          <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', ('order=' + options.order) if options.order else '', ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', 'time=' + item.id, ('q=' + options.q) if options.q else '')}}">{{item.type}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
<!--适读人群-->
{% macro focus_crowd(options, helper) %}
{%
  set crowdType = [
    {
    "id": 0,
    "type": "全部"
    },
    {
    "id": 1,
    "type": "中小学"
    },
    {
    "id": 2,
    "type": "本科"
    },
    {
    "id": 3,
    "type": "研究生"
    },
    {
    "id": 4,
    "type": "硕博"
    }
  ]
%}
<div class="dui-layout-con study-focus">
  <div class="select-crowd  foucus-public foucus-public-h clearfix">
    <p><span>适读人群：</span></p>
    <ul class="select-list">
      {% for item in crowdType %}
        {% if item.id == options.crowd %}
        <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', ('order=' + options.order) if options.order else '', ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', 'crowd=' + item.id, ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}" class="focus-on">{{item.type}}</a></li>
        {% else %}
        <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', ('order=' + options.order) if options.order else '', ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', 'crowd=' + item.id, ('time=' + options.time) if options.time else '', ('q=' + options.q + ' ' + item.type) if options.q else '')}}">{{item.type}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
<!--文章推荐1-->
{% macro focus_article(options, helper) %}
  {% set artrecommend=[
    {
    "id": 1,
    "type": "最新发布"
    },
    {
    "id": 2,
    "type": "热度排行"
    }
  ]
%}
<div class="dui-layout-con study-focus">
  <div class="seclect-article-recommend  foucus-public foucus-public-h clearfix">

    <p><span>文章推荐：</span></p>
    <ul class="select-list">
      {% for item in artrecommend %}
        {% if item.id==options.order %}
           <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', 'order=' + item.id, ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}" class="focus-on">{{item.type}}</a></li>
        {% else %}
           <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', 'order=' + item.id, ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}">{{item.type}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
<!--文章推荐1_2-->
{% macro focus_article1_2(options, helper) %}
{% set artrecommend1_2=[
{
"id": "add_time",
"type": "最新发布"
},
{
"id": "views",
"type": "热度排行"
}
]
%}
<div class="dui-layout-con study-focus">
  <div class="seclect-article-recommend  foucus-public foucus-public-h clearfix">

    <p><span>文章推荐：</span></p>
    <ul class="select-list">
      {% for item in artrecommend1_2 %}
      {% if item.id==options.order %}
      <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', 'order=' + item.id, ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}" class="focus-on">{{item.type}}</a></li>
      {% else %}
      <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', 'order=' + item.id, ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}">{{item.type}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
<!--文章推荐2-->
{% macro focus_article2(options, helper) %}
{% set art_pro=[
{
"id": "0",
"type": "全部"
},
{
"id": "1",
"type": "短期服务"
},
{
"id": "2",
"type": "境外服务"
}
]
%}
<div class="dui-layout-con study-focus" >
  <div class="study-focus-article2  foucus-public foucus-public-h clearfix">
    <p><span>服务类型：</span></p>
    <ul class="select-list">
      {% for item in art_pro %}
      {% if item.id==options.serve %}
      <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', 'serve=' + item.id, ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}" class="focus-on">{{item.type}}</a></li>
      {% else %}
      <li data-id="{{item.id}}"><a href="{{helper.urlgen(options.path, ('n=' + options.n) if options.n else '', 'serve=' + item.id, ('page=' + options.page) if options.page else '', ('e=' + options.e) if options.e else '', ('crowd=' + options.crowd) if options.crowd else '', ('time=' + options.time) if options.time else '', ('q=' + options.q) if options.q else '')}}">{{item.type}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
<!--文章类型-->
{% macro focus_recommend(type,helper) %}
{%
set arcType = [
      {
      "id": 45,
      "type": "最新资讯",
      "url": "news"
      },
      {
      "id": 11,
      "type": "留学聚焦",
      "url": "focus"
      },
      {
      "id": 12,
      "type": "申请攻略",
      "url": "glue"
      },
      {
      "id": 13,
      "type": "签证指导",
      "url": "visa"
      },
      {
      "id": 14,
      "type": "申请条件",
      "url": "prereq"
      },
      {
      "id": 15,
      "type": "留学费用",
      "url": "cost"
      },
      {
      "id": 7,
      "type": "国家介绍",
      "url": "nation"
      },
      {
      "id": 42,
      "type": "院校排名快讯",
      "url": "schoolranknews"
      },
      {
      "id": 44,
      "type": "专业推荐",
      "url": "recommand"
      },
      {
      "id": 10,
      "type": "专家解读",
      "url": "interpret"
      },
      {
      "id": 48,
      "type": "留学奖学金",
      "url": "scholarship"
      },
      {
      "id": 49,
      "type": "媒体播报",
      "url": "media"
      },
      {
      "id": 54,
      "type": "学历常见问题",
      "url": "eduquestion"
      },
      {
      "id": 66,
      "type": "大学排名",
      "url": "school"
      }
    ]
%}
<div class="dui-layout-con study-focus" >
  <div class="select-article-type  foucus-public foucus-public-d clearfix">
    <p><span>文章类型：</span></p>
    <ul class="select-list">
      {% for item in arcType %}
        {% if item.type == type %}
        <li data-id="{{item.id}}"><a href="javascript:void(0)" class="focus-on">{{item.type}}</a></li>
        {% else %}
        <li data-id="{{item.id}}"><a href="{{ helper.urlgen(item.url) }}">{{item.type}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
<!--类型-->
{% macro focus_type(type) %}
{%
  set pageType = [
      {
      "id": 0,
      "type": "资讯",
      "url": ""
      },
      {
      "id": 1,
      "type": "活动",
      "url": ""
      },
      {
      "id": 2,
      "type": "顾问",
      "url": "http://localhost:3001/search_result_advisor"
      },
      {
      "id": 3,
      "type": "案例",
      "url": "http://localhost:3001/search_result_case"
      },
      {
      "id": 4,
      "type": "院校",
      "url": ""
      }
    ]
%}
<div class="dui-layout-con study-focus" >
  <div class="select-type  foucus-public foucus-public-d clearfix">
    <p><span>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：</span></p>
    <ul class="select-list">
      {% for item in pageType %}
        {% if item.type == type %}
        <li data-id="{{item.id}}"><a href="{{item.url}}" class="focus-on">{{item.type}}</a></li>
        {% else %}
        <li data-id="{{item.id}}"><a href="{{item.url}}">{{item.type}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}



{% macro focus_deye(pageType, title, time, views, pageSource,pageroute,helper) %}
<div class="dui-layout-con" >
  <div class="deye-cos" style="margin: 0 20px">
    {% if pageSource %}
    <p class="deye" style="font-size: 14px"><i class="iconfont" style="color: #C13232">&#xe60d;</i>>>{{pageSource | getCountry()}}留学>><a href="{{helper.urlgen(pageroute)}}">{{pageType}}</a>>>正文</p>
    {% else %}
    <p class="deye" style="font-size: 14px"><i class="iconfont" style="color: #C13232">&#xe60d;</i>>><a class="deye-tit" href="{{helper.urlgen(pageroute)}}">{{pageType}}</a>>>正文</p>
    {% endif %}
    <h2>{{title}}</h2>
    <p class="deye-p">文章类型 : {{pageType}} 时间 : {{time}} <span style="margin-right: 30px">阅读量  : <i class="yueduliang">{{views}}</i></span></p>
  </div>
</div>
{% endmacro %}

{% macro focus_deyes(pageType, title, time, views,id, pageSource,pageroute,helper) %}
<div class="dui-layout-con" >
  <div class="deye-cos" style="margin: 0 20px">
    {% if pageSource %}
    <p class="deye" style="font-size: 14px"><i class="iconfont" style="color: #C13232">&#xe60d;</i>>>{{pageSource | getCountry()}}留学>><a href="{{helper.urlgen(pageroute)}}">{{pageType}}</a>>>正文</p>
    {% else %}
    <p class="deye" style="font-size: 14px"><i class="iconfont" style="color: #C13232">&#xe60d;</i>>><a class="deye-tit" href="{{helper.urlgen(pageroute)}}">{{pageType}}</a>>>正文</p>
    {% endif %}
    <h2>{{title}}</h2>
    <p class="deye-p">文章类型 : {{pageType}} 时间 : {{time}} <span style="margin-right: 30px"><a style="color: #C13232;margin-right: 390px" href="{{helper.urlgen('article',id | string)}}">查看原文详情</a> <i class="yueduliang">阅读量 :{{views}}</i></span></p>
  </div>
</div>
{% endmacro %}