<!--在职顾问-->
{% macro advisor(advisor, helper,login_info) %}
<div class="community-advisor dui-box-shadow">
  <ul>
    <li class="guanzhu">关注<span class="guanzhu-num">{{ advisor.fans_count }}</span></li>
    <li>文章<span class="article-num">{{ advisor.article_count }}</span></li>
  </ul>
  <dl>
    <dt class="advisor-img"><a href="{{helper.urlgen('p', advisor.uid, 'article')}}"><img src="{{helper.avaterimg(advisor.uid, 'small', 0,advisor.version)}}" alt=""></a></dt>
    <dd>
      <p class="advisor-name">{{ advisor.realname }}</p>
      {% if advisor.organid != null %}
      <p class="advisor-bumen" data-cityId ="{{advisor.organid}}" >{{ advisor.organid | getCity() }}分公司</p>
      {% else %}
      <p class="advisor-bumen" data-cityId ="" >分公司</p>
      {% endif %}
      <p class="advisor-enjoy">{{ advisor.skilful_country }}</p>
    </dd>
  </dl>
  <div class="advisor-intro">
    <p>{{ advisor.introduce }}</p>
  </div>
  <div class="advisor-btn {% if login_info.uid ==advisor.uid %}advisor-btn-gray{% endif %}">
    <a  href="http://jesong.jjl.cn/live/chat.dll?c=1&amp;n={{advisor.job_number}}" class="advisor-zixun" target="_blank">在线咨询</a>
    {% if advisor.is_follow %}
    <span class="advisor-guanzhu guanzhu-btn" data-uid="{{advisor.uid}}">已关注</span>
    {% else %}
    <span class="advisor-guanzhu guanzhu-btn" data-uid="{{advisor.uid}}">关注</span>
    {% endif %}
  </div>
</div>
{% endmacro %}
<!--离职顾问-->
{% macro advisor_leave(advisor, helper,login_info) %}
<div class="community-advisor dui-box-shadow">
  <ul>
    <li class="guanzhu">关注<span class="guanzhu-num">{{ advisor.fans_count }}</span></li>
    <li>文章<span class="article-num">{{ advisor.article_count }}</span></li>
  </ul>
  <dl>
    <dt class="advisor-img"><a href="{{helper.urlgen('p', advisor.uid, 'article')}}"><img src="{{helper.avaterimg(advisor.uid, 'small', 1,advisor.version)}}" alt=""></a></dt>
    <dd>
      <p class="advisor-name">金吉列</p>
    </dd>
  </dl>
  <div class="advisor-btn {% if login_info.uid ==advisor.uid %}advisor-btn-gray{% endif %}" style="margin-top: 10px;text-align: center;">
    <a  href="http://jesong.jjl.cn/live/chat.dll?c=1&amp;n={{advisor.job_number}}" target="_blank" style="font-size: 14px;color: #fff;">在线咨询</a>
  </div>
</div>
{% endmacro %}
<!--参赞-->
{% macro counsellor(advisor,helper,login_info) %}
<div class="community-advisor dui-box-shadow">
  <ul>
    <li class="guanzhu">关注<span class="guanzhu-num">{{ advisor.fans_count }}</span></li>
    <li>文章<span class="article-num">{{ advisor.article_count }}</span></li>
  </ul>
  <dl>
    <dt class="advisor-img"><a href="{{helper.urlgen('p1', advisor.uid, 'article')}}"><img src="{{helper.avaterimg(advisor.uid, 'small', 0,advisor.version)}}" alt=""></a></dt>
    <dd>
      <p class="advisor-name">{{ advisor.realname }}</p>
      <p class="advisor-sushu">{{ advisor.skilful_country }}</p>
    </dd>
  </dl>
  <div class="counsellor-intro">
    <p>{{ advisor.introduce }}</p>
  </div>
  <div class="advisor-btn {% if login_info.uid ==advisor.uid %}advisor-btn-gray{% endif %}">
    {% if advisor.is_follow %}
    <span class="counsellor-guanzhu guanzhu-btn" data-uid="{{advisor.uid}}">已关注</span>
    {% else %}
    <span class="counsellor-guanzhu guanzhu-btn" data-uid="{{advisor.uid}}">关注</span>
    {% endif %}
  </div>
</div>
{% endmacro %}

<!--用户-->
{% macro user(userinfo,helper) %}
<style>
  .tou_div{
    width: 310px;
    height: 470px;
    background: #fff;
  }
  .tou_title{
    width: 310px;
    height: 40px;
    background: #F3F3F3;
  }
  .tou_title1{
    font-size: 16px;
    color: #333;
    margin-left: 20px;
    line-height: 40px;
  }
  .tou_title2{
    font-size: 10px;
    color: #666;
    float: right;
    margin-right: 20px;
    line-height: 40px;
  }
  .tou_con{
    width: 270px;
    height: 340px;
    background: #f3f3f3;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
  }
  .upload-label{
    width: 84px;
    height: 26px;
    line-height: 20px;
    text-align: center;
    margin-top: 160px;
    font-size: 12px;
    color: #666;
    background: #fff;
    border: 1px #f3f3f3 solid;
  }
  .tou_but{
    width: 310px;
    margin-top: 20px;
    text-align: center;
  }
  .tou_but input{
    width: 80px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    background: #C13232;
    border: 1px #fff solid;
  }
  .tou_but input.tou_but_1{
    background: #F3F3F3;
    color: #666;
  }
  #preview{
    width:270px;
    height:340px;
    display: none;
  }

  .upload-btn{
    opacity: 0;
    filter: Alpha(opacity=0);
    height: 0;
  }
</style>
<div class="community-advisor dui-box-shadow">
  <dl>
    <dt class="advisor-img"><a ><img src="{{helper.avaterimg(userinfo.uid, 'small', 0,userinfo.version,userinfo.usertype)}}" alt=""></a></dt>
    <dd>
      <p class="user-name">{{ userinfo.nickname }}</p>
    </dd>
  </dl>
  <ul style="border-top: 1px solid #dcdcdc;">
    <li class="guanzhu">关注<span class="guanzhu-num">{{ userinfo.fans_count }}</span></li>
    <li>文章<span class="article-num">{{ userinfo.article_count }}</span></li>
  </ul>
</div>
<div class="tou_div" style="display: none">
  <div class="tou_title">
    <span class="tou_title1">头像设置</span><span class="tou_title2">X</span>
  </div>
  <form method="post"  enctype="multipart/form-data" class="clearfix" id="upload-form">
    <div class="tou_con">
      <div>
        <img src="" id="preview" />
        <label class="upload-label" for="upload-btn">选择图片</label>
        <input type="file" id="upload-btn" class="upload-btn" accept="image/*" multiple>
      </div>
    </div>
    <div class="tou_but">
      <input type="button" value="确定" id ="fileSubmit" />
    </div>
  </form>
</div>
<script  src="{{helper.cdnhost}}/assets/js/touxiangUpload.js"></script>
<script>
  var login_ss = null; //获取用户信息
  if($.cookie('login_ss') != undefined){
    login_ss = JSON.parse($.cookie('login_ss'));
  }
</script>
<script>
  $(document).ready(function () {
    $('.advisor-img').on('click', function () {
      console.log('tou_div', $(".tou_div"))
      var tou_div = $(".tou_div");
      tou_div = layer.open({
        type: 1,
        shade: [0.4,'#000'],
        shadeClose: true,
        closeBtn: 1,
        area: ['310px', '470px'],
        title: false,
        border: [0],
        bgcolor: "#fff",
        scrollbar : false,
        content: $('.tou_div'),
        success : function(){
          var params = {
            maxfileNum:1,
            fileInput: $("#upload-btn").get(0),
            upButton: $("#fileSubmit").get(0),
            url: ajaxUrlPrefix.ucapi+"/api/index.php?m=user_edit_avatar&uid="+login_ss.uid,
            filter: function(files) {
              if(files.length > ZXXFILE.maxfileNum){
                layer.msg('最多上传几'+ZXXFILE.maxfileNum+'照片');
                return false;
              }
              var arrFiles = [];
              for (var i = 0, file; file = files[i]; i++) {
                if (file.type.indexOf("image") == 0) {
                  if (file.size >= 512000) {
                    layer.msg('您这张"'+ file.name +'"图片大小过大，应小于500k');
                  } else {
                    arrFiles.push(file);
                  }
                } else {
                  layer.msg('文件"' + file.name + '"不是图片。');
                }
              }
              return arrFiles;
            },
            onSelect: function(files) {
              console.log('onSelect')
              if(ZXXFILE.fileFilter.length >=ZXXFILE.maxfileNum ){
                $(".upload-label").hide();
              }
              $("#preview").show();
              for(var i =0;i<files.length;i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                  $("#preview").attr('src', e.target.result);
                }
                reader.readAsDataURL(files[0]);
              }
            },
            onProgress: function(file, loaded, total) {
              var percent = (loaded / total * 100).toFixed(2) + '%';
              $(".upload_append_list[data-index="+ZXXFILE.num+"]").each(function(){
                if($(this).attr('data-file') == file.name){
                  $(this).find('.upload_progress').show().html(percent);
                }
              });
            },
            onSuccess: function(file, response) {
              console.log('onSuccess11111')
//              $("#upload-form").get(0).reset(); //重置表单 可以连续上传两张一样的图片
              console.log('response', response)
              var res = JSON.parse(response)
              console.log(res)
              if (res.code === 0) {
                console.log('sssss')
//                tou_div.layer.close(index)
                window.parent.location.reload();//刷新父页面
              } else {
                console.log('aaaa')
                layer.msg('上传头像失败')
//                tou_div.layer.close(index)
//                window.parent.location.reload();
              }
//              $(".upload_append_list[data-index="+ZXXFILE.num+"]").each(function(){
//                if($(this).attr('data-file') == file.name){
//                  $(this).find('img').attr('src',JSON.parse(response).data[0]);
//                }
//              });
            },
            onFailure: function(file) {
              console.log(file)
            },
            onComplete:function(){
              //提交按钮隐藏
              $("#fileSubmit").hide();

            }
          };
          ZXXFILE = $.extend(ZXXFILE, params);
          ZXXFILE.init();
        },
        cancel:function(){
          $("#preview").attr('src','');
          $("#preview").hide();
          $(".upload-label").show();

        },
        end:function() {
          $("#preview").attr('src','');
          $("#preview").hide();
          $(".upload-label").show();
        }
      });
    })
  });
</script>
{% endmacro %}
