<!--右侧在线咨询-->

{% macro leyu_slide(helper) %}
<div class="mui-mbar-tabs" style="z-index:999">
  <div class="quick_links_wrap quick_links_dockright"  style="top:200px;">
    <div class="quick_link_mian">

      <div class="quick_links_panel">
        <ul>
          <li class="on zixun message_list current" id="zxzx" style="background: #c13232;">
            <img src="{{helper.cdnhost}}/assets/img/phone.gif" alt="立即咨询" class="quick-img" style="width: 26px;">
            <span>立<br>即<br>咨<br>询</span>
          </li>
          <li class="on" id="r_comment">
            <img src="{{helper.cdnhost}}/assets/img/yijian.png" alt="在线评估" class="quick-img">
            <span>在<br>线<br>评<br>估</span>
            <div id="comment_con"
                 style="width:320px;background: #fff;left:44px;top:0px;position: absolute;border: 1px solid #dcdcdc;display: none">
              <div id="comment_close" style="margin-left: 5px;font-size: 15px;cursor: pointer;color:#333333;">x</div>
              {% include "widget/yimin_customization1/yimin_customization1.html" %}
            </div>
          </li>
          <li class="weixin_ewm my">
            <img src="{{helper.cdnhost}}/assets/img/geren.png" alt="" class="quick-img">
            <p class="mine" style="">我的</p>
          </li>
          <li id="to_top">
            <img src="{{helper.cdnhost}}/assets/img/top.png" alt="" class="quick-img">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="quick_links_pop" class="quick_links_pop quick_message_list"
     style="right: 40px; margin-top: -300px; display: none; width: 170px;z-index:99999;">
  <a href="javascript:void(0);" class="ibar_closebtn" title="关闭">×</a>
  <div>
    <ul id="lylist">
      <li><a target="_blank"  onclick="openchat('jjl-vs1-000211')">美国移民咨询</a></li>
      <li><a target="_blank"  onclick="openchat('jjl-vs-zongjingli')" >加拿大移民咨询</a></li>
      <li><a target="_blank"  onclick="openchat('jjl-vs1-010115')">澳大利亚移民咨询</a></li>
      <li><a target="_blank"  onclick="openchat('jjl-vs1-011331')">新西兰移民咨询</a></li>
      <li><a target="_blank"  onclick="openchat('jjl-vs1-011515')">英国移民咨询</a></li>
      <li><a target="_blank"  onclick="openchat('jjl-vs1-800003')">爱尔兰移民咨询</a></li>
      <li><a target="_blank"  onclick="openchat('jjl-vs1-011081')">希腊移民咨询</a></li>
      <li><a target="_blank"   onclick="openchat('jjl-vs1-800006')">马耳他移民咨询</a></li>
      <li><a target="_blank"   onclick="openchat('jjl-vs1-800007')" >西班牙移民咨询</a></li>
      <li><a target="_blank"   onclick="openchat('jjl-vs-zongjingli')">葡萄牙移民咨询</a></li>
      <li><a target="_blank"   onclick="openchat('jjl-vs1-000211')">塞浦路斯移民咨询</a></li>
      <li><a target="_blank"   onclick="openchat('jjl-vs1-011515')">圣基茨移民咨询</a></li>
      <li><a target="_blank"   onclick="openchat('jjl-vs1-010115')" >安提瓜移民咨询</a></li>
      <li><a target="_blank"   onclick="openchat('jjl-vs1-800003')">格林纳达移民咨询</a></li>
      <li><a target="_blank"   onclick="openchat('jjl-vs1-011331')">多米尼克移民咨询</a></li>
      <li><a target="_blank"   onclick="openchat('jjl-vs-zongjingli')">中国香港移民咨询</a></li>
      <li style="border:0px; height:124px; margin-top:6px;"><img src="{{helper.cdnhost}}/assets/img/yimin_weixin.jpg" alt="官方微信" width="112" height="114"></li>
    </ul>
  </div>
</div>
<script src="{{helper.cdnhost}}/dep/js/publicParamSubOrther.js"></script>
<script>
  function  openchat(jobnum){
    var grUserId = cookie('gr_user_id');
    getUrlSetCookieByParam ('growingioId',grUserId);
    openJesongChatByCus(1,jobnum)
  }
  $('#to_top').click(function(){
    $('html , body').animate({scrollTop: 0},'slow');
  });
  $(".ibar_closebtn").on("click",function(){
    $(this).parent("#quick_links_pop").css("display","none")
  })
  $("#zxzx").on("click",function(){
    $("#quick_links_pop").css("display","block")
  })

</script>
<script src="http://jesong.jjl.cn/js/jjl.js"></script>
{% endmacro %}