{%
set countrylist=[
{
"id":1,
"type":"美国留学"
},
{
"id":2,
"type":"英国留学"
},
{
"id":3,
"type":"加拿大留学"
},
{
"id":4,
"type":"澳大利亚留学"
},
{
"id":5,
"type":"新西兰留学"
},
{
"id":201,
"type":"亚洲留学",
"countries":[
{
"id": 50,
"country": "韩国留学"
},
{
"id": 51,
"country": "日本留学"
},
{
"id": 52,
"country": "新加坡留学"
},
{
"id": 53,
"country": "马来西亚留学"
},
{
"id": 54,
"country": "中国香港留学"
}
]
},
{
"id":202,
"type":"欧洲留学",
"countries":[
{
"id": 100,
"country": "俄罗斯留学"
},
{
"id": 101,
"country": "乌克兰留学"
},
{
"id": 102,
"country": "白俄罗斯留学"
},
{
"id": 103,
"country": "德国留学"
},
{
"id": 104,
"country": "法国留学"
},
{
"id": 105,
"country": "挪威留学"
},
{
"id": 106,
"country": "瑞典留学"
},
{
"id": 107,
"country": "芬兰留学"
},
{
"id": 108,
"country": "爱尔兰留学"
},
{
"id": 109,
"country": "荷兰留学"
},
{
"id": 110,
"country": "丹麦留学"
},
{
"id": 111,
"country": "意大利留学"
},
{
"id": 112,
"country": "西班牙留学"
},
{
"id": 113,
"country": "瑞士留学"
}
]
}
]


%}
<div class="dui-layout-lg clearfix nav-eleventh">
  <a href="{{helper.urlgen('branch_home','c='+tdk.cityid)}}" style="color:#ffffff;"><i class="iconfont nav-ele-home">&#xe60d;</i></a>

  <ul class="ele-country-list">
    {% for item in countrylist %}

    {% if item.countries %}
    <li class="nav-ele-zhou"><a data-id="{{ item.id }}" href="javascript:void(0)"  class="ele-list ele-zhou-mx">{{ item.type }}<i class="iconfont nav-ele-down">&#xe60b;</i></a>
      <ol class="naveighth-ol">
        {% for list in item.countries %}
        <li><a data-id="{{ list.id }}" href="#{{list.id | getCountryEn() }}"  class="ele-zhou-list">{{ list.country }}</a></li>
          {% endfor %}
      </ol>
      </li>
      {% else %}
    <li><a  class="ele-list ele-nav-country" href="#{{item.id | getCountryEn()}}">{{ item.type }}</a>
      {%  endif %}
    </li>

    {% endfor %}
  </ul>
  <div class="ele-tel">
      <i class="city-icon iconfont">&#xe618;</i>
      <span>留学咨询热线：</span>
      <span>400-010-8000</span>
  </div>



</div>

