<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/widget/top.css"/>
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/widget/nav_login.css"/>
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/bootstrap.min.css?v=3.3.6">
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/custom.css" rel="stylesheet">
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/layer.css"/>
  {% include "header_new.html" %}
  <script src="{{helper.cdnhost}}/assets/js/bootstrap.min.js?v=3.3.6"></script>
  <script src="{{helper.cdnhost}}/assets/js/Bootstrap_popover.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/icheck.min.js"></script>
  <style>
    .register_nei_title {
      font-size: 18px;
      color: #C13232;
      border-bottom: 1px dashed #C13232;
      padding-bottom: 10px;
      display: inline-block;
      width: 980px;
    }
  </style>
</head>
<body>
{% include "widget/top/top.html" %}
<div class="main" style="width: 1180px;margin: 0 auto;">
  {% import "widget/new_nav_first/nav_login.html" as nav_login %}
  {{ nav_login.nav_login(tdk,helper) }}
</div>

<div class="register_overseas clearfix">
  <div class="register_content">
    <div class="register_nei login_nei clearfix">
      <div class="register_nei_title"><em>绑定手机号</em><i>您已经成功关联{{oauth_data.title}}账号，用户名，请输入手机号完成<a target="_blank"  target="_blank"  href="/loginUser">绑定</a></i></div>

      <div class="register_nei_content">
        <form class="m-t register_nei_form" role="form" style="margin-top: 100px">
          <div class="form-group clearfix" style="position: relative;height: 28px">
            <div class="title"><span>*&nbsp;</span>手&nbsp;机&nbsp;号&nbsp;：</div>
            <input type="text" class="form-control" id="newEmail" required data-vaild="^1[3|4|5|7|8]\d{9}$" data-errmsg="手机号不正确" />
            <div class="ti">请输入手机号</div>
          </div>
          <div class="form-group clearfix" style="margin-left: -20px;">
            <div class="title"><span>*&nbsp;</span>图形验证码&nbsp;：</div>
            <input  type="text" id="tupian_bin" class="form-control" style="width: 114px;display: inline-block;" required data-vaild="^[a-zA-Z0-9]{4}$" /><!--data-errmsg="验证码号码不正确，仅能包含4位数字"-->
            <div class="bind-button" style="width: 100px;float: left">
              <!--<input type="button" class="button" id="sendcun" style="color: #999;border: 1px solid #999;font-size: .6rem;width: 3.5rem;padding: 0 .2rem" @click.stop.prevent="sendphone()" value="发送验证码"/>-->
              <!--<input type="button" class="btn btn-primary" style="width: 100px;text-align: center;padding: 6px 2px;background: #fff;color: #c6a770;border: 1px solid #c6a770;border-radius: 3px;line-height: 0px" id="sendcun_binding" value="发送验证码"/>-->
              <div id="param_code_bin" style="width: 90px;height: 35px;margin-top: -16px;margin-left: 10px;cursor: pointer;"></div>
            </div>
          </div>
          <div class="form-group clearfix">
            <div class="title"><span>*&nbsp;</span>验&nbsp;证&nbsp;码&nbsp;：</div>
            <input  type="text" id="verify_binding" class="form-control" style="width: 114px;display: inline-block;" required data-vaild="^\d{4}$" /><!--data-errmsg="验证码号码不正确，仅能包含4位数字"-->
            <div class="bind-button" style="width: 100px;float: left">
              <!--<input type="button" class="button" id="sendcun" style="color: #999;border: 1px solid #999;font-size: .6rem;width: 3.5rem;padding: 0 .2rem" @click.stop.prevent="sendphone()" value="发送验证码"/>-->
              <input type="button" class="btn btn-primary" style="width: 100px;text-align: center;padding: 6px 2px;background: #fff;color: #c6a770;border: 1px solid #c6a770;border-radius: 3px;line-height: 0px" id="sendcun_binding" value="发送验证码"/>
            </div>
          </div>
          <input type="hidden" name="oauthid" id="oauthid" value="{{oauth_data.oauthid}}"/>
          <input type="hidden" name="oauth_type" id="oauth_type" value="{{oauth_data.befrom}}"/>
          <input type="hidden" name="oauth_h" id="oauth_h" value="{{oauth_data.h}}"/>
          <input type="button" class="btn login-primary" id="bindingSubmit" value="确定绑定" style="margin-left: 90px;width: 102px;line-height: 14px"/>
          <input type="button" class="btn login-primary" id="fangqiSubmit" value="放弃绑定" style="margin-left: 20px;width: 102px;background: #ddd;line-height: 14px;color: #666"/>
        </form>

      </div>
      <div class="register_r">
        <img src="{{helper.cdnhost}}/assets/img/r_reg.png" alt=""/>
      </div>
    </div>
  </div>
  <div class="login_footer">
    ©2009 金吉列出国留学咨询服务有限公司 版权所有 京ICP备05010035号&nbsp;&nbsp;&nbsp;&nbsp;留学投诉电话4006-213-315&nbsp;&nbsp;&nbsp;&nbsp;投诉邮箱：315@jjl.cn
  </div>
</div>
<!--<script src="{{helper.cdnhost}}/assets/js/common.js"></script>-->
<script src="{{helper.cdnhost}}/assets/js/nav_common.js"></script>
<script>
  $(document).ready(function () {

    $("form").Vaild();

    //图片验证码
    $.ajax({
      url:"/param_code",
      type: "get",
      success: function(result){
        $('#param_code_bin').html(result)
      },
      error:function(XMLHttpRequest, textStatus, errorThrown){
        console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status)
      }
    });

    var pc = document.getElementById('param_code_bin');
    if (pc.addEventListener) {
      pc.addEventListener('click', showcode, false);
    } else {
      pc.attachEvent('onclick', showcode, false);
    }
    var bS = document.getElementById('bindingSubmit');
    console.log('loginS', bS);
    if (bS.addEventListener) {
      console.log('ffff');
      bS.addEventListener('click', bindings, false);
    } else {
      console.log('eeeee');
      bS.attachEvent('onclick', bindings, false);
    }
    var fS = document.getElementById('fangqiSubmit');
    console.log('loginS', fS);
    if (fS.addEventListener) {
      console.log('ffff');
      fS.addEventListener('click', fangqis, false);
    } else {
      console.log('eeeee');
      fS.attachEvent('onclick', fangqis, false);
    }
    var sP = document.getElementById('sendcun_binding');
    if (sP.addEventListener) {
      sP.addEventListener('click', sendphone_bin, false)
    }else {
      sP.attachEvent('onclick', sendphone_bin, false)
    }

  })

  function fangqis () {
    window.close();
  }

  function showcode () {
    $.ajax({
      url:"/param_code?time="+new Date().getTime(),
      type: "get",
      success: function(result){
        //$('#param_code_user').html(result)
        $("#param_code_bin")[0].innerHTML = result;
      },
      error:function(XMLHttpRequest, textStatus, errorThrown){
        console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status)
      }
    });
  }

  function bindings () {
    if ($('#newEmail').val() === '') {
//            let butp = document.getElementById('phone')
      $('#newEmail').parent().addClass("has-error").removeClass("has-success");
      $('#newEmail').data("toogle", "left").data("placement", "right").data("container", "body").data("content", '请输入手机号码').popover({"trigger":"manual"}).popover("show");
      return
    }
    if (!/^1[3|4|5|7|8]\d{9}$/.test($("#newEmail").val())) {
//            let butp = document.getElementById('phone')
      $('#newEmail').parent().addClass("has-error").removeClass("has-success");
      $('#newEmail').data("toogle", "left").data("placement", "right").data("container", "body").data("content", '请输入正确手机号码').popover({"trigger":"manual"}).popover("show");
      return
    }
    if ($('#verify_binding').val() === '') {
      layer.msg('请输入手机验证码');
      return
    }
    $.ajax({
      url: '/bind_phone',
      type:'POST',
      dataType:'json',
      data: {
        phone: $('#newEmail').val(),
        code: $('#verify_binding').val(),
        oauthid: $('#oauthid').val()
      },
      success:function(msg) {
        console.log('msg', msg);
        if (msg.code == 0) {
          console.log('成功');
          if($("#oauth_type").val() == "weixin"){
            window.location.href = $("#oauth_h").val();
          }else{
            window.close();
            window.opener.location.href = $("#oauth_h").val();
          }
        } else {
          console.log(msg)
          layer.msg(msg.message)
        }
      }
//      error:function(XMLHttpRequest, textStatus, errorThrown){
//        console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status);
//        layer.msg("获取失败，请重试！CODE:"+XMLHttpRequest.status);
//      }
    });
//    $.post("/bind_phone", {phone: $('#newEmail').val(),code: $('#verify').val(),oauthid: $('#oauthid').val()}, function(data){
//      alert(data);
//    });
  }

  function sendphone_bin () {
    if ($('#newEmail').val() === '') {
//            let butp = document.getElementById('phone')
      $('#newEmail').parent().addClass("has-error").removeClass("has-success");
      $('#newEmail').data("toogle", "left").data("placement", "right").data("container", "body").data("content", '请输入手机号码').popover({"trigger":"manual"}).popover("show");
      return
    }
    if (!/^1[3|4|5|7|8]\d{9}$/.test($("#newEmail").val())) {
//            let butp = document.getElementById('phone')
      $('#newEmail').parent().addClass("has-error").removeClass("has-success");
      $('#newEmail').data("toogle", "left").data("placement", "right").data("container", "body").data("content", '请输入正确手机号码').popover({"trigger":"manual"}).popover("show");
      return
    }
    if ($('#tupian_bin').val() == '') {
      layer.msg('请输入图片验证码');
      return
    }
    if (!/^[a-zA-Z0-9]{4}$/.test($("#tupian_bin").val())) {
      layer.msg('请输入4位图片验证码');
      return
    }
    $.ajax({
//          url: 'http://192.168.100.77/api/sendcode/' + $('#phone').val(),
//    url: 'http://www.51daxuetong.cn/api/sendcode/' + $('#phone').val(),
//      url: ajaxUrlPrefix.ucapi + '/api/index.php?m=sendcode&phone=' + $('#newEmail').val(),
      url: '/sendcode_s',
      type:'post',
      data: {
        param_code: $('#tupian_bin').val(),
        phone: $('#newEmail').val()
      },
      dataType:'json',
      withCredentials:true,
      success:function(msg){
        console.log('msg', msg);
        if (msg.code === 0) {
          layer.msg('短信发送成功，请查阅手机');
          var downcount = 60;
          var time = setInterval(function (){
            if (downcount === 0) {
              $("#sendcun_binding").attr("value", "发送验证码");
              $("#sendcun_binding").removeAttr("disabled");
              clearInterval(time);
              return
            }else {
              $("#sendcun_binding").attr("disabled", "disabled");
              $("#sendcun_binding").attr("value", downcount + "s");
              downcount--;
            }
          }, 1000);
        } else if (msg == '1') {
          layer.msg('图片验证码验证失败');
        } else if (msg.code === '1150013') {
          layer.msg(msg.message);
        } else {
          layer.msg('数据错误');
        }
      },
      error:function(XMLHttpRequest, textStatus, errorThrown){
        console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status);
        layer.msg("获取失败，请重试！CODE:"+XMLHttpRequest.status);
      }
    });
    
  }
</script>
</body>
</html>