<!DOCTYPE html>
<html>
{% include "header_new.html" %}
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/widget/nav_login.css"/>
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/custom.css"/>
  <script src="{{helper.cdnhost}}/assets/js/bootstrap.min.js?v=3.3.6"></script>
  <script src="{{helper.cdnhost}}/assets/js/Bootstrap_popover.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/icheck.min.js"></script>
  <style>
    .inputtext_isr{
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    }
    .form-control{
      display: inline-block;
      line-height: 25px;
    }

    .fen img{
      width: 22px;
      height: 22px;
      margin-right: 10px;
      cursor:pointer;
    }
    login_nei input {
      border-radius: inherit;
    }
    
  </style>

<body>
  {% include "widget/top/top.html" %}

  <div class="main" style="margin: 0 auto;">
    {% import "widget/new_nav_first/nav_login.html" as nav_login %}
    {{ nav_login.nav_login(tdk,helper) }}
  </div>

  <div class="login_overseas clearfix">
    <div style="margin: 0px auto;height: 550px;width: 100%;background: url({{helper.cdnhost}}/assets/img/login_background.png);
    background-repeat: no-repeat;background-size: cover;">{# #}
      {# <img src="{{helper.cdnhost}}/assets/img/login_background.png" alt="" style="width: 100%;height: 550px;display:block;overflow:hidden;"/> #}
    <div style="margin: 0px auto;height: 550px;width: 100%;background: url({{helper.cdnhost}}/assets/img/login_background.png);
    background-repeat: no-repeat;background-size: cover;">{# #}
      {# <img src="{{helper.cdnhost}}/assets/img/login_background.png" alt="" style="width: 100%;height: 550px;display:block;overflow:hidden;"/> #}
    </div>
    <div class="login_content">
      <div class="login_nei text-center loginscreen  animated fadeInDown" style="text-align: left">
        <h3 class="login_nei_title">验证码登录<!--<a target="_blank"  href="{{helper.urlgen('register')}}">注册一个新账号</a>--></h3>
        <!--<div class=" clearfix" id="guwen_login" style="margin-left: -15px;font-size: 18px;">
            <input class="wrap-con" type="radio" name="payMethod" value="1" checked="checked" id="liu"/>&nbsp;&nbsp;&nbsp;&nbsp;<label for="liu">留学顾问</label> 
            <input class="wrap-ing" type="radio" name="payMethod" value="2" id="yi"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="yi">移民顾问</label>
        </div>-->
        <form class="form-group m-t" role="form" style="margin-top: 20px;">
          <div class="form-group inputtext_isr" style="position: relative;height: 28px">
            <input type="text" style="border-radius: inherit;height: 30px;" class="form-control" placeholder="请输入手机号" id="newEmail" required data-vaild="^1\d{10}$" data-errmsg="手机号不正确"/>
            <i style="color: #999;position: absolute;top: 8px;width: 12px;left: 8px" class="iconfont">&#xe619;</i>
          </div>
          <!--<div class="form-group inputtext_isr" style="position: relative;height: 28px;margin-top: 20px">
            <input type="password" style="border-radius: inherit;" class="form-control" placeholder="密码" required="" data-vaild="^[a-zA-Z0-9]{8,16}$" id="password" data-errmsg="密码不正确，请输入8-16位数字或字母">
            <i style="color: #999;position: absolute;top: 8px;width: 12px;left: 13px" class="iconfont">&#xe606;</i>
          </div>-->
          <div class="form-group clearfix" style="height: 28px;margin-top: 20px;position: relative;margin-bottom: 0px;">
            <input placeholder="填写图形验证码" type="text" id="tupian_user" class="form-control l_u_com_yan" required data-vaild="^[a-zA-Z0-9]{4}$" style="padding-left: 0px;text-indent: 30px;border-radius: inherit;height: 30px;line-heigth: 30px;float:left;"/><!--data-errmsg="验证码号码不正确，仅能包含4位数字"-->
            <i style="color: #999;position: absolute;top: 8px;width: 12px;left: 10px" class="iconfont">&#xe606;</i>
            <div class="l_u_com_bang" style="margin-right: 0px;height: 30px;line-heigth: 30px;margin-top: -7px;">
            <!--<input type="button" class="button" id="sendcun" style="color: #999;border: 1px solid #999;font-size: .6rem;width: 3.5rem;padding: 0 .2rem" @click.stop.prevent="sendphone()" value="发送验证码"/>-->
            <!--<img class="" style="width: 90px;height: 30px;" id="tupiancun_user" />-->
            <div id="param_code_user" style="width: 90px;height: 35px;margin-top: -7px;cursor: pointer;"></div>
            </div>
          </div>

          <div class="form-group clearfix" style="margin-top: 20px;position: relative;">
            <input placeholder="请输入短信验证码" type="text" id="verify_user" class="form-control l_u_com_yan" required data-vaild="^\d{6}$" style="padding-left: 0px;text-indent: 30px;border-radius: inherit;height: 30px;line-heigth: 30px;float:left;"/><!--data-errmsg="验证码号码不正确，仅能包含4位数字"-->
            <i style="color: #999;position: absolute;top: 8px;width: 12px;left: 10px" class="iconfont">&#xe606;</i>
            <div class="l_u_com_bang" style="margin-right: 0px;height: 30px;line-heigth: 30px;margin-top: -7px;float: right;">
            <!--<input type="button" class="button" id="sendcun" style="color: #999;border: 1px solid #999;font-size: .6rem;width: 3.5rem;padding: 0 .2rem" @click.stop.prevent="sendphone()" value="发送验证码"/>-->
            <input type="button" class="btn btn-primary" style="width: 90px;height: 30px;text-align: center;padding: 6px 2px;background: #fff;color: #c13232;border: 1px solid #c13232;border-radius: 3px;line-height: 0px;border-radius: inherit;" id="sendcun_user" value="发送验证码"/>
            </div>
          </div>
        

            <!--
            <div class="login_check clearfix" style="">
              <a target="_blank"  href="{{helper.urlgen('forget')}}" style="float: right"><small>忘记密码了？</small></a>
            </div>-->

          <input type="button" class="btn login-primary" style="width: 100%;padding-left: 0;padding-right: 0;border-radius: inherit;" id="loginSubmit" value="立 即 登 录" data-url='{{url}}'/>

          <div class="form-group text-left" id="login_user" style="color: #999;margin-top: 0px;margin-left: -20px;">
              <div class="checkbox i-checks" style="color: #999;">
                <label class="no-padding">
                  <input type="checkbox" checked><i></i> 我已阅读并同意</label>
                  <a target="_blank"  href="{{helper.urlgen('agreement', '')}}" style="color: #c13232">金吉列用户使用协议</a>
              </div>
          </div>
        </form>

        <div class="fen" style="margin-top: -5px;">
          <h4 style="line-height: 37px;">第三方快速登录：</h4>
          <div class="bdsharebuttonbox" id="fx" style="float: left;margin-top: 7px">
            <img src="{{helper.cdnhost}}/assets/img/weibo_login.png" alt="" id="weibo_user" style="float: left;" data-url="{{url}}"/>

            <a target="_blank"  href="{{helper.wwhost}}/weixin_login?h={{url}}" style="float: left;">
              <img src="{{helper.cdnhost}}/assets/img/weixin_login.png" alt=""/>
            </a>
            <img src="{{helper.cdnhost}}/assets/img/QQ_login.png" alt="" id="qq_user" style="float: left;" data-url="{{url}}"/>
          </div>
        </div>

      </div>
    </div>
    
    <div class="login_footer">
      <div id="login_data">{{login_ss}}</div>
      ©2009 金吉列出国留学咨询服务有限公司 版权所有 京ICP备05010035号&nbsp;&nbsp;&nbsp;&nbsp;留学投诉电话4006-213-315&nbsp;&nbsp;&nbsp;&nbsp;投诉邮箱：315@jjl.cn
    </div>
  </div>
  <script src="{{helper.cdnhost}}/assets/js/nav_common.js"></script>
<script>
    $(document).ready(function () {

    //图片验证码

    $.ajax({
      url:"/param_code",
      type: "get",
      success: function(result){
        $('#param_code_user').html(result)
      },
      error:function(XMLHttpRequest, textStatus, errorThrown){
        console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status)
      }
    });
    $('#tijiao').click(function () {
      var page_param = $('#param_code_value').val().toLowerCase();
      $.ajax({
        url:"/session_param_code",
        type: "post",
        data:{
          param_code: page_param
        },
        success: function(result){
          console.log('check param_code',result)
        },
        error:function(XMLHttpRequest, textStatus, errorThrown){
          console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status)
        }
      });
    })

    $("form").Vaild();
    $('.i-checks').iCheck({
      checkboxClass: 'icheckbox_square-green',
      radioClass: 'iradio_square-green'
    });
    var pc = document.getElementById('param_code_user');
    if (pc.addEventListener) {
      pc.addEventListener('click', showcode, false);
    } else {
      pc.attachEvent('onclick', showcode, false);
    }
    var lS = document.getElementById('loginSubmit');
    if (lS.addEventListener) {
      lS.addEventListener('click', loginS, false);
    } else {
      lS.attachEvent('onclick', loginS, false);
    }
    var sP = document.getElementById('sendcun_user');
    if (sP.addEventListener) {
      sP.addEventListener('click', sendphone_user, false)
    }else {
      sP.attachEvent('onclick', sendphone_user, false)
    }

    $('#weibo_user').on('click', function () {
      var url = $(this).attr('data-url')
      //var h = window.location.href;//获取全部的url
      //console.log('h', h);
      //var hh = h.split("?");
      //console.log('hh', hh[1])
      if (url !== undefined) {
        //var str = hh[1].substr(1);
        //var strs = str.split("=");
        //console.log('strs', strs)
        var A = window.open(js_api_config.wwhost+ "/sina_login?h=" + url, "TencentLogin", "width=450,height=320,menubar=0,scrollbars=1,resizable=1,status=1,titlebar=0,toolbar=0,location=1");
      } else {
        var A = window.open(js_api_config.wwhost+ "/sina_login?h=" + js_api_config.wwhost, "TencentLogin", "width=450,height=320,menubar=0,scrollbars=1,resizable=1,status=1,titlebar=0,toolbar=0,location=1");
      }
    })
    $('#qq_user').on('click', function () {
    //以下为按钮点击事件的逻辑。注意这里要重新打开窗口
    //否则后面跳转到QQ登录，授权页面时会直接缩小当前浏览器的窗口，而不是打开新窗口
      var url = $(this).attr('data-url')
      //var h = window.location.href;//获取全部的url
      //console.log('h', h);
      //var hh = h.split("?");
      //console.log('hh', hh)
      if (url !== undefined) {
        //var str = hh[1].substr(1);
        //var strs = str.split("=");
        //console.log('strs', strs)
        var A = window.open(js_api_config.wwhost+"/qq_login?h=" + url, "TencentLogin", "width=695,height=475,menubar=0,scrollbars=1,resizable=1,status=1,titlebar=0,toolbar=0,location=1");
      } else {
        var A = window.open(js_api_config.wwhost+"/qq_login?h=" + js_api_config.wwhost, "TencentLogin", "width=450,height=320,menubar=0,scrollbars=1,resizable=1,status=1,titlebar=0,toolbar=0,location=1");
      }
    })
  })

  function showcode () {
    $.ajax({
      url:"/param_code?time="+new Date().getTime(),
      type: "get",
      success: function(result){
        //$('#param_code_user').html(result)
        $("#param_code_user")[0].innerHTML = result;
      },
      error:function(XMLHttpRequest, textStatus, errorThrown){
        console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status)
      }
    });
  }

//登录验证码
  function sendphone_user () {
    if ($('#newEmail').val() === '') {
//            let butp = document.getElementById('phone')
      $('#newEmail').parent().addClass("has-error").removeClass("has-success");
      $('#newEmail').data("toogle", "left").data("placement", "right").data("container", "body").data("content", '请输入手机号码').popover({"trigger":"manual"}).popover("show");
      return
    }
    if (!/^1\d{10}$/.test($("#newEmail").val())) {
//            let butp = document.getElementById('phone')
      $('#newEmail').parent().addClass("has-error").removeClass("has-success");
      $('#newEmail').data("toogle", "left").data("placement", "right").data("container", "body").data("content", '请输入正确手机号码').popover({"trigger":"manual"}).popover("show");
      return
    }
    if ($('#tupian_user').val() == '') {
      layer.msg('请输入图片验证码');
      return
    }
    if (!/^[a-zA-Z0-9]{4}$/.test($("#tupian_user").val())) {
      layer.msg('请输入4位图片验证码');
      return
    }
    $.ajax({
//          url: 'http://192.168.100.77/api/sendcode/' + $('#phone').val(),
//    url: 'http://www.51daxuetong.cn/api/sendcode/' + $('#phone').val(),
//      url: ajaxUrlPrefix.ucapi + '/api/index.php?m=sendcode&phone=' + $('#newEmail').val(),
      url: '/sendcode_s',
      type:'post',
      data: {
        param_code: $('#tupian_user').val().toLowerCase(),
        phone: $('#newEmail').val()
      },
      dataType: 'json',
      withCredentials:true,
      success:function(msg){
        console.log('msg', msg);
        if (msg.code === 0) {
          layer.msg('短信发送成功，请查阅手机');
          var downcount = 60;
          var time = setInterval(function (){
            if (downcount === 0) {
              $("#sendcun_user").attr("value", "发送验证码");
              $("#sendcun_user").removeAttr("disabled");
              clearInterval(time);
              return
            }else {
              $("#sendcun_user").attr("disabled", "disabled");
              $("#sendcun_user").attr("value", downcount + "s");
              downcount--;
            }
          }, 1000);
        } else if (msg == '1') {
          layer.msg('图片验证码输入错误');
        } else if (msg.code === '1150013') {
          layer.msg(msg.message);
        }else {
          layer.msg('数据错误');
        }
      },
      error:function(XMLHttpRequest, textStatus, errorThrown){
        console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status);
        layer.msg("获取失败，请重试！CODE:"+XMLHttpRequest.status);
      }
    });
    
  }


function loginS () {
  var url = $(this).attr('data-url')
  console.log('url',url)
  console.log('login_ssssss')
  if ($('#newEmail').val() === '') {
    $('#newEmail').parent().addClass("has-error").removeClass("has-success");
    $('#newEmail').data("toogle", "left").data("placement", "right").data("container", "body").data("content", '请输入手机号').popover({"trigger":"manual"}).popover("show");
    return
  }
  if (!/^[A-Za-z0-9]{6}$/.test($('#newEmail').val()) && !/^1\d{10}$/.test($('#newEmail').val())) {
    $('#newEmail').parent().addClass("has-error").removeClass("has-success");
    $('#newEmail').data("toogle", "left").data("placement", "right").data("container", "body").data("content", '请输入正确手机号').popover({"trigger":"manual"}).popover("show");
    return
  }
  if ($('#verify_user').val() === '') {
    layer.msg('请输入短信验证码');
    return
  }
  if (!/^\d{6}$/.test($("#verify_user").val())) {
    layer.msg('短信验证码位数不足');
    return
  }
  if (!$("#login_user input[type='checkbox']").is(':checked')) {
    layer.msg('请同意注册协议');
    return
  }
  if ($('#newEmail').val() !== '' && $('#verify_user').val() !== ''&& /^\d{6}$/.test($("#verify_user").val()) && /^1\d{10}$/.test($("#newEmail").val()) ) {
    console.log('ajax');
    $.ajax({
      url: '/login_user',
      type:'POST',
      data:{
        phone: $('#newEmail').val(),
        code: $('#verify_user').val(),
      },
      dataType:'json',
      success:function(msg){
        console.log('aaaaaaaaa')
        console.log('msg ajax', msg);
        if(msg.code === 0){
          //var h = location.search;//获取？后面的字符串
          //var h = window.location.href;//获取全部的url
          //console.log('h', h);
          //var hh = h.split("?");
          //console.log('hh', hh)
          if (url !== undefined) {
            //var str = hh[1].substr(1);
            //console.log('str', str);
            //var strs = str.split("=");
            //console.log('strs', strs[1]);
            window.location= url;
          } else {
            window.location = '/';
          }
          //alert('成功');
        } else {
          alert('金吉列提醒您：'+msg.message);
        }
      },
      error:function(XMLHttpRequest, textStatus, errorThrown){
        console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status)
      }
    });

  }
};
  
</script>

</body>
</html>