<!DOCTYPE html>
<html>
{% include "header_new.html" %}

  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/widget/nav_login.css"/>
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/custom.css"/>
  
  <script src="{{helper.cdnhost}}/assets/js/bootstrap.min.js?v=3.3.6"></script>
  <script src="{{helper.cdnhost}}/assets/js/Bootstrap_popover.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/icheck.min.js"></script>
  <style>
    .inputtext_isr{
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    }
    .form-control{
      display: inline-block;
      line-height: 25px;
    }
    .fen img{
      width: 20px;
      height: 20px;
      margin-right: 10px;
      cursor:pointer;
    }
    login_nei input {
      border-radius: inherit;
    }
    
  </style>

<body>
  {% include "widget/top/top_login.html" %}

  <div class="main" style="width: 1180px;margin: 0 auto;">
    {% import "widget/new_nav_first/nav_login.html" as nav_login %}
    {{ nav_login.nav_login(tdk,helper) }}
  </div>

  <div class="login_overseas clearfix">
    
    <div style="margin: 0px auto;height: 550px;min-width: 1180px;width: 100%;background: url({{helper.cdnhost}}/assets/img/login_background.png) no-repeat;">
      <!--<img src="{{helper.cdnhost}}/assets/img/login_background.png" alt="" style="width: 1920px;height: 550px;display:block;overflow:hidden;"/>-->
    </div>
    
    <div class="login_content">
      <div class="login_nei text-center loginscreen  animated fadeInDown" style="text-align: left">
        <!-- <h3 class="login_nei_title">登录金吉列<a target="_blank"  href="{{helper.urlgen('register')}}">注册一个新账号</a></h3> -->
        <div class=" clearfix" id="guwen_login" style="margin-left: -15px;font-size: 18px;">
            <input class="wrap-con" type="radio" name="payMethod" value="1" checked="checked" id="liu"/>&nbsp;&nbsp;&nbsp;&nbsp;<label for="liu">留学顾问</label> 
            <input class="wrap-ing" type="radio" name="payMethod" value="2" id="yi"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="yi">移民顾问</label>
        </div>
        <form class="m-t" role="form" style="margin-top: 20px;">
          <div class="form-group inputtext_isr" style="position: relative;height: 28px">
            <input type="text" style="border-radius: inherit;" class="form-control" placeholder="请输入手机号/员工号" id="newEmail"/>
            <i style="color: #999;position: absolute;top: 8px;width: 12px;left: 8px" class="iconfont">&#xe619;</i>
          </div>
          <div class="form-group inputtext_isr" style="position: relative;height: 28px;margin-top: 20px">
            <input type="password" style="border-radius: inherit;" class="form-control" placeholder="密码" required="" data-vaild="^[a-zA-Z0-9]{8,16}$" id="password" data-errmsg="密码不正确，请输入8-16位数字或字母">
            <i style="color: #999;position: absolute;top: 8px;width: 12px;left: 13px" class="iconfont">&#xe606;</i>
          </div>
        </form>

            <!--<div class="form-group text-left" style="float: left;color: #999;margin-top: -10px">
              <div class="checkbox i-checks" style="">
                <label class="no-padding">
                  <input type="checkbox"><i></i> 我同意注册协议</label>
              </div>
            </div>-->
            <div class="login_check clearfix" style="">
              <a target="_blank"  href="{{helper.urlgen('forget')}}" style="float: right"><small>忘记密码了？</small></a>
            </div>

          <input type="button" class="btn login-primary" style="width: 100%;padding-left: 0;padding-right: 0;border-radius: inherit;" id="loginSubmit" value="立 即 登 录"/>



        <!-- <div class="fen">
          <h4>第三方快速登录：</h4>
          <div class="bdsharebuttonbox" id="fx" style="float: left;margin-top: 7px">
            <img src="{{helper.cdnhost}}/assets/img/weibo_login.png" alt="" id="weibo"/>

            <a target="_blank"  href="{{helper.wwhost}}/weixin_login?h={{url}}" >
              <img src="{{helper.cdnhost}}/assets/img/weixin_login.png" alt=""/>
            </a>
            <img src="{{helper.cdnhost}}/assets/img/QQ_login.png" alt="" id="qq"/>
          </div>
        </div> -->
      </div>
    </div>
    <div class="login_footer">
      <div id="login_data">{{login_ss}}</div>
      ©2009 金吉列出国留学咨询服务有限公司 版权所有 京ICP备05010035号&nbsp;&nbsp;&nbsp;&nbsp;留学投诉电话4006-213-315&nbsp;&nbsp;&nbsp;&nbsp;投诉邮箱：315@jjl.cn
    </div>
  </div>
  <script src="{{helper.cdnhost}}/assets/js/sha1.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{helper.cdnhost}}/assets/js/nav_login.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{helper.cdnhost}}/assets/js/nav_common.js"></script>


</body>
</html>