
.adviser-case-detail-map{
  width:100%;
  height:130px;
}
.adviser-case-detail-map img{
  width:100%;
  height:100%;
  display: block;
}
/*========右边内容区=========*/
.adviser-case-detail-con{
   padding:20px 20px 0 20px;
   background:#fff;
   margin-top: 20px;
}
.adviser-case-detail-con .adviser-top .zixun {
  float:left;
  width:120px;
  height:30px;
  font-size: 14px;
  color:#fff;
  text-align:center;
  line-height: 30px;
  background:#c13232;
  margin-top: 7.5px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
}
.title-guide-text {
  float:left;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.detail-guide-text {
  font-size: 16px;
  color: #666;
  cursor: pointer;
}
.detail-guide-text img {
  margin-bottom:2px;
  height:10px;
  margin-left: 4px;
}
.detail-guide-text img.small-dis {
  margin-left: 2px;
}
.adviser-case-detail-h3{
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color:#333;
  padding-top:20px;
  padding-bottom: 10px;
  float:left;
}
.adviser-case-detail-h3:hover {
  color: #c13232;
}
.art-tag{
  float:left;
  position: relative;
  margin-left: 20px;
  margin-top: 17px;
  padding:0 15px;
}
.art-tag-bg{
  position: absolute;
  left:0;
  top:0;
  background:#c13232;
  opacity: 0.06;
  filter: alpha(opacity=6); 
  display: block;
  width: 100%;
  height: 24px;
  border-radius: 12px;
}
.art-tag-list{
  font-size: 12px;
  color:#c13232;
  line-height: 24px;
}
.detail-info-bar {
  width: 100%;
}
.adviser-case-detail-come{
  float: left;
  font-size:0;
  line-height: 12px;
  color:#666;
  padding-top: 10px;
  padding-bottom:19px;
  line-height: 1;
}
.adviser-case-detail-come span {
  font-size: 12px;
  display: inline-block;
  margin-right: 20px;
}
.connect-info {
  float: right;
  font-size: 0px;
  height: 24px;
  margin-top: 4px;
}
.connect-info img {
  vertical-align: super;
  margin-right: 10px;
  position: relative;
  top: 3px;
}
.connect-info .zixun-info {
  font-size: 12px;
  color: #666;
}
.connect-info .zixun-phone {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}
.connect-info .zixun-btn {
  display: inline-block;
  width: 76px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background-color: #c13232;
  color: #fff;
  font-size: 14px;
  margin-left: 20px;
}
.adviser-case-detail-offer{
  border-top:1px solid #dcdcdc;
  /*border-bottom: 1px solid #dcdcdc;*/
  padding-top:20px;
  /* padding-bottom: 40px; */
  position: relative;
}
.content-guide-box {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  position: relative;
  z-index: 10;
}
.adviser-case-offer-h4{
  font-size: 16px;
  font-weight: bold;
  color:#333;
  margin-bottom: 8px;
  line-height: 16px;
}
.adviser-case-offer-strip{
  font-size: 14px;
  color:#333;
  line-height: 14px;
  margin-top:12px;
}
.adviser-case-offer-btn{
  position: absolute;
  right:0;
  bottom: 40px;
}
.adviser-case-offer-ul{
  padding-top:12px;
}
.adviser-case-offer-ul li{
  float:left;
  border:10px solid #c13232;
  margin-left: 50px;
}
.adviser-case-offer-ul li img{
   width:330px;
   height:466px;
   display: block;
} 
.adviser-case-operation-bar{
  padding-top: 40px;
  padding-bottom: 40px;
}
.adviser-case-operation-bar span{
  float:left;
  width:115px;
  height:30px;
  font-size: 14px;
  color:#fff;
  text-align:center;
  line-height: 30px;
  background:#c13232;
  margin-right: 60px;
  cursor: pointer;
}
.community-nav-con{
  margin:0;
}
.adviser-case-detail-offer p{
  font-size: 14px;
  line-height: 26px;
  color:#333;
  text-indent: 2em;
}
.adviser-case-detail-offer i{
  font-style: italic;
}
.adviser-case-detail-offer em{
  font-style: italic;
}
/*恢复ul ol li table的默认样式*/
.adviser-case-detail-offer ul,.adviser-case-detail-offer ul li {
  list-style: disc;
}
.adviser-case-detail-offer ol,.adviser-case-detail-offer ol li {
  list-style: decimal;
}
.adviser-case-detail-offer table {
  margin: 10px 0;
}
.adviser-case-detail-offer table td,.adviser-case-detail-offer table th{
  border: 1px solid #dcdcdc;
  padding: 5px 0;
  color: #666;
}
.adviser-case-detail-offer table th {
  background-color: #f5f5f5;
  text-align: center;
  color: #333;
}
.adviser-touxiang{
  width:50px;
  height:50px;
  border-radius: 50%;
  margin-right: 10px;
  float:left;
}
.adviser-v-i{
  display: inline-block;
  width:14px;
  height:14px;
  background:url(../img/1v.png) no-repeat 0 0;
  background-size:14px 14px;
  vertical-align: middle;
  margin-left: 4px;
}

.page_share_buttons a{
     padding-left:0 !important;
    width: 20px;
    line-height: 20px !important;
    height: 20px !important;
    cursor: pointer;
    margin: 0px 10px 10px 0!important;
}
.page_share_buttons .wx{
  background:url(../img/wx.png) no-repeat 0 0 !important;
  background-size: 20px 20px;
}
.page_share_buttons .weixin-pengyouquan{
  background:url(../img/pyq.png) no-repeat 0 0 !important;
  background-size: 20px 20px;
  display: none;
}
.page_share_buttons .bds_tsina{
  background:url(../img/xl.png) no-repeat 0 0 !important;
  background-size: 20px 20px;
}
.page_share_buttons .bds_sqq{
  background:url(../img/qq.png) no-repeat 0 0 !important;
  background-size: 20px 20px;
}
/*轮播图*/
.banner-box{
  margin-top: 20px;
  height: 130px;
  /*background-color: yellow;*/
}
.banner-box-left{
  background: #dcdcdc;
  height: 130px;
}
.banner-box-right{
  background: #dcdcdc;
  height: 130px;
}
.slider .slider-dot ul li{
  border-radius: 50%;
}
.slider .slider-btn.slider-btn-right,.slider .slider-btn.slider-btn-left {
  margin-top: -33px
}
.userinfo-box{
  /*padding:20px;*/
  width: 838px;
  /*height:76px;*/
  border:1px solid #eee;
  display: inline-block;
}
.userinfo-img{
  width:180px;
  height:180px;
  float:left;
  padding: 20px;
}
.userinfo-img-shaow{
  margin-top: 25px;
  float: left;
  display: block;
}
.userinfo-right{
  float:left;
  margin-top: 44px;
  margin-left: 14px;
}
.userinfo-name{
  font-size: 16px;
  color:#333;
  font-weight: bold;
}
.userinfo-information{
  font-size: 14px;
  color:#333;
  margin-top:20px;
  line-height: 14px;
}
.userinfo-information em{
  color:#666;
}
.lxContaniner{
  margin-top:30px;width:1200px;overflow: hidden;margin-left: auto;margin-right: auto;}
.lx-head{margin-bottom:20px;padding-bottom:10px;height:27px;border-bottom:solid 1px #dcdcdc;overflow: hidden;}
.lx-head h1{float:left;margin-right:70px;color:#333;font-size:22px}
.lx-tabitems{float:left;margin-top:5px}
.lx-tabitems li{position:relative;float:left;width:51px;color:#666;margin-right:10px;text-align:center;font-size:14px;cursor:pointer}
.lx-tabitems li.active{color:#c13232}
.lx-tabitems li.active em{position:absolute;bottom:-14px;left:0;display:block;width:51px;height:2px;background:#c13232}
.gw-items li{float:left;margin-right:50px;margin-right:30px\0;*margin-right:30px;margin-bottom:10px;padding-bottom:14px;width:385px;*width:380px;width:380px\0;border-bottom:solid 1px #dcdcdc}
.gw-topitems{position:relative;overflow:hidden;margin-bottom:20px;box-shadow:0 3px 5px #e2e5e6;background:#f1f4f6;}
.gw-topitems li{margin-right:0;margin-bottom:0;padding-top:10px;width:400px;border-bottom:none;background-color:#f1f4f6;}
.triangle{position:absolute;top:0;right:0;width:0;height:0;border-top:20px solid #c13232;border-left:20px solid transparent}
.gw-topitems .gw-people{margin-left:20px}
.gw-topitems .gw-news{ margin-right: 16px;}
.gw-items{ width: 820px;margin:0 10px;display: inline-block;}
.gw-items li:nth-child(2n){margin-right:0}
.gw-people{position:relative;float:left;margin-left:20px}
.lx-groupitems .gw-people a{
  background-position:0 0;
  background-position:-18px -18px\0;
}
:root .lx-groupitems .gw-people a{background-position:0 0\0;}
.gw-people img{width:51px;height:51px;-webkit-border-radius:50%;border-radius:50%}
.gw-people span{color:#333;font-size:14px;margin-top: 15px;display: inline-block;margin-left: 10px;}
.gw-people .pepple-icon > i{ vertical-align:middle; display:inline-block;width: 20px;height: 20px; background:url(../img/1v.png) no-repeat;background-position:right center}
.gw-items p{color:#333;font-size:16px;padding-top: 10px;text-indent: 20px;}
.gw-legend{float:right;margin-top:18px;padding:2px 8px;-webkit-border-radius:8px;border-radius:8px;background:#f9f6f1;color:#c13232;font-size:12px}
.gw-news{width:76px;height:20px;-webkit-border-radius:10px;border-radius:10px;background-color:#ff8547;color:#fff;text-align:center;line-height:20px}
.gw-people .bg-peopel,.gw-people a{float:left;height: 51px; width: 51px;border-radius: 50%;-webkit-border-radius:50%;}
#guItems li:nth-child(3) .gw-people{margin-left: 26px;}
.home-guanggao a{float: left;margin-right: 20px;}
.lx-head a{ font-size: 12px;color: #c13232;float: right;margin-top: 5px}
.article_tuijian {width: 840px;margin: 10px 0px 30px;}
.article_tuijian h1 {width: 840px;height: 40px;background: #f3f3f3;font-size: 18px;line-height: 40px;margin-bottom: 20px}
.article_tuijian h1 div {width: 2px;height: 22px;float: left;background: #C13232;margin-top: 9px;margin-right: 10px}