
.adviser-case-detail-map{
  width:100%;
  height:130px;
}
.adviser-case-detail-map img{
  width:100%;
  height:100%;
  display: block;
}
/*========右边内容区=========*/
.adviser-case-detail-con{
   padding:20px 20px 0 20px;
   background:#fff;
   margin-top: 20px;
}
.adviser-case-detail-h3{
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color:#c13232;
  padding-top:20px;
  padding-bottom: 16px;
  float:left;
}
.art-tag{
  float:left;
  position: relative;
  margin-left: 20px;
  margin-top: 17px;
  padding:0 15px;
}
.art-tag-bg{
  position: absolute;
  left:0;
  top:0;
  background:#c13232;
  opacity: 0.06;
  filter: alpha(opacity=6); 
  display: block;
  width: 100%;
  height: 24px;
  border-radius: 12px;
}
.art-tag-list{
  font-size: 12px;
  color:#c13232;
  line-height: 24px;
}
.adviser-case-detail-come{
  font-size:12px;
  line-height: 12px;
  color:#666;
  padding-bottom:16px;
}
.adviser-case-detail-offer{
  border-top:1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding-top:20px;
  padding-bottom: 40px;
  position: relative;
}
.adviser-case-offer-h4{
  font-size: 16px;
  font-weight: bold;
  color:#333;
  margin-bottom: 8px;
  line-height: 16px;
}
.adviser-case-offer-strip{
  font-size: 14px;
  color:#333;
  line-height: 14px;
  margin-top:12px;
}
.adviser-case-offer-btn{
  position: absolute;
  right:0;
  bottom: 40px;
}
.adviser-case-offer-ul{
  padding-top:12px;
}
.adviser-case-offer-ul li{
  float:left;
  border:10px solid #c13232;
  margin-left: 50px;
}
.adviser-case-offer-ul li img{
   width:330px;
   height:466px;
   display: block;
} 
.adviser-case-operation-bar{
  padding-top: 40px;
  padding-bottom: 40px;
}
.adviser-case-operation-bar span{
  float:left;
  width:115px;
  height:30px;
  font-size: 14px;
  color:#fff;
  text-align:center;
  line-height: 30px;
  background:#c13232;
  margin-right: 60px;
  cursor: pointer;
}
.community-nav-con{
  margin:0;
}
.adviser-case-detail-offer p{
  font-size: 14px;
  line-height: 26px;
  color:#333
}
.adviser-case-detail-offer i{
  font-style: italic;
}
.adviser-case-detail-offer em{
  font-style: italic;
}

.adviser-touxiang{
  width:50px;
  height:50px;
  border-radius: 50%;
  margin-right: 10px;
  float:left;
}
.adviser-v-i{
  display: inline-block;
  width:14px;
  height:14px;
  background:url(../img/1v.png) no-repeat 0 0;
  background-size:14px 14px;
  vertical-align: middle;
  margin-left: 4px;
}

.page_share_buttons a{
     padding-left:0 !important;
    width: 20px;
    line-height: 20px !important;
    height: 20px !important;
    cursor: pointer;
    margin: 0px 10px 10px 0!important;
}
.page_share_buttons .wx{
  background:url(../img/wx.png) no-repeat 0 0 !important;
  background-size: 20px 20px;
}
.page_share_buttons .weixin-pengyouquan{
  background:url(../img/pyq.png) no-repeat 0 0 !important;
  background-size: 20px 20px;
}
.page_share_buttons .bds_tsina{
  background:url(../img/xl.png) no-repeat 0 0 !important;
  background-size: 20px 20px;
}
.page_share_buttons .bds_sqq{
  background:url(../img/qq.png) no-repeat 0 0 !important;
  background-size: 20px 20px;
}
/*轮播图*/
.banner-box{
  margin-top: 20px;
  height: 130px;
  /*background-color: yellow;*/
}
.banner-box-left{
  background: #dcdcdc;
  height: 130px;
}
.banner-box-right{
  background: #dcdcdc;
  height: 130px;
}
.slider .slider-dot ul{
  left:95%;
}
.slider .slider-dot ul li{
  border-radius: 50%;
}
.slider .slider-btn.slider-btn-right,.slider .slider-btn.slider-btn-left {
  margin-top: -33px
}
.banner-box-right .slider .slider-dot ul{
  left: 50%;
}
