.loadMore {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-top: 1px solid #dcdcdc;
  cursor: pointer;
  font-size: 14px;
  color: #666;
}
.list-h{
  height:130px;
}
.list-h img{
  display: block;
  width:100%;
  height:100%;
}
.homepage {
  width: 880px;
}
.homepagecon {
  width: 880px;
  height: 77px;
}
.homepageing {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 16px 10px 10px 20px;
  float: left;
}
.homepagecon ul{
  float: right;
  margin-top: 28px;
  margin-right: 10px;
}
.homepagecon h3 {
  line-height: 77px;
  font-size: 14px;
  color: #333;
  float: left;
}
.homepagecon h3 img{
  margin-left: 4px;
}
.homepagecon ul li {
  float: left;
  margin-right: 10px;
}
.homepage-title {
  width: 880px;
  height: 30px;
  margin-top: 7px;
}
.homepage-title p {
  font-size:16px;
  color: #333;
  margin-left: 20px;
  float: left;
}
.homepage-title div {
  padding: 0 10px;
  height: 24px;
  float: left;
  margin-left: 20px;
  background: url("../img/yanse.png");
  background-size:cover ;
  border-radius:12px ;
  margin-top: -3px;
  text-align: center;
  line-height: 24px;
  color: #C13232;
}
.homepage-p {
  width: 840px;
  margin: 0px 20px 12px 20px;
}
.homepage-p p {
  line-height: 24px;
  font-size: 12px;
  color: #666;
}
.homepage-li {
  width: 840px;
}
.homepage-li li img {
  width: 150px;
  height: 150px;
  margin-left: 20px;
  float: left;
}
.homepage-span {
  width: 880px;
  height: 44px;
  line-height: 44px;
}
.bdshare-button-style0-16 .bds_weixin{
  background:url(../img/wx.png) no-repeat 0 0;
  background-size: 20px 20px;
  width: 6px;
  height: 20px;
}
.bdshare-button-style0-16 .bds_tsina{
  background:url(../img/xl.png) no-repeat 0 0;
  background-size: 20px 20px;
  width: 4px;
  height: 20px;
}
.bdshare-button-style0-16 .bds_sqq{
  background:url(../img/qq.png) no-repeat 0 0;
  background-size: 20px 20px;
  width: 4px;
  height: 20px;
}
.bdshare-button-style0-16 .weixin-pengyouquan {
  background:url(../img/pyq.png) no-repeat 0 0;
  background-size: 20px 20px;
  width: 4px;
  height: 20px;
}



/*�Ķ�/�ղ�/����/����*/

.bot_comment{
  width: 880px;
  height: 44px;
  border-bottom: 1px solid #dcdcdc;
}
.bot_comment ul{
  height: 100%;
  float: right;
}
.bot_comment li{
  height: 20px;
  text-align: center;
  float: left;
  margin-top: 11px;
  cursor: pointer;
}
.bot_comment li:hover i,.bot_comment li:hover span{
  color: #C13232;
}
.bot_comment li i{
  margin-right: 10px;
}
.bot_comment li span{
  font-size: 14px;
  color: #666;
  margin-right: 16px;
}
.bot_comment li em{
  font-style: normal;
}
.bot_comment li.dian{
  border-right: none;
}
/*轮播图*/
.banner-box{
  margin-top: 20px;
  height: 130px;
  /*background-color: yellow;*/
}
.banner-box-left{
  background: #dcdcdc;
  height: 130px;
}
.banner-box-right{
  background: #dcdcdc;
  height: 130px;
}
.slider .slider-dot ul{
  left:95%;
}
.slider .slider-dot ul li{
  border-radius: 50%;
}
.slider .slider-btn.slider-btn-right,.slider .slider-btn.slider-btn-left{
  margin-top: -33px
}