.lunbo,.branch_company{
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    clear: both;
}
.lunbo{
    height: 270px;
    position: relative;
    overflow: hidden;
}
.lunbo_lift{
    width: 800px;
    height: 270px;
    background: #dcdcdc;
    float: left;
}
.lunbo_right{
    width: 400px;
    height: 270px;
    background: #f6f6f6;
    float: left;
    overflow: hidden;
}
.canzan-slide{
    width: 400px;
    height: 135px;
}
.canzan-slide a{
    width: 400px;
    height: 135px;
    margin: 0;
}
.slider .slider-dot ul li{
    border-radius: 50%;
}
.branch_company{
    height: 146px;
    position: relative;
}
.branch_company_img{
    width: 190px;
    height: 146px;
    margin-right: 10px;
    /*background: #007aff;*/
    float: left;
    position: relative;
    z-index: 2;
}
.branch_company_img img{
    width: 100%;
    height: 100%;
}
.branch_company_text{
    /* width:1010px;
    height: 146px;
    background: #fafafa;
    float: left; */
    width: 190px;
    height: 146px;
    background: #fafafa;
    float: left;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: 0
}
.branch_company_text_tilte{
    width: 58px;
    height: 22px;
    border: 1px solid #333333;
    border-radius: 12px;
    margin:5px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    float: left;
    cursor: pointer;
}
.branch_company_text_tilte a{
    color: #333;
    display: block;
}
.nationality_guoqi_warp{
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    position: fixed;
    z-index: 999;
    display: none;
    border-top: 2px solid #c13232;
}
.nationality_guoqi{
    /*display: flex;*/
    width: 1112px;
    height: 134px;
    background: #fff;
    padding: 0 26px;
    position: relative;
    margin: 0 auto;
    float: left;
}
.liuxue-guoqi img{
    /*width:34px;*/
    /*height:28px;*/
    margin: 5px 10px;
}
.liuxue-guoqi{
    width: 100%;
    height: auto;
    font-size: 0;
}
.liuxue-guoqi p{
    width: 54px;
    height: 18px;
    overflow: hidden;
    color:#333 ;
    font-size: 12px;
    text-align: center;
    /*margin-top: 5px;*/
}
.liuxue-guoqi a{
    margin: 5px 42px 0px 0;
    height:60px;
    position: relative;
    /*display: inline-block;*/
    float: left;
    /*border:solid 1px transparent;*/
}
.liuxue-guojia-title{
    width: 23px;
    height: 114px;
    color: #c13232;
    font-size: 12px;
    text-align: center;
    line-height: 13px;
    background: #fff;
    padding: 10px 6px;
    /*border-right: solid #eeeeee;*/
    /*border-right-width: 1px;*/
    float: left;
}
.liuxue-guojia-line{
    width: 1px;
    float: left;
    height: 134px;
    background: #eee;
}
.guoqi_ios{
    width:34px;
    height: 28px;
    margin: 5px 10px;
}
.guoqi_ios1{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -62px -10px;
}.guoqi_ios2{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -162px -10px;
}.guoqi_ios3{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -357px -10px;
}.guoqi_ios4{
   background-image: url("../img/guoqi_ios.png");
   background-repeat: no-repeat;
   background-position: -259px -10px;
}.guoqi_ios5{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -454px -10px;
}.guoqi_ios6{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -650px -10px;
}.guoqi_ios7{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -552px -10px;
}.guoqi_ios8{
   background-image: url("../img/guoqi_ios.png");
   background-repeat: no-repeat;
   background-position: -847px -10px;
    /*background-position: -748px -10px;*/
}.guoqi_ios9{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -1041px -10px;
    /*background-position: -847px -10px;*/
}.guoqi_ios10{
     background-image: url("../img/guoqi_ios.png");
     background-repeat: no-repeat;
     background-position: -1140px -10px;
    /*background-position: -943px -10px;*/
}.guoqi_ios11{
      background-image: url("../img/guoqi_ios.png");
      background-repeat: no-repeat;
      background-position: -454px -72px;
    /*background-position: -1041px -10px;*/
}.guoqi_ios12{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -943px -72px;
    /*background-position: -1140px -10px;*/
}.guoqi_ios13{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -1041px -72px;
    /*background-position: -62px -72px;*/
}.guoqi_ios14{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -62px -72px;
    /*background-position: -162px -72px;*/
}.guoqi_ios15{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -748px -10px;
    /*background-position: -259px -72px;*/
}.guoqi_ios16{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -943px -10px;
    /*background-position: -357px -72px;*/
}.guoqi_ios17{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -847px -72px;
    /*background-position: -454px -72px;*/
}.guoqi_ios18{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -162px -72px;
    /*background-position: -552px -72px;*/
}.guoqi_ios19{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -259px -72px;
    /*background-position: -650px -72px;*/
}.guoqi_ios20{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -357px -72px;
    /*background-position: -748px -72px;*/
}.guoqi_ios21{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -552px -72px;
    /*background-position: -847px -72px;*/
}.guoqi_ios22{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -748px -72px;
    /*background-position: -943px -72px;*/
}.guoqi_ios23{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -650px -72px;
    /*background-position: -1041px -72px;*/
}.guoqi_ios24{
   background-image: url("../img/guoqi_ios.png");
   background-repeat: no-repeat;
   background-position: -1140px -72px;
}
/* ===========2018.6.8================ */
.gg-group{ overflow: hidden;}
.gg-group ul{ margin-right: -10px; overflow: hidden;height: 146px;}
.gg-group ul li{width:242px;margin-right: 10px;float: left;background: red;height: 146px;}
.gg-group ul li a{ display: block;}
.dialog-modal{ 
    position: fixed;
     top:0;
     right:0;
     bottom: 0;
     left:0;
     background: rgba(0,0,0,.7);
     z-index: 9999998
}
.modal-content{ 
    width: 1112px; 
    height: 100%;
    margin:auto; 
    background:url(../img/bcg@2x.png) no-repeat center center;
    z-index: 9999999;
    background-size: contain;
    position: relative;
    padding-bottom: 25px;
}
.formContent{width:436px;position: absolute;top:48%;right: 0;bottom: 0;left: 0;margin: auto;}
.form-group div{margin-bottom: 10px;}
.formposirion{ position: relative;}
.close{
    position: absolute;
    right: 0;
    top: -70%;
    height: 52px;
    width: 52px;
    background: url(../img/close_icon@2x.png) no-repeat center;
}
.error{
    height: 40px;
    width: 146px;
    background: url(../img/tlips_bcg@2x.png) no-repeat;
    position: absolute;
    top: -54px;
    right: -65px;
    line-height: 30px;
    text-align: center;
    display: none;
}
.error > i{
    display: inline-block;
    height:14px;
    width:14px;
    background: url(../img/tan_icon@2x.png) no-repeat;
    vertical-align: middle;
    margin-right: 3px;
}
.name,.iphone,.pass-code,.send-code{
    height: 50px;
    border-radius: 4px;
    border:none;
}
.name,.iphone{
    width:400px;
    text-indent: 22px;
    font-size: 16px;
    color: #772c61;
}
.pass-code{
    width: 252px;
    text-indent: 22px;
    margin-right: 5px;
}
.send-code{
    min-width: 140px;
    font-size: 16px;
    color: #772c61;
    background-color: #fff;
}
.select{
    height: 50px;
    position: relative;
    width: 400px;
    border-radius: 4px;
    background:#fff url(../img/tog-icon@2x.png) no-repeat right 10px center;
}
.select.selecttoggle{
    background:#fff url(../img/togtop-icon@2x.png) no-repeat right 10px center;
}
.select .placeholder{
    display: inline-block;
    width: 100px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #dc0006;
    height: 50px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    background-image: -o-linear-gradient(#ffe3bf,#f6b366);
    background-image: -moz-linear-gradient(#ffe3bf,#f6b366);
    background-image: -webkit-linear-gradient(#ffe3bf,#f6b366);
    background-image: linear-gradient(#ffe3bf,#f6b366);
}
.checkbtn{ position: relative;}
.checkbtn label{
    margin-left:7px;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
}
.checkbtn input[type='checkbox']{
    background: #fff;
    height: 16px;
    width: 16px;
    position: absolute;
    clip:auto;
    left: 7px;
    top: 4px;
}
.checkbtn input[type='checkbox']:checked{background:#fff url(../img/gou@2x.png) no-repeat center;}
.checkbtn input[type="checkbox"]:checked + label{color: #fff;}
.contry-list{
    position: absolute;
    top: 59px;
    width: 476px;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    left: -47px;
    font-size: 0;
    display: none;
    z-index: 2;
}
.contry-list .endright{margin-right: 0;}
.contry-list .contry-active{color: #c13232;border:solid 1px #c13232;}
.contry-list::after{
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 59px;
    top: -14px;
}
.contry-list li{
    display: inline-block;
    border:solid 1px #999;
    width:67px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    margin-right: 10px;
    cursor: default;
}
.huoqu-button{
    height: 55px;
    display: inline-block;
    width:376px;
    border-radius: 32px;
    color: #dc0006;
    font-size: 22px;
    border:none;
    text-align: center;
    background-image: -moz-linear-gradient(#ffe3bf,#f6b366);
    background-image: -o-linear-gradient(#ffe3bf,#f6b366);
    background-image: -webkit-linear-gradient(#ffe3bf,#f6b366);
    background-image: linear-gradient(#ffe3bf,#f6b366);
    box-shadow: 2px 2px 3px 0px #ba0000;
    margin-left: 15px;
}
@media screen and (min-width:768px){
    .formContent{top:50%;}
    .close{position: absolute;right: -30px;top: -85%;}
    .modal-content{top:-6%;}
}