.lunbo,.branch_company{
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    clear: both;
}
.lunbo{
    height: 270px;
    position: relative;
    overflow: hidden;
}
.lunbo_lift{
    width: 800px;
    height: 270px;
    background: #dcdcdc;
    float: left;
}
.lunbo_right{
    width: 400px;
    height: 270px;
    background: #f6f6f6;
    float: left;
    overflow: hidden;
}
.canzan-slide{
    width: 400px;
    height: 135px;
}
.canzan-slide a{
    width: 400px;
    height: 135px;
    margin: 0;
}
.slider .slider-dot ul li{
    border-radius: 50%;
}
.branch_company{
    height: 146px;
    position: relative;
}
.branch_company_img{
    width: 190px;
    height: 146px;
    margin-right: 10px;
    /*background: #007aff;*/
    float: left;
    position: relative;
    z-index: 2;
}
.branch_company_img img{
    width: 100%;
    height: 100%;
}
.branch_company_text{
    /* width:1010px;
    height: 146px;
    background: #fafafa;
    float: left; */
    width: 190px;
    height: 146px;
    background: #fafafa;
    float: left;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: 0
}
.branch_company_text_tilte{
    width: 58px;
    height: 22px;
    border: 1px solid #333333;
    border-radius: 12px;
    margin:5px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    float: left;
    cursor: pointer;
}
.branch_company_text_tilte a{
    color: #333;
    display: block;
}
.nationality_guoqi_warp{
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    position: fixed;
    z-index: 999;
    display: none;
    border-top: 2px solid #c13232;
}
.nationality_guoqi{
    /*display: flex;*/
    width: 1112px;
    height: 134px;
    background: #fff;
    padding: 0 26px;
    position: relative;
    margin: 0 auto;
    float: left;
}
.liuxue-guoqi img{
    /*width:34px;*/
    /*height:28px;*/
    margin: 5px 10px;
}
.liuxue-guoqi{
    width: 100%;
    height: auto;
    font-size: 0;
}
.liuxue-guoqi p{
    width: 54px;
    height: 18px;
    overflow: hidden;
    color:#333 ;
    font-size: 12px;
    text-align: center;
    /*margin-top: 5px;*/
}
.liuxue-guoqi a{
    margin: 5px 42px 0px 0;
    height:60px;
    position: relative;
    /*display: inline-block;*/
    float: left;
    /*border:solid 1px transparent;*/
}
.liuxue-guojia-title{
    width: 23px;
    height: 114px;
    color: #c13232;
    font-size: 12px;
    text-align: center;
    line-height: 13px;
    background: #fff;
    padding: 10px 6px;
    /*border-right: solid #eeeeee;*/
    /*border-right-width: 1px;*/
    float: left;
}
.liuxue-guojia-line{
    width: 1px;
    float: left;
    height: 134px;
    background: #eee;
}
.guoqi_ios{
    width:34px;
    height: 28px;
    margin: 5px 10px;
}
.guoqi_ios1{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -62px -10px;
}.guoqi_ios2{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -162px -10px;
}.guoqi_ios3{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -357px -10px;
}.guoqi_ios4{
   background-image: url("../img/guoqi_ios.png");
   background-repeat: no-repeat;
   background-position: -259px -10px;
}.guoqi_ios5{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -454px -10px;
}.guoqi_ios6{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -650px -10px;
}.guoqi_ios7{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -552px -10px;
}.guoqi_ios8{
   background-image: url("../img/guoqi_ios.png");
   background-repeat: no-repeat;
   background-position: -847px -10px;
    /*background-position: -748px -10px;*/
}.guoqi_ios9{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -1041px -10px;
    /*background-position: -847px -10px;*/
}.guoqi_ios10{
     background-image: url("../img/guoqi_ios.png");
     background-repeat: no-repeat;
     background-position: -1140px -10px;
    /*background-position: -943px -10px;*/
}.guoqi_ios11{
      background-image: url("../img/guoqi_ios.png");
      background-repeat: no-repeat;
      background-position: -454px -72px;
    /*background-position: -1041px -10px;*/
}.guoqi_ios12{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -943px -72px;
    /*background-position: -1140px -10px;*/
}.guoqi_ios13{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -1041px -72px;
    /*background-position: -62px -72px;*/
}.guoqi_ios14{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -62px -72px;
    /*background-position: -162px -72px;*/
}.guoqi_ios15{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -748px -10px;
    /*background-position: -259px -72px;*/
}.guoqi_ios16{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -943px -10px;
    /*background-position: -357px -72px;*/
}.guoqi_ios17{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -847px -72px;
    /*background-position: -454px -72px;*/
}.guoqi_ios18{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -162px -72px;
    /*background-position: -552px -72px;*/
}.guoqi_ios19{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -259px -72px;
    /*background-position: -650px -72px;*/
}.guoqi_ios20{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -357px -72px;
    /*background-position: -748px -72px;*/
}.guoqi_ios21{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -552px -72px;
    /*background-position: -847px -72px;*/
}.guoqi_ios22{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -748px -72px;
    /*background-position: -943px -72px;*/
}.guoqi_ios23{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -650px -72px;
    /*background-position: -1041px -72px;*/
}.guoqi_ios24{
   background-image: url("../img/guoqi_ios.png");
   background-repeat: no-repeat;
   background-position: -1140px -72px;
}
/* ===========2018.6.8----rongfa================= */
.gg-group{overflow:hidden;}
.gg-group ul{overflow:hidden;margin-right:-10px;height:146px;}
.gg-group ul li{float:left;margin-right:10px;width:242px;height:146px;background:#d5d2d2;}
.gg-group ul li a{display:block;}
.dialog-modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1005;background:rgba(0,0,0,.7);}
/* .modal-content{position:relative;z-index:1006;margin:auto;padding-bottom:25px;min-width:750px;max-width:750px;height:100%;background:url(../img/dailog.png) no-repeat center center;background-size:contain;} */
.formContent{
    position:absolute;
    top:50%;
    left: 50%;
    width:436px; 
    height:580px;
    margin-top:-250px;
    margin-left:-218px;
    background:url(../img/dailog.png) no-repeat center center;
}
.form-group div{margin-bottom:9px;}
/* .formposirion{position:relative;} */
.close{-webkit-transition:.2s linear;transition:.2s linear;position:absolute;right:53px;top:24px;width:28px;height:28px;background-size: cover;}
.close:hover{ -webkit-transform: rotate(180deg);transform: rotate(180deg);}
.error{position:absolute;top:-54px;right:-65px;font-size:12px;display:none;width:146px;height:40px;background:url(../img/tlips_bcg@2x.png) no-repeat;text-align:center;line-height:30px;}
.error>i{display:inline-block;margin-right:3px;width:14px;height:14px;background:url(../img/tan_icon@2x.png) no-repeat;vertical-align:middle;}
.iphone,.name,.pass-code,.send-code{height:36px;border:none;border-radius:4px;}
.iphone,.name{width:285px;color:#772c61;text-indent:22px;font-size:14px;}
.pass-code{margin-right:5px;width:170px;text-indent:22px;font-size:14px;}
.send-code{background-color:#fff;color:#772c61;font-size:14px;min-width:108px;padding-left: 0;padding-right: 0;}
.select{position:relative;width:285px;height:36px;border-radius:4px;background:#fff url(../img/tog-icon@2x.png) no-repeat right 10px center;}
.select.selecttoggle{background:#fff url(../img/togtop-icon@2x.png) no-repeat right 10px center;}
.select .placeholder{display:inline-block;width:100px;height:36px;border-bottom-left-radius:4px;border-top-left-radius:4px;background-image:-o-linear-gradient(#ffe3bf,#f6b366);background-image:-moz-linear-gradient(#ffe3bf,#f6b366);background-image:-webkit-linear-gradient(#ffe3bf,#f6b366);background-image:linear-gradient(#ffe3bf,#f6b366);color:#dc0006;text-align:center;font-size:14px;line-height:36px;}
.checkbtn{position:relative;}
.checkbtn label{margin-left:7px;color:#fff;vertical-align:middle;font-size:14px;}
.checkbtn input[type=checkbox]{position:absolute;top:4px;left:7px;clip:auto;width:15px;height:15px;background:#fff;}
.checkbtn input[type=checkbox]:checked{background:#fff url(../img/gou@2x.png) no-repeat center;}
.checkbtn input[type=checkbox]:checked+label{color:#fff;}
.contry-list{position:absolute;top:48px;left:-85px;z-index:2;display:none;padding:10px;width:434px;border-radius:4px;background:#fff;font-size:0;}
.contry-list .endright{margin-right:0;}
.contry-list .contry-active{background:#c13232;color:#fff;}
.contry-list::after{position:absolute;top:-14px;right:95px;display:block;width:0;height:0;border-color:transparent transparent #fff transparent;border-style:solid;border-width:7px;content:"";}
.contry-list li{display:inline-block;margin-right:10px;width:64px;box-sizing:border-box; border:solid 1px #999;border-radius:4px;text-align:center;font-size:12px;cursor:default;}
.huoqu-button{display:inline-block;margin-left:10px;width:270px;height:36px;border:none;border-radius:32px;background-image:-moz-linear-gradient(#ffe3bf,#f6b366);background-image:-o-linear-gradient(#ffe3bf,#f6b366);background-image:-webkit-linear-gradient(#ffe3bf,#f6b366);background-image:linear-gradient(#ffe3bf,#f6b366);box-shadow:2px 2px 3px 0 #ba0000;color:#dc0006;text-align:center;font-size:16px;}
.close-btn{background:url(../img/rotate.gif) no-repeat center center;width: 208px;height: 163px;position: fixed;left: 0;bottom: 30px;z-index: 1100;cursor: pointer;}
.more-look{position: absolute;
    top: -68px;
    background: url(../img/lookmore.png) no-repeat center center;
    height: 27px;
    width: 127px;
    left: 80px;
}
/* @media screen and (min-width:768px){
    .formContent{top:51%;}
    .close{position: absolute;right: -30px;top: -80%;}
    .modal-content{top:-4%;}
} */