.lunbo,.branch_company{
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    clear: both;
}
.lunbo{
    height: 270px;
    position: relative;
    overflow: hidden;
}
.lunbo_lift{
    width: 800px;
    height: 270px;
    background: #dcdcdc;
    float: left;
}
.lunbo_right{
    width: 400px;
    height: 270px;
    background: #f6f6f6;
    float: left;
    overflow: hidden;
}
.canzan-slide{
    width: 400px;
    height: 135px;
}
.canzan-slide a{
    width: 400px;
    height: 135px;
    margin: 0;
}
.slider .slider-dot ul li{
    border-radius: 50%;
}
.branch_company{
    height: 146px;
}
.branch_company_img{
    width: 190px;
    height: 146px;
    /*background: #007aff;*/
    float: left;
}
.branch_company_img img{
    width: 100%;
    height: 100%;
}
.branch_company_text{
    width:1010px;
    height: 146px;
    background: #fafafa;
    float: left;
}
.branch_company_text_tilte{
    width: 58px;
    height: 22px;
    border: 1px solid #333333;
    border-radius: 12px;
    margin:5px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    float: left;
    cursor: pointer;
}
.branch_company_text_tilte a{
    color: #333;
    display: block;
}
.nationality_guoqi_warp{
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    position: fixed;
    z-index: 999;
    display: none;
    border-top: 2px solid #c13232;
}
.nationality_guoqi{
    /*display: flex;*/
    width: 1112px;
    height: 134px;
    background: #fff;
    padding: 0 26px;
    position: relative;
    margin: 0 auto;
    float: left;
}
.liuxue-guoqi img{
    /*width:34px;*/
    /*height:28px;*/
    margin: 5px 10px;
}
.liuxue-guoqi{
    width: 100%;
    height: auto;
    font-size: 0;
}
.liuxue-guoqi p{
    /*width: 54px;*/
    /*height: 18px;*/
    /*overflow: hidden;*/
    color:#333 ;
    font-size: 12px;
    text-align: center;
    /*margin-top: 5px;*/
}
.liuxue-guoqi a{
    margin: 5px 40px 0px 0;
    height:60px;
    position: relative;
    display: inline-block;
    border:solid 1px transparent;
}
.liuxue-guojia-title{
    width: 23px;
    height: 114px;
    color: #c13232;
    font-size: 12px;
    text-align: center;
    line-height: 13px;
    background: #fff;
    padding: 10px 6px;
    border-right: 1px solid #eeeeee;
    float: left;
}
.guoqi_ios{
    width:34px;
    height: 28px;
    margin: 5px 10px;
}
.guoqi_ios1{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -62px -10px;
}.guoqi_ios2{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -162px -10px;
}.guoqi_ios3{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -357px -10px;
}.guoqi_ios4{
   background-image: url("../img/guoqi_ios.png");
   background-repeat: no-repeat;
   background-position: -259px -10px;
}.guoqi_ios5{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -454px -10px;
}.guoqi_ios6{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -650px -10px;
}.guoqi_ios7{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -552px -10px;
}.guoqi_ios8{
   background-image: url("../img/guoqi_ios.png");
   background-repeat: no-repeat;
   background-position: -847px -10px;
    /*background-position: -748px -10px;*/
}.guoqi_ios9{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -1041px -10px;
    /*background-position: -847px -10px;*/
}.guoqi_ios10{
     background-image: url("../img/guoqi_ios.png");
     background-repeat: no-repeat;
     background-position: -1140px -10px;
    /*background-position: -943px -10px;*/
}.guoqi_ios11{
      background-image: url("../img/guoqi_ios.png");
      background-repeat: no-repeat;
      background-position: -454px -72px;
    /*background-position: -1041px -10px;*/
}.guoqi_ios12{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -943px -72px;
    /*background-position: -1140px -10px;*/
}.guoqi_ios13{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -1041px -72px;
    /*background-position: -62px -72px;*/
}.guoqi_ios14{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -62px -72px;
    /*background-position: -162px -72px;*/
}.guoqi_ios15{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -748px -10px;
    /*background-position: -259px -72px;*/
}.guoqi_ios16{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -943px -10px;
    /*background-position: -357px -72px;*/
}.guoqi_ios17{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -847px -72px;
    /*background-position: -454px -72px;*/
}.guoqi_ios18{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -162px -72px;
    /*background-position: -552px -72px;*/
}.guoqi_ios19{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -259px -72px;
    /*background-position: -650px -72px;*/
}.guoqi_ios20{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -357px -72px;
    /*background-position: -748px -72px;*/
}.guoqi_ios21{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -552px -72px;
    /*background-position: -847px -72px;*/
}.guoqi_ios22{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -748px -72px;
    /*background-position: -943px -72px;*/
}.guoqi_ios23{
    background-image: url("../img/guoqi_ios.png");
    background-repeat: no-repeat;
    background-position: -650px -72px;
    /*background-position: -1041px -72px;*/
}.guoqi_ios24{
   background-image: url("../img/guoqi_ios.png");
   background-repeat: no-repeat;
   background-position: -1140px -72px;
}