
.rel-case-map{
 	width:100%;
 	height:130px;
}
.rel-case-map img{
 	width:100%;
 	height:100%;
 	display: block;
}

.rel-case-con{
  background:#fff;
  padding:20px 20px 0;
}

.rel-case-list{
    padding-bottom:40px;
    position: relative;
}

.rel-case-text1{
	
  position: relative;
}

.rel-case-text1 .title{
	font-size: 14px;
  color: #333;
  line-height: 30px;
  vertical-align: middle;
  margin-bottom: 0;
  font-weight: normal;
  letter-spacing: 2px;
}

.rel-case-text1 input{
	outline: none;
  height: 30px;
  color: #333;
  padding-left: 10px;
  border: 1px solid #dcdcdc;
  width: 595px;
  line-height: 30px;
  box-sizing: border-box;
  margin-right: 10px;
}

.rel-case-text1 .numTip{
	font-size: 12px;
	/*line-height: 30px;*/
	color:#999;
  vertical-align: text-top;
}

.rel-case-text1 .active{
  color:#c13232;
}

.rel-case-head{
	border-bottom:1px solid #dcdcdc;
	padding-left: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	color:#333;
	line-height: 14px;
}

.rel-case-text1 select{
	outline: none;
    height: 30px;
    color: #333;
    text-indent: 10px;
    border: 1px solid #dcdcdc;
    width: 164px;
    background: #f3f3f3 url(../img/select-down1.png) no-repeat 141px 0;
    background-size: 22px 32px;
    margin-right: 10px;
}

.major{
	font-size: 14px;
	line-height: 30px;
	color:#333;
	margin-right: 10px;
}

.editor{
	float:left;
  border:1px solid #dcdcdc;
  width:598px;
}

#editor1{
  height:500px;
}
#editor1 i{
  font-style: italic;
}
.editor-btn-box{
	margin-top: 30px;
	text-align: center;
}

.editor-btn-box .dui-btn{
	padding:3px 11px;
}

.upload-label{
	width:164px;
	height:170px;
	background:blue;
	margin-bottom: 0;
}

.art_abs{
  width:595px;
  height:70px;
  resize: none;
  padding: 0;
  box-sizing: border-box;
  border-color:#dcdcdc;
}

.word-num{
  position: absolute;
  right: 172px;
    top: 46px;
  z-index:100;
  color:#666;
  background:#fff;
}

#word-num{
  color:#c13232;
}
.art-type-sel{
  margin-right:60px;
  vertical-align:middle;
  cursor: pointer;"
}
.art-type-i{
  display: inline-block;
  width:12px;
  height:12px;
  border-radius: 50%;
  border: 1px solid #666;
  vertical-align: text-top;
  margin-right: 5px;
}
.art-type-sel i{
  font-size: 14px;
  color:#333;
}

.level-sel{
  margin-right:60px;
  vertical-align:middle;
  cursor: pointer;
}
.level-sel-i{
  display: inline-block;
  width:12px;
  height:12px;
  border-radius: 2.5px;
  border: 1px solid #666;
  vertical-align: text-top;
  margin-right: 5px;
}
.level-sel i{
  font-size: 14px;
  color:#333;
}
.recommend-sel{
  vertical-align:middle;
  cursor: pointer;
  margin-right: 30px;
}
.recommend-sel i{
  font-size: 14px;
  color:#333;
}
.newsletter-hide{
  display: none;
}
.banner-box{
    margin-top: 20px;
    height: 130px;
    /*background-color: yellow;*/
}
.banner-box-left{
    background: #dcdcdc;
    height: 130px;
}
.banner-box-right{
    background: #dcdcdc;
    height: 130px;
}
.slider .slider-dot ul{
    left:95%;
}
.slider .slider-dot ul li{
    border-radius: 50%;
}
.slider .slider-btn.slider-btn-right,.slider .slider-btn.slider-btn-left{
    margin-top: -33px
}
.banner-box-right .slider .slider-dot ul{
    left: 50%;
}


/*==================移民=====================*/
.project-div{
  display: none;

}