.banner {
	width: 100%;
	height: 450px;
	overflow: hidden;
	background: #333
}

.banner .btn-box {
	width: 428px;
	margin: 390px auto 0;
}

.banner .btn-box a{display: block; font-size: 16px; text-align: center; line-height:37px;color:#fff; float:left; width:136px; height:40px;box-sizing: border-box; border-radius: 5px;background: #fff;border: 1px solid #fff;color: #333;}
.banner .btn-box a:hover{background: #d31a29; border: 1px solid #d31a29;color: #fff;}
.banner .btn-box .md-btn {
	margin-left: 150px
}

.content-title {
	width: 1000px;
	margin: 20px auto;
	text-align: center;
	color: #bf3436;
	height: 40px;
	line-height: 40px
}

.content-title p {
	font-size: 28px
}

.content-title span {
	display: inline-block;
	border-bottom: 1px solid #bf3436;
	width: 245px;
	vertical-align: middle;
	margin: 0 10px
}

.content-title .gray-title {
	font-size: 16px;
	color: #bbb;
	height: 20px;
	line-height: 20px
}
.new_nav_first .nav-right .search-type-box .search-type .search-type-text {
	font-size: 12px;
}
.clearfix:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: "";
}
/* 2018-11-30 */
.main {
	margin: 100px auto;
	width: 1180px;
	max-width: 1180px;
}

ul {
	padding-left: 0;
	list-style: none;
}
.item-body-list{
  margin-top: 120px;
  overflow: hidden;
  height: 265px;
  width: 100%;
  padding-left: 10px;
}
.item-body-list li {
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  margin-right: 22px;
  margin-right: 19px\9;
	padding: 26px 20px;
  width: 276px;
  height: 254px;
	border-top: solid 3px #c13232;
	-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius:4px;
	-webkit-box-shadow: 3px 3px 16px rgba(0, 0, 0, .14);
  -moz-box-shadow: 3px 3px 16px rgba(0, 0, 0, .14);
	box-shadow: 3px 3px 16px rgba(0, 0, 0, .14);
	text-align: center;
	cursor: default;
}

.item-body-list li:last-child {
	margin-right: 0;
}

.item-body-list li > h2 {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 14px;
}

.item-body-list li > h2::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	margin-left: -30px;
	width: 60px;
	height: 2px;
	background: #c13232;
	content: '';
}

.list-text {
	color: #666;
	font-size: 16px;
	line-height: 28px;
}

.item-plane {
	margin-bottom: 80px;
	width: 100%;
}

.item-plane-top {
	position: relative;
	height: 300px;
}

.item-plane-top::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background: rgba(0, 0, 0, .52);
	content: '';
}

.item-pic-lengend {
	position: absolute;
	top: 60px;
	z-index: 1;
	width: 100%;
	color: #fff;
	text-align: center;
}

.item-pic-lengend h2 {
	margin-bottom: 40px;
	font-size: 24px;
}

.item-pic-lengend h2 + p {
	margin: auto;
	max-width: 768px;
	text-indent: 20px;
	font-size: 16px;
	line-height: 30px;
}

.item-plane-text {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  background: #f5f5f5;
  overflow: auto;
  height: 350px;
  max-height: 350px;
  box-sizing: border-box;
  padding-right: 20px;
}

.yk-title {
	position: relative;
	color: #c13232;
	font-size: 16px;
}

.yk-des {
	margin: 15px 0;
	color: #333;
	font-size: 16px;
	line-height: 30px;
}

.item-plane-text li {
	padding-left: 15px;
	height: 30px;
	background: url(/assets/img/about/arrow.png) no-repeat left center;
	color: #666;
	font-size: 16px;
	line-height: 30px;
}

.sort-container {
	margin-bottom: 80px;
	height: 524px;
	max-height: 524px;
  background: rgba(193, 50, 50, 0.02);
  overflow: hidden;
}

.sort-left {
	position: relative;
	float: left;
	margin-right: 10px;
	width: 600px;
}

.sort-left::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background: rgba(0, 0, 0, .52);
	content: '';
}

.sort-left .pictuer-des {
	position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 42px;
}

.sort-right {
	overflow: auto;
  padding-top: 38px;
  height: 524px;
}
/* 处理滚动条 */
.sort-right::-webkit-scrollbar,.item-plane-text::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
.sort-right::-webkit-scrollbar-thumb,.item-plane-text::-webkit-scrollbar-thumb {
  background-color: #ababab;
  border-radius: 10px;
}

.sort-right::-webkit-scrollbar-thumb:hover,.item-plane-text::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
.sort-right::-webkit-scrollbar-track,.item-plane-text::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}
.jieshao-item h1 {
	position: relative;
	margin-bottom: 66px;
	padding-bottom: 14px;
	color: #333;
	text-align: center;
	letter-spacing: 6px;
	font-size: 26px;
}

.sort-title {
	margin-bottom: 14px;
	color: #333;
  font-size: 16px;
  font-weight: 600;
}

.sort-des {
	margin-bottom: 24px;
	padding-right: 20px;
	color: #666;
  line-height: 30px;
	font-size: 16px;
	padding-bottom: 20px;
}

.sort-right .sort-title span {
	display: inline-block;
	margin-right: 8px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #999;
	color: #fff;
	text-align: center;
	line-height: 26px;
}

.sort-right .sort-title span.list-item {
	background: #c13232;
}

.jt-summary {
	height: 490px;
	max-height: 490px;
}

.jt-summary-left {
	position: relative;
	float: left;
	margin-right: 62px;
	width: 656px;
}

.jt-summary-left div.fadeInLeft {
	color: #666;
	text-indent: 30px;
	font-size: 16px;
	line-height: 30px;
	width: 670px;
	height: 155px;
	overflow: hidden;text-overflow: ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:5;
}

.jt-summary-left h2,.from-inline h2 {
	position: relative;
	margin-bottom: 66px;
	padding-bottom: 14px;
	text-align: center;
}

.jt-summary-right {
	position: relative;
}

.jt-summary-right::before {
	position: absolute;
	top: 20px;
	right: 62px;
	display: block;
	width: 14px;
	height: 250px;
	background: #c13232;
	content: '';
}

.from-contorl {
	box-sizing: border-box;
	margin-top: 120px;
	padding: 52px 0 0 152px;
	width: 100%;
	height: 460px;
  /* background: url() no-repeat; */
  background:#ccc;
	background-size: cover;
}

.form-horizontal {
	display: block;
	margin-left: 114px;
}

.from-inline {
	margin-left: 320px;
	box-sizing: border-box;
	width: 548px;
	height: 356px;
	background-color: #fff;
}

.items-from {
  margin-bottom: 30px;
  position: relative;
  width: 320px;
  margin-left: 114px;
}

.input-control {
	width: 238px;
  height: 34px;
  line-height: 34px;
	outline: 0;
	border: solid 1px #e5e5e5;
  text-indent: 10px;
}
.items-from-active::after{
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 77px;
  width: 0;
  bottom: 0;
  background: #c13232;
  height: 1px;
  -webkit-transition: .2s ease-out width;
  transition: .2s ease-out width;
}
.add-animate-active::after{
  left: 77px;
  width: 74.33%;
}
.control-label {
	margin-right: 12px;
	color: #666;
	font-size: 16px;
}

.jieshao-item h1::before,.jt-summary-left h2::after,.from-inline h2::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	margin-left: -30px;
	width: 60px;
	height: 2px;
	background: #c13232;
	content: '';
}

.from-inline h2.from-bm {
	margin-bottom: 36px;
	padding-top: 30px;
}

.from-pic {
	float: left;
}

.btn-default {
	display: inline-block;
  margin: 0 0 0 195px;
	width: 118px;
  height: 34px;
  line-height: 34px;
	outline: 0;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #c13232;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
  cursor: pointer;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  transition: .2s linear;
}
.btn-default:hover{
  background-color: #d44141
}
#carouselContent{
  position: relative;
  /* overflow: hidden; */
}
#owl-demo {
  width: 998px;
  margin-left: auto;
  margin-right: auto;
}
#owl-demo .carousel-item,#owl-demo .carousel-item img{
  height: 560px;
  width: 998px;
}
.owl-prev,.owl-next{
  height: 45px;
  width: 30px;
  color: transparent;
}
.owl-prev{
  position: absolute;
  left: -55px;
  background: url(/assets/img/zuo1.png) no-repeat
}
.owl-next{
  position: absolute;
  left: 1025px;
  background: url(/assets/img/you1.png) no-repeat
}
.owl-carousel .owl-nav.disabled{
  position: absolute;
  top: 50%;
  display: block;
}
.carousel-slide{
  width: 998px;
}
.pic-lengtend{
  height: 120px;
  padding-top:10px;
  background: rgba(0, 0, 0, .50);
  position: absolute;
  bottom: 0;
  width: 998px;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.swiper-slide img{
  height: 560px;
  width: 998px;
}
.progress{
  position: fixed;
  height: 2px;
  top: 0;
  left: 0;
  background: #c13232;
  z-index: 1005;
  width: 0%;
  -webkit-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  transition: opacity .3s linear;
}
.from-items{
  position: absolute;
  left: 79px;
  top: 40px;
  width: 239px;
  z-index: 1;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .2);
  box-shadow: 0 0 7px rgba(0, 0, 0, .2);
  -webkit-transition: .3s ease-out height;
  transition: .3s ease-out height;
  height: 0;
  overflow: hidden;
}
.city-val + .icon-arrow{
  background:url(/assets/img/feedback.png) no-repeat center center;
  height: 12px;
  width: 24px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top:-6px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .2s linear transform;
  transition: .2s linear transform;
}
.city-val + .icon-arrow.arrow-current{
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.from-items.from-items-current{
  height: 520px;
}
.country-group li{
  background: #fff;
  height: 20px;
  line-height: 1.414;
  cursor: default;
  font-size: 14px;
  text-indent: 10px;
}
.country-group li:hover{
  background-color: #e5e5e5;
}
