<div class="liuxue-footer">
  <div class="liuxue-footer-content" style="margin-bottom: 0;">
    {% set linkList = helper.getLink(tdk.pagekey) %}
    {% if linkList %}
    <div class="footer-top" style="height: 20px;">
      <h2>友情链接:</h2>
      {% for item in  linkList%}
      <a target="_blank"  rel="nofollow" href="{{item.url}}" title="{{item.name}}">{{item.name}}</a>
      {% endfor %}
    </div>
    {% endif %}
    <div class="foot-map">
      <div class="sitemap sitemap01">
        <h2>关于金吉列</h2>
        <ul class="clearfix">
          <li><a target="_blank"  rel="nofollow"  href="{{ helper.urlgen('about') }}"> 公司简介</a></li>
          <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/events') }}">大事记</a></li>
          <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/culture') }}">企业文化</a></li>
          <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('media') }}">媒体播报</a></li>
          <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about') }}#honor">企业荣誉</a></li>
          <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/cooperation') }}">商务合作</a></li>
          <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('about/contact') }}">联系我们</a></li>
          <li><a target="_blank"  rel="nofollow"   href="http://special.zhaopin.com/bj/2015/jjl032714/enter.html">诚聘英才</a></li>
        </ul>
      </div>
      <div class="sitemap sitemap02">
        <h2>专家团队</h2>
        <ul>
          <li style="width: 312px;"><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('canzan') }}">留学消费教育学校专家团</a></li>
          <li style="width: 312px;"><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('adviser')}}">咨询服务中心</a></li>
          <li style="width: 312px;"><a target="_blank"  rel="nofollow"   href="/zt/2017/zonghe/20170607_usa/default.shtml">常青藤教授专家团</a></li>
          <!--<li><a target="_blank"  href="javascript:void(0)">文案服务中心</a></li>-->
          <li><a target="_blank"  rel="nofollow"   href="/zt/2015/20130809_us_cqt/default.shtml">海外院校代表团</a></li>
          <li><a target="_blank"  rel="nofollow"   href="{{ helper.urlgen('team') }}">文案服务中心</a></li>
        </ul>
      </div>
      <div class="sitemap sitemap03">
        <h2>留学资讯</h2>
        <ul>
          <li><a target="_blank"     href="{{ helper.urlgen('glue') }}">申请攻略</a></li>
          <li><a target="_blank"     href="{{ helper.urlgen('case') }}">经典案例</a></li>
          <li><a target="_blank"     href="{{ helper.urlgen('schoollib') }}">院校库</a></li>
          <li><a target="_blank"     href="{{ helper.urlgen('visa') }}">签证指导</a></li>
          <li><a target="_blank"     href="{{ helper.urlgen('product') }}">留学方案</a></li>
          <li><a target="_blank"     href="{{ helper.urlgen('schoolrank') }}">大学排名</a></li>
          <li><a target="_blank"     href="{{ helper.urlgen('prereq') }}">申请条件</a></li>
         <!-- <li><a target="_blank"  href="javascript:void(0)">热门话题</a></li>-->
          {% if helper.version=='development' %}
          <li><a target="_blank"     href="{{ helper.urlgen('yimin') }}">移民信息</a></li>
          {% else %}
          <li><a target="_blank"     href="http://yimin.jjlvip.cn{{ helper.urlgen('yimin') }}">移民信息</a></li>
          {%  endif %}
          <li><a target="_blank"   href="{{ helper.urlgen('cost') }}">留学费用</a></li>
          <li><a target="_blank"    href="{{ helper.urlgen('specialrank') }}">精彩专题</a></li>
        </ul>
      </div>


      <div class="sitemap sitemap04 foot-eweima-x">
        <h2 class="guanzhu">关注我们:</h2>
          <div class="bdsharebuttonbox" id="fx">
            <a  href="#" class="bds-tsina" data-cmd="tsina" title="分享到新浪微博"></a>
            <a  href="#" class="bds-weixin" data-cmd="weixin" title="分享到微信"></a>
            <a  href="#" class="bds-renren" data-cmd="renren" title="分享到人人网"></a>
            <a  href="#" class="bds-qzone" data-cmd="qzone" title="分享到QQ空间"></a>
          </div>
          <div class="ewm">
            <dl class="foot-weibo">
              <dt><img src="{{helper.cdnhost}}/assets/img/weibo.png" alt="微博"></dt>
              <dd>官方微博</dd>
            </dl>
            <dl>
              <dt><img src="{{helper.cdnhost}}/assets/img/weixin.png" alt="微信"></dt>
              <dd>官方微信</dd>
            </dl>
          </div>
      </div>
    </div>
    <div class="foot-banner">
      <h2>留学国家及地区</h2>
      <div class="liuxue-guoqi">
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=1') }}"><span>美国</span><img src="{{helper.cdnhost}}/assets/img/America.png" alt="美国留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=2') }}"><span>英国</span><img src="{{helper.cdnhost}}/assets/img/England.png" alt="英国留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=4') }}"><span>澳大利亚</span><img src="{{helper.cdnhost}}/assets/img/Australia.png" alt="澳大利亚留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=3') }}"><span>加拿大</span><img src="{{helper.cdnhost}}/assets/img/Canada.png" alt="加拿大留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=5') }}"><span>新西兰</span><img src="{{helper.cdnhost}}/assets/img/NEW ZEALAND.png" alt="新西兰留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=50') }}"><span>韩国</span><img src="{{helper.cdnhost}}/assets/img/Korea.png" alt="韩国留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=51') }}"><span>日本</span><img src="{{helper.cdnhost}}/assets/img/Japan.png" alt="日本留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=101') }}"><span>乌克兰</span><img src="{{helper.cdnhost}}/assets/img/Ukraine.png" alt="乌克兰留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=100') }}"><span>俄罗斯</span><img src="{{helper.cdnhost}}/assets/img/Russia.png" alt="俄罗斯留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=108') }}"><span>爱尔兰</span><img src="{{helper.cdnhost}}/assets/img/eire.png" alt="爱尔兰留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=111') }}"><span>意大利</span><img src="{{helper.cdnhost}}/assets/img/Italy.png" alt="意大利留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=112') }}"><span>西班牙</span><img src="{{helper.cdnhost}}/assets/img/Spanish.png" alt="西班牙留学"></a><br>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=102') }}"><span>白俄罗斯</span><img src="{{helper.cdnhost}}/assets/img/blr.png" alt="白俄罗斯留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=52') }}"><span>新加披</span><img src="{{helper.cdnhost}}/assets/img/Singapore.png" alt="新加披留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=53') }}"><span>马来西亚</span><img src="{{helper.cdnhost}}/assets/img/malaysia.png" alt="马来西亚留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=54') }}"><span>中国香港</span><img src="{{helper.cdnhost}}/assets/img/HongKong.png" alt="中国香港留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=110') }}"><span>丹麦</span><img src="{{helper.cdnhost}}/assets/img/danmark.png" alt="丹麦留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=103') }}"><span>德国</span><img src="{{helper.cdnhost}}/assets/img/germany.png" alt="德国留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=104') }}"><span>法国</span><img src="{{helper.cdnhost}}/assets/img/France.png" alt="法国留学"></a>
        <a target="_blank"  href="{{ helper.urlgen('nationrank','n=105') }}"><span>挪威</span><img src="{{helper.cdnhost}}/assets/img/Norway.png" alt="挪威留学"></a>
        <a target="_blank"  href="{{ helper.urlgen('nationrank','n=106') }}"><span>瑞典</span><img src="{{helper.cdnhost}}/assets/img/Sweden.png" alt="瑞典留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=107') }}"><span>芬兰</span><img src="{{helper.cdnhost}}/assets/img/Finland.png" alt="芬兰留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=109') }}"><span>荷兰</span><img src="{{helper.cdnhost}}/assets/img/Holland.png" alt="荷兰留学"></a>
        <a target="_blank"    href="{{ helper.urlgen('nationrank','n=113') }}"><span>瑞士</span><img src="{{helper.cdnhost}}/assets/img/Swiss.png" alt="瑞士留学"></a>
      </div>
    </div>
    <div class="address">
      <h2>欢迎来访</h2>
      <ol class="xiangxi-address one">
        <li><dl><dt><i class="iconfont">&#xe684;</i></dt><dd id="tel">服务专线：010-65685656</dd></dl></li>
        <li class="xiangxi-map"><dl><dt><i class="iconfont">&#xe603;</i></dt><dd id="address">北京分公司：北京市建国门外大街永安东里米阳大厦5层（永安里地铁C口向南50米) </dd></dl></li>
      </ol>
    </div>
    <div class="footer-bot">
      <div class="jjl">
        <img src="{{helper.cdnhost}}/assets/img/quanqiu.png" alt="">
      </div>
      <div class="dzg-wz">
        <ul>
          {% set cityList2=[
          {
          "companyAddress": "北京分公司：北京市建国门外大街永安东里米阳大厦5层（永安里地铁C口向南50米）",
          "companyTel": "服务专线：010-65685656",
          "companyName": "北京",
          "companyId": "1"
          },
          {
          "companyAddress": "上海分公司：上海市黄浦区徐家汇路555号广发大厦三层",
          "companyTel": "服务专线：021-61581818",
          "companyName": "上海",
          "companyId": "2"
          },
          {
          "companyAddress": "广州分公司：广州市天河区体育西路191号中石化大厦b座33楼3310—3321",
          "companyTel": "服务专线：020-38175656",
          "companyName": "广州",
          "companyId": "3"
          },
          {
          "companyAddress": "天津分公司：天津市河西区大沽南路362号天津图书大厦10层1088室",
          "companyTel": "服务专线：022-23263399",
          "companyName": "天津",
          "companyId": "4"
          },
          {
          "companyAddress": "成都分公司：成都市总府路2号时代广场A座18层",
          "companyTel": "服务专线：028-85595757",
          "companyName": "成都",
          "companyId": "5"
          },
          {
          "companyAddress": "杭州分公司：杭州市杭大路15号嘉华国际商务中心706",
          "companyTel": "服务专线：0571-28887999",
          "companyName": "杭州",
          "companyId": "6"
          },
          {
          "companyAddress": "重庆分公司：重庆市渝中区民权路28号英利国际金融中心37-7，37-8",
          "companyTel": "服务专线：023-60335656",
          "companyName": "重庆",
          "companyId": "7"
          },
          {
          "companyAddress": "沈阳分公司：沈阳市和平区和平北大街69号总统大厦A座14层",
          "companyTel": "服务专线：024-22812866",
          "companyName": "沈阳",
          "companyId": "8"
          },
          {
          "companyAddress": "济南分公司：济南市市中区泺源大街229号金龙大厦29层",
          "companyTel": "服务专线：0531-81851155",
          "companyName": "济南",
          "companyId": "9"
          },
          {
          "companyAddress": "青岛分公司：青岛市香港中路40号数码旗舰大厦19层A1室",
          "companyTel": "服务专线：0532-86667776",
          "companyName": "青岛",
          "companyId": "10"
          },
          {
          "companyAddress": "郑州分公司：郑州市金水区经三路68号2号楼招商银行大厦12层1202室",
          "companyTel": "服务专线：0371-60228686",
          "companyName": "郑州",
          "companyId": "11"
          },
          {
          "companyAddress": "石家庄分公司：石家庄市新华区中华北大街50号军创国际商务花园1202室",
          "companyTel": "服务专线：0311-85368866",
          "companyName": "石家庄",
          "companyId": "12"
          },
          {
          "companyAddress": "大连分公司：大连市中山区人民路平安大厦25层",
          "companyTel": "服务专线：0411-39865959",
          "companyName": "大连",
          "companyId": "13"
          },
          {
          "companyAddress": "武汉分公司：武汉市解放大道航空路新世界中心C座20层",
          "companyTel": "服务专线：027-83805656",
          "companyName": "武汉",
          "companyId": "14"
          },
          {
          "companyAddress": "西安分公司：西安市碑林区南关正街88号长安国际C座808",
          "companyTel": "服务专线：029-87995656",
          "companyName": "西安",
          "companyId": "15"
          },
          {
          "companyAddress": "南京分公司：南京市鼓楼区汉中路8号金轮国际广场2401室",
          "companyTel": "服务专线：025-85552299",
          "companyName": "南京",
          "companyId": "16"
          },
          {
          "companyAddress": "太原分公司：太原市南内环街100号恒地大厦12层",
          "companyTel": "服务专线：0351-7668080",
          "companyName": "太原",
          "companyId": "17"
          },
          {
          "companyAddress": "唐山分公司：唐山市路南区新华西道32号新华贸写字楼16层",
          "companyTel": "服务专线：0315-6328566",
          "companyName": "唐山",
          "companyId": "18"
          },
          {
          "companyAddress": "长沙分公司：长沙市芙蓉区定王大厦28楼28-29-30",
          "companyTel": "服务专线：0731-82563355",
          "companyName": "长沙",
          "companyId": "19"
          },
          {
          "companyAddress": "深圳分公司：深圳市福田区福华一路138号国际商会大厦A座25层",
          "companyTel": "服务专线：0755-82931818",
          "companyName": "深圳",
          "companyId": "20"
          },
          {
          "companyAddress": "昆明分公司：昆明市盘龙区东风东路36号，建工大厦28层，2808-2811号办公楼",
          "companyTel": "服务专线：0871-63536688",
          "companyName": "昆明",
          "companyId": "21"
          },
          {
          "companyAddress": "合肥分公司：合肥市包河区万达广场7号写字楼22层2204",
          "companyTel": "服务专线：0551-62866565",
          "companyName": "合肥",
          "companyId": "22"
          },
          {
          "companyAddress": "苏州分公司：苏州市工业园区苏州大道西8号中银惠龙大厦6层",
          "companyTel": "服务专线：0512-62893339",
          "companyName": "苏州",
          "companyId": "23"
          },
          {
          "companyAddress": "哈尔滨分公司：哈尔滨市道里区上海街7号海上银座B座2001室",
          "companyTel": "服务专线：0451-58669777",
          "companyName": "哈尔滨",
          "companyId": "24"
          },
          {
          "companyAddress": "长春分公司：长春市西安大路727号中银大厦A座22层",
          "companyTel": "服务专线：0431-81811818",
          "companyName": "长春",
          "companyId": "25"
          },
          {
          "companyAddress": "呼和浩特分公司：内蒙古呼和浩特市中山西路1号海亮大厦A座1801",
          "companyTel": "服务专线：0471-3817676",
          "companyName": "呼市",
          "companyId": "26"
          },
          {
          "companyAddress": "兰州分公司：兰州市城关区张掖路1号保利大厦a座15层",
          "companyTel": "服务专线：0931-8185656",
          "companyName": "兰州",
          "companyId": "27"
          },
          {
          "companyAddress": "厦门分公司：厦门市思明区鹭江道100号财富中心5层",
          "companyTel": "服务专线：0592-2115656",
          "companyName": "厦门",
          "companyId": "28"
          },

          {
          "companyAddress": "南昌分公司：南昌市广场南路恒茂国际中心16栋B座27层",
          "companyTel": "服务专线：0791-86665966",
          "companyName": "南昌",
          "companyId": "29"
          },
          {
          "companyAddress": "吉林分公司：吉林市昌邑区财富广场B栋8层803-807",
          "companyTel": "服务专线：0432-62885656",
          "companyName": "吉林",
          "companyId": "30"
          },
          {
          "companyAddress": "烟台分公司：烟台市芝罘区海港路25号阳光100A座2907室",
          "companyTel": "服务专线：0535-6275656",
          "companyName": "烟台",
          "companyId": "31"
          },
          {
          "companyAddress": "邯郸分公司：邯郸市人民东路350号嘉华大厦806室",
          "companyTel": "服务专线：0310-5709558",
          "companyName": "邯郸",
          "companyId": "32"
          },
          {
          "companyAddress": "无锡分公司：无锡市崇安区中山路531号红豆国际广场办公楼19层",
          "companyTel": "服务专线：0510-81805656",
          "companyName": "无锡",
          "companyId": "33"
          },
          {
          "companyAddress": "宁波分公司：宁波市海曙区药行街42号银亿环球中心B座803",
          "companyTel": "服务专线：0574-87008686",
          "companyName": "宁波",
          "companyId": "34"
          },
          {
          "companyAddress": "贵阳分公司：贵阳市云岩区中华北路284号天毅大厦20层",
          "companyTel": "服务专线：0851-82215656",
          "companyName": "贵阳",
          "companyId": "35"
          },
          {
          "companyAddress": "徐州分公司：徐州市泉山区建国西路75号财富广场A座四楼",
          "companyTel": "服务专线：0516-85785656",
          "companyName": "徐州",
          "companyId": "36"
          },
          {
          "companyAddress": "佛山分公司：佛山市禅城区城门头路18号ICC国际商业中心17层",
          "companyTel": "服务专线：0757-82030588",
          "companyName": "佛山",
          "companyId": "37"
          },
          {
          "companyAddress": "南宁分公司：南宁市青秀区金湖路59号地王国际商会中心30层CD",
          "companyTel": "服务专线：0771-5775656",
          "companyName": "南宁",
          "companyId": "38"
          },
          {
          "companyAddress": "福州分公司：福州市鼓楼区五四路128号恒力城写字楼27F",
          "companyTel": "服务专线：0591-83625656",
          "companyName": "福州",
          "companyId": "39"
          },
          {
          "companyAddress": "银川分公司：银川市兴庆区文化西街国际贸易中心C栋7层",
          "companyTel": "服务专线：0951-7616655",
          "companyName": "银川",
          "companyId": "40"
          },
          {
          "companyAddress": "常州分公司：常州市钟楼区延陵西路99号嘉业国贸大厦23层2307-2308",
          "companyTel": "服务专线：0519-83335656",
          "companyName": "常州",
          "companyId": "41"
          },
          {
          "companyAddress": "温州分公司：温州市鹿城区车站大道577号财富中心1302",
          "companyTel": "服务专线：0577-88815656",
          "companyName": "温州",
          "companyId": "42"
          },
          {
          "companyAddress": "东莞分公司：广东省东莞市南城区金盈大厦C区7层",
          "companyTel": "服务专线：0769-22905656",
          "companyName": "东莞",
          "companyId": "43"
          },
          {
          "companyAddress": "宜昌分公司：宜昌市沿江大道特168-5号，万达广场A座2505室",
          "companyTel": "服务专线：0717-6625656",
          "companyName": "宜昌",
          "companyId": "44"
          },
          {
          "companyAddress": "西宁分公司：青海省西宁市城中区西大街42号三田世纪广场写字楼13层1307-1308号",
          "companyTel": "服务专线：0971-4925656",
          "companyName": "西宁",
          "companyId": "45"
          },
          {
          "companyAddress": "海南分公司：海南省海口市龙华区滨海大道103号财富广场28楼A室",
          "companyTel": "服务专线：0898-68635656",
          "companyName": "海南",
          "companyId": "46"
          },
          {
          "companyAddress": "乌鲁木齐分公司：乌鲁木齐市红山路16号广汇时代广场D座24层",
          "companyTel": "服务专线：0991-2655656",
          "companyName": "新疆",
          "companyId": "47"
          },
          {
          "companyAddress": "洛阳分公司：河南省洛阳市西工区升龙广场E区汇金中心1211",
          "companyTel": "服务专线：0379-65165656",
          "companyName": "洛阳",
          "companyId": "48"
          },
          {
          "companyAddress": "温哥华分公司：#300-4388 Beresford Street Burnaby BC Canada V5H 0E7",
          "companyTel": "服务专线：（001）604-559-8969/ 604-559-8968/ 604-559-8660",
          "companyName": "温哥华",
          "companyId": "49"
          }
          ] %}
          {% for item in cityList2 %}
          {% if loop.index==49 %}
          <li onmousemove="top_city2('{{item.companyAddress}}','{{item.companyTel}}')"  onmouseout="showcity2()">
            <a target="_blank"     href=" http://www2.jjlvip.cn/specialrank/zt/overseas/vancouver/index.html">{{ item.companyName }}</a>
          </li>
          {% else %}
          <li onmousemove="top_city2('{{item.companyAddress}}','{{item.companyTel}}')"  onmouseout="showcity2()">
            <a target="_blank"     href="{{ helper.urlgen('branch_home','c='+item.companyId) }}">{{ item.companyName }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="foot-banben">
      <p>@2009金吉列出国留学咨询服务有限公司 &nbsp;版权所有&nbsp;京ICP备05010035号&nbsp;&nbsp;留学投诉电话：4006-213-315&nbsp;&nbsp;投诉邮箱：315@jjl.cn</p>
    </div>
  </div>
</div>
