/*热门院校*/
.col5-t-p1-p2 {
  width: 212px;
  height: 100%;
  float: left;
  margin-left: 20px;
}
.col5-p1-p2-a2 {
  font-size: 14px;
}
.col5-p1-p2-a1 {
  width: 212px;
  margin-bottom: 19px;
  height: 160px;
}
.col5-p1-p2-a3 {
  width: 212px;
  height: 36px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 19px;
}