<div class="dui-layout-padding clearfix">
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1" style="height: 276px;width: 366px;" src="{{helper.cdnhost}}/assets/img/honor1.jpg" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a  class="dui-text-warning-s" href="javascript:void(0);">《留学服务术语》与《留学中介服务规范》</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1" style="height: 276px;width: 366px;"  src="{{helper.cdnhost}}/assets/img/honor2.jpg" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a  class="dui-text-warning-s" href="javascript:void(0);">500家最大私营企业</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1" style="height: 276px;width: 366px;"  src="{{helper.cdnhost}}/assets/img/honor3.jpg" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a class="dui-text-warning-s" href="javascript:void(0);">北京留学服务行业协会常务理事单位</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1"  style="height: 276px;width: 366px;" src="{{helper.cdnhost}}/assets/img/honor4.jpg" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a  class="dui-text-warning-s" href="javascript:void(0);">消费者满意单位</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1" style="height: 276px;width: 366px;"  src="{{helper.cdnhost}}/assets/img/honor5.jpg" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a  class="dui-text-warning-s" href="javascript:void(0);">消费教育学校</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1" style="height: 276px;width: 366px;"  src="{{helper.cdnhost}}/assets/img/honor6.jpg" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a  class="dui-text-warning-s" href="javascript:void(0);">重合同守信誉单位</a></p>
  </div>
</div>