<div class="dui-layout-padding clearfix">
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1" style="height: 276px;width: 366px;" src="{{helper.cdnhost}}/assets/img/newhonor1.jpg?v=2018030701" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a  class="dui-text-warning-s" href="javascript:void(0);">《留学服务术语》与《留学中介服务规范》</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1" style="height: 276px;width: 366px;"  src="{{helper.cdnhost}}/assets/img/newhonor2.jpg?v=2018030701" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a  class="dui-text-warning-s" href="javascript:void(0);">500家最大私营企业</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1" style="height: 276px;width: 366px;"  src="{{helper.cdnhost}}/assets/img/newhonor3.jpg?v=2018030701" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a class="dui-text-warning-s" href="javascript:void(0);">“守合同重信用”企业公示资格</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1"  style="height: 276px;width: 366px;" src="{{helper.cdnhost}}/assets/img/newhonor4.jpg?v=2018030701" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a  class="dui-text-warning-s" href="javascript:void(0);">重合同守信誉单位</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1" style="height: 276px;width: 366px;"  src="{{helper.cdnhost}}/assets/img/newhonor5.jpg?v=2018030701" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a  class="dui-text-warning-s" href="javascript:void(0);">北京留学服务行业协会常务理事单位</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1" style="height: 276px;width: 366px;"  src="{{helper.cdnhost}}/assets/img/newhonor6.jpg?v=2018030701" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a  class="dui-text-warning-s" href="javascript:void(0);">消费教育学校</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1" style="height: 276px;width: 366px;"  src="{{helper.cdnhost}}/assets/img/newhonor7.jpg?v=2018030701" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a  class="dui-text-warning-s" href="javascript:void(0);">消费者满意单位</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1" style="height: 276px;width: 366px;"  src="{{helper.cdnhost}}/assets/img/newhonor8.jpg?v=2018030701" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a  class="dui-text-warning-s" href="javascript:void(0);">非公经济发展服务基地</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a  href="javascript:void(0);"><img class="col3-t-p1-p2-a1" style="height: 276px;width: 366px;"  src="{{helper.cdnhost}}/assets/img/newhonor9.jpg?v=2018030701" alt=""></a></div>
    <p class="col3-t-p1-p2-a2" style="text-align: center;"><a  class="dui-text-warning-s" href="javascript:void(0);">2017年度公信力海外投资服务机构</a></p>
  </div>
</div>