<div class="dui-layout-border dui-layout-padding clearfix">
  {% if jingcaizhuanti | length %}
    {% for item in jingcaizhuanti %}
    <div class="dui-layout-col3">
      <div><a href="{{ item.jump_url}}" rel="nofollow" style="color: #333333;">
      <img class="col3-t-p1-p2-a1" src="{{helper.imageThumb(item.thumb,'326x182' )}}" alt="精彩专题"></a></div>
      <p class="col3-t-p1-p2-a2"><a class="dui-text-warning-s" href="{{ item.jump_url }}">{{ item.title }}</a></p>
      <p class="col3-t-p1-p2-a6"><a class="dui-text-warning-ss" href="{{ item.jump_url }}">{{ item.description }}</a></p>
    </div>
    {% endfor %}
  {% else %}
  <p style="text-align: center;">没有数据！</p>
  {% endif %}
</div>