{% macro academy2(itema, helper) %}

    <div class="dui-layout-border dui-layout-padding clearfix">
      {% for val in itema %}

      {% if loop.index <= 6%}

      <div class="dui-con-col3">
        <a href="{{helper.urlgen('school', val.id | string, 'n=' + val.country)}}">
        <div style="width: 266px; height: 200px; background: #CCCCCC "><a href="{{helper.urlgen('school', val.id | string, 'n=' + val.country)}}" style="color: #333333;"><img class="col3-p1-p2-a1" src="{{ helper.imageThumb(val.thumb,'198x148') }}" alt="{{val.title}}"></a></div>
        </a>
        <p class="col3-p1-p2-a2" style="margin-bottom: 20px"><a class="dui-text-warning-s col3-p1-p2-a5" href="{{helper.urlgen('school', val.id | string, 'n=' + val.country)}}">{{val.title | shorten(16)}}</a></p>
        <!-- ellipsis(116) -->
      </div>
      {% endif %}

      {% endfor %}
    </div>

{% endmacro %}