<div class="dui-layout-padding clearfix">
  <div class="dui-layout-col3">
    <div><a href=""><img class="col3-t-p1-p2-a1" src="{{helper.cdnhost}}/assets/img/honor1.jpg" alt=""></a></div>
    <p class="col3-t-p1-p2-a2"><a class="dui-text-warning-s" href="">保护消费者基金会</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a href=""><img class="col3-t-p1-p2-a1" src="{{helper.cdnhost}}/assets/img/honor2.jpg" alt=""></a></div>
    <p class="col3-t-p1-p2-a2"><a class="dui-text-warning-s" href="">服务术语</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a href=""><img class="col3-t-p1-p2-a1" src="{{helper.cdnhost}}/assets/img/honor3.jpg" alt=""></a></div>
    <p class="col3-t-p1-p2-a2"><a class="dui-text-warning-s" href="">工商行政管理局</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a href=""><img class="col3-t-p1-p2-a1" src="{{helper.cdnhost}}/assets/img/honor4.jpg" alt=""></a></div>
    <p class="col3-t-p1-p2-a2"><a class="dui-text-warning-s" href="">工商业联合会</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a href=""><img class="col3-t-p1-p2-a1" src="{{helper.cdnhost}}/assets/img/honor5.jpg" alt=""></a></div>
    <p class="col3-t-p1-p2-a2"><a class="dui-text-warning-s" href="">维护消费者权益基金会</a></p>
  </div>
  <div class="dui-layout-col3">
    <div><a href=""><img class="col3-t-p1-p2-a1" src="{{helper.cdnhost}}/assets/img/honor6.jpg" alt=""></a></div>
    <p class="col3-t-p1-p2-a2"><a class="dui-text-warning-s" href="">新浪移民</a></p>
  </div>
</div>