{% macro nav_twelfth(country,helper)  %}
{%
set countrylist1=[
{
"id":1,
"type":"美国留学"
},
{
"id":2,
"type":"英国留学"
},
{
"id":3,
"type":"加拿大留学"
},
{
"id":4,
"type":"澳洲留学"
},
{
"id":5,
"type":"新西兰留学"
}

]

%}
{%
set countrylist2={
"id":201,
"type":"亚洲留学",
"countries":[
{
"id": 50,
"country": "韩国留学"
},
{
"id": 51,
"country": "日本留学"
},
{
"id": 52,
"country": "新加坡留学"
},
{
"id": 53,
"country": "马来西亚留学"
},
{
"id": 54,
"country": "中国香港留学"
}
]
}
%}
{%
  set countrylist3={
"id":202,
"type":"欧洲留学",
"countries":[
{
"id": 100,
"country": "俄罗斯留学"
},
{
"id": 101,
"country": "乌克兰留学"
},
{
"id": 102,
"country": "白俄罗斯留学"
},
{
"id": 103,
"country": "德国留学"
},
{
"id": 104,
"country": "法国留学"
},
{
"id": 105,
"country": "挪威留学"
},
{
"id": 106,
"country": "瑞典留学"
},
{
"id": 107,
"country": "芬兰留学"
},
{
"id": 108,
"country": "爱尔兰留学"
},
{
"id": 109,
"country": "荷兰留学"
},
{
"id": 110,
"country": "丹麦留学"
},
{
"id": 111,
"country": "意大利留学"
},
{
"id": 112,
"country": "西班牙留学"
},
{
"id": 113,
"country": "瑞士留学"
}
]
}
%}
<div class="dui-layout-lg clearfix nav-twelfth">
  {% if country==0 %}
 <a href="{{ helper.urlgen('adviser','n=0') }}" data-id="0" class="twelfth-all" ><i class="iconfont ione">&#xe67f;</i></a>
  {% else %}
  <a href="{{ helper.urlgen('adviser','n=0') }}" class="twelfth-all2" style="color: #ffffff;" ><i class="iconfont itwo" >&#xe67f;</i></a>
  {% endif %}
  <ul class="twelfth-country-list">
    {% for item1 in countrylist1 %}
    <li>
      <a data-id="{{ item1.id }}"  class="twelfth-list {% if item1.id==country %} nav-twel {% endif %}"  href="{{ helper.urlgen('adviser','n='+item1.id) }}" style="{% if item1.id==country %} color:#c13232 {% endif %}">{{ item1.type }}
      </a>
    </li>
    {% endfor %}
    <li class="nav-twelfth-zhou">
      {% if country!=50 and  country!=51 and country!=52 and country!=53 and country!=54 %}

      <a href="javaScript:void (0);"  class="twelfth-list twelfth-zhou-mx ">{{countrylist2.type  }}<i class="iconfont nav-twelfth-down">&#xe60b;</i></a>
      {% else %}
      {% for list1 in countrylist2.countries %}
      {% if list1.id==country %}
      <a href="javaScript:void (0);"  class="twelfth-list twelfth-zhou-mx nav-twel" style="color: #c13232;">{{list1.country  }}<i class="iconfont nav-twelfth-down"style="color: #c13232;">&#xe60b;</i></a>
      {% endif %}
      {% endfor %}
      {% endif %}
      <ol class="naveighth-ol">
        {% for list1 in countrylist2.countries %}
        <li>
          <a data-id="{{ list1.id }}" href="{{ helper.urlgen('adviser','n='+list1.id) }}"  class="twelfth-zhou-list">{{ list1.country }}
          </a>
        </li>
        {% endfor %}
      </ol>
    </li>
    <li class="nav-twelfth-zhou">
    {% if country!=100 and  country!=101 and country!=102 and country!=103 and country!=104 and  country!=105 and country!=106 and country!=107 and country!=108 and  country!=109 and country!=110 and country!=111 and country!=112 and country!=113   %}
      <a href="javaScript:void (0);"  class="twelfth-list twelfth-zhou-mx ">{{countrylist3.type  }}<i class="iconfont nav-twelfth-down">&#xe60b;</i></a>
      {% else %}
      {% for list2 in countrylist3.countries %}
      {% if list2.id==country %}
      <a href="javaScript:void (0);"  class="twelfth-list twelfth-zhou-mx  nav-twel"style="color: #c13232;">{{list2.country  }}<i class="iconfont nav-twelfth-down"style="color: #c13232;">&#xe60b;</i></a>
      {% endif %}
      {% endfor %}
     {% endif %}
      <ol class="naveighth-ol">
        {% for list2 in countrylist3.countries %}
        <li>
          <a data-id="{{ list2.id }}" href="{{ helper.urlgen('adviser','n='+list2.id) }}"  class="twelfth-zhou-list">{{ list2.country }}
          </a>
        </li>
        {% endfor %}
      </ol>
    </li>
  </ul>
  <div class="twelfth-tel">
    <i class="city-icon iconfont">&#xe618;</i>
    <span>留学咨询热线：</span>
    <span>400-010-8000</span>
  </div>

</div>
{% endmacro %}