<div class="nav_login">
  <div class="dui-layout-lg clearfix " style="margin-top: 30px" >
    <div class="nav_logo">
      <a href="{{ helper.urlgen('branch_home','c='+tdk.cityid) }}" rel="nofollow"><img src="{{helper.cdnhost}}/assets/img/logox.png" alt=""/></a>
    </div>
    <div class="nav_login_t">“ 良心、合作、多赢、共享 ”</div>
    <div class="nav_login_z" style="margin-left: 10px"><i class="iconfont" style="margin-right: 5px">&#xe6c7;</i><em>400-010-8000</em></div>
    <div class="nav_login_z">欢迎来到金吉列留学！<a href="/register">请注册</a>&nbsp;&nbsp;|</div>
  </div>
</div>