.advisor-star-cell{
    width: 92px;
    height: 162px;
}
.advisor-star-cell dt{
    width: 92px;
    height: 116px;
    overflow: hidden;
}
.advisor-star-cell img{
    display: block;
    width: 100%;
}
.advisor-star-cell dd{
    color: #333;
    text-align: center;
}
.advisor-star-cell dd.name{
    font-size: 14px;
    line-height: 14px;
    margin: 10px 0;
}
.advisor-star-cell dd.area{
    font-size: 12px;
    line-height: 12px;
}
/*�����ĸ񲼾�*/
.advisor-star-cont{
    width: 244px;
    padding: 16px 17px;
    background-color: #fff;
}
.advisor-star-cont .advisor-star-cell-box{
    width: 92px;
    margin: 16px 15px;
    float: left;
}
.advisor-star-cont .advisor-star-cell-box a{
    display: block;
}

/*�����б�*/

.advisor-star-list{
    padding-top:10px;
}

.advisor-star-list .star-item{
    display: block;
    width: 240px;
    margin: 0 19px;
    padding: 10px 0;
}
.advisor-star-list .star-item dl{
    width: 100%;
}
.advisor-star-list .star-item dl dt{
    width: 92px;
    height: 116px;
    float: left;
    margin-right: 20px;
}

.advisor-star-list .star-item dl dt img{
    width:92px;
    height:116px;
    display: block;
}

.advisor-star-list .star-item dl dd{
    width: 128px;
    float: left;
}
.advisor-star-list .star-item dl dd .star_name{
    font-size: 14px;
    color: #333;
    line-height: 14px;
    margin-top: 2px;
}
.advisor-star-list .star-item dl dd .star_info{
    font-size: 12px;
    line-height: 20px;
    height: 63px;
    color: #666;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.advisor-star-list .star-item dl dd .star_btn{
    font-size: 12px;
    line-height: 12px;
    color: #C13232;
    cursor: pointer;
}
.hover-color:hover{
    color: #C13232;
}
/* 2018-2-27 */
.gw-list{width:280px;list-style:none;margin:100px auto}
.gw-list li{border-bottom:solid 1px #dcdcdc;margin-top:20px}
.gw-list a{color:#333;text-decoration:none}
.likes-item{overflow:hidden}
.likes-item span{display:inline-block;margin-top:18px}
.likes-item+.article{font-size:16px;margin:8px 0 18px;color:#333}
.likes-item img{width:51px;height:51px;-webkit-border-radius:50%;border-radius:50%;float:left}
.gw-list .people-action{font-size:12px;color:#c13232;background:#fdf3f2;height:24px;line-height:24px;width:80px;text-align:center;-webkit-border-radius:10px;border-radius:10px}
.gw-list .people-name{font-size:14px;margin-left:10px;margin-right:64px;background:url(1v.png) no-repeat;background-position:right center;padding-right:20px}
.gw-list img{width:51px;height:51px;-webkit-border-radius:50%;border-radius:50%;float:left}
.artical-info{margin-left:60px;overflow:hidden;font-size:14px;margin-bottom:20px}
.guwen-info{overflow:hidden;margin-left:10px;margin-top:8px;position:relative}
.guwen-info span{height:14px;line-height:14px}
.guwen-info .pull-left{float:left;border-right:1px solid #d6d6d6;width:90px}
.guwen-info .pull-right{float:right;margin-right:22px}
.guwen-info em{display:inline-block;font-style:normal;margin-left:10px}