<!--相关顾问侧栏五个-->
{% macro advisor_starblock(xiangguan_guwen,helper) %}
<ul class="gw-list">
	{% for gw_item in xiangguan_guwen %}
		<li>
				<a href="{{helper.urlgen(gw_item.user_info.uid|string)}}">
					 <img src="{{helper.avaterimg(gw_item.user_info.uid, 'small', 0,item.user_info.version)}}" alt="">
					 <div class="artical-info">
						  <div class="user-infos">
								<span class="people-name">{{gw_item.user_info.nickname}}</span>
								<span class="people-action">{{gw_item.user_info.dept}}</span>
						  </div>
						  <div class="guwen-info">
								<span class="pull-left">粉丝<em>{{gw_item.user_info.fans_count}}</em></span>
								<span class="pull-right">文章<em>{{gw_item.user_info.article_count}}</em></span>
						  </div>
					 </div>
				</a>
		  </li>
	{% endfor %}
</ul>
{% endmacro %}
    