<div class="top">

</div>


<script>
  $(function() {
    var login_nickname = JSON.parse($.cookie('login_ss'));
    if (login_nickname == null) {
      var val = '<div class="dui-layout-lg top-con">'+
                '<div class="top-con-left">'+
                '<i class="iconfont">&#xe60d;</i>'+
                '<span><a target="_blank" href="' + fn.urlgen('') + '" >金吉列留学首页</a></span>'+
                '</div>'+
                '<div class="top-con-right">'+
                '<span><i class="msg-icon iconfont nav-name">&#xe675;</i><a target="_blank" href="/register" class="dui-text-warning-ss" rel="nofollow">注册</a></span>'+
                '<span class="bor">|</span>'+
                '<span><a href="javascript:void(0);" onclick="getlogin()" class="dui-text-warning-ss" rel="nofollow">登录</a></span>'+
                '<span class="bor">|</span>'+
                '<span><a rel="nofollow" target="_blank" href="'+ fn.urlgen('advisor_center', 'revmsg') +'">消息</a></span>'+
                '<span class="bor">|</span>'+
                '<span><a target="_blank" href="http://www.jjl.cn/english/?tag=2" class="dui-text-warning-ss" rel="nofollow">English Website</a></span>'+
                '<span class="bor">|</span>'+
                '<span><a target="_blank" href="http://special.zhaopin.com/bj/2015/jjl032714/job.html" class="dui-text-warning-ss" rel="nofollow">诚聘英才</a></span>'+
                '</div>'+
                '</div>'
      $(".top").append(val);
    } else {
      var val = '<div class="dui-layout-lg top-con">'+
                '<div class="top-con-left">'+
                '<i class="iconfont">&#xe60d;</i>'+
                '<span><a target="_blank" href="' + fn.urlgen("") +'" >金吉列留学首页</a></span>'+
                '</div>'+
                '<div class="top-con-right">'+
                '<ul>';
      if (login_nickname.usertype == 1) {
        val += '<li><i class="msg-icon iconfont nav-name">&#xe675;</i><span><a target="_blank" href="' + fn.urlgen("user_center", "revcomment") + '" rel="nofollow">'+ login_nickname.nickname +'</a></span></li>';
      } else if (login_nickname.usertype == 2) {
        val += '<li><i class="msg-icon iconfont nav-name">&#xe675;</i><span><a target="_blank" href="' + fn.urlgen("advisor_center") + '" rel="nofollow">'+ login_nickname.nickname +'</a></span></li>';
      }else if (login_nickname.usertype == 3) {
        val += '<li><i class="msg-icon iconfont nav-name">&#xe675;</i><span><a target="_blank" href="' + fn.urlgen("canzan_center") + '" rel="nofollow">'+ login_nickname.nickname +'</a></span></li>';
      }
      val += '<li><a href="javascript:void(0)" onclick="outlogin()" rel="nofollow">退出</a></li>'+
                '<li><a target="_blank" href="'+ fn.urlgen('advisor_center', 'revmsg') +'" rel="nofollow">消息</a></li>'+
                '<li><a href="http://www.jjl.cn/english/?tag=2" target="_blank" rel="nofollow">English Website</a></li>'+
                '<li class="topss"><a href="http://special.zhaopin.com/bj/2015/jjl032714/job.html" target="_blank" rel="nofollow">诚聘英才</a></li>'+
                '</ul>'+
                '</div>'+
                '</div>';
      $(".top").append(val);
    }

  })
</script>

<script>
  function getlogin () {
    var h = window.location.href;
    console.log('h', h);
    var hh = h.split("/");
    console.log('hh[1]', hh[3]);
    var hhh = h.split("?");
    console.log('hhh', hhh[1])
    if (hh[3] != 'register' && hh[3] != 'forget') {
      console.log('11111')
//      window.location.href = '/login?h=' + h
      window.open('/login?h=' + h);
    } else if (hhh[1] != undefined && hh[3] != 'register' && hh[3] != 'forget' && hh[3] != 'login') {
      console.log('aaaa')
      window.location.reload();
    } else {
      console.log('22222')
//      window.location.href = '/login'
      window.open('/login');
    }
  }
  function outlogin () {
    $.ajax({
      url: '/login_out',
      type: 'GET',
      datatype: 'json',
      success:function(msg){
        if (msg == 'ok') {
          console.log('登出')
          window.location.reload()
        }
      },
      error:function(XMLHttpRequest, textStatus, errorThrown){
        console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status)
      }
    })
  }
</script>

{#{% if login_nickname == '' %}
<div class="top">
  <div class="dui-layout-lg top-con">
      <div class="top-con-left">
        <i class="iconfont">&#xe60d;</i>
        <span><a target="_blank" href="{{ helper.urlgen('') }}" rel="nofollow">金吉列留学首页</a></span>
      </div>
      <div class="top-con-right">
        <span><i class="msg-icon iconfont nav-name">&#xe675;</i><a target="_blank" href="/register" class="dui-text-warning-ss" rel="nofollow">注册</a></span>
        <span class="bor">|</span>
        <span><a href="javascript:void(0);" onclick="getlogin()" class="dui-text-warning-ss" rel="nofollow">登录</a></span>
        <span class="bor">|</span>
        <span><a target="_blank" href="{{helper.urlgen('advisor_center', 'revmsg')}}">消息</a></span><!--http://www.51daxuetong.cn/advisor_center/revmsg-->
        <span class="bor">|</span>
        <span><a target="_blank" href="http://www.jjl.cn/english/?tag=2" class="dui-text-warning-ss" rel="nofollow">English Website</a></span>
        <span class="bor">|</span>
        <span><a target="_blank" href="http://special.zhaopin.com/bj/2015/jjl032714/job.html" class="dui-text-warning-ss" rel="nofollow">诚聘英才</a></span>
      </div>
  </div>
</div>

{% endif%}#}
{#{% if login_nickname != ''%}
<div class="top">
  <div class="dui-layout-lg top-con">
    <div class="top-con-left">
      <i class="iconfont">&#xe60d;</i>
      <span><a target="_blank" href="{{ helper.urlgen('') }}" rel="nofollow">金吉列留学首页</a></span>
    </div>
    <div class="top-con-right">
      <ul>
        {% if login_nickname.usertype == 1%}<!--普通用户-->
        <li><i class="msg-icon iconfont nav-name">&#xe675;</i><span><a target="_blank" href="{{helper.urlgen('user_center', 'revcomment')}}" rel="nofollow">{{login_nickname.nickname}}</a></span></li>
        {% endif %}
        {% if login_nickname.usertype == 2%}<!--顾问个人视角-->
        <li><i class="msg-icon iconfont nav-name">&#xe675;</i><span><a target="_blank" href="{{helper.urlgen('advisor_center')}}" rel="nofollow">{{login_nickname.nickname}}</a></span></li>
        {% endif %}
        {% if login_nickname.usertype == 3%}<!--参赞个人视角-->
        <li><i class="msg-icon iconfont nav-name">&#xe675;</i><span><a target="_blank" href="{{helper.urlgen('canzan_center')}}" rel="nofollow">{{login_nickname.nickname}}</a></span></li>
        {% endif %}
        <li><a target="_blank" href="javascript:void(0)" onclick="var h = window.location.href;console.log('h',h);window.location.href='/login_out?h='+h" rel="nofollow">退出</a></li>
        <li><a target="_blank" href="{{helper.urlgen('advisor_center', 'revmsg')}}" rel="nofollow">消息</a></li><!--http://www.51daxuetong.cn/advisor_center/revmsg-->
        <li><a href="http://www.jjl.cn/english/?tag=2" target="_blank" rel="nofollow">English Website</a></li>
        <li class="topss"><a href="http://special.zhaopin.com/bj/2015/jjl032714/job.html" target="_blank" rel="nofollow">诚聘英才</a></li>
      </ul>
    </div>
  </div>
</div>

{% endif %}#}
