.top{
  width:100%;
  height: 30px;
  border-bottom: #dcdcdc 1px solid;
  background: #fff;
  font-size: 12px;
  color:#666666;
}
.top-con{
  height:30px;
  line-height: 30px;
}
.top-con i{
  font-size:18px;
  margin-right:4px;
  margin-top:1px;
  display:block;
  float:left
}
.top-con a{
  color:#666666;
}
.top-con-left{
  float:left;
  width: 200px;
 }
.top-con-right{
  float:right;
}
.top-con-right .bor{
  margin:0 10px;
  font-size: 10px;
}
.top-con-right li {
  float: left;
  margin-left: 10px;
  line-height: 25px;
}
.top_weibo_img{
  width: 26px;
  height: 26px;
  margin-right: 10px;
  line-height: 25px;
  cursor: pointer;
}
.top_weibo_img img{
  width: 22px;
  height: 22px;
}
.top_weibo{
  width: 96px;
  height: 99px;
  z-index: 1002;
  position: absolute;
  top: 29px;
  right: 0px;
}
.top-con-center {
  float: left;
  margin-left: 20px;
}
.top-con-center li {
  float: left;
  text-align: center;
  line-height: 30px;
  height: 30px;
  padding: 0 25px;
}
.top-con-center li a {
  font-size: 16px;
  color: #333;
}
.top-con-center li.active a {
  color: #c13232;
  text-decoration: underline;
}