<div class="top">

</div>
<style>
  .l_u{
    width: 420px;
    height: 400px;
    background-color: #fff;
  }
  .l_u_top{
    width: 100%;
    height: 56px;
    background-color: #c13232;
    padding: 5px 0
  }
  .l_u_top img {
    display: block;
    width: 150px;
    height: 52px;
    margin: 0 auto;
  }
  .l_u_con{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 45px;
  }
  .l_u_con p{
    width: 72px;
    font-size: 14px;
    color: #333;
    border-bottom: 2px #c13232 solid;
  }
  .l_u_con_{
    width: 330px;
    height: 1px;
    background-color: #dcdcdc;
  }
  .inputtext_isr{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-control{
    display: inline-block;
    line-height: 25px;
  }
  .l_u_com_phone{
    width: 281px;
    height: 26px;
    padding-left: 35px;
    font-size: 14px;
    color: #999;
  }
  .l_u_com_yan{
    width: 182px;
    height: 26px;
    padding-left: 34px;
    font-size: 14px;
    color: #999;
  }
  .l_u_com_bang{
    width: 90px;
    height: 40px;
    line-height: 40px;
    float: right;
    margin-right: 45px;
    margin-top: -2px;
  }
  .l_u_com_but{
    width: 330px;
    height: 40px;
    background-color: #c13232;
    color: #fff;
  }
  .l_u_com_she{
    width: 330px;
    text-align: center;
    position: relative;
    margin-top: 30px;
  }
  .l_u_com_she div{
    width: 330px;
    height: 1px;
    background-color: #999;
    line-height: 0px;
  }
  .l_u_com_she i{
    font-style: normal;
    font-size: 14px;
    color: #999;
    background-color: #fff;
    z-index: 10;
  }
  .l_u_com_fen{
    width: 330px;
    margin-top: 30px;
    text-align: center;
  }
  .l_u_com_fen img{
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
</style>
<div class="l_u" style="display: none;">
  <div class="l_u_top"><img src="{{helper.cdnhost}}/assets/img/logo_login.png" alt=""></div>
  <div class="l_u_con">
    <p>验证码登录</p>
    <div class="l_u_con_"></div>
    <form class="m-t" role="form" style="margin-top: 20px">
      <div class="form-group inputtext_isr" style="position: relative;">
        <input type="text" class="form-control l_u_com_phone" placeholder="请输入手机号" id="phone" required data-vaild="^1[3|4|5|7|8]\d{9}$" data-errmsg="手机号不正确"/>
        <i style="color: #999;position: absolute;top: 14px;width: 12px;left: 8px" class="iconfont">&#xe679;</i>
      </div>
      <div class="form-group clearfix" style="margin-top: 20px;position: relative;">
        <input placeholder="请输入短信验证码" type="text" id="verify" class="form-control l_u_com_yan" required data-vaild="^\d{6}$" /><!--data-errmsg="验证码号码不正确，仅能包含4位数字"-->
        <i style="color: #999;position: absolute;top: 14px;width: 12px;left: 8px" class="iconfont">&#xe653;</i>
        <div class="l_u_com_bang">
          <!--<input type="button" class="button" id="sendcun" style="color: #999;border: 1px solid #999;font-size: .6rem;width: 3.5rem;padding: 0 .2rem" @click.stop.prevent="sendphone()" value="发送验证码"/>-->
          <input type="button" class="btn btn-primary" style="width: 90px;height: 40px;text-align: center;padding: 6px 2px;background: #fff;color: #c13232;border: 1px solid #c13232;border-radius: 3px;line-height: 0px" id="sendcun" value="发送验证码"/>
        </div>
      </div>
    </form>
    <div style="margin-top: 20px;">
      <input type="button" class="btn l_u_com_but" style="width: 330px;padding-left: 0;padding-right: 0" id="loginuser" value="登 录"/>
    </div>
    <div class="l_u_com_she">
      <div><i>社交账号登录</i></div>
    </div>
    <div class="l_u_com_fen" id="fx" >
        <img style="margin-right: 76px;" src="{{helper.cdnhost}}/assets/img/weibo_login.png" alt="" id="weibo"/>

        <a target="_blank"  href="{{helper.wwhost}}/weixin_login?h={{url}}" >
          <img src="{{helper.cdnhost}}/assets/img/weixin_login.png" alt=""/>
        </a>
        <img style="margin-left: 76px;" src="{{helper.cdnhost}}/assets/img/QQ_login.png" alt="" id="qq"/>
      </div>
  </div>
</div>

<script>
  $(function() {
    var login_nickname = JSON.parse($.cookie('login_ss'));
    var user_type;
    console.log('login_ss', login_nickname);
    if (login_nickname == null) {
      var val = '<div class="dui-layout-lg top-con">'+
                '<div class="top-con-right">'+
                '<span><a target="_blank" onclick="getlogin()" class="dui-text-warning-ss" rel="nofollow">注册</a></span>'+
                '<span class="bor"></span>'+
                '<span><a href="javascript:void(0);" id="getlogin" onclick="getlogin()" class="dui-text-warning-ss" rel="nofollow">登录</a></span>'+
                '</div>'+
                '</div>'
      $(".top").append(val);
    } else {
      var val = '<div class="dui-layout-lg top-con">'+
                '<div class="top-con-right">'+
                '<ul>';
      if (login_nickname.usertype == 1) {
        val += '<li><i class="msg-icon iconfont nav-name">&#xe675;</i><span><a target="_blank" href="' + fn.urlgen("user_center", "revcomment") + '" rel="nofollow">'+ login_nickname.nickname +'</a></span></li>';
      } else if (login_nickname.usertype == 2) {
        val += '<li><i class="msg-icon iconfont nav-name">&#xe675;</i><span><a target="_blank" href="' + fn.urlgen("advisor_center") + '" rel="nofollow">'+ login_nickname.nickname +'</a></span></li>';
      }else if (login_nickname.usertype == 3) {
        val += '<li><i class="msg-icon iconfont nav-name">&#xe675;</i><span><a target="_blank" href="' + fn.urlgen("canzan_center") + '" rel="nofollow">'+ login_nickname.nickname +'</a></span></li>';
      }
      val += '<li><span class="bor">|</span></li>'+
              '<li><a href="javascript:void(0)" onclick="outlogin()" rel="nofollow">退出</a></li>'+
                '</ul>'+
                '</div>'+
                '</div>';
      $(".top").append(val);
    }

  })
</script>
<script src="{{helper.cdnhost}}/assets/js/sha1.js" type="text/javascript" charset="utf-8"></script>
<script src="{{helper.cdnhost}}/assets/js/bootstrap.min.js?v=3.3.6"></script>
<script src="{{helper.cdnhost}}/assets/js/Bootstrap_popover.js"></script>
<script src="{{helper.cdnhost}}/assets/js/layer.min.js"></script>

<script>
    $(function() {

$("form").Vaild();
var sP = document.getElementById('sendcun');
if (sP.addEventListener) {
  sP.addEventListener('click', sendphone, false)
}else {
  sP.attachEvent('onclick', sendphone, false)
}

var bS = document.getElementById('loginuser');
console.log('loginS', bS);
if (bS.addEventListener) {
  console.log('ffff');
  bS.addEventListener('click', login_user, false);
} else {
  console.log('eeeee');
  bS.attachEvent('onclick', login_user, false);
}

$('#weibo').on('click', function () {
  var h = window.location.href;//获取全部的url
  console.log('h', h);
  var hh = h.split("?");
  console.log('hh', hh[1])
  if (hh[1] !== undefined) {
    var str = hh[1].substr(1);
    var strs = str.split("=");
    console.log('strs', strs)
    var A = window.open(js_api_config.wwhost+ "/sina_login?h=" + strs[1], "TencentLogin", "width=450,height=320,menubar=0,scrollbars=1,resizable=1,status=1,titlebar=0,toolbar=0,location=1");
  } else {
    var A = window.open(js_api_config.wwhost+ "/sina_login?h=" + js_api_config.wwhost, "TencentLogin", "width=450,height=320,menubar=0,scrollbars=1,resizable=1,status=1,titlebar=0,toolbar=0,location=1");
  }
})
$('#qq').on('click', function () {
//以下为按钮点击事件的逻辑。注意这里要重新打开窗口
//否则后面跳转到QQ登录，授权页面时会直接缩小当前浏览器的窗口，而不是打开新窗口
  var h = window.location.href;//获取全部的url
  console.log('h', h);
  var hh = h.split("?");
  console.log('hh', hh)
  if (hh[1] !== undefined) {
    var str = hh[1].substr(1);
    var strs = str.split("=");
    console.log('strs', strs)
    var A = window.open(js_api_config.wwhost+"/qq_login?h=" + strs[1], "TencentLogin", "width=695,height=475,menubar=0,scrollbars=1,resizable=1,status=1,titlebar=0,toolbar=0,location=1");
  } else {
    var A = window.open(js_api_config.wwhost+"/qq_login?h=" + js_api_config.wwhost, "TencentLogin", "width=450,height=320,menubar=0,scrollbars=1,resizable=1,status=1,titlebar=0,toolbar=0,location=1");
  }
})

})
var layeropen;
function getlogin () {

    layeropen = layer.open({
            type: 1,
            shade: [0.4,'#000'],
            shadeClose: true,
            closeBtn: true,
            area: ['420px', '400px'],
            title: false,
            border: [0],
            bgcolor: "#fff",
            scrollbar : false,
            content: $('.l_u'),
            success : function(){
                
          },
          cancel:function(){
            $("#phone").parent().removeClass("has-error").addClass("has-success");
            $("#phone").popover("destroy");
          },
          end:function() {
            $("#phone").parent().removeClass("has-error").addClass("has-success");
            $("#phone").popover("destroy");
          }
      });
}

function sendphone () {
if ($('#phone').val() === '') {
//            let butp = document.getElementById('phone')
  $('#phone').parent().addClass("has-error").removeClass("has-success");
  $('#phone').data("toogle", "left").data("placement", "right").data("container", "body").data("content", '请输入手机号码').popover({"trigger":"manual"}).popover("show");
  return
}
if (!/^1[3|4|5|7|8]\d{9}$/.test($("#phone").val())) {
//            let butp = document.getElementById('phone')
  $('#phone').parent().addClass("has-error").removeClass("has-success");
  $('#phone').data("toogle", "left").data("placement", "right").data("container", "body").data("content", '请输入正确手机号码').popover({"trigger":"manual"}).popover("show");
  return
}
$.ajax({
//          url: 'http://192.168.100.77/api/sendcode/' + $('#phone').val(),
//    url: 'http://www.51daxuetong.cn/api/sendcode/' + $('#phone').val(),
//      url: ajaxUrlPrefix.ucapi + '/api/index.php?m=sendcode&phone=' + $('#newEmail').val(),
  url: '/sendcode_s',
  type:'GET',
  data: {
    phone: $('#phone').val()
  },
  dataType:'json',
  withCredentials:true,
  success:function(msg){
    console.log('msg', msg);
    if (msg.code === 0) {
      layer.msg('短信发送成功，请查阅手机');
    } else {
      layer.msg('数据错误');
    }
  },
  error:function(XMLHttpRequest, textStatus, errorThrown){
    console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status);
    layer.msg("获取失败，请重试！CODE:"+XMLHttpRequest.status);
  }
});
var downcount = 60;
var time = setInterval(function (){
  if (downcount === 0) {
    $("#sendcun").attr("value", "发送验证码");
    $("#sendcun").removeAttr("disabled");
    clearInterval(time);
    return
  }else {
    $("#sendcun").attr("disabled", "disabled");
    $("#sendcun").attr("value", downcount + "s");
    downcount--;
  }
}, 1000);
}

function login_user () {
if ($('#phone').val() === '') {
//            let butp = document.getElementById('phone')
  $('#phone').parent().addClass("has-error").removeClass("has-success");
  $('#phone').data("toogle", "left").data("placement", "right").data("container", "body").data("content", '请输入手机号码').popover({"trigger":"manual"}).popover("show");
  return
}
if (!/^1[3|4|5|7|8]\d{9}$/.test($("#phone").val())) {
//            let butp = document.getElementById('phone')
  $('#phone').parent().addClass("has-error").removeClass("has-success");
  $('#phone').data("toogle", "left").data("placement", "right").data("container", "body").data("content", '请输入正确手机号码').popover({"trigger":"manual"}).popover("show");
  return
}
if ($('#verify').val() === '') {
  layer.msg('请输入手机验证码');
  return
}
$.ajax({
  url: '/login_user',
  type:'POST',
  dataType:'json',
  data: {
    phone: $('#phone').val(),
    code: $('#verify').val(),
  },
  success:function(msg) {
    console.log('msg', msg);
    if (msg.code == 0) {
      layer.msg('登录成功');
      layer.close(layeropen);
      window.location = '/';
    } else {
      console.log(msg)
      layer.msg(msg.message)
    }
  }
});
}
//普通用户退出
function outlogin () {
$.ajax({
  url: '/login_out',
  type: 'GET',
  datatype: 'json',
  success:function(msg){
    if (msg == 'ok') {
      console.log('登出')
      window.location.reload()
    }
  },
  error:function(XMLHttpRequest, textStatus, errorThrown){
    console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status)
  }
})
}
</script>