.nav-tenth{
  height: 48px;
  background: #ffffff;
}
.nav-tenth-con a{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 9px 38px 0 23px;
  font-size:18px;
  color:#333333;
  padding:0 10px;
}
.nav-tenth-con a:hover{
  background: #c13232;
  color:#ffffff;
}
.nav-tenth-on{
  background: #c13232;
  color:#ffffff;
}