<!--左边小红签儿 标题 右边省略号-->
<div class="common-title">
    <i></i>
    <h3>活动预告</h3>
    <a target="_blank" href="" class="iconfont">&#xe602;</a>
</div>
<!--有红色上边框 白底-->
<div class="common-title line-top-title white-bg">
    <i></i>
    <h3>活动预告</h3>
    <a target="_blank" href="" class="iconfont">&#xe602;</a>
</div>
<!--有红色上边框 灰底-->
<div class="common-title line-top-title gray-bg">
    <i></i>
    <h3>活动预告</h3>
    <a target="_blank" href="" class="iconfont">&#xe602;</a>
</div>
<!--红底白字 有省略号-->
<div class="common-title red-bg-title">
    <h3>活动预告</h3>
    <a target="_blank" href="" class="iconfont">&#xe602;</a>
</div>
<!--主标题 标题字底是红色-->
<div class="common-title main-title gray-bg">
    <h3>活动预告</h3>
    <a target="_blank" href="" class="iconfont">&#xe602;</a>
</div>


