<div class="dui-layout-border">
    {% for item in jingxuanwenda %}
    {% if loop.index <=4 %}
    <div class="boutique">
        <div class="boutiquecon">问</div><span><a class="dui-text-warning-s" href="" target="_blank">{{ item.xueyuan }}</a></span>
        <dl>
            <dt><img src="{{ item.imgUrl }}" alt=""></dt>
            <dd>
                <p><a class="dui-text-warning" href="" target="_blank">{{ item.jianjie }}</a></p>
                <div class="boutiqueing"><p><a class="dui-text-warning" href="" target="_blank">{{ item.haha }}</a></p></div>
            </dd>
        </dl>
    </div>
    {% endif %}
    {% endfor %}
</div>






