
<div class="act-pop-left" >
    <img src="{{helper.cdnhost}}/assets/img/popup_left_b.png" />
</div>

<div class="act-pop-box" >
  <div class="act-pop-box-con">
    <div class="act-pop-info-box clearfix">
        {# 清除表单自动添加 #}
        <form style="display:none"> 
            <input type="text"/>
            <input type="password"/> 
        </form>
        
        {# end清除表单自动添加 #}
        <input class="act-pop-input" placeholder="请输入姓名" id="act-name" maxlength="10" autocomplete="off">
        <input class="act-pop-input" placeholder="请输入手机号" id="act-phone" autocomplete="off">
        <div class="act-code-box">
            <input class="act-code-input" id="act-code" placeholder="请输入验证码" style="width: 47.1%" autocomplete="off">
            <span style="color:#dcdcdc;">|</span>
            <div class="act-code-btn" >
                点击发送验证码
            </div>
        </div>
         <div class="act-pop-sel" >
            <span class="act-pop-sel-val" data-id="" >意向国家</span>
            <i class="iconfont" style="position:absolute;right:20px;" id="icon_arrow">&#xe60b;</i>
            {% set countryList = [
                {
                    name:"美国",
                    id:"1"
                },
                {
                    name:"英国",
                    id:"2"
                },
                {
                    name:"澳大利亚",
                    id:"4"
                },
                {
                    name:"加拿大",
                    id:"3"
                },
                {
                    name:"新西兰",
                    id:"5"
                },
                {
                    name:"日本",
                    id:"51"
                },
                {
                    name:"韩国",
                    id:"50"
                },
                {
                    name:"中国香港",
                    id:"54"
                },
                {
                    name:"俄罗斯",
                    id:"100"
                },
                {
                    name:"乌克兰",
                    id:"101"
                },
                {
                    name:"爱尔兰",
                    id:"108"
                },
                {
                    name:"意大利",
                    id:"111"
                },
                {
                    name:"西班牙",
                    id:"112"
                },
                {
                    name:"白俄罗斯",
                    id:"102"
                },
                {
                    name:"新加坡",
                    id:"52"
                },
                {
                    name:"马来西亚",
                    id:"53"
                },
                {
                    name:"丹麦",
                    id:"110"
                },
                {
                    name:"德国",
                    id:"103"
                },
                {
                    name:"法国",
                    id:"104"
                },
                {
                    name:"挪威",
                    id:"105"
                },
                {
                    name:"瑞典",
                    id:"106"
                },
                {
                    name:"芬兰",
                    id:"107"
                },
                {
                    name:"荷兰",
                    id:"109"
                },
                {
                    name:"瑞士",
                    id:"113"
                }
            ] %}
            <div class="act-pop-sel-country" >
                <ul class="act-pop-country clearfix">
                    {% for item in countryList %}
                        <li data-id="{{item.id}}" >
                            {{item.name}}
                        </li>
                    {% endfor %}
                </ul>
                <div class="act-pop-triangle"></div>
                <div class="act-pop-triangle-white"></div>
            </div>
        </div>
    </div>
    <div class="act-pop-gift" >
        获取优惠券
    </div>
    <a href="http://www.jjl.cn/zt/2018/20180528_xiazhan/beijing.shtml" class="act-pop-detail" >
        <img src="{{helper.cdnhost}}/assets/img/popup_detail_b.png" />
    </a>
    <div class="act-pop-x-btn" ></div>
    {#<span class="act-pop-time">
        活动时间：2018年6月23日至2018年8月25日
    </span>#}
  </div>
</div>

<script>
    $(function(){
        $(".act-pop-country li:nth-child(8n)").css({'marginRight':'0'});
        $('.act-pop-x-btn').on('click',function(){
            $(this).parent().animate({'left':'-100%'});
            $('.act-pop-left').animate({'left':'0'});
        });
        $('.act-pop-left').on('click',function(){
            $(this).animate({'left':'-100%'});
            $('.act-pop-box').animate({'left':'0'});
        });
        $('.act-pop-sel').on('click',function(){
            //选择国家
            if($('.act-pop-sel-country').css('display')=='block'){
                $('.act-pop-sel-country').hide();
                document.getElementById('icon_arrow').style.transform="rotate(0deg)";
                document.getElementById('icon_arrow').style.webkitTransform="rotate(0deg)";
                document.getElementById('icon_arrow').style.msTransform="rotate(0deg)";
            }else{
                $('.act-pop-sel-country').show();
                document.getElementById('icon_arrow').style.transform="rotate(180deg)";
                document.getElementById('icon_arrow').style.webkitTransform="rotate(180deg)";
                document.getElementById('icon_arrow').style.msTransform="rotate(180deg)";
            }
        });
        $('.act-pop-country li').on('click',function(e){
            e.stopPropagation();
            $('.act-pop-sel-country').hide();
            $('.act-pop-sel-val').text($(this).text());
            $('.act-pop-sel-val').attr('data-id',$(this).attr('data-id'));
            $('.act-pop-country li').removeClass('active');
            $(this).addClass('active');
            document.getElementById('icon_arrow').style.transform="rotate(0deg)";
            document.getElementById('icon_arrow').style.webkitTransform="rotate(0deg)";
            document.getElementById('icon_arrow').style.msTransform="rotate(0deg)";
        })
        $('.act-code-btn').on('click',getCode);//点击获取验证码
        $('.act-pop-gift').on('click',getGift);// 点击领取优惠码
        var timer;
        function countDown() {
            // 60s倒计时
            var countDownTime = 60;
            timer = window.setInterval(function () {
                countDownTime--;
                $(".act-code-btn").html('（'+countDownTime+'）s');
                if (countDownTime <= 0) {
                    clearInterval(timer);
                    $(".act-code-btn").html('点击发送验证码');
                    $(".act-code-btn").bind("click",getCode);
                }
            }, 1000);
        }
        function getCode(){
            if(!/^1\d{10}$/.test($.trim($('#act-phone').val()))){
                layer.msg('请输入正确的手机号格式');
                return false;
            }
            $(".act-code-btn").unbind("click");
            $.ajax({
                url:'/sendcode_s_coupon',
                type:'post',
                data:{
                    phone:$.trim($('#act-phone').val())
                },
                dataType:'json',
                success:function(msg){
                    console.log(msg)
                    if(msg.code == 0){
                        countDown();
                    } else {
                        layer.msg(msg.message);
                        $(".act-code-btn").bind("click",getCode);
                    }
                },
                error:function(XMLHttpRequest, textStatus, errorThrown){
                    console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status);
                    $(".act-code-btn").bind("click",getCode);
                }
            });
        }
        function getGift(){
            //点击领取
            var actName = $.trim($('#act-name').val());
            var phone = $.trim($("#act-phone").val());
            var country = $('.act-pop-sel-val').attr('data-id');
            var code = $.trim($('#act-code').val());
            if(actName== ''){
                layer.msg('请输入姓名');
                return false;
            }
            if(!/^1\d{10}$/.test(phone)){
                layer.msg('请输入正确的手机号格式');
                return false;
            }
            if(country == ''){
                layer.msg('请选择意向国家');
                return false;
            }
            if(code == ''){
                layer.msg('请输入验证码');
                return false;
            }
            var that = this;
            $(this).unbind('click');
            $.ajax({
                url: '/getCoupons',
                type: 'get',
                data: {
                    user_name: actName,
                    mobile: phone,
                    country_id: country,
                    code:code
                },
                dataType:'json',
                success:function(msg){
                    console.log(msg)
                    $(that).bind('click',getGift);
                    if(msg.code === 0){
                        layer.msg('优惠码发送成功');
                        $('#act-name').val('');
                        $("#act-phone").val('');
                        $('.act-pop-sel-val').attr('data-id','');
                        $('.act-pop-sel-val').text('意向国家');
                        $('#act-code').val('');
                        clearInterval(timer);
                        $(".act-code-btn").html('点击发送验证码');
                        $('.act-pop-country li').removeClass('active');
                        $(".act-code-btn").bind("click",getCode);
                        window.setTimeout(function(){
                            window.location.reload();
                        },1000);
                    } else {
                        layer.msg(msg.massage);
                    }
                },
                error:function(XMLHttpRequest, textStatus, errorThrown){
                    console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status);
                    $(that).bind('click',getGift);
                }
            })
        }
    })
</script>
