    .act-pop-box{
      width: 100%;
      height: 140px;
      position: fixed;
      bottom: 0;
      z-index: 998;
      background: url(../../assets/img/add-footer2.png);
      background-position: center center;
      min-width: 1200px;
      /* opacity: 0; */
      display: none;
    }
    /* .act-pop-box-con{
        width: 1200px;
        height: 158px;
        margin: 0 auto;
        background:url(../../assets/img/popup_bg_b1.png);
        background-size: 100% 100%;
        background-position-x: 10px;
        position: relative;
        top: -28px;
    } */
    .act-pop-info-box{
      margin-top: 90px;
      width: 45%;
      margin-left: 49%;
      float: left;
    }
    .act-pop-input{
        height:35px;
        border-radius: 4px;
        margin-right:10px;
        padding-left:10px;
        width: 22.5%;
        border:none;
        float:left;
        -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2)
    }
    .act-pop-input::-webkit-input-placeholder { /* WebKit browsers */
        color:#999;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:#999;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #999;
    }
    .act-code-box{
        width:35.4%;
        margin-right:10px;
        background:#fff;
        border-radius: 4px;
        float:left;
    }
    .act-code-input{
        height:30px;
        border:none;
        padding-left:10px;
        width: 48.1%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .act-code-btn{
        color:#932003;
        text-align: center;
        line-height: 35px;
        font-size:14px;
        cursor: pointer;
        margin-left:15px;
        width: 20%;
        float: left;
        -webkit-border-radius:4px;
        border-radius: 4px;
        background: #f9ef1c;
        -webkit-transition: .3s linear;
        transition: .3s linear;
    }
    .act-code-btn:hover{
      color: #fff;
      background: #eda906;
    }
    .act-pop-sel{
        height:35px;
        border-radius: 4px;
        padding-left:10px;
        line-height: 35px;
        color:#999;
        position: relative;
        cursor: pointer;
        background:#fff;
        width: 17.7%;
        float:left;
        -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.28);
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.28);
    }
    .act-pop-gift{
        height:30px;
        cursor: pointer;
        width: 150px;
        background:url(../../assets/img/popup_gift_b.png) no-repeat 0 0;
        background-size: 150px 30px;    
        float: left;
        margin-top: 90px;
        margin-left: 20px;
        font-size: 18px;
        color:#fff;
        line-height: 30px;
        text-align: center;
        text-indent: 1px;
        z-index: 100;
    }
    .act-pop-detail{
        display: block;
        height:20px;
        position: absolute;
        right: 7.5%;
        top: 35%;
        cursor: pointer;
        width:12.1%;
        right:28.5%;
    }
    .act-pop-x-btn{
        width:30px;
        height:30px;
        background:url(../../assets/img/popup_x_b1.png) no-repeat 0 0;
        background-size: 30px 30px;
        position:absolute;
        right: 10px;
        top: 25%;
        cursor: pointer;
    }
    .act-pop-left{
        position: fixed;
        width:124px;
        height:120px;
        bottom:160px;
        z-index:800;
        left:-100%;
        cursor: pointer;
    }
    .act-pop-country{
        border:1px solid #77162b;
        border-radius: 4px;
        position: absolute;
        padding:8px 12px 3px;
        background:#fff;
        width: 518px;
        /* left: -422px; */
        right: 0px;
        top: -135px;
        z-index: 100;
    }
    .act-pop-country li{
        float:left;
        width:61px;
        height:20px;
        border:1px solid #dcdcdc;
        text-align:center;
        line-height:20px;
        font-size: 14px;
        color:#999;
        margin-bottom:5px;
        margin-right:2px;
        border-radius: 4px;
    }
    .act-pop-country li.active{
        border-color:#77162b;
        color:#77162b;
    }
    .act-pop-country li:nth-of-type(8n){
        margin-right:0;
    }
    .act-pop-country li:hover{
        border-color:#771d2b;
        color:#771d2b;
    }
    .act-pop-triangle{
        width:0;
        height:0;
        line-height: 0;  /* 字体大小和行高, 导致盒子呈现被撑开的长矩形 */
        border-width:10px;
        border-style:solid dashed dashed dashed;/*IE6下, 设置余下三条边的border-style为dashed,即可达到透明的效果*/
        border-color:#77162b transparent transparent transparent;
        position: absolute;
        right: 16px;
        top: -16px;
    }
    .act-pop-triangle-white{
        width:0;
        height:0;
        line-height: 0;  /* 字体大小和行高, 导致盒子呈现被撑开的长矩形 */
        border-width:9px;
        border-style:solid dashed dashed dashed;/*IE6下, 设置余下三条边的border-style为dashed,即可达到透明的效果*/
        border-color:#fff transparent transparent transparent;
        position: absolute;
        right: 17px;
        top: -17px;
    }
    .act-pop-sel-country{
        display: none;
    }
    .act-pop-time{
        font-size: 14px;
        color:#fff;
        position: absolute;
        left: 10%;
        bottom: 23px;
    }
    .act-pop-box.active-fade{
      animation: fadeInUp .35s cubic-bezier(0,.88,.5,.96) forwards;
    }
    @-webkit-keyframes fadeInUp {
      from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }
      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
    @keyframes fadeInUp {
      from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }
      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
   