<!--阅读/收藏/评论/点赞-->
<div class="bot_comment clearfix">
  <ul class="clearfix">
    <li onclick="showbottom(1, {{item.id}}, {{userinfo.usertype}})" id="yuedu_li_{{item.id}}" style="cursor: inherit;">
      <i class="iconfont " id="yuedu_{{item.id}}">&#xe9ca;</i>
      <span id="yuedu_span_{{item.id}}">阅读（<em id="yuedu_em_{{item.id}}">{{item.views}}</em>）</span>
    </li>
    <li onclick="showbottom(2, {{item.id}}, {{userinfo.usertype}})" id="shoucang_li_{{item.id}}">
      <i class="iconfont " id="shoucang_{{item.id}}">&#xe7ed;</i>
      <span id="shoucang_span_{{item.id}}">收藏（<em id="shoucang_em_{{item.id}}">{{item.favorites}}</em>）</span>
    </li>
    <a target="_blank" href="{{helper.urlgen('advisor_center/article',item.id | string) if item.type == 1 else helper.urlgen('advisor_center/case',item.id | string)}}">
    <li onclick="showbottom(3, {{item.id}}, {{userinfo.usertype}})" id="pinglun_li_{{item.id}}">
      <i class="iconfont " id="pinglun_{{item.id}}" style="color: #666">&#xe61f;</i>
      <span id="pinglun_span_{{item.id}}">评论（<em id="pinglun_em_{{item.id}}">{{item.comments}}</em>）</span>
    </li>
    </a>
    <li class="dian" onclick="showbottom(4, {{item.id}}, {{userinfo.usertype}})" id="dianzan_li_{{item.id}}">
      <i class="iconfont " id="dianzan_{{item.id}}">&#xe651;</i>
      <span id="dianzan_span_{{item.id}}">点赞（<em id="dianzan_em_{{item.id}}">{{item.votes}}</em>）</span>
    </li>
  </ul>
</div>
