<div class="likeItem">
    <h2><em></em>猜你喜欢</h2>
    <ul class="gw-likelist">
        {% for item in likelist.list %}
        <li>
          <a href="javascript:;">
            <div class="likes-item">
              <img src="../assets/img/profile3.jpg" alt="">
              <span class="people-name">{{item.user_info.realname }}</span>
              <span class="people-action">{{item.tag_list | substrs(5)}}</span>
            </div>
            <div class="article">{{item.title}}</div>
          </a>
        </li>
        {% endfor %}
    </ul>
</div>




