<div class="likeItem">
    <ul class="gw-likelist">
        {% for item in likelist.list %}
        <li>
            <a href="{{helper.urlgen(item.uid|string)}}" style="display:inline-block;width:51px;height:51px;float:left;background: url({{helper.avaterimg(item.user_info.uid, 'small', 0,item.user_info.version) no-repeat 0 0;background-size: cover;}})">
            </a>
            <div class="likes-item" style="padding-top:12px;">
              <span class="people-name" style="margin-top:0;margin-right:0;">{{item.user_info.realname}}</span>
              <span class="people-action" style="margin-top:0;float:right;">{{item.tag_list | stringSub()}}</span>
            </div>
            <a style="margin:20px 0 10px 0" href="{{helper.urlgen('case',item.id | string) if item.type == 1 else helper.urlgen('article',item.id | string)}}">
              <div class="article">{{item.title | ellipsis(14) }}</div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>




